<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Searchable Database</h4>
            <h1>Search through L.A. Archdiocese priest personnel files</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/sharon-mcnary" target="blank">Sharon McNary</a>, <a href="http://www.scpr.org/about/people/staff/frank-stoltze" target="blank">Frank Stoltze</a>, <a href="http://www.baycitizen.org/profiles/zusha-elinson/" target="blank">Zusha Elinson</a>, <a href="http://californiawatch.org/user/joanna-lin" target="blank">Joanna Lin</a>, Robert Salladay, <a href="http://www.scpr.org/about/people/staff/paul-glickman" target="blank">Paul Glickman</a>, <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Updated Aug. 28, 2014</span></p>
            <p>On Jan. 31, the Catholic Archdiocese of Los Angeles released the confidential personnel files of more than 128 Catholic priests, providing further details as to how archdiocesan leaders addressed decades of sex abuse claims.</p>
            <p>And on July 31 and Sept. 9, additional files were released, covering five different religious orders that employed 10 priests or religious brothers and two nuns who were all accused in civil lawsuits of molesting children while working within the Los Angeles archdiocese. Among them, the accused had 21 alleged victims who alleged abuse between the 1950s and the 1980s.</p>
            <p>We present the files here in a searchable format. You can also join the discussion on our <a href="https://www.facebook.com/kpcc" target="_blank">Facebook page<a/>.</p>
            <p>To read previous media coverage of the priest abuse scandal and find resources to help you deal with the revelations in the files, click on the "Learn More" button.</p>
        </div>
        <div class="about collapse">
            <p><strong>Searching the document repository: </strong>Use a combination of people, places and things to return documents that match the query. If more than eight documents match your query, you can page through them using the navigation below. <strong>Source(s): </strong><a href="http://clergyfiles.la-archdiocese.org/">Archdiocese of Los Angeles</a>. <strong>Built using</strong> <a href="https://www.documentcloud.org/home">Document Cloud</a>, <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <a class="btn btn-primary" href="http://www.scpr.org/priestfiles/" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>
        </div>
    </div>
</div>