#data-map-info {width: 90%; height: 100%; margin: 10px 10% 10px 20%;}
#data-user-submit {width: 90%; height: 100%; margin: 10px 10% 10px 20%; display: none;}
#data-map-canvas {width: 90%; height: 600px; margin: 10px 5% 10px 5%;}