#data-intro {width: 90%; height: 100%; margin: 10px 5% 20px 5%;}
#data-map-info {width: 90%; height: 100%; margin: 10px 5% 20px 5%;}
#data-user-submit {width: 90%; height: 100%; margin: 10px 5% 10px 5%; display: none;}
#data-map-canvas {width: 100%; height: 600px; margin: 10px 0 10px 0;}