<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="content-article">
            <div class="headlines">
                <h4 class="kicker">Politics</h4>
                <h1>What might President Obama's 2015 State Of The Union address mean for California?</h1>
            </div>
            <div class="text collapse">
                <p><span class="credits">Produced by KPCC staff</span> | <span class="pubdate">Published Jan. 20, 2015</span></p>
                <p>On January 20, 2015, President Barack Obama delivers his sixth State of the Union address, the first since Republicans have the majority in both the House and Senate. How will the president's plans for the nation affect California?  </p>
                <p>KPCC reporters <a href="http://www.scpr.org/about/people/staff/frank-stoltze">Frank Stoltze</a>, <a href="http://www.scpr.org/about/people/staff/leslie-berestein-rojas">Leslie Berestein-Rojas</a>, <a href="http://www.scpr.org/about/people/staff/ben-bergman">Ben Bergman</a> and <a href="http://www.scpr.org/about/people/staff/adolfo-guzman-lopez">Adolfo Guzman-Lopez</a> take a quick look at the address and adds a few thoughts for Californians to consider. See their notes highlighted in the document below.</p>
                <p>Use the icons below to explore the speech by topic.</p>
            </div>
            <div class="about collapse">
                <p><strong>Source(s): </strong><a href="http://www.whitehouse.gov/SOTU" target="blank">Whitehouse.gov</a>. <strong>Built using</strong> <a href="https://www.documentcloud.org/">DocumentCloud</a>, <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>. <a href="http://thenounproject.com/term/money/931/" target="_blank">Money</a>, <a href="http://thenounproject.com/term/school/4405/" target="_blank">school</a>, <a href="http://thenounproject.com/term/train/67/" target="_blank">train</a>, <a href="http://thenounproject.com/term/recycle/7162/" target="_blank">recycle</a>, <a href="http://thenounproject.com/term/state-government/15214/" target="_blank">state government</a>, <a href="http://thenounproject.com/term/x-ray/615/" target="_blank">x-ray</a>, <a href="http://thenounproject.com/term/speech/16988/" target="_blank">speech</a> and <a href="http://thenounproject.com/term/arrest/4259/" target="_blank">arrest</a> icons used <a href="http://creativecommons.org/publicdomain/mark/1.0/">via a Public Domain Mark</a> from <a href="http://thenounproject.com/">The Noun Project</a>.Housing icon was created by <a href="http://thenounproject.com/Fhlcreative/">Phil Goodwin</a>. Immigration icon created by <a href="http://thenounproject.com/hunotika/">hunotika</a>. 
				
</p>
            </div>
            <div class="buttons btn-group btn-group-justified">
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            </div>
        </div>
    </div>
</div>