<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="controls"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div id="document-meta-data"></div>
                <div id="note-navigation-links"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <div id="document-container"></div>
            </div>
        </div>
    </div>
</div>