<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="content-article">
            <div class="headlines">
                <h4 class="kicker">Executive Order on Immigration</h4>
                <h1>Where does your representative stand?</h1>
            </div>
            <div class="text collapse">
                <p><span class="credits">Produced by KPCC Staff</span> | <span class="pubdate">Published Nov. 20, 2014</span></p>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p>California is home to nearly one-fourth of the immigrants who are living in the United States without legal status. So a broader temporary legalization plan will have a wide-ranging effect in the state.</p>
                        <p> Here are statements from the California congressional delegation on the proposed immigration reform. Where does your representative stand?</p>
                    </div>
                </div>
            </div>
            <div class="about collapse">
                <p><strong>Sources</strong>: Statements and comments from California's congressional delegation to KPCC and other media outlets as noted. Built using</strong> <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
            </div>
            <div class="buttons btn-group btn-group-justified">
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
                <a class="btn btn-primary" href="http://www.scpr.org/blogs/multiamerican/2014/11/20/17587/in-california-executive-action-on-immigration-coul/"><span class="glyphicon glyphicon-link"></span> Read more</a>
            </div>
        </div>
    </div>
</div>