<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Elections</h4>
            <h1 style="font-size:350%;">Does your county turn out to vote in midterm primaries?</h1>

        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/aaron-mendelson">Aaron Mendelson</a> | <span class="pubdate">Published June 5, 2018</span></p>

            <p>This year's midterm elections will decide which party controls congress the and help determine the next governor of California. Will that entice voters to head to the polls?</p>

            <p>Probably not, if history is any guide.</p>

            <p>Over the last seven midterm primary elections, statewide turnout hasn't topped 50 percent once. And turnout has often been worse in Los Angeles County, hitting a low of 17 percent in 2014. That was the worst figure in the state, followed by nearly-as-dismal turnout in San Bernardino, Kern, Riverside, Orange and Ventura counties, respectively.</p>

            <p>Turnout is stronger in some of the state's more rural areas. Alpine County even reached 70 percent turnout four years ago. But Alpine boasted just 766 registered voters that year. L.A. had 4.9 million, and will have more than 5 million on the rolls in 2018.</p>

            <p>Midterm elections typically suffer from a lack of voter enthusiasm, without presidential candidates on the ballot. Will 2018 be different? We'll find out once the polls close.</p>

        </div>
        <div class="about collapse">
            <p><strong>Source</strong>: California Secretary of State

             <strong>Built using</strong> <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, <a href="https://d3js.org/">d3.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
            </p>



        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <!-- <a class="btn btn-primary" href="http://www.scpr.org/news/2016/05/02/60085/hundreds-of-la-bus-shelters-go-unbuilt-millions-in/" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a> -->

        </div>
    </div>
</div>
