

/*
text.caption {
    font-weight: bold;
}

svg {
  font-size: 13px;
}


@media only screen and (max-width: 400px) {
    svg {
        font-size: 11px;
    }
    text.title {
        font-size: 12px;
    }
    text.static_year{
        font-size:9.5px;
    }
    text.year{
        font-size:9.5px;
    }
}
*/
