<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">El Niño</h4>
            <h1>How does this year's rainfall stack up?</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/aaron-mendelson">Aaron Mendelson</a> | <span class="pubdate">Published January 25, 2015</span></p>
            <p>How much rain has El Niño brought this year? It can be a tough question to answer, which is why KPCC has partnered with the Scripps Institute of Climatology to put this "monster" weather event in context.</p>
            <p>The graph below reflects weighted rainfall data from 20 rain gauges in greater Southern California. These gauges are geographically diverse, and have detailed records strething back decades. They help give a clearer picture of how much rain is fallilng across the region this year: that's the orange line.</p>
            <p>The gray line shows the median, or typical year. The blue line displays the median for five previous strong El Niños: 1958, 1966, 1973, 1983 and 1998. The graph shows the six-month period of the "water year" when California receives most of its rain.</p>

        </div>
        <div class="about collapse">
            <p><strong>Sources: </strong>Data via Dave Pierce of the Scripps Institution of Oceanography at UC San Deigo, <a href="http://cnap.ucsd.edu/c">California-Nevada Climate Applications Program</a> and <a href="http://cw3e.ucsd.edu/">Center for Western Weather and Water Extremes</a>. The raw data <a href="http://cirrus.ucsd.edu/~pierce/sdprecip/">is available at this link</a>, and is updated daily.</p>

             <p><strong>Built using</strong> <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, <a href="http://www.highcharts.com/">Highcharts</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
            </p>

        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <a class="btn btn-primary" href="http://www.scpr.org/elnino/" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>

        </div>
    </div>
</div>
