<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">El Niño</h4>
            <h1>How does this year's rainfall in SoCal stack up?</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/aaron-mendelson">Aaron Mendelson</a> | <span class="pubdate">Updated March 31, 2016</span></p>
            <p>How much rain has El Niño brought to Los Angeles? It can be a tough question to answer, which is why KPCC is working with the Scripps Institute of Oceanography to put this year's "monster" weather event in context. A version of this chart covering the full October to September water year <a href="http://projects.scpr.org/charts/water-year-rainfall-to-date/">is available here</a>.</p>
            <p>The graph below reflects rainfall data from 20 rain gauges in greater Southern California. These gauges are geographically diverse, and have detailed records stretching back decades. They help give a clearer picture of how much rain is fallilng across the region this year: that's <font color="#F87E21">the orange line</font>.</p>
            <p><font color="#898989">The gray line</font> shows the median, or typical year. <font color="#31ABD4">The blue line</font> displays the median for five previous strong El Niños: 1958, 1966, 1973, 1983 and 1998. The graph shows the six-month period of the 'water year' when California receives most of its rain. A number above 100 means it's been an above-average year for rain.</p>
        </div>
        <div class="about collapse">
            <p><strong>Sources: </strong>Data via David Pierce of the Scripps Institution of Oceanography at UC San Deigo, <a href="http://cnap.ucsd.edu/">California-Nevada Climate Applications Program</a> and <a href="http://cw3e.ucsd.edu/">Center for Western Weather and Water Extremes</a>. The daily data <a href="http://cirrus.ucsd.edu/~pierce/sdprecip/">is available at this link</a>. The percents reflect weighted rainfall totals, which are <a href="http://cirrus.ucsd.edu/~pierce/sdprecip/stalist_la_basin.html">explained here</a>. The most recent data is revised as higher quality data becomes available.</p>

             <p><strong>Built using</strong> <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, <a href="http://www.highcharts.com/">Highcharts</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
            </p>

        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <a class="btn btn-primary" href="http://www.scpr.org/elnino/" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>

        </div>
    </div>
</div>
