.highlight {background-color: #468847; color: #ffffff;}
#data-legend {width: 96%; height: auto; margin: 10px 2% 10px 2%;}
#data-legend-items {height: auto; margin: 10px 0 10px 0;}
#data-legend-items li {display: inline; height: 25px; list-style-type: none;}
#data-legend .label {padding: 2px 5px 2px 5px;}
#data-legend .label a {font-size: 16px; color: #ffffff;}


#data-loading {width: 40%; height: 100px; margin: 20px 30% 0 30%; padding: 0px; text-align: center;}
#data-loading .display {color: #333333;}

.hide-data-loading-icon {display: none;}