    <div style="margin-top: 10px;">
    <select id="search-string-l0" onchange="changeMapl0(this.value);">
        <option value="">-- Search By City --</option>
        <option value="Los Angeles">Los Angeles</option>
        <option value="Pomona">Pomona</option>
        <option value="El Monte">El Monte</option>
        <option value="Compton">Compton</option>
        <option value="Whittier">Whittier</option>
        <option value="Montebello">Montebello</option>
        <option value="Inglewood">Inglewood</option>
        <option value="Garden Grove">Garden Grove</option>
        <option value="West Covina">West Covina</option>
        <option value="Monrovia">Monrovia</option>
        <option value="Lancaster">Lancaster</option>
        <option value="Glendale">Glendale</option>
        <option value="Bellflower">Bellflower</option>
        <option value="San Gabriel">San Gabriel</option>
        <option value="Buena Park">Buena Park</option>
        <option value="Canyon Country">Canyon Country</option>
        <option value="Torrance">Torrance</option>
        <option value="Lynwood">Lynwood</option>
        <option value="South Gate">South Gate</option>
        <option value="Wilmington">Wilmington</option>
        <option value="Bell">Bell</option>
        <option value="Downey">Downey</option>
        <option value="Santa Monica">Santa Monica</option>
        <option value="Orange">Orange</option>
        <option value="Pacoima">Pacoima</option>
        <option value="Northridge">Northridge</option>
        <option value="Venice">Venice</option>
        <option value="Santa Clarita">Santa Clarita</option>
        <option value="Pico Rivera">Pico Rivera</option>
        <option value="Bell Gardens">Bell Gardens</option>
        <option value="Huntington Park">Huntington Park</option>
        <option value="Valencia">Valencia</option>
        <option value="Alhambra">Alhambra</option>
        <option value="Gardena">Gardena</option>
        <option value="Fullerton">Fullerton</option>
        <option value="La Puente">La Puente</option>
        <option value="La Habra">La Habra</option>
        <option value="North Hills">North Hills</option>
        <option value="Monterey Park">Monterey Park</option>
        <option value="North Hollywood">North Hollywood</option>
        <option value="Canoga Park">Canoga Park</option>
        <option value="Harbor City">Harbor City</option>
        <option value="Azusa">Azusa</option>
        <option value="Redondo Beach">Redondo Beach</option>
        <option value="San Juan Capistrano">San Juan Capistrano</option>
        <option value="Boyle Heights">Boyle Heights</option>
        <option value="Costa Mesa">Costa Mesa</option>
        <option value="Norwalk">Norwalk</option>
        <option value="Val Verde">Val Verde</option>
        <option value="Culver City">Culver City</option>
        <option value="Van Nuys">Van Nuys</option>
        <option value="Newhall">Newhall</option>
        <option value="Palmdale">Palmdale</option>
        <option value="Mission Hills">Mission Hills</option>
        <option value="Avalon">Avalon</option>
        <option value="Cudahy">Cudahy</option>
        <option value="San Pedro">San Pedro</option>
        <option value="Sun Valley">Sun Valley</option>
        <option value="Hawaiian Gardens">Hawaiian Gardens</option>
        <option value="W. Los Angeles">W. Los Angeles</option>
        <option value="Laguna Beach">Laguna Beach</option>
        <option value="San Fernando">San Fernando</option>
        <option value="Arleta">Arleta</option>
        <option value="Rancho Dominguez">Rancho Dominguez</option>
        <option value="Hawthorne">Hawthorne</option>
      </select>
    </div>