<div id="article-header">
    <h4 class="kicker">Flu season</h4>
    <h1>Find clinics offering influenza vaccinations</h1>
    <p>Click on an icon to find Los Angeles County (green) or Orange County (red) Public Health Centers offering flu vaccinations.</p>
    <p>The blue icons represent immunization clinics in Los Angeles County that provide no-cost or low-cost immunizations. Please call the clinic in advance to confirm whether flu vaccinations are offered, who is eligible, the cost of vaccination, and clinic hours.</p>
    <a class="btn btn-info" href="http://www.scpr.org/news/2013/01/10/35585/flu-season-ramping-la-oc-counties/">Read More</a>
</div>