<div id="article-header">
    <h4 class="kicker">Flu season</h4>
    <h1>Where to get a flu vaccine in Los Angeles and Orange counties</h1>
    <p>Click on an icon to find Los Angeles County (green) or Orange County (red) Public Health Center offering flu vaccinations.</p>
    <p>The blue icons represent immunization clinics in Los Angeles County that provide no-cost or low-cost immunizations. Call in advance to confirm that flu vaccinations are offered, eligibility, cost of vaccination and clinic hours.</p>
    <p><a class="btn btn-info" href="http://www.scpr.org/news/2013/01/10/35585/flu-season-ramping-la-oc-counties/">Read More</a></p>
</div>