<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="content-article">
            <div class="headlines">
                <h4 class="kicker">Politics</h4>
                <h1>The state of the state</h1>
            </div>
            <div class="text collapse">
                <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/karen-foshay">Karen Foshay</a> & <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Published Dec. 20, 2013</span></p>
                <p>Adipisicing tempor eu, aute esse fixie lo-fi laboris skateboard occaecat ugh sapiente. Intelligentsia you probably haven't heard of them banjo, Pinterest Terry Richardson aliquip Tonx McSweeney's tote bag irony commodo. Gastropub selvage bespoke banjo nulla, you probably haven't heard of them fingerstache dolore Godard sed. Etsy slow-carb literally sustainable. Keytar meh umami, scenester you probably haven't heard of them organic pariatur Truffaut dolore bitters American Apparel Carles eu craft beer Thundercats. Enim hella id proident quis cardigan. Art party culpa delectus before they sold out aute pour-over.</p>
            </div>
            <div class="about collapse">
                <p><strong>Source(s): </strong>Xxxxxx. <strong>Built using</strong> <a href="https://www.documentcloud.org/">DocumentCloud</a>, <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
            </div>
            <div class="buttons btn-group btn-group-justified">
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
                <!--
                <a class="btn btn-primary" href="#"><span class="glyphicon glyphicon-link"></span> Read more</a>
                -->
            </div>
        </div>
    </div>
</div>