<div id="content-article">
    <h4 class="kicker">Bilingual Learning</h4>
    <h1>Two-Way Bilingual Immersion Program schools in California</h1>

    <div id="content-article-text">
        <p>Two-Way Bilingual Immersion Program (TWBI) integrates language minority students (English learners) and language majority students (English speakers) to develop bilingualism and biliteracy in English and another language.</p>
    </div>

    <a class="btn btn-info" href="#">Read More</a>

</div>

<div id="content-explainer"></div>

<div id="content-action-bar"></div>

<div id="content-display"></div>