<div class="row-fluid">
    <div class=span12">
        <div id="article-footer">
            <div id="embed-this">
            <!-- thanks for setting the standard Mr. John Keefe -->
<!--
            <p class="hidden-tablet hidden-phone"><span class="btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed this map</p>
-->
            </div>

            <div id="sources">
            <p class="normal-display"><strong>Sources: </strong><a href="http://www.cde.ca.gov/sp/el/">California Department of Education</a>.</p>
            </div>

            <div id="credits">
            <p class="normal-display"><strong>Credits: </strong><a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a> &amp; <a href="http://www.scpr.org/about/people/staff/eric-zassenhaus">Eric Zassenhaus</a>.</p>
            </div>

            <div id="open-source">
            <p class="small-display">Built using <a href="#">Fusion Tables</a>, <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">bootstrap.</a></p>
            </div>
        </div>
    </div>
</div>