<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="jumbotron">
        <noscript>Please enable JavaScript to view this interactive.</noscript>
        <h6 class="centered">Choose a word or phrase to read what the California Congressional delegation has said about</h6>

        <div id="phrase-headline"></div>

        <!--
        <ul id="data-legend-items">
            <li>
                <span class="label label-success"><a href="javascript:void(0)" id="government_shutdown">Government Shutdown</a></span>
            </li>
            <li>
                <span class="label label-success"><a href="javascript:void(0)" id="obamacare">Obamacare</a></span>
            </li>
            <li>
                <span class="label label-success"><a href="javascript:void(0)" id="debt_ceiling">Debt Ceiling</a></span>
            </li>
            <li>
                <span class="label label-success"><a href="javascript:void(0)" id="national_parks">National Parks</a></span>
            </li>
            <li>
                <span class="label label-success"><a href="javascript:void(0)" id="john_boehner">John Boehner</a></span>
            </li>
            <li>
                <span class="label label-success"><a href="javascript:void(0)" id="furloughed">Furloughed</a></span>
            </li>
        </ul>
        -->

        <div id="action-controls">
            <form id="submission-form" class="form-inline" role="form">
                <div id="form-controls">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input type="text" class="form-control" id="term_search" placeholder="Enter your search term...">
                        <button type="button" class="btn btn-primary pull-left btn-group btn-group-justified" id="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <div id="instances-headline">
            <h5 class="centered"><span id="total-overall-instances"></span><span id="total-democrat-instances"></span><span id="total-republican-instances"></span></h5>
        </div>

        <!--
        <div id="data-loading">
            <span><img src="images/loader.gif" width="100%" /></span>
        </div>
        -->

    </div>
</div>
