<div id="content-article">
    <h4 class="kicker">L.A. Mayor's Race</h4>
    <h1>Xxxxxx xxxxx xxxxxxx</h1>

    <div id="content-article-metadata">
        <p><span class="credits"><a href="http://www.scpr.org/about/people/staff/chris-keller" target="_blank">Chris Keller</a></span> | <span class="pubdate">Updated May 22, 2013</span></p>
    </div>

    <div id="content-article-text">
        <p>An exit poll from the Center for the Study of Los Angeles at Loyola Marymount University confirms what many observers expected in Tuesday’s mayoral primary.</p>
        <p>The center surveyed both vote-by-mail and in-person voters. Eric Garcetti won the primary with 33 percent of the vote. Wendy Greuel came in second with 29 percent followed by Kevin James with 16 percent; Jan Perry with 16 percent; and Emanuel Pleitez with 4 percent.</p>
        <p>The exit poll’s highlights include:</p>
        <ul>
            <li>Garcetti received 48 percent of the Latino vote and 43 percent of the Asian-American vote.</li>
            <li>Garcetti won every age group, doing particularly well among the 18-29 set.</li>
            <li>40 percent of Jewish voters went for Garcetti.</li>
            <li>Perry was supported by 55 percent of African-American voters.</li>
            <li>Half of all Republicans who voted went for James, as did 30 percent of decline to state voters.</li>
        </ul>
        <p>Pleitez had campaigned to reach young and Latino voters. The exit poll found nine percent of Latino voters backed him.</p>
    </div>

    <div id="content-article-buttons">
        <a class="btn btn-info" href="http://www.scpr.org/elections/2013/los-angeles-mayor-2013/#coverage">Read More</a>
    </div>
</div>