<div id="content-article">
    <h4 class="kicker">L.A. Mayor's Race</h4>
    <h1>Exit polls shows Garcetti to be all things to -- almost -- all people</h1>

    <div id="content-article-metadata">
        <p><span class="credits"><a href="http://www.scpr.org/about/people/staff/oscar-garza" target="_blank">Oscar Garza</a> &amp; <a href="http://www.scpr.org/about/people/staff/chris-keller" target="_blank">Chris Keller</a></span> | <span class="pubdate">Updated May 22, 2013</span></p>
    </div>

    <div id="content-article-text">
        <p>Tuesday night, just after the polls closed, Fernando Guerra disclosed the initial results of an election day exit poll, which predicted a victory by Eric Garcetti over Wendy Greuel by 54 percent to 46 percent.</p>
        <p>Guerra, who directs Loyola Marymount University's Center for the Study of Los Angeles, was spot on. His numbers exactly matched the final count delivered by the L.A. City Clerk's office at 3:15 Wednesday morning.</p>
        <p>On Wednesday afternoon, the LMU center issued the details of the exit poll, and the results display just how much Garcetti dominated the race.</p>
        <p>The exit poll’s highlights include:</p>
        <ul>
            <li>Garcetti won in every age group — 18-29, 30-44, 45-64 and 65+ — with at least 55 percent of the vote.</li>
            <li>Greuel won the African-American vote by a whopping 69-31 percent.</li>
            <li>He captured votes from Democrats (53-47) and Republicans as well (61-39).</li>
            <li>Garcetti dominated with male voters (60-40 percent).</li>
            <li>Garcetti won the Catholic, Protestant and Jewish votes with at least 52 percent.</li>
            <li>Greuel won among households with a resident who belongs to a public union, but her margin was .8 percent — actually a statistical tie with Garcetti.</li>
            <li>In households outside the San Fernando Valley, Garcetti won 58 percent of the vote.</li>
            <li>Garcetti won in every income category — with his margin increasing along with household income levels.</li>
        </ul>
    </div>

    <div id="content-article-buttons">
        <a class="btn btn-info" href="http://www.scpr.org/elections/2013/los-angeles-mayor-2013/#coverage">Read More</a>
    </div>
</div>

    <div id="content-section-navigation">
        <a href="#Gender" class="name">Gender</a> |
        <a href="#Age" class="name">Age</a> |
        <a href="#Political &amp; Affiliation" class="name">Political Affiliation</a> |
        <a href="#Religious &amp; Affiliation" class="name">Religious Affiliation</a> |
        <a href="#Race" class="name">Race/Ethnicity</a> |
        <a href="#Geography" class="name">Geography</a> |
        <a href="#Length of Residency" class="name">Length of Residency</a> |
        <a href="#Education" class="name">Education</a> |
        <a href="#Employment Status" class="name">Employment Status</a> |
        <a href="#Housing" class="name">Housing</a>
        <a href="#Income" class="name">Income</a> |
        <a href="#Marital Status" class="name">Marital Status</a> |
        <a href="#Children" class="name">Children</a> |
        <a href="#Sexual Orientation" class="name">Sexual Orientation</a> |
        <a href="#Union Membership" class="name">Union Membership</a> |
        <a href="#Military Service" class="name">Military Service</a> |
        <a href="#Political Ideology" class="name">Political Ideology</a> |
    </div>