<nav class="">
        <select id="search-congressional-delegation" onchange="scrollToRep(this.value);">
            <option value="#return-to-top">Find your representative</option>
            {{#objects}}
                <option value="#{{first_name}}_{{last_name}}">{{first_name}} {{last_name}}</option>
            {{/objects}}
        </select>
<!--
        <a class="operator-top" href="#operator-top">Back to Top</a>
-->
</nav>

<script type="text/javascript">
$(document).ready(function() {

	//Calculate the height of <header>
	//Use outerHeight() instead of height() if have padding
    var aboveHeight = $('header').outerHeight();

	// when scroll
    $(window).scroll(function(){

		//if scrolled down more than the header's height
        if ($(window).scrollTop() > aboveHeight){

			// if yes, add "fixed" class to the <nav>
			// add padding top to the #content (value is same as the height of the nav)
            $('nav').addClass('fixed').css('top','100').next().css('padding-top','60px');
        } else {

			// when scroll up or less than aboveHeight, remove the "fixed" class, and the padding-top
            $('nav').removeClass('fixed').next().css('padding-top','0');
        }
    });
});
</script>