/**
*	Really Simple™ Slideshow -- CSS
*/

/* CSS Resets */
body, figure {
  margin:0;
  padding:0;
}

.slideshow-container {
  	margin: 24px auto;
    position:relative;
    max-width: 528px;
}
#slideshow-div {
	overflow: hidden;
	position: relative;
}

#slideshow-div .slide-container {
	background-color: #444;
	position: relative;
	overflow: hidden;
	width: 100%;
}

#slideshow-div .slide-container:nth-child(even) {
  position:absolute;
  top:0;
  right:0;
  left:0;
}

#slideshow-div .slide-container img {
	position: relative;
  max-width:100%;
}

#slideshow-div .slide-container .slide-caption {
	background-color: rgba(0,0,0,0.7);
	bottom: 0;
	color: #fff;
	display: block;
  font-family:Helvetica, Arial, sans-serif;
  font-size:11px;
  font-style:italic;
	left: 0;
	padding: 6px 12px;
	position: absolute;
	text-align: center;
	right: 0;
}

#slideshow-div .slides {
	display: none;
}

.rs-slideshow .slide-container img,
.rs-slideshow .slide-container .slide-caption,
.rs-slideshow .slide-container a {
	filter: inherit;
}




/**
*	The following styles are used in the demos with slideshow controls, 
*	such as play/pause and prev/next buttons.
*/

.rs-controls {
	clear: both;
	margin: -25px auto 0;
	width: 100%;
  position:absolute;
  top:50%;
}
.rs-prev {
  left:0;
  position:absolute;
}
.rs-next {
  right:0;
  position:absolute;
}
.rs-controls ul {
	float: left;
	list-style: none;
	margin: 0 6px 0 0;
	padding: 0;
}
.rs-index-list li {
	float: left;
	margin-right: 6px;
}
.rs-controls a {
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 14px 18px;
	text-decoration: none;
}
.rs-controls a:hover {
	background-color: rgba(0,0,0,1);
	color: #ccc;
}
.rs-controls .rs-active {
	background-color: #444;
	border: 1px solid #444;
	color: #eee;
}


#callback-messages,
#slide-class-message {
	margin: 48px auto;
	width: 620px;
}
.slide-container.some-custom-class .slide-caption {
	background-color: #890;
	font-size: 3em;
	font-style: italic;
	font-weight: bold;
	text-align: right;
	top: 0;
	width: 28%;
}



/*	Clearfix	*/
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }
