<div id="content-article">
    <h4 class="kicker">L.A. Mayor's Race</h4>
    <h1>2013 L.A. Mayor voting turnout by precinct</h1>

    <div id="content-article-metadata">
        <p><span class="credits"><a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Updated May 22, 2013</span></p>
    </div>

    <div id="content-article-text">
        <p>Only about 19 percent of registered voters cast ballots in Tuesday's LA's mayoral runoff election, choosing Eric Garcetti to succeed Antonio Villaraigosa as mayor of the nation’s second largest city, <a href="http://cityclerk.lacity.org/election/archives/archives2013/general/svcptotl.txt">unofficial results from the Los Angeles City Clerk's office</a>.</p>
        <p>Garcetti defeated City Controller Wendy Greuel 54 to 46 percent. The overwhelming majority of Garcetti's nearly 182,000 votes came in those precincts where turnout was above 20 percent, largely high-income precincts on the city's west and northwest side.</p>
        <p>In those 574 precincts, Garcetti came out on top in 416 of them and <a href="http://projects.scpr.org/static/interactives/la-mayors-race/election-results-by-precinct/" target="blank">took home 137,922 votes</a>, compared to Greuel's 48,097.</p>
        <p>How did voter turnout break down geographically? This map shows the turnout percentage for each precinct, based on <a href="http://cityclerk.lacity.org/election/archives/archives2013/general/svcptotl.txt">unofficial results from the Los Angeles City Clerk's office</a>.</p>
        <p>Depending on what changes between now and when the results are certified, the turnout could be the <a href="http://spreadsheets.latimes.com/100-years-l-mayoral-turnout/">second lowest since 1913</a>, and lower than the 20.80 percent turnout in the March primary.</p>
        <p>One factor in low turnout may be the fact that "<a href="http://www.scpr.org/programs/take-two/2013/05/21/31890/has-los-angeles-always-had-a-low-voter-turnout-pro/">LA has elections in odd-numbered years, when there are no congressional or presidential elections</a>." After all, last November's presidential election brought out nearly 50 percent of registered voters.</p>
        <p>Reports <a href="http://www.scpr.org/programs/take-two/2013/05/21/31890/has-los-angeles-always-had-a-low-voter-turnout-pro/">KPCC's Steve Proffitt</a>:</p>
        <blockquote><p>If we look at cities that also elect mayors in off years, we're not doing so good. In Chicago, Rahm Emanuel, former chief of staff in the Obama White House, won with a 42 percent turn out. That's about the same turnout for San Francisco's hotly contested mayor's race two years ago.</p></blockquote>
        <p>Antonio Villaraigosa's primary win in 2009 marks the <a href="http://projects.scpr.org/static/interactives/la-mayors-race/mayoral-voting-turnout/">low-point for voter turnout in Los Angeles</a>: Just 17.90 percent of the voting public cast a ballot.</p>
        <p>The highest turnout — 75.95 percent — came in 1969, when Sam Yorty defeated Tom Bradley.</p>
    </div>

    <div id="content-article-buttons">
        <a class="btn btn-info" href="http://www.scpr.org/elections/2013/los-angeles-mayor-2013/#coverage">Read More</a>
    </div>
</div>