<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Transportation</h4>
            <h1>Trips by station in L.A.'s bike share program</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/aaron-mendelson">Aaron Mendelson</a> | <span class="pubdate">Published April 20, 2017</span></p>

            <p>Metro's bike share network logged more than 130,000 trips in its first nine months. Below, you can explore the number of trips that started and ended at each of the network's Downtown Los Angeles stations.</p>
        </div>
        <div class="about collapse">
            <p><strong>Source</strong>: <a href="https://bikeshare.metro.net/about/data/">Metro</a> data through Q1 of 2017. The map does not include a small number of trips coded as being used by staff or that did not have a recorded start or end station.

             <strong>Built using</strong> <a href="http://leafletjs.com/">leaflet.js</a>, <a href="http://underscorejs.org/">underscore.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
            </p>



        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <a class="btn btn-primary" href="http://www.scpr.org/topics/transportation" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>

        </div>
    </div>
</div>
