#content-map-container {background: #f7f7f7; width: 100%; padding: 1em 0 1em 0;}
#content-map-canvas {width: 96%; height: 700px; margin: 0 2% 0 2%;}
#content-map-canvas img {max-width: none;}
#content-background {display: none; position: fixed; height: 100%; width: 100%; top: 0; left: 0; background: #000000; z-index: 1; }
#content-display {display: none; position: fixed; background: #f7f7f7; z-index: 10; height: auto; max-width: 30%; color: #2b2b2b; padding: 2%; -moz-border-radius: 2%; -webkit-border-radius: 2%; border-radius: 2%; -khtml-border-radius: 2%;}

#close {margin: 0; cursor: pointer; }



.story-audio {
background-color: #f5f5f5;
border-bottom: 1px solid #e0e0e0;
border-top: 1px solid #e0e0e0;
margin-bottom: 21px;
}


.story-audio .audio-content h4 {
background: transparent url("http://www.scpr.org/assets/icons/listen-headphones-73d08033cf7659bef960d5b50f5ec480.png") no-repeat left top;
font-family: "proxima-nova-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 600;
font-size: 15px;
margin-bottom: 12px;
padding-left: 36px;
}

.story-audio a.play-btn {
background: transparent url("http://www.scpr.org/assets/media-players/story-audio-play-7a39738f43fd4b666203d15fcece879d.png") no-repeat top left;
display: block;
float: left;
width: 34px;
height: 34px;
margin-right: 10px;
text-indent: -9999px;
}


#audio-bar {
 max-width: 1110.08px; width: 94%; background-color: #fff; height: 61px; position: fixed; visibility: hidden; z-index: 55; bottom: -61px; -webkit-box-shadow: 0 -2px 9px -2px #666,0 -2px 9px -2px #666; -moz-box-shadow: 0 -2px 9px -2px #666,0 -2px 9px -2px #666; box-shadow: 0 -2px 9px -2px #666,0 -2px 9px -2px #666;
}
#audio-bar.active {
 visibility: visible
}
#audio-bar .section-left {
 width: 39.56472%; float: left;
}
#audio-bar .section-mid {
 width: 48.19833%; float: left;
}
#audio-bar .jp-gui {
 border-right: 1px solid #e0e0e0; min-height: 84px;
}
#audio-bar .jp-title {
 min-height: 84px
}
#audio-bar .jp-title p {
 display: block; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 20px; padding: 10px; margin: 0;
}
#audio-bar .jp-title p span {
 display: inline-block; zoom: 1; *display: inline; margin-right: 10.5px; color: #b24401; font-size: 12px; text-transform: uppercase;
}
#audio-bar .jp-title p i {
 font-style: inherit
}
#audio-bar .jp-controls {
 float: left; width: 100px; height: 84px; margin: 0; padding: 0 0 0 6px;
}
#audio-bar .jp-controls li {
 display: block; float: left; padding: 0 10px; position: relative; list-style-type: none; padding: 0 6px;
}
#audio-bar .jp-play,
#audio-bar .jp-pause,
#audio-bar .jp-rw,
#audio-bar .jp-ff,
#audio-bar .jp-mute,
#audio-bar .jp-unmute {
 background-image: url("http://www.scpr.org//assets/audio-controls-9ab4d5c20c0cd7e6f1d56e344877fe0e.png"); background-repeat: no-repeat; display: block; text-indent: -9999px;
}
#audio-bar .jp-rw,
#audio-bar .jp-ff {
 width: 18px; height: 11px; margin-top: 25px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6;
}
#audio-bar .jp-rw:hover,
#audio-bar .jp-ff:hover,
#audio-bar .jp-mute:hover,
#audio-bar .jp-unmute:hover {
 opacity: 1
}
#audio-bar .jp-rw {
 background-position: -97px -17px
}
#audio-bar .jp-ff {
 background-position: -125px -17px
}
#audio-bar .jp-play {
 background-position: 0 0
}
#audio-bar .jp-play:hover {
 background-position: 0 -45px
}
#audio-bar .jp-pause:hover {
 background-position: -49px -45px
}
#audio-bar .jp-unmute {
 background-position: -174px -10px
}
#audio-bar .jp-play,
#audio-bar .jp-pause {
 margin-top: 10px; width: 42px; height: 42px;
}
#audio-bar .jp-pause {
 background-position: -48px 0; width: 42px; height: 42px;
}
#audio-bar .jp-mute,
#audio-bar .jp-unmute {
 background-position: -147px -10px; margin-top: 18px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; width: 25px; height: 25px;
}
#audio-bar .jp-bar {
 width: 33%; float: left; margin-right: 7px; margin-left: 7px;
}
#audio-bar .jp-progress .jp-current-time,
#audio-bar .jp-progress .jp-duration {
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 11px; font-weight: normal; line-height: 20px; color: #2b2b2b; width: 35px; float: left; margin-top: 20px;
}
#audio-bar .jp-progress .jp-seek-bar {
 background-color: #e0e0e0; height: 8px; margin-top: 26px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.35); -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.35); box-shadow: inset 0 1px 0 rgba(0,0,0,0.35);
}
#audio-bar .jp-progress .jp-seek-bar .jp-play-bar {
 background-color: #03b2ea; background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0.35)), color-stop(5%, #03b9f2), to(#039aca)); background-image: -webkit-linear-gradient(rgba(0,0,0,0.35), #03b9f2 5%, #039aca); background-image: -moz-linear-gradient(top, rgba(0,0,0,0.35), #03b9f2 5%, #039aca); background-image: -ms-linear-gradient(rgba(0,0,0,0.35), #03b9f2 5%, #039aca); background-image: -o-linear-gradient(rgba(0,0,0,0.35), #03b9f2 5%, #039aca); background-image: linear-gradient(rgba(0,0,0,0.35),#03b9f2 5%,#039aca); background-repeat: no-repeat; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59000000', endColorstr='#FF039ACA', GradientType=0); background-color: #03b9f2; height: 8px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
}
#audio-bar .bar-close {
 border-left: 1px solid #e0e0e0; min-height: 84px; float: right; width: 60px;
}
#audio-bar .bar-close a {
 color: #fff; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 11px; font-weight: normal; line-height: 20px; background: transparent url("http://www.scpr.org/assets/audio-close-7cf03e07b3701da905d8874ae66440e4.png") no-repeat 19px 20px; display: block; font-size: 9px; width: 58px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; padding: 42px 0 0 2px;
}
#audio-bar .bar-close a:hover {
 color: gray; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; text-decoration: none;
}

/* -- media queries -- */
/* adjust headers for smaller devices */
@media screen and (max-width: 767px) {

}

/* headlines for content-display desktop */
@media (min-width: 980px) {

}

/* headlines for Portrait tablet to landscape and desktop */
@media (min-width: 500px) and (max-width: 979px) {
    #content-map-canvas {width: 96%; height: 500px; margin: 0 2% 0 2%;}
    #content-background {display: none; position: fixed;}
    #content-display {max-width: 80%;}

}

/* headlines for Landscape phones and down */
@media (max-width: 499px) {
    #content-map-canvas {width: 96%; height: 500px; margin: 0 2% 0 2%;}
    #content-background {display: none; position: fixed;}
    #content-display {max-width: 80%;}
}
