<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Environment</h4>
            <h1>Forecasting Southern California's extreme heat days</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/sanden-totten">Sanden Totten</a> and <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Published Sept. 9, 2015</span></p>
            <p>The animation below shows average number of extremely hot days per year (defined as days hotter than 95 degrees Fahrenheit) between 1981 and 2000 (orange bars) and projected for the years between 2041 and 2060 (blue bars), based on UCLA professor Alex Hall's <a href="http://research.atmos.ucla.edu/csrl/LA_project_summary.html" target="blank">Climate Change in the Los Angeles Region Project</a>.</p>
            <p>The future projection is based on data from more than 30 global climate models brought to neighborhood-scale resolution, and it represents a "business as usual" scenario assuming greenhouse gas emissions continue to increase.</p>
        </div>
        <div class="about collapse">
            <p><strong>Source(s): </strong><a href="http://www.environment.ucla.edu/climatesolutions/" target="blank">UCLA Center for Climate Change Solutions</a>. <strong>Built using</strong> <a href="https://github.com/Quartz/Chartbuilder">Quartz's Chartbuilder</a>, <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, <a href="http://www.highcharts.com/products/highcharts">highcharts.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
        </div>
    </div>
</div>
