/* basic structure */
.data-container .data-visuals {margin: 0px;}
.data-container .data-visuals #content-map-canvas {width: 100%; height: 600px; margin: 0px; cursor: pointer;}

.data-legend {width: 100%; height: auto; margin: 10px 0 5px 0;}

.data-legend .jumbotron {height: auto; background: rgba(240, 248, 255, 1.0); margin: 10px 0% 10px 0%; padding: 10px; overflow: hidden;}

.data-legend .jumbotron a {font-weight: 700;}

.data-legend .jumbotron #action-controls {width: 100%; height: auto; margin: 10px 0 0 0;}

.data-legend .jumbotron #form-controls {width: 100%; height: auto; margin: 0 10px 0 20px;}

.data-legend .jumbotron #form-controls button {height: 50px; margin: 10px 0px 0 0px;}

.data-legend .jumbotron #reset {width: 98%; height: 50px; margin: 10px 1% 0 1%;}

@media (max-width: 491px) {
    .data-legend .jumbotron a {font-size: 90%;}
    .data-legend .jumbotron .placemark {width: 20px; vertical-align: middle;}
}

@media (min-width: 491px) {
    .data-legend .jumbotron .placemark {width: 25px;}
}

@media (min-width: 567px) {
    .data-legend .jumbotron a {font-size: 120%;}
    .data-legend .jumbotron .placemark {width: 25px; vertical-align: text-bottom;}
}

@media (min-width: 768px) {
    .data-legend .jumbotron a {font-size: 150%;}
    .data-legend .jumbotron .placemark {width: 35px; vertical-align: text-bottom;}
}

@media (min-width: 830px) {
    .data-legend .jumbotron .placemark {width: 40px; vertical-align: text-bottom;}
}

@media (min-width: 992px) {
    .data-legend .jumbotron a {font-size: 175%;}
    .data-legend .jumbotron .placemark {width: 50px; vertical-align: text-bottom;}
}