<div id="article-header">
    <h4 class="kicker">L.A. Mayor's Race</h4>
    <h1>Hollywood's actors, actresses backing Garcetti</h1>
    <p>While actors and actresses are responsible for only a fraction of the <a href="http://ethics.lacity.org/disclosure/campaign/search/public_search_results.cfm?viewtype=pf&requesttimeout=1000&showall=yes&disclosure=campaign&search=public_search_results%2Ecfm&CITY=la&REPT_TYPE=ALLCon&LNM_CRIT=&FNM_CRIT=&CNM_CRIT=&ST_CRIT=&ZIP_CRIT=&ENM_CRIT=&OCC_CRIT=&CAND_PER_ID=&S_OFFICE=MAY&CID_CRIT=&CMT_CRIT=&S_TYPE=&D_BDATE=&D_EDATE=&S_BAMT=&S_EAMT=&ELECTION_ID=45&SCHEDULE=A%2CB%2CC&SUBMITBTN=Search%20Now%20%3D%3D%3E&TO_ELEC_DATE=&FROM_RPT_DATE=&TO_RPT_DATE=" target="blank">$7,958,159.16 raised by candidates</a> running to be mayor of Los Angeles, those that have contributed to mayoral campaigns have lined up behind Eric Garcetti.</p>
    <p>According to data from the <a href="http://ethics.lacity.org/" target="blank">Los Angeles City Ethics Commission</a>, of the $73,390 contributed by those listing themselves as an "Actor", "Actress", "Performer" or "Thespian," the 13th District Councilman has pulled in $42,580.</p>
    <p>Los Angeles City Controller Wendy Greuel has raised just over $21,060 thus far.</p>
    <p><span class="data-instructions"><strong>Methodology: </strong>Listed below are those that contributed to the 2013 Mayoral campaigns. They listed "Actor", "Actress", "Performer" or "Thespian" as their occupation. They gave $700 or more as of Sept. 30, 2012.</span></p>
    <a class="btn btn-info" href="#">Read More</a>
</div>