<div class="row-fluid">
    <div class="span6">
        <div class="span4">
            <img src="http://a.scpr.org/i/73a0c249835022d4713fc14c6df44306/43770-wide.jpg" />
        </div>
        <div class="span8">
            <h1>Eric Garcetti</h1>
            <div id="data-container-garcetti"></div>
        </div>
    </div>

    <div class="span6">
        <div class="span4">
            <img src="http://a.scpr.org/i/3be6b8f8bc8605c125da9ee06ae7415d/51141-wide.jpg" />
        </div>
        <div class="span8">
            <h1>Wendy Greuel</h1>
            <div id="data-container-greuel"></div>
        </div>
    </div>
</div>

<!--

<br clear="all">

<div class="row-fluid">
    <div class="span12">
        <div class="span2">
            <img src="http://a.scpr.org/i/7358253dccd25e6e3ff3cedce57532a8/41640-wide.jpg" />
        </div>
        <div class="span10">
            <h1>Jan Perry</h1>
            <div id="data-container-perry"></div>
        </div>
    </div>
</div>

<br clear="all">

<div class="row-fluid">
    <div class="span12">
        <div class="span2">
            <img src="http://a.scpr.org/i/0d16a5c909ca174ee176497433d6fcf3/52436-wide.jpg" />
        </div>
        <div class="span10">
            <h1>Kevin James</h1>
            <div id="data-container-james"></div>
        </div>
    </div>
</div>

-->