<div id="content-article">
    <h4 class="kicker">Key Endorsements</h4>
    <h1>Los Angeles 2013 Mayoral Race</h1>
    <div class="row-fluid">
        <div class="span12">
            <div id="content-article-text">
                <p>With the 2013 L.A. mayoral election now in full swing, politicians and organizations are now throwing their weight behind the candidates. Below is a listing of the endorsements so far. Check back for updates.</p>
            </div>
            <div id="content-article-buttons">
                <a class="btn btn-info" href="http://www.scpr.org/elections/2013/los-angeles-mayor-2013/">Read More</a>
            </div>
        </div>
    </div>
</div>

<hr>