<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Drought</h4>
            <h1>How does this year's rainfall in SoCal stack up?</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/aaron-mendelson">Aaron Mendelson</a> | <span class="pubdate">Updated Novemeber 16, 2016</span></p>
            <p>As Southern California moves into another year of drought, every drop of rain helps. But just how much rain is falling this year? And, <a href="http://www.scpr.org/news/2016/11/10/66060/la-nina-is-officially-here-so-what/">since it's a La Niña year</a>, will we see below normal rainfall? To answer these questions, KPCC is working with the Scripps Institute of Oceanography to put this winter's precipitation in context.</p>
            <p>The graph below reflects rainfall data from 20 rain gauges around the Los Angeles Basin. These gauges have detailed records stretching back decades, and give a picture of how much rain is fallilng across the region. This year's rainfall is reflected in the <font color="#31ABD4">the blue line</font>.</p>
            <p><font color="#898989">The dark gray line</font> shows the median, or typical year. <font color="#B5BEC0">The light gray line</font> displays the median for five previous strong La Niñas: 1974, 1976, 1989, 1999 and 2000. The graph shows the six-month period of the 'water year' when California receives most of its rain. A number above 100 means it's been an above-average year for rain.</p>
        </div>
        <div class="about collapse">
            <p><strong>Sources: </strong>Data via David Pierce of the Scripps Institution of Oceanography at UC San Deigo, <a href="http://cnap.ucsd.edu/">California-Nevada Climate Applications Program</a> and <a href="http://cw3e.ucsd.edu/">Center for Western Weather and Water Extremes</a>. The daily data <a href="http://cirrus.ucsd.edu/~pierce/sdprecip/">is available at this link</a>. The percents reflect weighted rainfall totals, which are <a href="http://cirrus.ucsd.edu/~pierce/sdprecip/stalist_la_basin.html">explained here</a>. The most recent data is revised as higher quality data becomes available.</p>

             <p><strong>Built using</strong> <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, <a href="http://www.highcharts.com/">Highcharts</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
            </p>

        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <a class="btn btn-primary" href="http://www.scpr.org/environment" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>

        </div>
    </div>
</div>
