<div id="content-article">
    <h4 class="kicker">Academy Awards</h4>
    <h1>Predicting Sunday's winners at the Oscars</h1>

    <div id="content-article-text">
        <p>Who will take home the coveted Oscars for best picture, director, actor and actress at the 2013 Academy Awards this Sunday? Seemingly everyone and their opinionated mother is weighing in on Hollywood's high court of self-congratulation. The front-runners may be predicted from earlier awards, voted on by many of the same people who cast their ballots for the Oscars; check out our list of some of the awards below. You can also see what the experts have to say. Who do you think will dance with Oscar?</p>
    </div>

    <a class="btn btn-info" href="http://www.scpr.org/oscars">Read More</a>

</div>