<div id="article-footer">

    <!-- thanks for setting the standard Mr. John Keefe -->
<!--
    <div id="embed-this">
        <p class="hidden-tablet hidden-phone"><span class="btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed this map</p>
    </div>
-->

    <div id="sources">
        <p class="normal-display"><strong>Sources: </strong><a href="http://www.guardian.co.uk/news/datablog/2012/dec/13/awards-season-2012-13-nominees-winners">The Guardian DataBlog</a>.</p>
    </div>

    <div id="credits">
        <p class="normal-display"><strong>Credits: </strong><a href="http://www.scpr.org/about/people/staff/lisa-brenner">Lisa Brenner</a> &amp; <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a>.</p>
    </div>

    <div id="open-source">
        <p class="small-display">Built using <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
    </div>
</div>