<div class="col-md-12">
    <div id="content-background"></div>
    <div id="content-display"></div>
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">LA Aqueduct at 100</h4>
            <h1>Following the path of the Los Angeles Aqueduct</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by Meghan McCarty &amp; <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Published Oct. 28, 2013</span></p>
            <p>Nov. 5, 2013, marks the 100th anniversary of the completion of the <a href="http://www.scpr.org/water/" target="blank">Los Angeles Aqueduct</a>, the legendary civil engineering project that starts about 4,000 feet above sea level in the Eastern Sierra Nevada and brings water down a steady, gradual slope to the San Fernando Valley, more than 200 miles away. The map below highlights geographic and engineering features -- and the approximate routes -- the three aqueducts follow as they bring water to Los Angeles.</p>
        </div>
        <div class="about collapse">
            <p><span class="pij">This project was informed by KPCC listeners. <a href="http://www.scpr.org/network/">Become a source. </span></a></p>
            <p><strong>About the data:</strong> The routes shown for the The Los Angeles Aqueduct, the Mono Basin Extension and the Second Aqueduct are approximate and based on available public data, consultation with the Los Angeles Department of Water and Power and interpretation of aerial imagery. <strong>Source(s): </strong><a href="http://www.laaqueduct100.com/">Los Angeles Department of Water and Power</a> and <a href="http://www.arcgis.com/home/item.html?id=8ae5dcb789944a4aabd2a3d3dc98e818" target="_blank">the Story of the LA Aqueduct Map</a> on Esri’s ArcGIS Online. <strong>Built using</strong>: <a href="http://leafletjs.com/">leaflet.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
            </p>
        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <a class="btn btn-primary" href="http://www.scpr.org/water/"><span class="glyphicon glyphicon-link"></span> Read more</a>
        </div>
    </div>
</div>