<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="content-article">
            <div class="headlines">
                <h4 class="kicker">Politics</h4>
                <h1>Reaction to Rep. Henry Waxman's retirement announcement</h1>
            </div>
            <div class="text collapse">
                <p><span class="credits">Produced by KPCC staff</span> | <span class="pubdate">Published Dec. 20, 2013</span></p>
                <p>Rep. Henry Waxman (D-CA) announced Thursday that he will not seek reelection to the House this fall.</p>
                <p>During his long tenure in Congress, Waxman, 74, influenced policy on countless important issues — from telecom to tobacco. Paul Song, executive chairman of the California-based Courage Campaign, noted Waxman's role in "writing some of the nation’s first clean air laws, prosecuting the tobacco industry for deceptive practices, [and] helping to write and pass the Affordable Care Act."</p>
                <p>Below is a roundup of reaction from around Los Angeles, California and the United States.</p>
            </div>
            <div class="about collapse">
                <p><strong>Source(s): </strong>KPCC staff reporting. <strong>Built using</strong> <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
            </div>
            <div class="buttons btn-group btn-group-justified">
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
                <a class="btn btn-primary" href="http://www.scpr.org/news/2014/01/30/41894/rep-henry-waxman-announces-retirement-from-congres/" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>
            </div>
        </div>
    </div>
</div>