<!-- begin row -->
<div class="row-fluid">
    <div class="span12">
        <h4>Filter the map by Positive or Negative experiences at the polls</h4>
        <div class="well">
            <form class="form-inline">
                <div id="data-legend">
                    <ul id="data-legend-items">
                        <label class="checkbox inline"><input type="checkbox" id="cbType1" checked="">Positive</label>
                        <li class="city-makeover"></li>
                        <label class="checkbox inline"><input type="checkbox" id="cbType2" checked="">Negative</label>
                        <li class="user-contrib"></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end row -->

<!-- begin row -->
<div class="row-fluid">
    <div class="span12">
        <div id="content-details">
            <p>Click the markers on the map to get details about downtown development projects.</p>
        </div>
    </div>
</div>
<!-- end row -->