<!-- begin row -->
<div class="row-fluid">
    <div class="span12">
        <h4>Filter by project type</h4>
        <div class="well">
            <form class="form-inline">
                <div id="data-legend">
                    <ul id="data-legend-items">
                        <label class='checkbox inline'><input type='checkbox' id='cbType0' checked/>Development</label>
                        <label class='checkbox inline'><input type='checkbox' id='cbType1' checked/>Roads</label>
                        <label class='checkbox inline'><input type='checkbox' id='cbType2' checked/>Food</label>
                        <label class='checkbox inline'><input type='checkbox' id='cbType3' checked/>Arts</label>
                        <!-- <li class="user-contrib"></li> -->
                    </ul>
                </div>
            </form>
        </div>

<!--
        <h4>Filter by project status</h4>
        <div class="well">
            <form class="form-inline">
                <div id="data-legend">
                    <ul id="data-legend-items">
                        <label class='checkbox inline'><input type='checkbox' id='cbType10' checked/>Proposed</label>
                        <label class='checkbox inline'><input type='checkbox' id='cbType11' checked/>Approved</label>
                        <label class='checkbox inline'><input type='checkbox' id='cbType12' checked/>Construction</label>
                        <label class='checkbox inline'><input type='checkbox' id='cbType13' checked/>Open</label>
                    </ul>
                </div>
            </form>
        </div>
-->

    </div>
</div>
<!-- end row -->

<!-- begin row -->
<div class="row-fluid">
    <div class="span12">
        <div id="content-details">
            <p>Click the markers on the map to get details about downtown development projects.</p>
        </div>
    </div>
</div>
<!-- end row -->