<div id="content-article">
    <h4 class="kicker">Downtown Los Angeles</h4>
    <h1>blogdowntown LA development tracker</h1>

    <div id="content-article-metadata">
        <p><span class="credits"><a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a>, <a href="http://www.scpr.org/about/people/staff/hayley-fox">Hayley Fox</a> &amp; <a href="https://twitter.com/machikoyasuda">Machiko Yasuda</a></span> | <span class="pubdate">Updated April 3, 2013</span></p>
    </div>

    <div id="content-article-text">
        <p>The downtown Los Angeles skyline continues to evolve; lately, at a seemingly breakneck speed. New hotels, lofts, bars, restaurants, parks and transit routes are popping up from Bunker Hill to the Arts District. To help keep up, this map will track projects in the city's core. And we will continue to update downtown development projects from planning to opening.</p>
        <p>Not interested in every project happening downtown? Filter by category to see only what you're interested in.</p>
        <p>Something missing from the DTLA developments map? Know of any updates? Let us know via <a href="http://twitter.com/blogdowntown" target="_blank">Twitter</a>, <a href="http://facebook.com/blogdowntown" target="_blank">Facebook</a> or <a href="mailto:hfox@scpr.org@scpr.org?subject=Downtown Development Project update">email</a>.</p>
    </div>

    <div id="content-article-buttons">
        <a class="btn btn-info" href="#">Read More</a>
    </div>
</div>