<div class="row-fluid">
    <div class="span12">
        <div id="article-footer">

            <!-- thanks for setting the standard Mr. John Keefe -->
            <!--
            <div id="embed-this">
            <p class="hidden-tablet hidden-phone"><span class="btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed this map</p>
            </div>
            -->

<!--
            <div id="sources">
            <p class="normal-display"><a href="https://docs.google.com/spreadsheet/pub?hl=en_US&amp;hl=en_US&amp;key=0An8W63YKWOsxdDhYak12SkxrZHlDRDY4SXRkTVNqS0E&amp;output=csv">Download the data</a></p>
            </div>
-->

            <div id="credits">
            <p class="normal-display"><strong>Credits: </strong><a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a>, <a href="http://www.scpr.org/about/people/staff/hayley-fox">Hayley Fox</a> &amp; <a href="https://twitter.com/machikoyasuda">Machiko Yasuda</a>, with many thanks to <a href="http://derekeder.com">Derek Eder</a> who built and open-sourced the <a href="http://derekeder.com/searchable_map_template/">Searchable Map Template</a>.
            </div>

            <div id="open-source">
            <p class="small-display">Built using <a href="#">Fusion Tables</a>, <a href="http://handlebarsjs.com/">handlebars.js</a>, <a href="http://twitter.github.com/bootstrap/">bootstrap &amp; <a href="http://derekeder.com">Derek Eder's</a> <a href="http://derekeder.com/searchable_map_template/">Searchable Map Template</a>.</p>
            </div>
        </div>
    </div>
</div>