<div id="content-article">
    <div class="headlines">
        <h4 class="kicker">Politics</h4>
        <h1>President Donald J. Trump's Tweets, Annotated</h1>
    </div>
    <div class="text collapse">
        <p><span class="credits">Produced by NPR</span> | <span class="pubdate">Published Jan 27, 2017</span></p>
        <p>President Donald J. Trump tweets a lot. With tens of millions of followers on Twitter, Trump proposes policy, shares his latest actions and reacts to the news. But 140 characters rarely gives the full context. Here, NPR staff attempts to do just that for key tweets.</p>
    </div>
    <div class="about collapse">
        <p><strong>Source(s): </strong><a href="https://twitter.com/realDonaldTrump" target="blank">President Donald J. Trump's Twitter account</a>. <strong>Built using</strong> <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, <a href="https://github.com/jsoma/tabletop">tabletop.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
        </p>
    </div>
    <div class="buttons btn-group btn-group-justified">
        <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
        <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
        <a class="btn btn-primary" href="http://www.npr.org/2017/01/27/511216062/president-trumps-tweets-annotated" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>
    </div>
</div>
