<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Environment</h4>
            <h1>Do I live in a California flood zone?</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/aaron-mendelson">Aaron Mendelson</a> and <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Updated Dec. 11, 2015</span></p>
            <p>A strong El Niño climate pattern <a href="http://www.scpr.org/news/2015/12/10/56140/el-nino-update-still-on-track-for-a-stormy-socal-w/">is on its way to Southern California</a>, and might bring with it some much-needed rain. But that precipitation could be a double-edged sword, raising the possibility of flooding in a region struggling with drought.</p>
            <p>The Federal Emergency Management Agency (FEMA) tracks areas vulnerable to a 100-year flood, or a flood that has <a href="http://pubs.usgs.gov/gip/106/pdf/100-year-flood-handout-042610.pdf">a one percent chance of occurring in any given year</a>. FEMA requires homeowners to purchase flood insurance in those flood zones. The agency's data shows that populated areas around the state are at risk. A much broader swath of the state is vulnerable in a 500-year flood, but insurance isn't required in those areas. For more about flood mapping and insurance, and for an official determination on if you are in a flood zone, consult <a href="http://www.fema.gov/national-flood-insurance-program">FEMA</a>.</p>
        </div>
        <div class="about collapse">
            <p><strong>Source</strong>: Federal Emergency Management Agency's <a href="http://msc.fema.gov/portal/advanceSearch">National Flood Hazard Layer</a> for California. Some areas in the north of the state, including Humboldt, Placer, Alpine and San Francisco Counties, are not yet reflected on the National Flood Hazard Layer. This map does not reflect all potential flood risks</a>.

             <strong>Built using</strong> <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, <a href="http://leafletjs.com/">Leaflet</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <a class="btn btn-primary" href="http://www.scpr.org/elnino/" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>
        </div>
    </div>
</div>
