<!-- begin data footer -->
<div id="data-footer">
<p><span class="normal-display"><strong>Sources: </strong><p><a href="http://oag.ca.gov/home">Ca. Attorney General's Office</a>, <a href="http://www.atf.gov/">Bureau of Alcohol Tobacco and Firearms</a>, the <a href="http://home.nra.org/">National Rifle Association</a> and the <a href="http://www.bradycampaign.org/">Brady Campaign to Prevent Gun Violence</a>.</p></span><br />
</div>
<!-- end data footer -->