<div id="content-article">
    <h4 class="kicker">politics</h4>
    <h1>Comparing California and federal gun laws</h1>

    <div id="content-article-text">
        <p>President Obama on Wednesday called on Congress to re-enact an assault weapons ban and prohibit high capacity ammunition magazines. California already has those laws, and more. The chart belows compares California gun laws compare with those set at the federal level.</p>
    </div>

    <a class="btn btn-info" href="http://www.scpr.org/blogs/politics/2012/12/20/11649/comparing-california-and-federal-gun-laws-after-sa/">Read More</a>

</div>

<br />
<br />