<!-- begin data footer -->
<div id="data-footer">

    <div id="sources">
        <p class="normal-display"><strong>Sources: </strong><a href="http://oag.ca.gov/home">Ca. Attorney General's Office</a>, <a href="http://www.atf.gov/">Bureau of Alcohol Tobacco and Firearms</a>, the <a href="http://home.nra.org/">National Rifle Association</a> and the <a href="http://www.bradycampaign.org/">Brady Campaign to Prevent Gun Violence</a>.</p>
    </div>

    <div id="credits">
        <p class="normal-display"><strong>Credits: </strong><a href="http://www.scpr.org/about/people/staff/chris-keller" target="_blank">Chris Keller</a>.</p>
    </div>

</div>
<!-- end data footer -->