<table width="100%" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>California</th>
            <th>Federal</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="font-weight: bold;">Waiting Period</td>
            <td>Ten-day waiting period before a firearm can be released to a buyer or transferee.</td>
            <td>No federal waiting period. Under the National Instant Criminal Background Check System (NICS), a dealer may transfer a firearm to a prospective purchaser as soon as he or she passes a background check, which can take minutes.</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Age Requirements</td>
            <td>Individual must be at least 18 years old to purchase a rifle or shotgun, and at least 21 years old to purchase a handgun.</td>
            <td>Individual must be at least 18 years old to purchase a rifle or shotgun, and at least 21 years old to purchase a handgun.</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Purchase Limit</td>
            <td>Purchasing more than one handgun within any 30-day period is prohibited except in specific circumstances. There is no limit on the number of rifles or shotguns that can be purchased.</td>
            <td>No limit applies.</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Permit Required for Purchase</td>
            <td>No permit required though handgun buyers must pass a Firearm Safety Certificate test before the purchase.</td>
            <td>No</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Registration of firearms</td>
            <td>There is no firearm registration requirement in California except for assault weapon owners and personal handgun importers</td>
            <td>No</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Licensing of Owner</td>
            <td>No</td>
            <td>No</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Permit to Carry</td>
            <td>California requires a permit to carry a weapon, issued by a sheriff or police chief. There must be a reason - usually self defense. Some counties, including Los Angeles, refuse to issue permits. But a permit issued in one jurisdiction allows you to carry a gun anywhere in the state.</td>
            <td>The federal government does not require a permit to carry a firearm</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Possession of firearm</td>
            <td>The following are prohibited from buying, owning, or possessing firearms:<br />
            -- a person convicted of select misdemeanors.<br />
            -- a person convicted of any felony.<br />
            -- a person addicted to any narcotic.<br />
            -- a person who has been held involuntarily as a danger to self or others.<br />
            Various other prohibitions exist for mental conditions, domestic restraining/protective orders, conditions of probation, traffic violations and offenses committed as a juvenile.</td>
            <td>The following are prohibited from buying, owning, or possessing firearms:<br />
            -- a person convicted of a crime punishable by imprisonment exceeding one year;<br />
            -- a person who is a fugitive from justice;<br />
            -- a person who is an unlawful user of or who is addicted to a controlled substance;<br />
            -- a person who has been adjudicated as a mental defective or who has been admitted
            to a mental institution;<br />
            -- Anyone unlawfully in the United States or who has been admitted to the
            United States under a nonimmigrant visa;<br />
            -- a person who has been discharged from the Armed Forces under dishonorable
            conditions;<br />
            -- a person who, having been a citizen of the United States, renounces his citizenship;<br />
            -- a person subject to a court order that was issued after a hearing in which the person
            participated, which order restrains the person from harassing, stalking, or threatening
            an intimate partner or partner's child, and which order includes a finding that the
            person is a credible threat to such partner or partner's child, or by its terms prohibits
            the use, attempted use or threatened use of such force against such partner or
            partner's child;<br />
            -- a person who has been convicted of a misdemeanor crime of domestic violence.</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Possession of large-capacity magazines</td>
            <td>California bans the sale or manufacture of ammunition magazines that can hold more than 10 cartridges or rounds. Individual can keep them if purchased prior to Jan. 1, 2000.</td>
            <td>Possession is no longer prohibited after the expiration of the federal Assault Weapons ban in 2004.
        </tr>
        <tr>
            <td style="font-weight: bold;">Purchasing a firearm
            <td>All firearms purchases and transfers, including private party transactions and sales at gun shows, must be made through a licensed dealer under the Dealer Record of Sale (DROS) process.
            <td>A transaction between unlicensed private parties in the same state does not require record keeping. A transaction between unlicensed private parties in different states require transfer to a Federal firearms licensee in the buyer's State.
        </tr>
        <tr>
            <td style="font-weight: bold;">Miscellany
            <td>As part of the DROS process, the buyer must present "clear evidence of identity and age" which is defined as a valid, non-expired California Driver's License or Identification Card issued by the Department of Motor Vehicles. A military identification accompanied by permanent duty station orders indicating a posting in California is also acceptable.<br />
            If the buyer is not a U.S. Citizen, then he or she is required to demonstrate that he or she is legally within the United States by providing to the firearms dealer with documentation that contains his/her Alien Registration Number or I-94 Number.<br />
            Purchasers of handguns are also required to provide proof of California residency, such as a utility bill, residential lease, property deed, or government-issued identification (other than a drivers license or other DMV-issued identification).</td>
            <td>If the FBI is unable to complete a background check within three business days, the dealer may complete the transfer by default.<br />
            Federal law does not require private sellers to perform background checks on gun purchasers. Accordingly, persons purchasing firearms from private sellers may take immediate possession of their weapons, unless state or local law provides otherwise.</td>
        </tr>
    </tbody>
</table>
