<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<h1>25th Senate District x2</h1>
    <div class="row">
        <div class="col-md-12">
            <p>Blue and green campaign lit landing in mailboxes from Los Feliz to Monrovia touts Anthony Portantino as a tough progressive. But another mailer looks back on his record as a member of the Assembly, claiming he raised health care premiums and cut school funding.</p>
            <p>If you read the fine print, you'll see that neither mailer was sent by Portantino or his opponent, Mike Antonovich. Instead, these were sent by the Democratic and Republican parties of California.</p>
        </div>
            <div class="col-md-6"><img src="http://projects.scpr.org/test/aaron/who-mailed-it/images/ap_pos_back.png" width=100%>
            </div>
            <div class="col-md-6">
                <img src="http://projects.scpr.org/test/aaron/who-mailed-it/images/ap_neg_back.png" width=100%>
            </div>
        </div>


<h1>25th Senate District x4</h1>
    <div class="row">
        <div class="col-md-6">
            <p>Mailer</p>
        </div>
        <div class="col-md-6">
            <p>Negative mailer</p>
        </div>
            <div class="col-md-3"><img src="http://projects.scpr.org/test/aaron/who-mailed-it/images/ap_pos_back.png" width=100%/></div>
            <div class="col-md-3"><img src="http://projects.scpr.org/test/aaron/who-mailed-it/images/ap_pos_front.png" width=100%></div>
            <div class="col-md-3"><img src="http://projects.scpr.org/test/aaron/who-mailed-it/images/ap_neg_back.png" width=100%/></div>
            <div class="col-md-3"><img src="http://projects.scpr.org/test/aaron/who-mailed-it/images/ap_neg_front.png" width=100%></div>

        </div>



<h1>25th Senate District x4 alternate</h1>
    <div class="row">
        <div class="col-md-6">
            <p>Mailer</p>
        </div>
        <div class="col-md-6">
            <p>Negative mailer</p>
        </div>
            <div class="col-md-6"><img src="http://projects.scpr.org/test/aaron/who-mailed-it/images/ap_pos_back.png" width=100%/></div>
            <div class="col-md-6"><img src="http://projects.scpr.org/test/aaron/who-mailed-it/images/ap_pos_front.png" width=100%></div>
            <div class="col-md-6"><img src="http://projects.scpr.org/test/aaron/who-mailed-it/images/ap_neg_back.png" width=100%/></div>
            <div class="col-md-6"><img src="http://projects.scpr.org/test/aaron/who-mailed-it/images/ap_neg_front.png" width=100%></div>

        </div>
    </div>

</div>




