<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<!-- <h1>25th Senate District x2</h1>
    <div class="row">
        <div class="col-md-12">
            <p>Blue and green campaign literature is landing in mailboxes from Los Feliz to Monrovia touts Anthony Portantino as a tough progressive. But another mailer looks back on his record as a member of the Assembly, claiming he raised health care premiums and cut school funding.</p>
            <p>If you read the fine print, you'll see that neither mailer was sent by Portantino or his opponent, Mike Antonovich. Instead, these were sent by the Democratic and Republican parties of California.</p>
        </div>
            <div class="col-sm-6">
                <p><strong>Positive mailer from Democratic Party (front/back)</strong></p>
            </div>
            <div class="col-sm-6">
                <p><strong>Negative mailer from Republican Party (front/back)</strong></p>
            </div>
            <div class="col-md-6"><img src="http://projects.scpr.org/test/aaron/who-mailed-it/images/ap_pos_back.png" width=100%>
            </div>
            <div class="col-md-6">
                <img src="http://projects.scpr.org/test/aaron/who-mailed-it/images/ap_neg_back.png" width=100%>
            </div>
        </div>
-->


<h1>25th Senate District</h1>
    <div class="row">
        <div class="col-md-12">
            <p>Blue and green campaign literature is landing in mailboxes from Tujunga to Upland touts Anthony Portantino as a tough progressive. But another mailer looks back on his record as a member of the Assembly, claiming he raised health care premiums and cut school funding. If you read the fine print, you'll see that neither mailer was sent by Portantino or his opponent, Mike Antonovich. Instead, these were sent by the Democratic and Republican parties of California.</p>
        </div>
        <div class="col-md-12"><p><strong>Positive mailer from Democratic Party (front/back)</strong></p></div>
            <div class="col-sm-6 col-md-6"><img src="http://projects.scpr.org/test/aaron/who-mailed-it/images/ap_pos_back.png" width=100%/></div>
            <div class="col-sm-6 col-md-6"><img src="http://projects.scpr.org/test/aaron/who-mailed-it/images/ap_pos_front.png" width=100%></div>
        <div class="col-md-12"><p><strong>Negative mailer from Republican Party (front/back)</strong></p></div>
            <div class="col-sm-6 col-md-6"><img src="http://projects.scpr.org/test/aaron/who-mailed-it/images/ap_neg_back.png" width=100%/></div>
            <div class="col-sm-6 col-md-6"><img src="http://projects.scpr.org/test/aaron/who-mailed-it/images/ap_neg_front.png" width=100%></div>

        </div>

<h1>25th Senate District foldout</h1>
    <div class="row">
        <div class="col-md-12">
            <p>Here's a foldout from Antonovich's committee, supporting his campaign and blasting Portantino. The design closely resembles that of the party-funded mailer, right down to the image of Portantino.</p>
        </div>
        <div class="col-md-12"><p><strong>Mailer</strong></p></div>

            <div class="col-xs-6 col-md-3"><img src="http://projects.scpr.org/test/aaron/who-mailed-it/images/antoni_port_foldout_3.jpg" width=100%></div>

            <div class="col-xs-6 col-md-3"><img src="http://projects.scpr.org/test/aaron/who-mailed-it/images/antoni_port_foldout_2.jpg" width=100%></div>


            <div class="col-xs-12 col-md-6"><img src="http://projects.scpr.org/test/aaron/who-mailed-it/images/antoni_port_foldout_1.jpg" width=100%></div>

        </div>


</div>




