<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="title-card">
            <img src="images/logo-vinci.png" />
        </div>
        <div class="row text collapse">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class='text-center'>View the dark, brooding and mysterious locations of True Detective, as discovered by Southern California Public Radio.</p>
                <p class='text-center'><span class="credits">Produced Kevin Ferguson, Mark Pampanin, Collin Campbell and Chris Keller</span> | <span class="pubdate">Updated July 14, 2015</span></p>
            </div>
        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span> <br />About This</a>
        </div>
    </div>
</div>
