<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="title-card">
            <img src="images/logo-vinci.png" />
        </div>
        <div class="row text collapse">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-lg-offset-3">
                <p><span class="credits">Produced by Xxxx Xxxxx</span> | <span class="pubdate">Published July 12, 2015</span></p>
                <p>Xxxxx</p>
              </div>
        </div>
        <!--
        <div class="about collapse"></div>
        -->
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span> <br />About This</a>
        </div>
    </div>
</div>
