<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Academy Awards</h4>
            <h1>Oscars 2016: Predicting the winners</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/mike-roe">Mike Roe</a></span> | <span class="pubdate">Published Jan. 14, 2016</span></p>
            <p>Who will take home the coveted Oscars for best picture, director, actor and actress and supporting actor and actress at the 2016 Academy Awards?</p>
        </div>
        <div class="about collapse">
            <p><strong>Source(s): </strong><strong>Built using</strong> <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, <a href="https://github.com/jsoma/tabletop">tabletop.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
            </p>
        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <!--
            <a class="btn btn-primary" href="#"><span class="glyphicon glyphicon-link"></span> Read more</a>
            -->
        </div>
    </div>
</div>
