{{#objects}}
    <tr>
        <td class="kpcc-value yes-cell">{{ yes }}</td>
        <td class="kpcc-value no-cell">{{ no }}</td>
        <td class="kpcc-value undecided-cell">{{ undecided }}</td>
    </tr>
{{/objects}}