<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 data-legend">
    <div class="jumbotron">
        <noscript>Please enable JavaScript to view this interactive.</noscript>




        <div id="action-controls" class="row">
            <div id="uber-search" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
                <a id="uber" class="search" href="javascript:void(0)">Uber</a>
            </div>
            <div id="wingz-search" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
                <a id="wingz" class="search" href="javascript:void(0)">Wingz</a>
            </div>
        </div>



        <form id="submission-form" class="form-inline" role="form">
            <div id="reset" class="row hidden">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <button type="button" class="btn btn-primary pull-right btn-group btn-group-justified" id="reset">Reset map</button>
                </div>
            </div>
        </form>



    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-map-container">
        <div id="content-map-canvas" class="initial"></div>
    </div>
</div>