<select id="search-string-city" onchange="changeSearch(this.value);">
    <option value="">All Cities</option>
    <option value="Agoura Hills">Agoura Hills</option>
    <option value="Anaheim">Anaheim</option>
    <option value="Artesia">Artesia</option>
    <option value="Baldwin Park">Baldwin Park</option>
    <option value="Bell">Bell</option>
    <option value="Berkeley">Berkeley</option>
    <option value="Bishop">Bishop</option>
    <option value="Bloomington">Bloomington</option>
    <option value="Burlingame">Burlingame</option>
    <option value="Camarillo">Camarillo</option>
    <option value="Canoga Park">Canoga Park</option>
    <option value="Chico">Chico</option>
    <option value="Chula Vista">Chula Vista</option>
    <option value="Corona">Corona</option>
    <option value="Cudahy">Cudahy</option>
    <option value="Culver City">Culver City</option>
    <option value="Delano">Delano</option>
    <option value="Eastvale">Eastvale</option>
    <option value="El Cajon">El Cajon</option>
    <option value="El Centro">El Centro</option>
    <option value="Encinitas">Encinitas</option>
    <option value="Fairfield">Fairfield</option>
    <option value="Fallbrook">Fallbrook</option>
    <option value="Fremont">Fremont</option>
    <option value="Fresno">Fresno</option>
    <option value="Gardena">Gardena</option>
    <option value="Gilroy">Gilroy</option>
    <option value="Glendale">Glendale</option>
    <option value="Hacienda Heights">Hacienda Heights</option>
    <option value="Half Moon Bay">Half Moon Bay</option>
    <option value="Hanford">Hanford</option>
    <option value="Hawthorne">Hawthorne</option>
    <option value="Hayward">Hayward</option>
    <option value="Hollister">Hollister</option>
    <option value="Huntington Park">Huntington Park</option>
    <option value="Kings Beach">Kings Beach</option>
    <option value="La Crescenta">La Crescenta</option>
    <option value="Laguna Hills">Laguna Hills</option>
    <option value="Lake Elsinore">Lake Elsinore</option>
    <option value="Lake Forest">Lake Forest</option>
    <option value="Laton">Laton</option>
    <option value="Lawndale">Lawndale</option>
    <option value="Lemon Grove">Lemon Grove</option>
    <option value="Lennox">Lennox</option>
    <option value="Lindsay">Lindsay</option>
    <option value="Livermore">Livermore</option>
    <option value="Livingston">Livingston</option>
    <option value="Lodi">Lodi</option>
    <option value="Los Angeles">Los Angeles</option>
    <option value="Mammoth Lakes">Mammoth Lakes</option>
    <option value="Mission Viejo">Mission Viejo</option>
    <option value="Monrovia">Monrovia</option>
    <option value="Montebello">Montebello</option>
    <option value="Napa">Napa</option>
    <option value="Norco">Norco</option>
    <option value="Northridge">Northridge</option>
    <option value="Ontario">Ontario</option>
    <option value="Oxnard">Oxnard</option>
    <option value="Palmdale">Palmdale</option>
    <option value="Palo Alto">Palo Alto</option>
    <option value="Paso Robles">Paso Robles</option>
    <option value="Petaluma">Petaluma</option>
    <option value="Pittsburg">Pittsburg</option>
    <option value="Pleasanton">Pleasanton</option>
    <option value="Porterville">Porterville</option>
    <option value="Poway">Poway</option>
    <option value="Redwood City">Redwood City</option>
    <option value="Richmond">Richmond</option>
    <option value="Riverside">Riverside</option>
    <option value="Sacramento">Sacramento</option>
    <option value="Salinas">Salinas</option>
    <option value="San Diego">San Diego</option>
    <option value="San Fernando">San Fernando</option>
    <option value="San Francisco">San Francisco</option>
    <option value="San Jose">San Jose</option>
    <option value="San Juan Bautista">San Juan Bautista</option>
    <option value="San Juan Capistrano">San Juan Capistrano</option>
    <option value="San Luis Obispo">San Luis Obispo</option>
    <option value="San Mateo">San Mateo</option>
    <option value="Santa Ana">Santa Ana</option>
    <option value="Santa Barbara">Santa Barbara</option>
    <option value="Santa Cruz">Santa Cruz</option>
    <option value="Seaside">Seaside</option>
    <option value="Sonoma">Sonoma</option>
    <option value="South Gate">South Gate</option>
    <option value="South Lake Tahoe">South Lake Tahoe</option>
    <option value="Tahoe City">Tahoe City</option>
    <option value="Torrance">Torrance</option>
    <option value="Turlock">Turlock</option>
    <option value="Ukiah">Ukiah</option>
    <option value="Vallejo">Vallejo</option>
    <option value="Valley Center">Valley Center</option>
    <option value="Venice">Venice</option>
    <option value="Ventura">Ventura</option>
    <option value="Watsonville">Watsonville</option>
    <option value="Windsor">Windsor</option>
    <option value="Woodland">Woodland</option>
</select>

<select id="search-string-language" onchange="changeSearch(this.value);">
    <option value="">All Languages</option>
    <option value="Armenian">Armenian</option>
    <option value="Cantonese">Cantonese</option>
    <option value="German">German</option>
    <option value="Hmong">Hmong</option>
    <option value="Japanese">Japanese</option>
    <option value="Italian">Italian</option>
    <option value="Korean">Korean</option>
    <option value="Mandarin">Mandarin</option>
    <option value="Mandarin/Cantonese">Mandarin/Cantonese</option>
    <option value="Spanish">Spanish</option>
</select>