<!-- begin modal box -->
<div id="popupContent" class="modal hide fade">

    <!-- begin modal header -->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Change/update school information</h3>
    </div>
    <!-- end modal header -->

    <!-- begin modal body -->
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <p>KPCC will verify all submissions with the <a href="http://www.cde.ca.gov/" target="blank">California Department of Education</a>. Only immersion programs registered with the state will be included on the map. A school can register with CDE <a href="http://www.cde.ca.gov/sp/el/ip/2wayschlprofile.asp" target="_blank">here</a>.</p>

                <!-- begin form -->
                <div class="ss-form">

                <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='http://projects.scpr.org/maps/bilingual-immersion-programs/';}"></iframe>

                <form action="https://spreadsheets.google.com/spreadsheet/formResponse?formkey=dEJadUVrQl9XTkptRkVtN0tuQUpNT1E6MQ&amp;ifq" method="POST"
                target="hidden_iframe" id="commentForm" onsubmit="submitted=true;">

                    <div class="controls controls-row">
                        <div class="errorbox-good span6">
                            <div class="ss-item ss-text">
                                <div class="ss-form-entry">
                                    <label class="ss-q-title" for="entry_0"><strong>Your Name</strong></label>
                                    <label class="ss-q-help" for="entry_0"></label>
                                    <input type="text" name="entry.0.single" value="" class="ss-q-short" id="entry_0">
                                </div>
                            </div>
                        </div>
                        <div class="errorbox-good span6">
                            <div class="ss-item ss-text">
                                <div class="ss-form-entry">
                                    <label class="ss-q-title" for="entry_3"><strong>Which School/Program</strong></label>
                                    <label class="ss-q-help" for="entry_3"></label>
                                    <input type="text" name="entry.3.single" value="" class="ss-q-short" id="entry_3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="controls controls-row">
                        <div class="errorbox-good span6">
                            <div class="ss-item  ss-text">
                                <div class="ss-form-entry">
                                    <label class="ss-q-title" for="entry_2"><strong>Your Email</strong></label>
                                    <label class="ss-q-help" for="entry_2"></label>
                                    <input type="text" name="entry.2.single" value="" class="ss-q-short" id="entry_2">
                                </div>
                            </div>
                            <div class="errorbox-good">
                                <div class="ss-item ss-text">
                                    <div class="ss-form-entry">
                                        <label class="ss-q-title" for="entry_5"><strong>School/Program Contact (if available)</strong></label>
                                        <label class="ss-q-help" for="entry_5"></label>
                                        <input type="text" name="entry.5.single" value="" class="ss-q-short" id="entry_5">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="errorbox-good span6">
                            <div class="ss-item  ss-paragraph-text">
                                <div class="ss-form-entry">
                                    <label class="ss-q-title" for="entry_4"><strong>Describe changes/additions to the listing</strong></label>
                                    <label class="ss-q-help" for="entry_4"></label>
                                    <textarea name="entry.4.single" rows="8" cols="95" class="input-large" id="entry_4"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                        <input type="hidden" name="pageNumber" value="0">
                        <input type="hidden" name="backupCache" value="">
                        <div class="ss-item ss-navigate">
                            <div class="ss-form-entry">
                                <input class="btn btn-success" type="submit" name="submit" value="Submit">
                                <input class="btn btn-danger" type="submit" data-dismiss="modal" value="Cancel">
                            </div>
                        </div>
                    </form>
                    <!-- end form -->
                </div>
            </div>
        </div>
    </div>
    <!-- end modal body -->

</div>
<!-- end modal box -->