<div id="content-article">
    <h4 class="kicker">Bilingual Learning</h4>
    <h1>California schools offering bilingual immersion programs</h1>
    <div id="content-article-text">
        <p>Los Angeles County leads the state in the number of schools that offer bilingual education starting in kindergarten -- in part, advocates and others said, because of its multicultural population. Bilingual schools have quietly built a fan-base, starting with the linguists and social scientists who have studied their progress over the last few decades, and many English-speaking parents who want their child to master a second language early in life.</p>
    </div>
    <div id="content-article-buttons">
        <a class="btn btn-info" href="http://projects.scpr.org/bilinguallearning/">Read More</a>
    </div>
</div>

<div id="content-explainer"></div>

<div id="content-action-bar"></div>

<div id="content-display"></div>

<div id="data-modal"></div>
