<div id="content-article">
    <h4 class="kicker">Bilingual Learning</h4>
    <h1>California schools offering bilingual immersion programs</h1>

    <div id="content-article-text">
        <p>Bilingual immersion programs integrate language English learners and English speakers to develop fluency and literacy in multiple languages from an early age.</p>
    </div>

    <a class="btn btn-info" href="#">Read More</a>

</div>

<div id="content-explainer"></div>

<div id="content-action-bar"></div>

<div id="content-display"></div>