<div class="ad pencil container-fluid">
    <div class="row-fluid">
        <div class="span12 offset1">
            <a href="http://www.antiochla.edu/different?reff=elect" class="ad-link center-contents contentasset track-event" data-ga-category="Advertisement" data-ga-action="Clickthrough" data-ga-label="Antioch 2012 Election Dashboard">
              <img class="ad-creative desktop" src="http://media.scpr.org/assets/images/election/antioch-pencil-collapsed.jpg" rel="http://media.scpr.org/assets/images/election/antioch-pencil-expanded.jpg" alt="Antioch University: Committed to Social Justice, Proggressive Education and Lifelong Learning.">
              <img class="ad-creative mobile" src="http://media.scpr.org/assets/images/election/antioch-mobile.gif" alt="Antioch University: Committed to Social Justice, Proggressive Education and Lifelong Learning.">
            </a>
        </div>
    </div>
</div>