<div id="page">
    <header id="header">
        <div id="timeline-title" class="main-header clearfix"></div>
    </header>
    <div role="main" class="clearfix">
        <div id="buttons">
            <div id="sort-buttons">
                <a class="sort-newest" href="#"><span>NEWEST FIRST</span></a>
                <a class="sort-oldest active" href="#"><span>OLDEST FIRST</span></a>
            </div>
        </div>
        <div id="timeline">
            <div id="line-container">
                <div id="line"></div>
            </div>
        </div>
    </div>
</div>