<div class="row precinct-data" id="precinct_<%= june_2014_ %>">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h6><%= june_2014_ %> - <%= proper_loc %></h6>
        <ul class="list-inline">
            <li><strong>Registered voters</strong>: <%= registrati %></li>
            <li><strong>Ballots cast</strong>: <%= ballots %></li>
            <li><strong>Voter turnout</strong>: <%= window.percentifyValue(results.voterTurnout) %>%</li>
        </ul>
        <ul class="list-inline">
            <li><strong>Shriver votes</strong>: <%= shriver %> (<%= window.percentifyValue(shriver/ballots) %>%)</li>
            <li><strong>Kuehl votes</strong>: <%= kuehl %> (<%= window.percentifyValue(kuehl/ballots) %>%)</li>
        </ul>
    </div>
</div>
<hr />