<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="content-map-data">
            <div class="content-legend-data">
                <div class="content-feature-data">
                    <div class='pull-left'>
                        <h5>Hover over a county to see the latest whooping cough case rates in California</h5>
                        <h6>&nbsp;</h6>
                    </div>
                </div>
                <table id="data-legend" class="table table-striped">
                    <tbody>
                        <tr id="legend-colors"></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="content-map-canvas" class="initial"></div>
    </div>
</div>