<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Politics</h4>
            <h1>Garcetti's behested payments</h1>

        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/aaron-mendelson">Aaron Mendelson</a> | <span class="pubdate">Published August 23, 2017</span></p>

            <p>While Los Angeles has tight controls on the amount of money citizens can donate to campaigns, there's no limit on the amounts of cash people, foundations, nonprofits and corporations can donate to government and charity at a politician's behest.</p>

            <p>Since Los Angeles Mayor Eric Garcetti was elected in 2013, he has reported $31.9 million in payments at his behest. The majority of those payments have gone to The Mayor's Fund For Los Angeles, a nonprofit dedicated to promoting civic causes including reducing homelessness, workforce development and gang reduction. You can explore the donors and recipients of the money below.</p>
        </div>
        <div class="about collapse">
            <p><strong>Source</strong>: Los Angeles City Ethics Commission. Law only requires payments totaling greater than $5,000 in a single year by a donor to be reported by politicians. Names standardized to group related entities. Donors under $200,000 and to a single recipient have been grouped.

             <strong>Built using</strong> <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, <a href="https://d3js.org/">d3.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
            </p>



        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <!-- <a class="btn btn-primary" href="http://www.scpr.org/news/2016/05/02/60085/hundreds-of-la-bus-shelters-go-unbuilt-millions-in/" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a> -->

        </div>
    </div>
</div>
