<div id="content-article">
    <h4 class="kicker">Immigration & Politics</h4>
    <h1>Immigration reform: Where does your US congressman stand?</h1>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="span8">
            <div id="content-article-metadata">
                <p><span class="credits"><a href="http://www.scpr.org/about/people/staff/kitty-felde">Kitty Felde</a> &amp; <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Updated May 13, 2013</span></p>
            </div>
            <div id="content-article-text">
                <p>The U.S. Senate is currently wading through a massive, comprehensive immigration reform plan that includes a path to citizenship, among other proposals. The bill was developed by a working group of eight senators from both sides of the aisle. A similar group in the House of Representatives is still developing its version of immigration reform. KPCC surveyed the entire California delegation to assess where members stand on key elements that are expected to be considered in both versions of the bill.</p>
            </div>
            <div id="content-article-terms" style="display: none">
                <ul>
                <li><p><strong>STEM visas</strong>: The Science, Technology, Engineering and Mathematics visa system provides visas for immigrants who want to work in America that have earned degrees in math and science.</p></li>
                <li><p><strong>Family-based visas</strong>: Provides visas for immigrants that have a "close family relationship with a U.S. citizen, or a more distant family relationships with a U.S. citizen. It also provides for some specified relationships with a Lawful Permanent Resident.</p></li>
                <li><p><strong>Ag worker visas</strong>: Allows employers that meet requirements to bring foreign nationals to the United States to fill temporary agricultural jobs.</p></li>
                <li><p><strong>DREAM Act</strong>: Legislation sponsored by Sen. Orin Hatch (R-UT) and Sen. Richard Durbin (D-IL) that would make undocumented children eligible for a six-year path to citizenship with the requirement of earning a college degree or serving for two years in the military.</p></li>
                </ul>
            </div>
        </div>
        <div class="span4">
            <div class="controls controls-row">
                <div class="span6">
                    <div id="content-action-bar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content-article-buttons">
    <a class="btn btn-info" href="http://www.scpr.org/blogs/politics/2013/05/14/13640/former-lawmakers-impart-lessons-from-the-1986-immi/">Read More</a>
    <a class="btn btn-success" id="showmodule" href="#" onclick="showTerms();">Learn the Terms</a>
</div>

<hr>