<div id="content-article">
    <h4 class="kicker">Immigration</h4>
    <h1>MAP: 'Illegal alien'? 'Undocumented immigrant'? You told us what term you use, and we mapped the responses</h1>

<div class="row-fluid">
    <div class="span4">
        <div id="content-article-metadata">
            <p><span class="credits"><span class="pubdate">Updated June 18, 2013</span></p>
        </div>

        <div id="content-article-text">
            <p>What is the proper terminology for an immigrant in the country illegally?</p>
            <p>That's a question that has stirred discussion among journalists, policy makers and others who have an interest in the debate over immigration — or who simply want an accurate, non-offensive term to use.</p>
            <p>Through the Public Insight Network, we asked you to tell us what term you use. Based on those responses, PIN journalists launched a collaboration to see how that usage is distributed across the United States.</p>
            <p>You can view the more than 600 responses below, mapped according to a respondent's state of residence. Warning: Some comments include strong language that may be offensive to some.</p>
            <p>As background, The Associated Press and several newsrooms have dropped the term "illegal immigrant." On the AP website, a top editor explained that the AP's Stylebook — which sets the standards of usage for many newsrooms and others — “no longer sanctions the term 'illegal immigrant' or the use of 'illegal' to describe a person. Instead, it tells users that 'illegal' should describe only an action, such as living in or immigrating to a country illegally."</p>
            <p>That decision was applauded by Latino and immigration advocates. For years, many protested the AP and other journalism organizations, including The New York Times, over usage of what they believed to be an offensive term.</p>
            <p>What do you think? Let us know by filling out the <a href="http://www.scpr.org/network/questions/immigrationmap">PIN form</a> or on <a href="https://www.facebook.com/kpcc">KPCC's Facebook page</a>.</p>
        </div>

        <div id="content-article-buttons">
            <a class="btn btn-info" href="http://www.scpr.org/network/questions/immigrationmap">Read more/Submit response</a>
        </div>
    </div>
    <div class="span8">
        <p><img src="https://a.scpr.org/i/8d5ff24036ad75eb36d6f7ee2d757f4e/58136-full.jpg" /></p>
        <div class="content-partners">
          <p class="pij">This was informed by KPCC listeners. <a href="http://www.scpr.org/network/">Become a source.</a></p>
        </div>
        <p class="centered"><img src="http://www.publicinsightnetwork.org/wp-content/uploads/2013/04/immigrationcolllogo2-e1366833160530.jpg" /></p>
    </div>
</div>
