<div class="row-fluid">
    <div class="span12">
        <div id="article-footer">

            <div id="sources">
                <p class="normal-display"></p>
            </div>

            <div id="open-source">
            <p class="small-display">Built using <a href="#">Fusion Tables</a>, <a href="http://handlebarsjs.com/">handlebars.js</a>, <a href="http://twitter.github.com/bootstrap/">bootstrap &amp; <a href="http://derekeder.com">Derek Eder's</a> <a href="http://derekeder.com/searchable_map_template/">Searchable Map Template</a>.</p>
            </div>
        </div>
    </div>
</div>