<div id="data-intro">
    <h2>The most dangerous intersections in Los Angeles</h2>
    <p>The city of Los Angeles is taking steps to make <a href="http://blogdowntown.com/2012/12/7093-new-zebra-crossings-aim-to-make-53-la-intersection" target="blank">53 dangerous intersections</a> safer for pedestrians. As a first step, the city will install "continental crosswalks" — aka "zebra crossings" – that provide increased visibility for pedestrians.</p>
    <span id="toBeRemoved" style="margin-bottom: 30px;">
    <p>This map shows which intersections (marked in green) that the city considers dangerous.</p>
    <p>But are they the same as the intersections (marked in red) that YOU have designated as hazardous?</p>
    <img src="http://a.scpr.org/i/a731eaaab6e7b5c316b30b3c5bc3466b/19204-four.jpg" width="80%" style="margin: 5px 10% 10px 10%" />
    <p>See how they match up — or don't — in our interactive map.</p>
    <p>Are there others? Let us know what intersections and other locations you believe are the most dangerous for pedestrians and cyclists. Simply click the button below and tell us your experience.</p>
    </span>
    <a class="btn" href="#" onClick="userSubmit();">Submit a trouble spot</a>
</div>

<div id="data-map-info"></div>

<div id="data-user-submit">
    <p><iframe width="100%" height="100%" src="https://docs.google.com/spreadsheet/embeddedform?formkey=dHQ1QlQwU1lVNHRRZGVQa25SQ3IxRmc6MQ" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>
    <a class="btn" href="#" onClick="mapIntro();"><< Back</a>
</div>