<div id="data-intro">
    <h2>The most dangerous intersections in Los Angeles</h2>
    <p>The city of Los Angeles is taking steps to make <a href="http://blogdowntown.com/2012/12/7093-new-zebra-crossings-aim-to-make-53-la-intersection" target="blank">53 dangerous intersections</a> safer for pedestrians and cyclists. As a first step, the city will install "continental crosswalks" — aka "zebra crossings" – that provide increased visibility for pedestrians.</p>
    <span id="toBeRemoved" style="margin-bottom: 30px;">
    <p>This map shows which intersections (marked in green) that the city considers dangerous.</p>
    <p>But are they the same as the intersections (marked in red) that <a href="http://www.scpr.org/news/2012/10/02/34497/help-us-map-los-angeles-most-dangerous-areas-bicyc/" target="_blank">YOU have designated as hazardous?</a></p>
    <img src="http://a.scpr.org/i/a731eaaab6e7b5c316b30b3c5bc3466b/19204-four.jpg" width="80%" style="margin: 5px 10% 10px 10%" />
    <p>See how they match up — or don't — in our interactive map.</p>
    <p>Are there others? Let us know what intersections and other locations you believe are the most dangerous for pedestrians and cyclists. Simply click the button below and tell us your experience.</p>
    </span>
    <a class="btn btn-success hidden-phone hidden-tablet" href="javascript:void(0)" onClick="userSubmit();">Submit a trouble spot</a>
</div>

<div id="data-map-info"></div>

<div id="data-user-submit">
    <div class="row-fluid">
        <div class="span12">

            <!-- begin form container -->
            <div class="ss-form">

                <script type="text/javascript">var submitted=false;</script>
                <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='http://projects.scpr.org/static/maps/pedestrian-safety/'; alert('Thank you for your submission. You may need to refresh the page to see it appear.');}"></iframe>

                <!-- begin form -->
                <form action="https://docs.google.com/spreadsheet/formResponse?formkey=dHQ1QlQwU1lVNHRRZGVQa25SQ3IxRmc6MQ&amp;ifq" method="POST" target="hidden_iframe" id="commentForm" onsubmit="submitted=true;">

                    <div class="errorbox-good">
                        <div dir="ltr" class="ss-item  ss-text">
                            <div class="ss-form-entry">
                                <label class="ss-q-title" for="entry_1">
                                    <div class="ss-q-title"><strong>What&#39;s your name? (Required)</strong></div>
                                </label>
                                <input type="text" name="entry.0.single" value="" class="ss-q-short" id="entry_0">
                            </div>
                        </div>
                    </div>
                    <div class="errorbox-good">
                        <div dir="ltr" class="ss-item  ss-text">
                            <div class="ss-form-entry">
                                    <div class="ss-q-title"><strong>Are you a walker or a biker? (Required)</strong></div>
                                    <label class="ss-q-item-label" for="entry_1813095312">You can select both</label>
                                    <div class="ss-q-help" dir="ltr"></div>
                                </label>
                                <ul class="ss-choices">
                                    <li class="ss-choice-item"><label class="ss-choice-label"><input type="checkbox" name="entry.1.group" value="Pedestrian" class="ss-q-checkbox" id="group_1_1"> Pedestrian</label></li>
                                    <li class="ss-choice-item"><label class="ss-choice-label"><input type="checkbox" name="entry.1.group" value="Cyclist" class="ss-q-checkbox" id="group_1_2"> Cyclist</label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="errorbox-good">
                        <div dir="ltr" class="ss-item  ss-text">
                            <div class="ss-form-entry">
                                <div class="ss-q-title"><strong>Which intersection or address is dangerous?</strong></div>
                                <label class="ss-q-help">Be as specific as possible, please.</label>
                                <input type="text" name="entry.2.single" value="" class="ss-q-short" id="entry_2">
                            </div>
                        </div>
                    </div>
                    <div class="errorbox-good">
                        <div dir="ltr" class="ss-item  ss-paragraph-text">
                            <div class="ss-form-entry">
                            <label class="ss-q-item-label" for="entry_1415297817">
                                <div class="ss-q-title"><strong>Tell us, in short, what the issue is there or your story.</strong></div>
                            </label>
                            <textarea name="entry.3.single" rows="8" cols="95" class="input-large ss-q-long" id="entry_3"></textarea>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="draftResponse" value="[]">
                    <input type="hidden" name="pageHistory" value="0">

                <div class="ss-form-entry">
                    <input class="btn btn-success" type="submit" name="submit" value="Submit">
                    <a class="btn btn-danger" href="javascript:void(0)" onclick="mapIntro();">Cancel</a>
                </div>

                </form>
                <!-- end form -->

            </div>
            <!-- end form container -->

        </div>
    </div>
</div>