<!-- begin data footer -->
<div id="data-footer">
<p><span class="normal-display"><strong>Sources: </strong><a href="http://www.treasurer.ca.gov/">Los Angeles Mayor's Office</a></span><br />
<span class="normal-display"><strong>Credits: </strong><a href="http://www.scpr.org/about/people/staff/chris-keller" target="_blank">Chris Keller</a> &amp; <a href="http://www.scpr.org/about/people/staff/kim-bui" target="_blank">Kim Bui</a></span><br />
<span class="small-display">Built using <a href="http://support.google.com/fusiontables?hl=en">Fusion Tables</a> and <a href="http://handlebarsjs.com/">handlebars.js</a></span></p>
</div>
<!-- end data footer -->