<!--

    <div class='well'>
        <h4>Enter your address or <a id='find_me' href='#'>use location</a></h4>
        <form class="form-inline">
            <input class='input-block-level' id='search_address' placeholder='Enter an address or an intersection' type='text' />
            <label>within
                <select class='input-small' id='search_radius'>
                    <option value='3218'>2 miles</option>
                    <option value='8047'>5 miles</option>
                    <option value='16093'>10 miles</option>
                </select>
            </label>

            <input class='btn btn-success' id='search' type='button' value='Search' />
            <button class='btn' id='reset'>Reset</button>
        </form>

        <form class="form-inline">
            <h4>Filter by language</h4>
                <label class='checkbox inline'><input type='checkbox' id='cbType1' checked/>Positive</label>
                <label class='checkbox inline'><input type='checkbox' id='cbType1' checked/>Negative</label>
        </form>
    </div>

-->