<div id="content-article">
    <h4 class="kicker">Politics</h4>
    <h1>Tell us about your voting experience</h1>
    <div id="content-article-text">
        <p>As you head to the polls today, we want to know what your voting experience was like.</p>
        <ul>
            <li>Was there a wait?</li>
            <li>Were you prevented from voting?</li>
            <li>Was a simple or complicated process?</li>
        </ul>
    </div>
    <div id="content-article-buttons">
        <a class="btn btn-info" href="#">Read More</a>
        <a class="btn btn-success hidden-phone hidden-tablet" id="showmodule" href="#" onclick="userSubmit();">Submit an issue</a>
    </div>
</div>

<div id="data-user-submit"></div>

<div id="content-display"></div>