<!-- begin modal box -->
<div id="popupContent" class="modal hide fade">

    <!-- begin modal header -->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Change/update school information</h3>
    </div>
    <!-- end modal header -->

    <!-- begin modal body -->
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <p>KPCC will verify all submissions with the <a href="http://www.cde.ca.gov/" target="blank">California Department of Education</a>. Only immersion programs registered with the state will be included on the map. A school can register with CDE <a href="http://www.cde.ca.gov/sp/el/ip/2wayschlprofile.asp" target="_blank">here</a>.</p>

                <!-- begin form container -->
                <div class="ss-form">

                    <script type="text/javascript">var submitted=false;</script>
                    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='/'; alert('Thank you for your submission');}"></iframe>

                    <!-- begin form -->
                    <form action="https://docs.google.com/spreadsheet/formResponse?formkey=dFBXcktxUFBfb0xIYXdIV2VsQUJMZEE6MQ&amp;ifq" method="POST" target="hidden_iframe" id="commentForm" onsubmit="submitted=true;">

                        <div class="errorbox-good">
                            <div dir="ltr" class="ss-item  ss-text">
                                <div class="ss-form-entry">
                                    <label class="ss-q-title" for="entry_1">
                                        <div class="ss-q-title"><strong>Polling Location</strong></div>
                                    </label>
                                    <input type="text" name="entry.1.single" value="" class="ss-q-short" id="entry_1">
                                </div>
                            </div>
                        </div>
                        <div class="errorbox-good">
                            <div dir="ltr" class="ss-item  ss-text">
                                <div class="ss-form-entry">
                                    <label class="ss-q-item-label" for="entry_637421028">
                                        <div class="ss-q-title"><strong>Your Hometown</strong></div>
                                    </label>
                                    <input type="text" name="entry.4.single" value="" class="ss-q-short" id="entry_4">
                                </div>
                            </div>
                        </div>

                        <div class="errorbox-good">
                            <div dir="ltr" class="ss-item  ss-text">
                                <div class="ss-form-entry">
                                    <label class="ss-q-item-label" for="entry_1813095312">
                                        <div class="ss-q-title"><strong>Describe Your Voting Experience?</strong></div>
                                        <div class="ss-q-help" dir="ltr"></div>
                                    </label>
                                    <select name="entry.6.single" id="entry_6">
                                        <option value="Positive">Positive</option>
                                        <option value="Negative">Negative</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="errorbox-good">
                            <div dir="ltr" class="ss-item  ss-paragraph-text">
                                <div class="ss-form-entry">
                                <label class="ss-q-item-label" for="entry_1415297817">
                                    <div class="ss-q-title"><strong>What Made You Feel That Way?</strong></div>
                                </label>
                                <textarea name="entry.2.single" rows="8" cols="95" class="input-large ss-q-long" id="entry_2"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="errorbox-good">
                            <div dir="ltr" class="ss-item  ss-text">
                                <div class="ss-form-entry">
                                    <label class="ss-q-title" for="entry_1">
                                        <div class="ss-q-title"><strong>Your Name</strong></div>
                                    </label>
                                    <input type="text" name="entry.3.single" value="" class="ss-q-short" id="entry_3">
                                </div>
                            </div>
                        </div>
                        <div class="errorbox-good">
                            <div dir="ltr" class="ss-item  ss-text">
                                <div class="ss-form-entry">
                                    <label class="ss-q-item-label" for="entry_637421028">
                                        <div class="ss-q-title"><strong>Your Email</strong></div>
                                    </label>
                                    <input type="text" name="entry.5.single" value="" class="ss-q-short" id="entry_5">
                                </div>
                            </div>
                        </div>

                    <input type="hidden" name="draftResponse" value="[]">
                    <input type="hidden" name="pageHistory" value="0">

                    <div class="ss-form-entry">
                        <input class="btn btn-success" type="submit" name="submit" value="Submit">
                        <input class="btn btn-danger" type="submit" data-dismiss="modal" value="Cancel">
                    </div>


                    </form>
                    <!-- end form -->

                </div>
                <!-- end form container -->

            </div>
        </div>
    </div>
    <!-- end modal body -->

</div>
<!-- end modal box -->