<h4 class="kicker">Politics</h4>
<h1>Tell us about your voting experience</h1>

<div class="accordion" id="view_accordion">
    <div class="accordion-group">
        <div class="accordion-heading"></div>
            <div class="accordion-body in collapse" id="collapse-fields" style="height: auto;">
                <div class="accordion-inner">
                    <div id="content-article-text">
                        <p>As you head to the polls today, we want to know what your voting experience was like.</p>
                        <ul>
                        <li>Was there a wait?</li>
                        <li>Were you prevented from voting?</li>
                        <li>Was a simple or complicated process?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div id="content-article-buttons">
    <a class="btn btn-info" href="http://projects.scpr.org/bilinguallearning/">Read More</a>
    <a class="btn btn-primary hidden-phone" href="#" data-toggle="collapse" data-target="#collapse-fields" data-on-hidden="About This" data-on-active="Hide This" onclick="alterDisplayDetails();">Hide This</a>
    <a href="#" class="btn btn-success hidden-phone hidden-tablet" onclick="clickModal();">Submit</a>
</div>
-->

<div id="content-display"></div>