<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="content-map-data">
            <div class="content-legend-data">
                <div class="content-feature-data">
                    <div class='pull-left'>
                        <h5>Hover over a county to see the latest whooping cough case rates in California</h5>
                        <h6>&nbsp;</h6>
                    </div>
                </div>
                <div class="radiobutton">
                        <input type="radio" checked="true" name="year" id="layer2014"> <span> 2014</span></input>
                        <input type="radio" name="year" id="layer2013"> <span> 2013</span></input>
                        <input type="radio" name="year" id="layer2012"> <span> 2012</span></input>
                        <input type="radio" name="year" id="layer2011"> <span> 2011</span></input>
                        <input type="radio" name="year" id="layer2010"> <span> 2010</span></input>
                </div>
                <table id="data-legend" class="table table-striped">
                    <tbody>
                        <tr id="legend-colors"></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="content-map-canvas" class="initial"></div>
    </div>
</div>