<div id="article-header">
    <h4 class="kicker">California Gun Transactions</h4>
    <h1>Calif. gun transactions at highest level since '91, still rising</h1>

    <p>The state processed more applications to buy guns in 2012 -- in excess of 800,000 -- than at any time since the <a href="http://oag.ca.gov/">California Department of Justice</a> began its current regimen of record-keeping in 1991, according to DOJ data.</p>

    <p>Moreover, the number of applications has risen in all but two years dating back to 2004.</p>

    <p>In 2012, the California Department of Justice processed 817,748 applications to purchase a firearm, spokesperson Michelle Gregory said. A breakdown of handgun and rifle/shotgun transactions won't be available until later next month, she said.</p>

    <p>The increase of 216,505 transactions (36.01 percent) over 2011 was the largest year-to-year increase since 1999 when the figure jumped by 170,878 transactions (49.89 percent) over the prior year, according to the <a href="http://oag.ca.gov/sites/all/files/pdfs/firearms/forms/dros_chart.pdf?">state's data</a>.</p>

    <p>The largest decrease since 1991 came in 1995, the first full year after the <a href="http://www.fbi.gov/about-us/cjis/nics/general-information/nics-overview">Brady Handgun Violence Prevention Act</a> went into effect.The state recorded 411,668 transactions, a decrease of 31.35 percent over the prior year.</p>

    <p>Legal purchases or transfers of firearms in California must be made through a licensed firearms dealer following a process known as the <a href="http://oag.ca.gov/firearms/pubfaqs#3">Dealer Record of Sale or DROS</a>. This includes purchases made at gun shows or transactions between private individuals.</p>

    <p>An indvidual must provide a valid driver's license or ID card issued by the <a href="http://www.dmv.ca.gov/portal/home/dmv.htm">state Department of Motor Vehicles</a> or a military ID combined with paperwork that shows the individual is posted to duty in California. Those purchasing handguns also must show proof of state residency.</p>

    <p>Once these requirements are fulfilled, the transaction is processed electronically through the <a href="http://oag.ca.gov/">state Department of Justice</a> and the FBI's <a href="http://www.fbi.gov/about-us/cjis/nics">National Instant Criminal Background Check System</a>.</p>

    <!-- <a class="btn btn-info" href="#">Read More</a> -->
</div>