<div id="article-header">
    <h4 class="kicker">State Gun Laws</h4>
    <h1>State firearm transactions have increased nine of the past 10 years</h1>

    <p>The number of Californians attempting to purchase guns last year increased for the ninth time in the past 10 years. The California Department of Justice processed 817,748 transactions last year, spokesperson Michelle Gregory said.</p>

    <p>The increase of 216,505 transactions over 2011 was the largest year-to-year increase since 1999, when the figure jumped by 170,878, according to the <a href="http://oag.ca.gov/sites/all/files/pdfs/firearms/forms/dros_chart.pdf?">state's data</a>.</p>

    <p>Legal purchases or transfers of firearms in California must be made through a licensed firearms dealer following a process known as the <a href="http://oag.ca.gov/firearms/pubfaqs#3">Dealer Record of Sale or DROS</a>. This includes purchases made at gun shows or transactions between private individuals.</p>

    <p>Among the requirements of the DROS process, an indvidual must provide a valid driver's license or ID card issued by the <a href="http://www.dmv.ca.gov/portal/home/dmv.htm">state Department of Motor Vehicles</a> or a military ID and paperwork that shows the individual is posted to duty in California. Those purchasing handguns also must show proof of state residency.</p>

    <p>Once these requirements are fulfilled, the transaction is processed electronically through the <a href="http://oag.ca.gov/">state Department of Justice</a> and the FBI's <a href="http://www.fbi.gov/about-us/cjis/nics">National Instant Criminal Background Check System</a>.</p>

        <!-- <a class="btn btn-info" href="#">Read More</a> -->
</div>