<p><span class="data-instructions"><strong>About this chart</strong>: This chart shows the number of <a href="http://caag.state.ca.us/firearms/forms/pdf/dros2000.pdf">Dealer Record of Sale of Firearm Worksheet</a> transactions processed by the <a href="http://oag.ca.gov/">California Department of Justice</a>.</p>

<div id="data-chart"></div>

<!--
<div class="offset4 span4">
    <table class="table table-bordered table-striped centered">
        <thead>
            <tr>
                <th>Year</th>
                <th>Transactions</th>
                <th>Denials</th>
                <th>Percent Denied</th>
            </tr>
        </thead>
        <tbody>
            {{#objects}}
                <tr>
                    <td>{{Year}}</td>
                    <td>{{addCommas Dros_total_transactions}}</td>
                    <td>{{addCommas Dros_total_denials}}</td>
                    <td>{{Percent_denied}}</td>
                </tr>
            {{/objects}}
        </tbody>
    </table>
</div>
-->