#header {margin:15px 0 0 0;}
h4#kicker {letter-spacing: 0.03em; font-size:12px; text-transform:uppercase; color:black; display:block; margin:0 0 5px 0;}
h1#title {margin:0 0 5px 0; font-size:28px;}
table td { background:#fff;}
table th { font-weight: bold; }
table td, table th { padding: 9px 10px; text-align: left; }

body.minimal {
    background:url('https://projects.scpr.org/static-files/images/tablestacker-tables/bg-body.png') repeat 0 0;
}
body.minimal header {
    background:#fff;
    box-shadow:0 0 8px rgba(0,0,0,0.7);
    height:auto;
    margin:0 0 40px;
}
body.minimal header h3#site-title a {
    background-image:url('https://projects.scpr.org/static-files/images/main/logo-masthead.png');
    width:181px;
    height:42px;
}
body.minimal, body.minimal p, h1, h2, h3, h4, h5, h6 {
    font-family:"proxima nova", sans-serif;
}
h1#title {
    font-size:36px;
    font-weight:800;
}
body.minimal hr {
    background-color:#ccc;
    border-bottom:1px solid #fff;
    height:1px;
}
body.minimal p {
    font-size:15px;
    font-weight:400;
}
body.minimal .header-links {
    margin-bottom:10px;
}
body.minimal .header-links li {
    border-right:1px solid #e9e9e9;
    display:block;
    float:left;
    list-style:none;
    padding:8px 18px 0;
}
    body.minimal .header-links li:last-child {
        border:0;
        padding-right:0;
    }
    body.minimal .header-links b, body.minimal .header-links a {
        color:#454545;
        font-size:12px;
    }
    body.minimal .header-links b {
        display:block;
    }
    body.minimal .header-links a.icon {
        display:block;
        text-indent:-9999px;
    }
    body.minimal .header-links a.icon:hover {
        opacity:0.7;
    }
        body.minimal .header-links a.pledge-now {
            background:url('https://projects.scpr.org/static-files/images/tablestacker-tables/ico-pledge.png') no-repeat 0 0;
            margin:0 auto;
            width:31px;
            height:22px;
        }
        body.minimal .header-links .share-links {
            width:63px;
            margin:0 auto;
        }
        body.minimal .header-links a.facebook {
            background:url('https://projects.scpr.org/static-files/images/tablestacker-tables/ico-facebook.png') no-repeat 0 0;
            display:block;
            float:left;
            margin-right:10px;
            width:22px;
            height:22px;
        }
        body.minimal .header-links a.twitter {
            background:url('https://projects.scpr.org/static-files/images/tablestacker-tables/ico-twitter.png') no-repeat 0 0;
            display:block;
            float:left;
            width:31px;
            height:22px;
        }

/* Responsive Table Styles */
table.responsive thead tr {background:#2e2e2e;color:#fff;}

    /* Responsive Tables Mobile Styles */
    @media only screen and (max-width: 767px) {
    	table.responsive { margin-bottom: 0; }
    	table.responsive td {background:transparent;}
    	.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
    	.pinned table { border-right: none; border-left: none; width: 100%; }
    	.pinned table th, .pinned table td { white-space: nowrap; }
    	.pinned td:last-child { border-bottom: 0; }

    	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
    	div.table-wrapper div.scrollable table { margin-left: 35%; }
    	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }

    	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
    	table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }

    }


/* Bullet graphs */
#table_fu div.bullet-graph-wrap { position: relative; width: 100%; height: 21px; top: 0; left: 0; margin: 0; padding: 0; }
#table_fu div.bullet-graph-box1 { position: absolute; height: 20px; width: 30%; left: 0; background-color: #eeeeee; z-index: 1; font-size: 0; }
#table_fu div.bullet-graph-box2 { position: absolute; height: 20px; width: 30%; left: 30%; background-color: #dddddd; z-index: 1; font-size: 0; border:1px solid #CCC; }
#table_fu div.bullet-graph-box3 { position: absolute; height: 20px; width: 30%; left: 60%; background-color: #bbbbbb; z-index: 1; font-size: 0; }
#table_fu div.bullet-graph-box4 { position: absolute; height: 20px; width: 10%; left: 90%; background-color: #bbbbbb; z-index: 1; font-size: 0; }
#table_fu div.bullet-graph-target { position: absolute; height: 21px; width: 2px; left: 32px; top: 0; background-color: #cc0000; z-index: 7; font-size: 0; }
#table_fu div.bullet-graph-actual { position: absolute; height: 8px; left: 0px; top: 7px; background-color: #000000; font-size: 0; z-index: 5; font-size: 0; }

#table_fu div{}
#table_fu div#legend {float:left; margin-bottom:10px; margin-top:-5px;}
#table_fu div#ribbon {clear: both; display: block; overflow:visible;}
#table_fu #download {font-size:12px; margin-top:7px; margin-bottom:0px; display: inline; float: right;}
#table_fu #pubdate { color:#930000; font-style:italic; font-size:11px; margin-bottom:0px; display:inline;}
#table_fu #pager form{margin-top: 5px;}
#table_fu .open-source {font-size: 10px;}
#table_fu input[type="text"] {display: inline-block; height: 20px; padding: 4px 6px; margin-bottom: 10px; font-size: 14px; line-height: 20px; color: #555555; vertical-align: middle; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
#table_fu .input-medium {width: 150px;}
#table_fu input.search-query {padding-right: 14px; padding-right: 4px \9; padding-left: 14px; padding-left: 4px \9;
margin-bottom: 0; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;}
