/* basic structure */
.data-container .data-visuals {margin: 20px auto 5px auto;}

.data-container .data-legend {width: 100%; height: auto; margin: 10px 0 5px 0;}

.data-container .data-legend .jumbotron {width: 100%; height: auto; background: rgba(240, 248, 255, 1.0); margin: 10px 0% 10px 0%; padding: 10px; overflow: hidden;}

.data-container .data-legend .jumbotron .centered {text-align: center;}

/*.data-legend #content-action-bar select {width: 30%; margin: 0 35% 0 35%; border: 1px solid #2B2B2B; border-radius: 0; -webkit-appearance: none; appearance: none; cursor: pointer; display: inline-block; margin: 0 auto;
    padding: 10px;}*/

.data-legend #content-action-bar select {width: 60%; margin: 0 20% 0 20%; cursor: pointer; display: inline-block;}

.data-legend #content-action-bar select:focus {outline: 0;}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    /*.data-legend #content-action-bar select {background: url(../images/select-arrow.png) 95% 50% no-repeat;}*/
}

.data-legend #results-display {width: 70%; margin: 25px 15% 0 15%;}

.data-legend #icon-display {margin: 25px 0 0 0;}

@media (max-width: 491px) {
    body.minimal .data-container h4 {font-size: 175%;}
    body.minimal .data-container h5 {font-size: 130%;}
    body.minimal .data-container h6 {font-size: 95%;}
    .data-container .data-legend .jumbotron ul li {font-size: 65%;}
    .data-container .data-legend #icon-display .placemark {width: 45px; vertical-align: text-bottom;}
    .data-container .data-legend #icon-display p {font-size: 65%;}
}

@media (min-width: 491px) {
    body.minimal .data-container h4 {font-size: 175%;}
    body.minimal .data-container h5 {font-size: 130%;}
    body.minimal .data-container h6 {font-size: 95%;}
    .data-container .data-legend .jumbotron ul li {font-size: 65%;}
    .data-container .data-legend #icon-display .placemark {width: 45px; vertical-align: text-bottom;}
    .data-container .data-legend #icon-display p {font-size: 65%;}
}

@media (min-width: 567px) {
    body.minimal .data-container h4 {font-size: 200%;}
    body.minimal .data-container h5 {font-size: 150%;}
    body.minimal .data-container h6 {font-size: 115%;}
    .data-container .data-legend .jumbotron ul li {font-size: 65%;}
    .data-container .data-legend #icon-display .placemark {width: 45px; vertical-align: text-bottom;}
    .data-container .data-legend #icon-display p {font-size: 75%;}
}

@media (min-width: 768px) {
    body.minimal .data-container h4 {font-size: 200%;}
    body.minimal .data-container h5 {font-size: 150%;}
    body.minimal .data-container h6 {font-size: 115%;}
    .data-container .data-legend .jumbotron ul li {font-size: 65%;}
    .data-container .data-legend #icon-display .placemark {width: 45px; vertical-align: text-bottom;}
    .data-container .data-legend #icon-display p {font-size: 75%;}
}

@media (min-width: 830px) {
    body.minimal .data-container h4 {font-size: 200%;}
    body.minimal .data-container h5 {font-size: 150%;}
    body.minimal .data-container h6 {font-size: 115%;}
    .data-container .data-legend .jumbotron ul li {font-size: 65%;}
    .data-container .data-legend #icon-display .placemark {width: 45px; vertical-align: text-bottom;}
    .data-container .data-legend #icon-display p {font-size: 75%;}
}

@media (min-width: 992px) {
    body.minimal .data-container h4 {font-size: 250%;}
    body.minimal .data-container h5 {font-size: 180%;}
    body.minimal .data-container h6 {font-size: 145%;}
    .data-container .data-legend .jumbotron ul li {font-size: 65%;}
    .data-container .data-legend #icon-display .placemark {width: 60px; vertical-align: text-bottom;}
    .data-container .data-legend #icon-display p {font-size: 90%;}
}