.ct-chart .ct-label, .ct-chart .ct-label.ct-horizontal {
    display: block;
    width: 100%;
    height: 100%;
    fill: rgba(43, 43, 43, .7);
    color: rgba(43, 43, 43, .7);
    font-size: 1.2rem;
    font-weight: 700;
    text-align: left;
}

.ct-chart .ct-label.ct-vertical {
    display: block;
    width: 100%;
    height: 100%;
    fill: rgba(43, 43, 43, .7);
    color: rgba(43, 43, 43, .7);
    font-size: 1.2rem;
    font-weight: 700;
    text-align: right;
}

.ct-chart .ct-grid {
    stroke: rgba(43, 43, 43, .7);
    stroke-width: 1px;
    stroke-dasharray: 1px;
}
.ct-chart .ct-point {
    stroke-width: 10px;
    stroke-linecap: round;
}
.ct-chart .ct-line {
    fill: none;
    stroke-width: 4px;
}

.ct-chart .ct-series.ct-series-a .ct-bar, .ct-chart .ct-series.ct-series-a .ct-line, .ct-chart .ct-series.ct-series-a .ct-point, .ct-chart .ct-series.ct-series-a .ct-slice.ct-donut {
    stroke: rgba(31, 120, 180, .7);
}

.ct-chart .ct-series.ct-series-a .ct-area, .ct-chart .ct-series.ct-series-a .ct-slice:not(.ct-donut) {
    fill: rgba(31, 120, 180, .7);
}

.ct-chart .ct-series.ct-series-b .ct-bar, .ct-chart .ct-series.ct-series-b .ct-line, .ct-chart .ct-series.ct-series-b .ct-point, .ct-chart .ct-series.ct-series-b .ct-slice.ct-donut {
    stroke: rgba(31, 120, 180, .7);
}

.ct-chart .ct-series.ct-series-b .ct-area, .ct-chart .ct-series.ct-series-b .ct-slice:not(.ct-donut) {
    fill: rgba(31, 120, 180, .7);
}

.tooltip {
    position: absolute;
    z-index: 1;
    padding: 5px;
    background: rgba(0, 0, 0, 1.0);
    opacity: 1;
    border-radius: 3px;
    text-align: center;
    pointer-events: none;
    color: white;
    font: 100%/1.5 "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    transition: opacity .1s ease-out;
}

.tooltip.tooltip-hidden {
    opacity: 0;
}