<div class="row-fluid">
    <div class="span12">

        <!-- begin form container -->
        <div class="ss-form">

            <script type="text/javascript">var submitted=false;</script>
            <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='https://projects.scpr.org/maps/election-day-voting-issues'; alert('Thank you for your submission. You may need to refresh the page to see it appear.');}"></iframe>

            <!-- begin form -->
            <form action="https://docs.google.com/spreadsheet/formResponse?formkey=dFBXcktxUFBfb0xIYXdIV2VsQUJMZEE6MQ&amp;ifq" method="POST" target="hidden_iframe" id="commentForm" onsubmit="submitted=true;">

                <div class="errorbox-good">
                    <div dir="ltr" class="ss-item  ss-text">
                        <div class="ss-form-entry">
                            <label class="ss-q-title" for="entry_1">
                                <div class="ss-q-title"><strong>Polling location (Required)</strong></div>
                            </label>
                            <input type="text" name="entry.1.single" value="" class="ss-q-short" id="entry_1">
                        </div>
                    </div>
                </div>
                <div class="errorbox-good">
                    <div dir="ltr" class="ss-item  ss-text">
                        <div class="ss-form-entry">
                            <label class="ss-q-item-label" for="entry_1813095312">
                                <div class="ss-q-title"><strong>Describe Your Experience <br /> While Voting (Required)</strong></div>
                                <div class="ss-q-help" dir="ltr"></div>
                            </label>
                            <select name="entry.6.single" id="entry_6">
                                <option value="Positive">Positive</option>
                                <option value="Negative">Negative</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="errorbox-good">
                    <div dir="ltr" class="ss-item  ss-paragraph-text">
                        <div class="ss-form-entry">
                        <label class="ss-q-item-label" for="entry_1415297817">
                            <div class="ss-q-title"><strong>What Made You Feel That Way?</strong></div>
                        </label>
                        <textarea name="entry.2.single" rows="8" cols="95" class="input-large ss-q-long" id="entry_2"></textarea>
                        </div>
                    </div>
                </div>
                <div class="errorbox-good">
                    <div dir="ltr" class="ss-item  ss-text">
                        <div class="ss-form-entry">
                            <label class="ss-q-title" for="entry_1">
                                <div class="ss-q-title"><strong>Your Name</strong></div>
                            </label>
                            <input type="text" name="entry.3.single" value="" class="ss-q-short" id="entry_3">
                        </div>
                    </div>
                </div>
                <div class="errorbox-good">
                    <div dir="ltr" class="ss-item  ss-text">
                        <div class="ss-form-entry">
                            <label class="ss-q-item-label" for="entry_637421028">
                                <div class="ss-q-title"><strong>Your Email</strong> (Won't be published)</div>
                            </label>
                            <input type="text" name="entry.5.single" value="" class="ss-q-short" id="entry_5">
                        </div>
                    </div>
                </div>
                <div class="errorbox-good">
                    <div dir="ltr" class="ss-item  ss-text">
                        <div class="ss-form-entry">
                            <label class="ss-q-item-label" for="entry_637421028">
                                <div class="ss-q-title"><strong>City</strong> (Won't be published)</div>
                            </label>
                            <input type="text" name="entry.4.single" value="" class="ss-q-short" id="entry_4">
                        </div>
                    </div>
                </div>
            <input type="hidden" name="draftResponse" value="[]">
            <input type="hidden" name="pageHistory" value="0">

            <div class="ss-form-entry">
                <input class="btn btn-success" type="submit" name="submit" value="Submit">
                <a class="btn btn-danger" onclick="mapIntro();">Cancel</a>
            </div>

            </form>
            <!-- end form -->

        </div>
        <!-- end form container -->

    </div>
</div>
