<div id="content-article-text">
    <p>Did you vote today? Good for you! Please tell us about it. KPCC wants to collect voter experiences this Election Day, map them and share them with our audience. Please take a moment to input your experience.</p>
    <ul>
        <li>Did you have any problems or did everything go smoothly?</li>
        <li>Was there much of a wait?</li>
        <li>Did anyone try to prevent you from voting?</li>
        <li>Did you see campaigning at the polling place?</li>
        <li>Would you like to say something nice about the poll workers?</li>
    </ul>
    <p>Anything you say will help inform the experience of voting in Southern California today. And thanks for keeping in touch with KPCC.</p>
</div>
<div id="content-article-buttons">
    <a class="btn btn-info" href="#">Read More</a>
    <a class="btn btn-success" id="showmodule" href="#" onclick="userSubmit();">Submit an issue</a>
</div>
<div id="data-user-submit"></div>
<div id="content-display"></div>