<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jumbotron">
        <noscript>Please enable JavaScript to view this interactive.</noscript>
        <h6>What kind of static map would you like to generate</h6>
        <select id="map-type-list">
            <option>-- Select a map type --</option>
            <option value="point-map">Point map</option>
            <!--
            <option value="line-map">Line map</option>
            <option value="polygon-map">Polygon map</option>
            -->
        </select>
        <div class="content-map-data"></div>
    </div>
</div>