<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Tools</h4>
            <h1>Google Static Maps generator</h1>
        </div>
        <div class="text">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Published Aug. 5, 2014</span></p>
            <p>Use this tool to create a static point map image that can be uploaded into assethost and used in a news story or a post.</p>
        </div>
    </div>
</div>