<form id="submission-form" class="form-inline" role="form">
    <div class="row">
        <div id="form-controls">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <input type="text" class="form-control" id="addressSearch" placeholder="Start typing your address...">
                <button type="button" class="btn btn-primary btn-group btn-group-justified" id="submit">Generate the map!</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <input type="text" class="form-control" name="lat" id="latitudeSearch">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <input type="text" class="form-control" name="lng" id="longitudeSearch">
        </div>
    </div>
</form>
