#data-map-canvas {width: 100%; height: 700px; margin: 10px 0 10px 0;}

#map-data-action {width: 100%; height: 35px; text-align: center;}

#map-data-details {width: 100%; margin: 25px auto 0 auto;}

.data-shown {}

.data-hidden {display: none;}