<div class="row-fluid">
    <div class=span12">
        <div id="article-footer">
            <div id="embed-this"></div>

            <div id="sources"></div>

            <div id="credits">
            <p class="normal-display"><strong>Credits: </strong><a href="http://www.scpr.org/about/people/staff/chris-keller" target="_blank">Chris Keller</a> &amp; <a href="http://www.scpr.org/about/people/staff/wendy-lee" target="_blank">Wendy Lee</a>.</p>
            </div>

            <div id="open-source">
            <p class="small-display">Built using <a href="https://github.com/jsoma/tabletop">tabletop.js</a>, <a href="http://handlebarsjs.com/">handlebars.js</a>, <a href="https://github.com/elving/swag" target="blank">swag.js</a> &amp; <a href="http://twitter.github.com/bootstrap/" target="blank">bootstrap</a>.</p>
            </div>
        </div>
    </div>
</div>