<div id="content-article-text">
    <div class="row-fluid">
        <h4 class="kicker">Economy</h4>
        <h1>Timeline: Sequestration Cuts</h1>
            <div id="content-article-text">
<!--
                <p>This curated timeline tracks events and coverage in connection with the week-long search for 33-year-old murder suspect and ex-LAPD police officer Christopher Dorner.</p>
                <p>If you know of other information that should be included in this timeline <a href="mailto:plee@scpr.org?subject=KPCC's Christopher Dorner Timeline">send us an email</a>. Also we invite you to join the discussion about these events at <a href="https://www.facebook.com/kpcc" target="blank">KPCC's Facebook page</a>.</p>
-->
            </div>
<!--
        <a class="btn btn-info" href="http://www.scpr.org/manhunt">Click for Complete Coverage</a>
-->
        <!-- thanks for setting the standard Mr. John Keefe -->
<!--
        <span class="hidden-tablet hidden-phone btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed This Timeline</span>
-->
    </div>
</div>