<div id="content-article-text">
    <div class="row-fluid">
        <h4 class="kicker">The Sequester</h4>
        <h1>Timeline: What to expect and <br /> when to expect it</h1>
            <div id="content-article-text">
                <p>Simply, "the sequester" is a collection of cuts in federal spending that are fixed to fire on Mar. 1. For all the warnings and nail biting, no one really knows how bad they're going to be — much of the scenario planning and guesswork is penciled in with approximate timeframes and speculated figures.</p>
                <p>Sometime before midnight on Friday, President Obama is expected to issue a sequestration order. At that point, Congress will be notified and federal agencies will activate their reduced-funding operation plans. Short of aborting the entire sequester plan or striking a behemoth deficit deal, some version of this will happen.</p>
            </div>
<!--
        <a class="btn btn-info" href="#">Click for Complete Coverage</a>
-->
        <!-- thanks for setting the standard Mr. John Keefe -->
        <span class="hidden-tablet hidden-phone btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed This Timeline</span>
    </div>
</div>