{{#objects}}
    <p>In <strong>{{year}}</strong>, the California Department of Corrections and Rehabilitation housed <strong>{{prisonpopulation}}</strong> prisoners, <strong>{{numberofsuicides}}</strong> of whom committed suicide, for a <strong>{{percapitasuiciderate}}</strong> prisoners.</p>
{{/objects}}