<div id="content-article">
    <h4 class="kicker">Timelime</h4>
    <h1>A look back at the Iraq War, 2003-2011</h1>

    <div id="content-article-text">
        <p>A decade ago this month, the United States and coalition forces invaded Baghdad and continued their military presence in Iraq until the end of 2011. As KPCC reflects on this eight-year occupation of the country, we track the major milestones of the combat, the capture and trial of Saddam Hussein and restoration of Iraqi power.</p>
    </div>

    <div id="content-article-buttons">
        <a class="btn btn-info" href="http://www.scpr.org/iraq">Read More</a>

        <!-- thanks for setting the standard Mr. John Keefe -->
        <span class="hidden-tablet hidden-phone btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed This Timeline</span>
    </div>
</div>