.row-fluid { width: 100%; zoom: 1; }
h1 { font-size: 50px; line-height: 62px; }
h1+p { color: #444; font-size: 18px; line-height: 1.8em; }
p strong { color: #444; font-family: "proxima-nova"; font-size: 18px; }
a.fa { font-family: "proxima-nova" !important }
a.fa:before { font-family: FontAwesome; margin-right: 6px; }
.row-fluid .span24 { margin-left: 0; }
@media screen and (max-width: 1060px) {
    .row-fluid { width: 100%; }
    .row-fluid .span24 { margin-left: 0; }
}
@media screen and (max-width: 800px) {
    h1 { line-height: 55px; font-size: 55px; }
    .row-fluid .span24 { margin-left: 0 }
}
@media screen and (max-width: 400px) {
    .row-fluid .span24 { margin-left: 0; }
    h1 { line-height: 32px; font-size: 32px; }
    .hero-election .results .results-block .initiative { float: none !important; width: auto !important; }
}
.results-collection { border-bottom: 1px solid #333; }
.results-collection .results-block { display: none; }
.results-collection.active .results-block { display: block; }
.results-collection .collection-header { background: #000; font-size: 18px; padding: 10px; position: relative; text-transform: uppercase; color: #fff; }
.results-collection .collection-header:after { content: ""; display: block; width: 0; height: 0; border-style: solid; border-width: 7px 7.5px 0; border-color: #fff transparent transparent; position: absolute; right: 10px; top: 16px; }
.results-collection.active .collection-header:after { width: 0; height: 0; border-style: solid; border-width: 0 7.5px 7px; border-color: transparent transparent #fff; }
.results-collection .collection-header:hover { background: #111; color: #CB5F1D; cursor: pointer; }
.hero-election .results .results-block .initiative .result .yes strong { white-space: nowrap; }
.hero-election .results .results-block .initiative .result .yes strong span { color: #fff; }
.hero-election .election-header { background: #134b94 url('http://162.243.135.6/static/assets/elections-bg-header.jpg') no-repeat 0 0; border-bottom: 1px solid #115695; position: relative; text-align: center; }
.hero-election .results .results-block header { background: url('http://162.243.135.6/static/assets/elections-bg-subhead.png') repeat-x 0 0; position: relative; }
.hero-election .results { background: #2e2e2e; border-top: 1px solid #414141; color: #fff; }
.results-collection { border-bottom: 1px solid #333; }
.hero-election .header-well h2.callout-small { color: white; font-size: .7em; text-shadow: 0 -2px 0 rgba(0,0,0,0.67059); text-transform: uppercase; }
