
/* buttons nav */
.label { color: #27aad6; }
.buttons { width: 100%; height: 46px; margin-bottom: 30px; }
.buttons ul { list-style-type: none; display: flex; display: -webkit-flex; padding: 0px; }
.buttons ul li { border: 1px solid #27aad6; border-left: none; height: 32px; text-align: center; background-color: #ffffff; color: #27aad6; overflow: hidden; display: flex; display: -webkit-flex; align-items: center; justify-content: center; }
.buttons ul li.selected { background-color: #27aad6; color: #ffffff; }
.buttons ul li:first-child { border-right: 1px solid #27aad6; border-left: 1px solid #27aad6; }
.buttons ul li:hover { background-color: #27aad6; color: #ffffff; cursor: pointer; }
.buttons ul li a { display: block; }
.buttons ul li a:hover { text-decoration: none; color: #ffffff; }
.buttons ul li a span.label { font-size: 15px; line-height: 18px; font-style: normal; font-weight: 500; }
.buttons ul li.selected a span.label { color: #ffffff; }
.buttons ul li a span.label:hover { color: #ffffff; }
