<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="controls">
            <ul id="controls-stage-indicator" class="pagination pagination-lg"></ul>
        </div>

        <div id="slider"></div>

        <br />

        <div id="container">
            <div id="before"><img alt="before" class="responsive" src="http://a.scpr.org/i/fba19b1566bffd092b4305ebf9dd7a68/56578-wide.jpg" width="100%" height="366" /></div>
            <div id="after"><img alt="after" class="responsive" src="http://a.scpr.org/i/d06c1dc0808bfbf9433750e2bd172f63/71832-wide.jpg" width="100%" height="366" /></div>
        </div>

    </div>
</div>