<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="controls"></div>
        <div id="images-container">

            <div id="before"><img alt="before" src="http://a.scpr.org/i/21bf336f0dddef9b6774d00533fbe73d/72031-wide.jpg" width="1024px" height="683px" /></div>
            <div id="after"><img alt="after" src="http://a.scpr.org/i/138e0f735960e92a6e2fef9d84d2a305/72032-wide.jpg" width="1024px" height="683px" /></div>

        </div>
        <div id="captions-container">
            <div id="photo-credits">
                <p><span class="pull-left"><em>Cary Moore/Los Angeles Public Library</em></span><span class="pull-right"><em>Maya Sugarman/KPCC</em></span></p>
            </div>
            <p>Ara's Pastry located at the intersection of Hollywood Boulevard and Kenmore Avenue sustained damage in the Northridge earthquake. Two decades later, the building still stands at the location.</p>
        </div>
    </div>
</div>