<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="controls">
            <ul id="controls-stage-indicator" class="pagination pagination-lg"></ul>
        </div>

        <div id="slider"></div>

        <br />

        <div id="container">
            <div id="before"><img alt="before" class="responsive" src="http://a.scpr.org/i/21bf336f0dddef9b6774d00533fbe73d/72031-wide.jpg" width="620px" height="413px" /></div>
            <div id="after"><img alt="after" class="responsive" src="http://a.scpr.org/i/138e0f735960e92a6e2fef9d84d2a305/72032-wide.jpg" width="620px" height="413px" /></div>
        </div>

    </div>
</div>