<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="content-article">
            <div class="headlines">
                <h4 class="kicker">Education</h4>
                <h1>Your sentiments: Teacher protections ruled unconstitutional</h1>
            </div>
            <div class="text collapse">
                <p><span class="credits">Produced by Evie Liu &amp; <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Published June 10, 2014</span></p>
                <p>California teacher protections are unconstitutional, according to a ruling by a Los Angeles Superior Court judge on Tuesday. The ruling found that California teacher tenure, firing and discipline procedures are unconstitutional because they violate children’s right to an adequate education.</p>
                <p>What do you think? Do you agree with the ruling, and to you feel that teacher protections such as tenure are the cause of kids failing in school? Let us know by using the grid below to share your feelings on the subject.</p>
                <p>Click a point on the grid below and let us know how much you agree with the ruling, and if you think it has an influence on failing schools.</p>
                <p>For instance, if you agree with the ruling that California teacher protections are unconstitutional and they are the cause of failing students you would click a point in the upper right and submit your thoughts. Likewise, if you disagree with the ruling and do not feel teacher protections cause students to fail, click a point in the lower left of the grid.</p>
            </div>
            <div class="about collapse">
                <p><strong>Built using</strong> <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
            </div>
            <div class="buttons btn-group btn-group-justified">
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
                <a class="btn btn-primary" href="http://www.scpr.org/news/2014/06/10/44632/vergara-trial-calif-judge-could-change-teacher-job/"><span class="glyphicon glyphicon-link"></span> Read more</a>
            </div>
        </div>
    </div>
</div>