<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Politics</h4>
            <h1>Where Jimmy Gomez won the 34th Congressional District race</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/aaron-mendelson">Aaron Mendelson</a> | <span class="pubdate">Published June 7, 2017</span></p>

            <p>Jimmy Gomez beat Robert Lee Ahn in the 34th Congressional District runoff to win a seat vacated by Xavier Becerra. Gomez trounced Ahn by putting up big margins at precincts in East Los Angeles and Northeast Los Angeles. Ahn had strong support in Koreatown, but struggled in precincts east of Alameda Street. Explore the election's precinct-level, semi-official results below.</p>
        </div>
        <div class="about collapse">
            <p><strong>Source</strong>: <a href="https://egis3.lacounty.gov/dataportal/2017/05/15/election-precincts/">L.A. County GIS Portal</a> for precinct shapefiles. <a href="http://rrcc.co.la.ca.us/elect/downrslt.html-ssi">L.A. County Registrar-Recorder/County Clerk</a> for election night results.

             <strong>Built using</strong> <a href="http://leafletjs.com/">leaflet.js</a>, <a href="http://underscorejs.org/">underscore.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
            </p>



        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <a class="btn btn-primary" href="http://www.scpr.org/news/2017/06/07/72596/gomez-wins-34th-congressional-district-race-declar/" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>

        </div>
    </div>
</div>
