<div id="content-article">
    <h4 class="kicker">Downtown Los Angeles</h4>
    <h1>blogdowntown LA development tracker</h1>

    <div id="content-article-metadata">
        <p><span class="credits"><a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a>, <a href="http://www.scpr.org/about/people/staff/hayley-fox">Hayley Fox</a> &amp; <a href="https://twitter.com/machikoyasuda">Machiko Yasuda</a></span> | <span class="pubdate">Updated April 16, 2013</span></p>
    </div>

    <div id="content-article-text">
        <p>The downtown Los Angeles skyline continues to evolve with new hotels, lofts, bars, restaurants, parks and transit routes under construction from Bunker Hill to the Arts District. To help keep up, this map will track projects in the city's core, with updates from planning to opening.</p>
        <p>Not interested in every project happening downtown? Filter by category and see only what piques your interest.</p>
        <p>Is there something missing? Know about an update? Got a hot tip? Tell us via <a href="http://twitter.com/blogdowntown" target="_blank">Twitter</a>, <a href="http://facebook.com/blogdowntown" target="_blank">Facebook</a> or <a href="mailto:hfox@blogdowntown.com?subject=Downtown Development Project update">email</a>.</p>
    </div>

    <div id="content-article-buttons">
        <!--
        <a class="btn btn-info" href="#">Read More</a>
        -->
    </div>
</div>