<div id="content-article">
    <h4 class="kicker">State of the state</h4>
    <h1>Exploring themes in Gov. Brown's State of the State</h1>

    <div id="content-article-text">
    <p>Democratic Gov. Jerry Brown delivered his third State of the State address Thursday since reclaiming office.</p>
    <p>The address comes just months after voters approved his much-touted Proposition 30, which raised sales and income taxes temporarily.</p>
    <p>The themes outlined -- reform of K-12 education funding, the need for the higher education systems to hold down costs, promotion of high-speed rail and water tunnels under the San Joaquin Delta -- are not new. They're recurring themes.</p>
    <p>But how often are they repeated in this speech alone? Explore the commonly used words -- and how Brown phrased them -- in this interactive.</p>
    </div>

    <a class="btn btn-info" href="http://www.scpr.org/blogs/news/2013/01/24/12171/california-governor-jerry-brown-spell-out-goals-st/">Read More</a>

</div>

<hr>

<div id="topic-display"></div>
<div id="content-display"></div>
