<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row data-legend">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jumbotron">
                <noscript>Please enable JavaScript to view this interactive.</noscript>
                <h4 class="centered">Choose something here</h4>
                <div id="content-action-bar">
                    <select id="narrative-list">
                        <option value="intro">Intro</option>
                        <option value="second">Second</option>
                    </select>
                </div>
                <div id="results-narrative">
                    <p>First narrative goes here...</p>
                </div>
                <div id="results-display"></div>
            </div>
        </div>
    </div>
</div>