<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div id="content-map-canvas" class="initial"></div>
        <input id="googft-legend-open" style="display:none" type="button" value="Legend"></input>
        <div id="googft-legend">
            <p id="googft-legend-title"><strong>Turf removed (Square Feet)</strong></p>
            <p class="small-writing">Total since 2009</p>
            <div>
                <span class="googft-legend-swatch" style="background-color: #d9ead3"></span>
                <span class="googft-legend-range">0 to 45,533.75</span>
            </div>
            <div>
                <span class="googft-legend-swatch" style="background-color: #b6d7a8"></span>
                <span class="googft-legend-range">45,533.75 to 91,067.5</span>
            </div>
            <div>
                <span class="googft-legend-swatch" style="background-color: #6aa84f"></span>
                <span class="googft-legend-range">91,067.5 to 136,601.25</span>
            </div>
            <div>
                <span class="googft-legend-swatch" style="background-color: #274e13"></span>
                <span class="googft-legend-range">136,601.25 to 182,135</span>
            </div>
            <div class="googft-legend-source">
                <a href="data?docid=1ie_VDS_mTkNJ9uOJHp9a3iuZoYxcSo70uTGGlXXT" target="_blank">View data source</a>
            </div>
            <input id="googft-legend-close" style="display:none" type="button" value="Hide"></input>
        </div>
    </div>
</div>