#data-legend {width: 90%; height: 105px; margin: 10px 5% 10px 5%;}
#data-legend label, #data-legend a {font-weight: bold; font-size: 100%;}
#data-legend-items li {display: inline; height: 25px; list-style-type: none; padding: 10px 10px 10px 10px;}
#bill-container {width: 90%; height: auto; margin: 25px 5% 0 5%; padding: 5px;}

.active {color: green;}
.shelved {color: red;}
.enacted {color: blue;}

.item {width: 110px; height: 110px; margin: 3px; float: left; cursor: pointer; background: #e8e8e8; text-align: center; font-weight: bold;

    /*border: .1em solid #aaa;*/
    -moz-box-shadow: 3px 3px 4px #aaa;
    -webkit-box-shadow: 3px 3px 4px #aaa;
    box-shadow: 3px 3px 10px #aaa;

    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#aaa')";

    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#aaa');
}

.item.next {width: 100px; height: 100px; border: 5px solid black; border-radius: 35px;}

/* background icons */
div.models {background: #ffffff; background-image: url(../images/gun-models.png); background-size: 60%; background-repeat: no-repeat; background-position: center center;}
/* gun-models.png used via Creative Commons CC0 - No Rights Reserved - http://thenounproject.com/noun/gun/#icon-No3215 */

div.gun-sales {background: #ffffff; background-image: url(../images/gun-sales.png); background-size: 80%; background-repeat: no-repeat; background-position: center center;}
/* gun-sales.png used via Creative Commons CC0 - No Rights Reserved - http://thenounproject.com/noun/money/#icon-No931 */

div.ammunition {background: #ffffff; background-image: url(../images/gun-ammo.png); background-size: 20%; background-repeat: no-repeat; background-position: center center;}
/* gun-ammo.png used via Creative Commons - Attribution (CC BY 3.0). Design by Jeff Raines, from The Noun Project - http://thenounproject.com/noun/bullet/#icon-No933 */

div.possession {background: #ffffff; background-image: url(../images/gun-ownership.png); background-size: 20%; background-repeat: no-repeat; background-position: center center;}
/* gun-ownership.png used via a Public Domain Mark - http://thenounproject.com/noun/man/#icon-No2 */

div.school-safety {background: #ffffff; background-image: url(../images/school-safety.png); background-size: 50%; background-repeat: no-repeat; background-position: center center;}
/* school-safety.png used via a Public Domain Mark - http://thenounproject.com/noun/school/#icon-No4405 */

div.sentence-enhancements {background: #ffffff; background-image: url(../images/prison.png); background-size: 70%; background-repeat: no-repeat; background-position: center center;}
/* prison.png used via a Public Domain Mark - http://thenounproject.com/noun/prison/#icon-No2408 */

/* Isotope Filtering */
.isotope-item {z-index: 2;}

.isotope-hidden.isotope-item {pointer-events: none; z-index: 1;}

/* Isotope CSS3 transitions */
.isotope, .isotope .isotope-item {-webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -ms-transition-duration: 0.8s; -o-transition-duration: 0.8s; transition-duration: 0.8s;}

.isotope {-webkit-transition-property: height, width; -moz-transition-property: height, width; -ms-transition-property: height, width; -o-transition-property: height, width; transition-property: height, width;}

.isotope .isotope-item {-webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; -ms-transition-property: -ms-transform, opacity; -o-transition-property: top, left, opacity; transition-property: transform, opacity;}

/* disabling Isotope CSS3 transitions */
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {-webkit-transition-duration: 0s; -moz-transition-duration: 0s; -ms-transition-duration: 0s; -o-transition-duration: 0s; transition-duration: 0s;}

/* data legend bottom margin */
@media (min-width: 980px) {
    #data-legend {width: 90%; height: 105px; margin: 10px 5% 10px 5%;}
}

/* data legend bottom margin for Portrait tablet to landscape and desktop */
@media (min-width: 500px) and (max-width: 979px) {
    #data-legend {width: 90%; height: 105px; margin: 10px 5% 60px 5%;}
}

/* data legend bottom margin for Landscape phones and down */
@media (max-width: 499px) {
    #data-legend {width: 90%; height: 105px; margin: 10px 5% 110px 5%;}

}