<div id="content-article">
    <h4 class="kicker">Politics</h4>
    <h1>L.A. Mayoral Election Exit Polls</h1>

    <div id="content-article-text">
        <p>Iphone aesthetic gluten-free 3 wolf moon, eiusmod authentic godard intelligentsia occupy raw denim sartorial selfies portland fashion axe vinyl. Mustache cray YOLO pinterest ut odd future, consectetur literally portland squid reprehenderit sed salvia. Wayfarers PBR tempor cosby sweater, biodiesel whatever food truck narwhal tousled vice mcsweeney's id proident. Mumblecore mollit est, craft beer pop-up incididunt fixie odd future. Intelligentsia beard elit, selvage +1 polaroid echo park keytar viral art party eu. Pork belly veniam small batch, eu 90's church-key raw denim velit. Hella fap cliche consectetur, polaroid pour-over eiusmod truffaut gastropub.</p>
    </div>

    <div id="content-article-buttons">
        <!-- <a class="btn btn-info" href="#">Read More</a> -->
    </div>
</div>