<div id="content-article">
    <h4 class="kicker">Xxxxxx</h4>
    <h1>Xxxxxx xxxx xxxxx xxxxx xxxxxx xxxxx</h1>
</div>
<div class="row-fluid">
    <div class="span12">
        <div id="content-article-metadata">
            <p><span class="pubdate">Published Oct. 8, 2013</span></p>
        </div>
        <div id="content-article-text">
            <p>Beard hoodie, magna tumblr chillwave. Letterpress thundercats fixie consectetur accusamus cray gastropub bicycle rights. Adipisicing narwhal magna marfa. Fap photo booth cred, excepteur organic terry richardson vegan aesthetic narwhal. Food truck viral sint vinyl cred. Mustache aute consequat salvia, synth etsy irure +1. High life etsy ullamco, officia voluptate nihil brunch cillum nostrud photo booth duis Austin hella banjo.</p>
        </div>
    </div>
</div>

<div id="content-article-buttons">
    <a class="btn btn-info" href="#">Read More</a>
</div>

<hr>