#timeline .post a.more{
	color: #8C8C8C;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	width: 211px;
	height: 22px;
	margin: 0 auto 0 auto;
	border: 1px #cccccc solid;
	background-color: #F0F0F0;
	display: block;
	/*float: left;*/
	line-height: 23px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow:  0px 1px 1px 0px #cccccc;
	-moz-box-shadow:  0px 1px 1px 0px #cccccc;
	box-shadow:  0px 1px 1px 0px #cccccc;
}

#timeline .post a.share-trigger{
	width: 28px;
	height: 22px;
	border: 1px #cccccc solid;
	display: block;
	background-color: #F0F0F0;
}
#timeline .post a.share-trigger.over,
#timeline .post a.share-trigger:hover{
	background-color: #E6E6E6;
}
#timeline .post .share{
	position: relative;
	float: right;
	width: 30px;
	height: 30px;
}
#timeline .post .share-popup{
	display: none;
	background: #F0F0F0 url(/static/static-files/images/tabletop-timelines/popup.png) no-repeat;
	width: 90px;
	height: 50px;
	position: absolute;
	top: -61px;
	left: -60px;
	text-align: center;
	padding-top: 15px;
}
#timeline .post .share-popup .twitter-share-button{
    display: none;
	position: absolute;
	left: 20px;
	top: 15px;
}
#timeline .post .share-popup .facebook-share-button{
	position: absolute;
	right: 20px;
	top: 12px;
}