<!-- begin modal box -->
<div id="popupContent" class="modal hide fade">

    <!-- begin modal header -->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>We want to hear from you</h3>
    </div>
    <!-- end modal header -->

    <!-- begin modal body -->
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <p>As you read the files, you may want to ask questions or share your thoughts. To do so, please click on the “Tell us More” button.  We will keep your information confidential unless you specify otherwise. Your input will help KPCC reporters dive deeper into the story behind the story. If you have a question, we may be able to help you find the answer.</p>

<!-- begin form -->
<div class="ss-form">

    <script type="text/javascript">var submitted=false;</script>
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='http://projects.scpr.org/static/test/keller/clergy-documents/'; alert('Thank you for your submission');}"></iframe>

    <form action="https://docs.google.com/forms/d/1F6yFBaxK7g1Omsj1eMLPbJ3J9acyrdCG33aGYtH4-bc/formResponse" method="POST" target="hidden_iframe" id="commentForm" onsubmit="submitted=true;">

<div class="controls controls-row">
    <div class="errorbox-good span6">
        <div dir="ltr" class="ss-item  ss-text">
            <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_1183805441">
                    <div class="ss-q-title"><strong>Name (First and last)</strong></div>
                </label>
                <input type="text" name="entry.1183805441" value="" class="ss-q-short" id="entry_1183805441" dir="auto">
            </div>
        </div>
    </div>
    <div class="errorbox-good span6">
        <div dir="ltr" class="ss-item  ss-text">
            <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_637421028">
                    <div class="ss-q-title"><strong>Contact Information (Email/Phone)</strong></div>
                </label>
                <input type="text" name="entry.637421028" value="" class="ss-q-short" id="entry_637421028" dir="auto">
            </div>
        </div>
    </div>
</div>

<div class="controls controls-row">
    <div class="errorbox-good span6">
        <div dir="ltr" class="ss-item  ss-text">
            <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_1813095312">
                    <div class="ss-q-title"><strong>City</strong></div>
                    <div class="ss-q-help" dir="ltr"></div>
                </label>
                <input type="text" name="entry.1813095312" value="" class="ss-q-short" id="entry_1813095312" dir="auto">
            </div>
        </div>
    </div>
    <div class="errorbox-good span6">
        <div dir="ltr" class="ss-item  ss-paragraph-text">
            <div class="ss-form-entry">
            <label class="ss-q-item-label" for="entry_1415297817">
                <div class="ss-q-title"><strong>What did you find in the documents<br/>we should know about?</strong></div>
            </label>
            <textarea name="entry.1415297817" rows="8" cols="95" class="input-large ss-q-long" id="entry_1415297817" dir="auto"></textarea>
            </div>
        </div>
    </div>
</div>


<input type="hidden" name="draftResponse" value="[]">
<input type="hidden" name="pageHistory" value="0">


<div class="ss-form-entry">
    <input class="btn btn-success" type="submit" name="submit" value="Submit">
    <input class="btn btn-danger" type="submit" data-dismiss="modal" value="Cancel">
</div>

    </div>
</form>
<!-- end form -->
                </div>
            </div>
        </div>
    </div>
    <!-- end modal body -->

</div>
<!-- end modal box -->