<h2>KPCC's Ongoing Coverage</h2>

{{#objects}}
    <div style="margin: 10px 0 15px 0;" class="kpcc-coverage-results">
        <h4><a href="http://www.scpr.org/{{link_path}}">{{headline}}</a></h4>
        <em>Published {{dateFormat published_at}}</em></p>
    </div>
{{/objects}}