<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3>How much are charter advocates spending?</h3>
    <p>A lot. Below are the ten biggest outside spenders in California legislative races this year. As of November 1, the top two spenders are both education reform groups — EdVoice and the Parent Teacher Alliance.</p>
    <p>Both charter groups have spent $3 million more than the number three spender, the Coalition to Restore California's Middle Class, <a href="http://www.scpr.org/news/2016/10/04/65238/inland-empire-election-sees-flurry-of-spending-by/">which is backed by oil companies</a>.</p>
    <img src="https://projects.scpr.org/charts/2016-ie/images/ie_2016.png" width=100%>

    <h3>Who's funding the charter push?</h3>
    <p>A small group of wealthy charter school advocates puts serious money towards the cause. Below are people who have given more than $500,000 to EdVoice and the California Charter Schools Association Advocates (which funds the Parent Teacher Alliance) since 2014.</p>
    <p>The list includes familiar names, including Gap founder Doris Fisher, Netflix CEO Reed Hastings and members of the Walton family, who own Walmart. Many <a href="http://www.scpr.org/news/2016/06/21/61628/charter-group-money-flooded-local-election-but-man/">live outside the districts where their money is being spent</a>, and some, like ex-New York mayor Michael Bloomberg and former Enron trader John Arnold, live outside the state. A teachers union group has <a href="https://projects.scpr.org/applications/fact-check-political-mailers/#3172522-Cta-Mailer/">made donations by billionaires into a campaign issue</a>.
    <img src="https://projects.scpr.org/charts/2016-ie/images/donors_2016.png" width=100%>


    <h3>Which races are attracting the most money?</h3>
    <p>Below are the top ten races, ranked by the amount of outside spending they've attracted this year from all groups. The state's most expensive battle is for the East Bay Area's 14th Assembly District, which has seen the most outside spending of any Assembly race in California history, according to the California Target Book's Rob Pyers. That contest pits Tim Grayson against fellow Democrat Mae Torlakson. EdVoice has sent about $4 million of the more than $9 million total, making them the single biggest spender in the race.</p>
    <p>Other expensive races have seen waves of spending by charter-allied groups, including Northern California's 3rd Senate District, the 27th Assembly District in and around San Jose, and Los Angeles County's <a href="http://www.scpr.org/news/2016/06/21/61628/charter-group-money-flooded-local-election-but-man/">43rd Assembly District</a> races.</p>
    <img src="https://projects.scpr.org/charts/2016-ie/images/races_2016.png" width=100%>
</div>
