<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3>How much are charter advocates spending?</h3>
    <p>A lot. Below are the ten biggest outside spenders in California legislative races this year. As of November 1, the top two spenders are both education reform groups — EdVoice and the Parent Teacher Alliance (which is linked to the California Charter Schools Association Advocates).</p>
    <img src="http://projects.scpr.org/charts/2016-ie/images/ie_2016.png" width=100%>

    <h3>Who's funding the charter push?</h3>
    <p>A small group of wealthy charter school advocates put serious money into these groups. Below are people who have given more than $500,000 to the EdVoice and the California Charter Schools Association Advocates committees since 2014 (the latter group funds related Parent Teacher Alliance).</p>
    <p>The list includes familiar names, including Gap founder Doris Fisher, Netflix CEO Reed Hastings and members of the Walton family, who own Walmart. Many <a href="http://www.scpr.org/news/2016/06/21/61628/charter-group-money-flooded-local-election-but-man/">live outside the districts where their money is being spent</a>, and some, like ex-New York mayor Michael Bloomberg and former Enron trader John Arnold live outside the state.
    <p>These donations became a campaign this issue in 2016, as the California Teachers Association <a href="http://projects.scpr.org/applications/fact-check-political-mailers/#3172522-Cta-Mailer/">sent out a mailer</a> claiming billionaires were "playing politics" and that the Parent Teacher Alliance is "deceptively named".</p>
    <img src="http://projects.scpr.org/charts/2016-ie/images/donors_2016.png" width=100%>


    <h3>Which races are attracting the most money?</h3>
    <p>Below are the top ten races, ranked by the amount of outside spending they've attracted this year. The state's most expensive battle is for the 14th Assembly District, which has seen more outside spending than any race in California history. That contest pits Tim Grayson against fellow Democrat Mae Torlakson. If Torlakson's name sounds familiar, that's because she's married to State Superintenddent of Education Tom Torlakson. Charter groups spent millions trying to block Tom Torlakson's re-election in 2014, and this year EdVoice has spent about more than $3 million trying to keep Mae Torlakson out of the open seat.</p>
    <p>Other expensive races have seen waves of spending by charter-allied groups, including the 3rd Senate District, and 27th and <a href="http://www.scpr.org/news/2016/06/21/61628/charter-group-money-flooded-local-election-but-man/">43rd Assembly District</a> races.</p>
    <img src="http://projects.scpr.org/charts/2016-ie/images/races_2016.png" width=100%>
</div>
