<div id="content-article">
    <h4 class="kicker">Where veterans served</h4>
    <h1>Help us gather stories from Iraq War veterans</h1>

        <div id="content-article-text">
        <p>Tuesday, March 19 marks the 10th anniversary of the start of the Iraq War that resulted in the downfall of Saddam Hussein and the beginning of a prolonged military engagement from which the United States has not yet fully withdrawn.</p>
        <p>Since the U.S. went to war in Afghanistan in 2001 and Iraq in 2003, about 2.5 million members of the Army, Navy, Marines, Air Force, Coast
        Guard and related Reserve and National Guard units have been deployed in the Afghanistan and Iraq wars, according to Department of Defense data, <a href="http://www.miamiherald.com/2013/03/14/3286352/millions-went-to-war-in-%0Airaq-afghanistan.html">the Miami Herald reported</a>.</p>
        <p>Of those, and more than a third were deployed more than once, according to the Herald. We'd love to pay tribute to these men and women by collecting some of their stories. Are you a vet? Did someone in your family serve? What do you know of their service? Tell us their story on this <a href="#" onclick="userSubmit();">short form</a>, and read other stories submitted by our audience below.</p>
    </div>

    <div id="content-article-buttons">
        <!-- <a class="btn btn-info" href="#">Read More</a> -->
        <a class="btn btn-success" id="showmodule" href="#" onclick="userSubmit();">Add a Veteran's Story</a>
    </div>
</div>