<div id="content-article">
    <h4 class="kicker">Where veteran's served</h4>
    <h1>Help us gather stories from military veterans</h1>

    <div id="content-article-text">
        <p>There are 21.5 million veterans living in the United States. As of 2011, there are 1.9 million of them in California and over 800,000 have served in the wars in Iraq.</p>
        <p>To pay tribute, we want to collect stories of veterans. Are you a vet? Did someone in your family serve? What do you know of their service?</p>
        <p>Tell us their story in this <a href="#" onclick="userSubmit();">short form</a>, and read other stories submitted by our audience below.</p>
    </div>

    <div id="content-article-buttons">
        <!-- <a class="btn btn-info" href="#">Read More</a> -->
        <a class="btn btn-success" id="showmodule" href="#" onclick="userSubmit();">Add a Veteran's Story</a>
    </div>
</div>