<div id="content-article">
    <h1>News &amp; Data Interactives</h1>

    <div id="content-article-text">
        <p>View our collection of interactive projects, maps, databases and much more.</p>
    </div>

    <div id="content-article-buttons"></div>

    <div id="content-section-navigation">
        <a href="#Crime &amp; Public Safety" class="name">Crime &amp; Public Safety</a> |
        <a href="#Culture" class="name">Culture</a> |
        <a href="#Economy &amp; Money" class="name">Economy &amp; Money</a> |
        <a href="#Education" class="name">Education</a> |
        <a href="#Environment &amp; Science" class="name">Environment &amp; Science</a> |
        <a href="#General" class="name">General</a> |
        <a href="#Health" class="name">Health</a> |
        <a href="#Politics" class="name">Politics</a> |
        <a href="#Seasonal" class="name">Seasonal</a> |
        <a href="#Transportation" class="name">Transportation</a>
    </div>
</div>