<div id="content-article">
    <h4 class="kicker">Wildfires</h4>
    <h1>Search this database of 2013 California wildfires</h1>

    <div id="content-article-metadata">
        <p><span class="credits"><a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Updated May 3, 2013</span></p>
    </div>

    <div id="content-article-text">
        <p>CalFire, the website for the state Department of Forestry and Fire Protection has recorded 13 fires thus far in 2013, which firefighters expect to be a hot, dry and <a href="http://www.scpr.org/news/2013/04/23/36940/firefighters-expect-a-hot-dry-and-difficult-season/">difficult season</a>. Below, search through details of the fires, and sort by acreage burned, or date started.</p>
    </div>

    <div id="content-article-buttons">
        <a class="btn btn-info" href="http://www.scpr.org/news/2013/05/03/37110/camarillo-springs-fire-at-10-000-acres-10-percent/">Read More</a>
    </div>
</div>