<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 data-legend">
    <noscript>Please enable JavaScript to view this interactive.</noscript>
    <!--
    <div class="jumbotron">
        <div id="action-controls" class="row">
            <div id="uber-search" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
                <a id="uber" class="search" href="javascript:void(0)">Surface Temperature</a>
            </div>
            <div id="wingz-search" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
                <a id="wingz" class="search" href="javascript:void(0)">Deviation From Baseline Surface Temperature</a>
            </div>
        </div>
        <div id="animation-container">
            <div id="animation-slider" class="hidden"></div>
            <div id="animation-controls" class="buttons btn-group btn-group-justified">
                <a id="animation-backward" class="btn btn-lg" href="javascript:void(0)"><h5><span class="glyphicon glyphicon-backward"></span></h5></a>
                <a id="animation-play" class="btn btn-lg" href="javascript:void(0)"><h5><span class="glyphicon glyphicon-play"></span></h5></a>
                <a id="animation-forward" class="btn btn-lg" href="javascript:void(0)"><h5><span class="glyphicon glyphicon-forward"></span></h5></a>
            </div>
            <div id="slider-value" class="text-center"></div>
        </div>
        <form id="submission-form" class="form-inline" role="form">
            <div id="reset" class="row hidden">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <button type="button" class="btn btn-primary pull-right btn-group btn-group-justified" id="reset">Reset map</button>
                </div>
            </div>
        </form>
    </div>
    -->
    <div id="content-chart-container"></div>
</div>
