<div id="article-header">
    <h4 class="kicker">Volunteer Opportunities in Southern California</h4>
    <h2>Find opportunities to volunteer or contribute to non-profit organizations</h2>
    <p>In an effort to provide a resource for KPCC listeners, we have compiled this database of local volunteer opportunities, non-profit organizations and charities. Use the database below to search these organizations to learn of their needs. Are there organizations we missed?</p>
    <p><a href="#" class="btn btn-info hidden-phone hidden-tablet" onclick="clickModal();">Let us know</a></p>
    <div id="data-modal"></div>
</div>