<!-- begin modal box -->
<div id="popupContent" class="modal hide fade">

    <!-- begin modal header -->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Submit a volunteer or non-profit organization</h3>
    </div>
    <!-- end modal header -->

    <!-- begin modal body -->
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">

                <!-- begin form -->
                <div class="ss-form">

                <script type="text/javascript">var submitted=false;</script>

                <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='http://projects.scpr.org/static/applications/local-non-profits';}"></iframe>

                    <form action="https://spreadsheets.google.com/spreadsheet/formResponse?formkey=dHVuc2VIT1RDblBBUU9namh3WmVubVE6MA&amp;ifq" method="POST"
                    target="hidden_iframe" id="commentForm" onsubmit="submitted=true;">

                            <div class="controls controls-row">
                                <div class="errorbox-good span6">
                                    <div class="ss-item ss-item-required ss-text">
                                        <div class="ss-form-entry">
                                            <label class="ss-q-title" for="entry_2"><strong>Organization Name</strong><span class="ss-required-asterisk">*</span></label>
                                            <label class="ss-q-help" for="entry_2"></label>
                                            <input type="text" name="entry.0.single" value=""  class="ss-q-short" id="entry_0">
                                        </div>
                                    </div>
                                </div>

                                <div class="errorbox-good span6">
                                    <div class="ss-item ss-item-required ss-text">
                                        <div class="ss-form-entry">
                                            <label class="ss-q-title" for="entry_2"><strong>Location</strong><span class="ss-required-asterisk">*</span></label>
                                            <label class="ss-q-help" for="entry_2"></label>
                                            <input type="text" name="entry.2.single" value="" class="ss-q-short" id="entry_2">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="controls controls-row">
                                <div class="errorbox-good span6">
                                    <div class="ss-item ss-text">
                                        <div class="ss-form-entry">
                                            <label class="ss-q-title" for="entry_3"><strong>Phone number</strong></label>
                                            <label class="ss-q-help" for="entry_3"></label>
                                            <input type="text" name="entry.3.single" value="" class="ss-q-short" id="entry_3">
                                        </div>
                                    </div>
                                </div>

                                <div class="errorbox-good span3">
                                    <div class="ss-item ss-text">
                                        <div class="ss-form-entry">
                                            <label class="ss-q-title" for="entry_4"><strong>Email address</strong></label>
                                            <label class="ss-q-help" for="entry_4"></label>
                                            <input type="text" name="entry.4.single" value="" class="ss-q-short" id="entry_4">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="controls controls-row">
                                <div class="errorbox-good span6">
                                    <div class="ss-item ss-text">
                                        <div class="ss-form-entry">
                                            <label class="ss-q-title" for="entry_8"><strong>Website</strong></label>
                                            <label class="ss-q-help" for="entry_8"></label>
                                            <input type="text" name="entry.8.single" value="" class="ss-q-short" id="entry_8">
                                        </div>
                                    </div>
                                </div>

                                <div class="errorbox-good span6">
                                    <div class="ss-item ss-text">
                                        <div class="ss-form-entry">
                                            <label class="ss-q-title" for="entry_5"><strong>Clients serviced</strong></label>
                                            <label class="ss-q-help" for="entry_5"></label>
                                            <input type="text" name="entry.5.single" value="" class="ss-q-short" id="entry_5">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="controls controls-row">
                                <div class="errorbox-good span6">
                                    <div class="ss-item  ss-paragraph-text">
                                        <div class="ss-form-entry">
                                            <label class="ss-q-title" for="entry_1"><strong>Mission</strong></label>
                                            <label class="ss-q-help" for="entry_1">Let us know about the organization.</label>
                                            <textarea name="entry.1.single" rows="8" cols="75" class="ss-q-long" id="entry_1"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="errorbox-good span6">
                                <div class="ss-item ss-item-required ss-checkbox">
                                    <div class="ss-form-entry"><label class="ss-q-title" for="entry_7"><strong>Needs</strong>
                                        <span class="ss-required-asterisk">*</span></label>
                                        <label class="ss-q-help" for="entry_7">What type of donations or volunteer services does this organization need?</label>
                                        <ul class="ss-choices">
                                            <li class="ss-choice-item"><label class="ss-choice-label"><input type="checkbox" name="entry.7.group" value="Volunteer time" class="ss-q-checkbox" id="group_7_1"> Volunteer time</label></li>
                                            <li class="ss-choice-item"><label class="ss-choice-label"><input type="checkbox" name="entry.7.group" value="Canned goods " class="ss-q-checkbox" id="group_7_2"> Canned goods </label></li>
                                            <li class="ss-choice-item"><label class="ss-choice-label"><input type="checkbox" name="entry.7.group" value="Clothing donations" class="ss-q-checkbox" id="group_7_3"> Clothing donations</label></li>
                                            <li class="ss-choice-item"><label class="ss-choice-label"><input type="checkbox" name="entry.7.group" value="Financial contributions" class="ss-q-checkbox" id="group_7_4"> Financial contributions</label></li>
                                            <li class="ss-choice-item"><label class="ss-choice-label"><input type="checkbox" name="entry.7.group" value="Car donations" class="ss-q-checkbox" id="group_7_5"> Car donations</label></li>
                                            <li class="ss-choice-item"><label class="ss-choice-label"><input type="checkbox" name="entry.7.group" value="Toys (Gifts)" class="ss-q-checkbox" id="group_7_6"> Toys (Gifts)</label></li>
                                            <li class="ss-choice-item"><label class="ss-choice-label"><input type="checkbox" name="entry.7.group" value="__option__" class="ss-q-checkbox" id="other_option:7"> Other<br/><br/><input type="text" name="entry.7.group.other_option_" value="" class="ss-q-other"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="controls controls-row">
                                <div class="errorbox-good span6">
                                <div class="ss-item ss-text">
                                    <div class="ss-form-entry">
                                        <label class="ss-q-title" for="entry_6"><strong>Religious, cultural or ethinic affiliation?</strong></label>
                                        <label class="ss-q-help" for="entry_6"></label>
                                        <input type="text" name="entry.6.single" value="" class="ss-q-short" id="entry_6">
                                    </div>
                                </div>

                                <div class="ss-item ss-navigate">
                                    <div class="ss-form-entry">
                                        <input class="btn btn-success" type="submit" name="submit" value="Submit">
                                        <input class="btn btn-danger" type="submit" data-dismiss="modal" value="Cancel">
                                    </div>
                                </div>

                            </div>

                                <div class="errorbox-good span6">
                                <div class="ss-item ss-paragraph-text">
                                    <div class="ss-form-entry">
                                        <label class="ss-q-title" for="entry_9"><strong>Contact information or anything else</strong></label>
                                        <label class="ss-q-help" for="entry_9"></label>
                                        <textarea name="entry.9.single" class="input-large" rows="2" cols="75" class="ss-q-long" id="entry_9"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="pageNumber" value="0">
                        <input type="hidden" name="backupCache" value="">

                    </form>
                </div>
                <!-- end form -->


            </div>
        </div>
    </div>
    <!-- end modal body -->

</div>
<!-- end modal box -->