/* basic structure */
.data-container .data-header {width: 100%; height: auto; margin: 10px 0 5px 0;}
.data-container .data-legend {width: 100%; height: auto; margin: 10px 0 5px 0;}
.data-container .data-visuals {width: 100%; height: auto; margin: 10px 0 5px 0;}
.data-container .data-details {width: 100%; height: auto; margin: 10px 0 5px 0;}
.data-container .data-legend .jumbotron {width: 100%; height: auto; background: rgba(240, 248, 255, 1.0); margin: 10px 0% 10px 0%; padding: 10px; font-size: 275%;}
.data-container .data-legend .jumbotron a {font-weight: 700;}
.data-container .data-legend #form-controls {margin: 0 20px 0 20px;}
.data-container .data-header .banner-logo {width: 90px; margin-right: 15px;}



#representative-articles img, #legislators-list img {width: 94%; height: auto; margin: 0 3% 0 3%;}
.btn-primary {background: rgba(0, 127, 166, 1.0); border: rgba(0, 127, 166, 1.0) solid .1em; padding: 5px 0 5px 0; margin-top: 14px;}

.placemark {width:40px;}




@font-face {
    font-family: 'StateFaceRegular';
    src: url('http://projects.scpr.org/static/static-files/images/stateface/webfont/stateface-regular-webfont.eot');
    src: url('http://projects.scpr.org/static/static-files/images/stateface/webfont/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('http://projects.scpr.org/static/static-files/images/stateface/webfont/stateface-regular-webfont.woff') format('woff'),
        url('http://projects.scpr.org/static/static-files/images/stateface/webfont/stateface-regular-webfont.ttf') format('truetype'),
        url('http://projects.scpr.org/static/static-files/images/stateface/webfont/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/*
http://projects.scpr.org/static/static-files/images/congressional-reps/B001288.jpg
http://projects.scpr.org/static/static-files/images/congressional-reps/M001192.jpg
http://projects.scpr.org/static/static-files/images/congressional-reps/S001195.jpg
http://projects.scpr.org/static/static-files/images/congressional-reps/K000384.jpg
http://projects.scpr.org/static/static-files/images/congressional-reps/K000385.jpg
http://projects.scpr.org/static/static-files/images/congressional-reps/H001069.jpg
http://projects.scpr.org/static/static-files/images/congressional-reps/F000463.jpg
http://projects.scpr.org/static/static-files/images/congressional-reps/K000383.jpg
http://projects.scpr.org/static/static-files/images/congressional-reps/S001194.jpg
http://projects.scpr.org/static/static-files/images/congressional-reps/S000051.jpg
http://projects.scpr.org/static/static-files/images/congressional-reps/B001279.jpg
http://projects.scpr.org/static/static-files/images/congressional-reps/B001278.jpg
http://projects.scpr.org/static/static-files/images/congressional-reps/A000369.jpg
http://projects.scpr.org/static/static-files/images/congressional-reps/H001063.jpg
*/