<div class="row-fluid">
    <div class="span12">
        <h4>Filter the responses</h4>
        <div class="well">
            <form class="form-inline">
                <div id="data-legend">
                    <ul id="data-legend-items">
                        <label class="checkbox inline"><input type="checkbox" value="crime" id="crime" checked="">Crime<br /><li class="crime"></li></label>
                        <label class="checkbox inline"><input type="checkbox" value="education" id="education" checked="">Education<br /><li class="education"></li></label>
                        <label class="checkbox inline"><input type="checkbox" value="environment" id="environment" checked="">Environment<br /><li class="environment"></li></label>
                        <label class="checkbox inline"><input type="checkbox" value="health" id="health" checked="">Public Health<br /><li class="health"></li></label>
                        <label class="checkbox inline"><input type="checkbox" value="other" id="other" checked="">Other<br /><li class="other"></li></label>
                        <label class="checkbox inline"><input type="checkbox" value="politics" id="politics" checked="">Politics<br /><li class="politics"></li></label>
                        <label class="checkbox inline"><input type="checkbox" value="taxes" id="taxes" checked="">Taxes<br /><li class="taxes"></li></label>
                        <label class="checkbox inline"><input type="checkbox" value="transportation" id="transportation" checked="">Transportation<br /><li class="transportation"></li></label>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>