<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Government</h4>
            <h1>A year in LADWP claims payouts</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/aaron-mendelson">Aaron Mendelson</a> | <span class="pubdate">Published July 25, 2015</span></p>
            <p>When the Los Angeles Department of Water and Power screws up, they have to pay up. If a water main bursts and floods your car, power surge fries your TV, or vehicle runs over a family member, the LADWP could be on the hook for damages to you or your insurance comapny.</p>
            <p>The department paid out 624 claims in the year between May 2014 and April 2015. It breaks down each claim by types. Here are the types that cost the department more than a $100,000 last year. TK here is where we are keeping the data and a link to it.</p>

        </div>
        <div class="about collapse">
            <p><strong>Sources: </strong>Los Angeles Department of Water and Power, via a public records request.

             <strong>Built using</strong> <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, <a href="http://www.highcharts.com/">Highcharts</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
            </p>

        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <a class="btn btn-primary" href="http://www.scpr.org/news/2015/05/11/51493/drought-rich-southen-california-cities-top-water-u/" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>

        </div>
    </div>
</div>
