<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Government</h4>
            <h1>Map: A month in Los Angeles graffiti</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/aaron-mendelson">Aaron Mendelson</a> | <span class="pubdate">Published August 17, 2015</span></p>
            <p>The City of Los Angeles keeps a record of every sighting of graffiti that citizens and its roving bands of contractors report. The city has recorded more than two million reports of graffiti since 2010. Using this data from the Office of Community Beautificaiton, KPCC mapped a single month in graffiti: January 2015. The bigger the circle, the more square feet OCB and its contractors reported cleaning up.</p>

        </div>
        <div class="about collapse">
            <p><strong>Source</strong>: <a href="http://www.laocb.org/">Los Angeles Office of Community Beautification</a>.

             <strong>Built using</strong> <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, <a href="http://maps.stamen.com/#toner/12/37.7706/-122.3782">Stamen</a>, <a href="https://plugins.qgis.org/plugins/timemanager/">Time Manager</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
            </p>



        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <a class="btn btn-primary" href="" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>

        </div>
    </div>
</div>
