<div id="content-article-text">
    <div class="row-fluid">
        <h4 class="kicker">Curated Timeline</h4>
        <h1><div id="timeline-title" class="main-header clearfix"></div></h1>
            <div id="content-article-text">
                <p>This curated timeline tracks key events from the life of murder suspect 33-year-old Christopher Dorner, as well as events from the last week, including the situation unfolding on Tuesday after a man thought to be Dorner engaged in a shootout with Police.</p>
                <p>Anyone with information as to the whereabouts of Dorner is asked to call the LAPD tip line at (213) 486-6860 or Crime Stoppers at (800)-222-TIPS.</p>
                <p>If you know of other information that should be included in this timeline <a href="mailto:plee@scpr.org?subject=KPCC's Christopher Dorner Timeline">send us an email</a>. Also we invite you to join the discussion about these events at <a href="https://www.facebook.com/kpcc" target="blank">KPCC's Facebook page</a>.</p>
            </div>
        <a class="btn btn-info" href="http://www.scpr.org/manhunt">Click for Complete Coverage</a>

        <!-- thanks for setting the standard Mr. John Keefe -->
        <span class="hidden-tablet hidden-phone btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed This Timeline</span>
    </div>
</div>