<!-- begin data footer -->
<div id="data-footer">

    <div id="sources">
        <p class="normal-display"><strong>Sources: </strong>KPCC reporting, official law enforcement sources and coverage for news organizations including L.A. Times, The Associated Press, NBC4, ABC7, CBS2, KCAL9 and CNN.</p>
    </div>

    <div id="credits">
        <p class="normal-display"><strong>Credits: </strong>KPCC staff and <a href="http://www.scpr.org/about/people/staff/chris-keller" target="_blank">Chris Keller</a>.</p>
    </div>

    <div id="open-source">
        <p class="small-display">Built using <a href="https://github.com/jsoma/tabletop">tabletop.js</a>, <a href="https://github.com/MinnPost/jquery-vertical-timeline" target="blank">jquery-vertical-timeline</a> -- a fork of <a href="https://github.com/balancemedia/Timeline" target="blank">Timeline</a> -- and <a href="http://handlebarsjs.com/">handlebars.js.</a></p>
    </div>
</div>
<!-- end data footer -->