body.minimal .header-links a.projects-home {background:url('http://projects.scpr.org/static/static-files/images/tablestacker-tables/ico-home.png') no-repeat 0 0; margin: 0 auto; width: 31px; height: 22px;}

#data-container #data-visuals .info-graphic img{border: 2px #ccc solid; -moz-box-shadow: 3px 3px 5px 6px #ccc; -webkit-box-shadow: 3px 3px 5px 6px #ccc; box-shadow: 3px 3px 5px 6px #ccc;}

/* develop for inclusion into foundational styles */
#data-legend {height: 25px; margin: 10px 0 0 0;}
#data-legend-items {margin: 0 0 0 0; height: 25px; }
#data-legend-items li {display: inline; height: 25px; list-style-type: none; padding: 10px 10px 10px 40px;}
#data-legend-items li.darkblue {height: 25px; background-color:#000077; margin-right:10px; color: #ffffff;}
#data-legend-items li.lightblue {height: 25px; background-color:#0055ff; margin-right:10px; color: #ffffff;}
#data-legend-items li.city-makeover {height: 25px; background-image: url(../images/green.png); background-repeat: no-repeat; background-position: 0 0;}
#data-legend-items li.user-contrib {height: 25px; background-image: url(../images/red.png); background-repeat: no-repeat; background-position: 0 0;}

/* Landscape phones and down */
@media (max-width: 485px) {
    #data-container h1 {font-size: 24px; font-weight: 800; line-height: 28px; color: #2B2B2B;}
    #data-container h2 {font-size: 20px; font-weight: 700; line-height: 24px; color: #2B2B2B;}
    #data-container h3 {font-size: 16px; font-weight: 700; line-height: 20px; color: #2B2B2B;}
    #data-container h4 {font-size: 14px; font-weight: 700; line-height: 18px; color: #2B2B2B;}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

    #data-container h1 {font-size: 28px; font-weight: 800; line-height: 32px; color: #2B2B2B;}
    #data-container h2 {font-size: 24px; font-weight: 700; line-height: 28px; color: #2B2B2B;}
    #data-container h3 {font-size: 20px; font-weight: 700; line-height: 24px; color: #2B2B2B;}
    #data-container h4 {font-size: 18px; font-weight: 700; line-height: 22px; color: #2B2B2B;}

}

/* Large desktop */
@media (min-width: 1200px) {

}