/* basic structure */
.data-container .data-visuals {margin: 20px auto 5px auto;}

.data-container .data-legend {width: 100%; height: auto; margin: 10px 0 5px 0;}

.data-container .data-legend .jumbotron {width: 100%; height: auto; background: rgba(240, 248, 255, 1.0); margin: 10px 0% 10px 0%; padding: 10px; overflow: hidden;}

.data-container .data-legend .jumbotron .centered {text-align: center;}

.data-legend #content-action-bar select {width: 60%; margin: 0 20% 0 20%; cursor: pointer; display: inline-block;}

.data-legend #content-action-bar select:focus {outline: 0;}

.fixed { position: fixed; top: 2%; margin: 0; background: rgba(240, 248, 255, 0.8); padding: 10px 0 10px 0; }

body { font: 10px sans-serif; shape-rendering: crispEdges; }
.grid-background { fill: #ddd; }
.grid line { stroke: #fff; }
.grid .minor line { stroke-opacity: .5; }
.grid text { display: none; }
.axis line { stroke: #000; }
.axis path,
.grid path { display: none; }

/* table styles */
#results-display { background: none; padding: 20px 10px 20px 10px; }

table { background: #ffffff; border-collapse: collapse; border-spacing: 0; }

table.kpcc-table th { border-top: 1px solid #f17b21; background: #f5f5f5; text-transform: uppercase; border-bottom: 1px solid rgba(0, 0, 0, 0.4); font-family: "proxima-nova", "Avenir Next", "Avenir", "Lucida Grande", "Corbel", "Tahoma", Arial, sans-serif; font-weight: 700; vertical-align: bottom; /*font-size: 0.6875em;*/ padding: 20px 14px 9px 5px; line-height: 1; color: rgba(0, 0, 0, 0.4); box-shadow: inset 0 -4px 0 #e8e8e8; }

table.kpcc-table td { /*font-size: 0.725em;*/ line-height: 1.1; padding: 10px 14px 10px 5px; vertical-align: top; border-bottom: 1px solid rgba(0, 0, 0, 0.3); box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.07); }

table.kpcc-table td mark { text-transform: uppercase; color: orange; margin-bottom: 4px; font-family: "freight-sans-pro", "Avenir Next", "Avenir", "Lucida Grande", "Corbel", "Tahoma", Arial, sans-serif; font-weight: 700; display: none; background: none; }

table.kpcc-table tr td:first-child { /*font-family: "merriweatherbold", "Baskerville", "Garamond", "Cambria", Georgia, serif; */ }

table.kpcc-table tr td:first-child mark { display: none; }

table.kpcc-table tr td:last-child { box-shadow: none; }

@media screen and (max-width: 550px) {
    table.kpcc-table { border-top: 3px solid #f17b21; border-bottom: 3px solid black; width: 100%; }
    table.kpcc-table thead { display: none; }
    table.kpcc-table tbody,
    table.kpcc-table tr,
    table.kpcc-table td { width: 100%; }
    table.kpcc-table td { box-shadow: none; display: block; width: 100%; box-sizing: border-box; padding: 7px 10px 7px 10px; font-size: 0.8125em; border-bottom-color: #cfcfcf; }
    table.kpcc-table td mark { display: block; }
    table.kpcc-table tr td:first-child { font-family: "freight-sans-pro", "Avenir Next", "Avenir", "Lucida Grande", "Corbel", "Tahoma", Arial, sans-serif; font-size: 1.25em; background: #f5f5f5; font-weight: 700; border-bottom-color: gray; padding-top: 15px; }
    table.kpcc-table tr td:nth-child(2) { padding-top: 12px; }
    table.kpcc-table tr td:last-child { padding-bottom: 20px; border-bottom: 1px solid black; }
}