body.medium {font-size:80%;}
body.narrow {font-size: 60%;}
body.extraNarrow {font-size: 40%;}

#box {
	height: 720px;
	background-color: #FCFBCA;

}

#headline {
	text-align: center;
	background-color: #DDDD2F;
	font-size: 10.0em;
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;

}

#content {
	padding-bottom: 20px;
}


#icon {
	text-align: center;
	padding: 20px;
}

#iconimg {
	width: 300px;
}

#category {
	text-align: center;
	font-size: 8.0em;
	font-weight: bold;
}


#quotes {
	font-size: 4.0em; 
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 20px;
}

#name {
	font-size: 4.0em; 
	text-align: right;
	padding-right: 10%;
	padding-top: 20px;
}

#location {
	font-size: 4.0em; 
	text-align: right;
	padding-right: 10%;
}

#button {
	float: left;
	padding-left: 10%;
	padding-top: 25px;
	width: 30%;
}

#next {
	width: 100%;
}