<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Environment</h4>
            <h1>Lead remediation efforts by the city of Los Angeles</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/deepa-fernandes">Deepa Fernandes</a> and <a href="https://twitter.com/craftworksxyz">Will Craft</a></span> | <span class="pubdate">Published Sept. 8, 2015</span></p>
            <p>As children nationwide continued to be poisoned due to lead in and around their homes, the Housing and Urban Development Department (HUD) began a grants program to allow cities to send in contractors with expertise in properly remediating lead. <strong>In 2006 (Check this!)</strong>, Los Angeles began its own program where homeowners can qualify to have their property remediated of lead if they meet certain criteria. The owner must be low-income and there must be a child aged six or under that lives at the property or regularly visits.</p>
            <p>Liseth Romero-Martinez began managing the CIty's Lead Hazard Remediation Program (LHRP) in 2007. She created a list of all the properties that had been successfully remediated of lead. "I felt that families looking for a Lead Safe unit could utilize the Lead Registry," she said. However in recent years the list has not been publicly available.</p>
            <p>The average cost per remediation project is approximately $7700, according to Jose Berumen, of the LHRP. "We try to stay within the cost limits," he said. "The program has justified expenditures of over $20,000 on a single project with prior HUD budget approval."</p>
            <p>His team will assess the parts of each housing unit that have lead dangers. The family will be temporarily moved out while a team from the City conducts the work of removing windows or doors, stripping hazardous paint, and repainting.</p>
        </div>
        <div class="about collapse">
            <p><strong>Source(s): </strong>City of Los Angeles <a href="http://hcidapp.lacity.org/lahdinternet/HomeOwners/LeadHazardRemediationProgram/tabid/249/Default.aspx">Lead Hazard Remediation Program</a> via Liseth Romero-Martinez. <strong>Built using</strong> <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, <a href="http://www.highcharts.com/products/highcharts">highcharts.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <!--
            <a class="btn btn-primary" href="#" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>
            -->
        </div>
    </div>
</div>
