<div id="content-article">
    <h4 class="kicker">Immigration</h4>
    <h1>Which term best describes immigrants living in the U.S. illegally?</h1>

<div class="row-fluid">
    <div class="span4">
        <div id="content-article-metadata">
            <p><span class="credits"><span class="pubdate">Published April 24, 2013</span></p>
        </div>

        <div id="content-article-text">
            <p>The Associated Press Stylebook and several newsrooms have dropped the term "illegal immigrant." On the AP website, a top editor clarified, "The Stylebook no longer sanctions the term 'illegal immigrant' or the use of 'illegal' to describe a person. Instead, it tells users that 'illegal' should describe only an action, such as living in or immigrating to a country illegally."</p>
            <p>The decision has been applauded by Latino and immigration advocates. For years, many protested the AP and other journalism organizations, including The New York Times, over usage of what they believed to be an offensive term. But journalists are left wondering, what is the proper terminology for an immigrant in the country illegally?</p>
            <p>Do you use a specific term to describe someone with a certain immigration status? What do you think of the AP's new stance?</p>
            <p>Public Insight Network journalists have launched a collaboration to see which terms people across the United States prefer to use.</p>
        </div>

        <div id="content-article-buttons">
            <a class="btn btn-info" href="http://www.scpr.org/network/questions/immigrationmap">Read More or Submit a response</a>

            <!--
            <a class="btn btn-success" id="showmodule" href="#" onclick="userSubmit();">Submit an response</a>
            -->

            <!-- thanks for setting the standard Mr. John Keefe -->
            <!--
            <a class="hidden-tablet hidden-phone"><span class="btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed this map</a>
            -->
        </div>
    </div>
    <div class="span8">
        <p class="centered"><img src="http://www.publicinsightnetwork.org/wp-content/uploads/2013/04/immigrationcolllogo2-e1366833160530.jpg" /></p>
        <p><img src="http://a.scpr.org/i/8d5ff24036ad75eb36d6f7ee2d757f4e/58136-full.jpg" /></p>
        <div class="content-partners">
          <p class="pij">This was informed by KPCC listeners. <a href="http://www.scpr.org/network/">Become a source.</a></p>
        </div>
    </div>
</div>