<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Transportation</h4>
            <h1>Map: Where LA's bus shelters have—and haven't—been installed</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/meghan-mccarty">Meghan McCarty</a> & <a href="http://www.scpr.org/about/people/staff/aaron-mendelson">Aaron Mendelson</a> | <span class="pubdate">Published May 2, 2016</span></p>
            <p>Bus shelters protect transit users from the elements, from the summer sun to the winter rains. Under a 2001 agreement, a contractor promised to install hundreds of shelters in the City of Los Angeles over a two-decade period. But after nearly 15 years, a majority of those shelters still haven't gone up.</p>
            <p>Some areas of the city have seen more bus shelters installed than others. Below, areas of Los Angeles are split up by zip code. Darker areas have seen a higher share of their shelters installed. Click on an area to see details.</p>

        </div>
        <div class="about collapse">
            <p><strong>Source</strong>: Los Angeles Bureau of Street Services, Zip Code Tabulation Areas (ZCTAs) from United States Census Bureau. Only ZCTAs with at least 5 planned shelters are shown here. All ZCTAs include some part of Los Angeles.

             <strong>Built using</strong> <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, <a href="https://support.google.com/fusiontables/answer/2571232?hl=en">Google Fusion Tables</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
            </p>



        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <a class="btn btn-primary" href="" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>

        </div>
    </div>
</div>
