<div id="content-article">
    <h4 class="kicker">California Prison System</h4>
    <h1>Expert hired to help lower suicide rate in state prisons gives up</h1>
    <div id="content-article-text">
        <p>The expert hired by a federal court to help California lower its prison suicide rate said in a report Wednesday he’s so frustrated he’s going to stop trying.</p>
        <p>In papers filed in federal court, Dr. Raymond Patterson condemned state prison officials for failing to reduce the inmate suicide rate, which he said is getting worse.</p>
        <p>Patterson has analyzed inmate suicides in state prisons for more than a decade and made recommendations every year on how prison officials could reduce the suicide rate.</p>
        <p>Below, scroll through aspects of Patterson's report to learn how California compares to other states.</p>
    </div>
    <div id="content-article-buttons">
        <a class="btn btn-info" href="http://www.scpr.org/news/2013/03/13/36352/expert-hired-help-lower-suicide-rate-state-prisons/">Read More</a>
    </div>
</div>