.vertical-timeline-container .vertical-timeline-timeline .post .timestamp { display: none; }
.vertical-timeline-container .vertical-timeline-timeline .item .timestamp {display: none;}
.vertical-timeline-container .vertical-timeline-timeline { width: 90%; margin: 20px 5% 30px 5%; }
.vertical-timeline-container .vertical-timeline-timeline .clearfix:before,
.vertical-timeline-container .vertical-timeline-timeline .clearfix:after { content: ""; display: table; }
.vertical-timeline-container .vertical-timeline-timeline .clearfix:after { clear: both }
.vertical-timeline-container .vertical-timeline-timeline .clearfix { *zoom: 1 }

/* timeline spine */
.vertical-timeline-container .line-container { width: 4px; text-align: center; margin: 0 auto; display: block; }
.vertical-timeline-container .isotope .line { margin: 0 auto; background-color: #b3b6b8; display: block; float: left; height: 100%; width: 14px; position: absolute; left: 0; z-index: 1000;}

/* styles for individual posts */
.vertical-timeline-container .vertical-timeline-timeline .post { width: 96%; margin: 0 2% 30px 1%;}
.vertical-timeline-container .vertical-timeline-timeline .post ul { padding: 0px;}
.vertical-timeline-container .vertical-timeline-timeline .post.last { margin-bottom: 0 }
.vertical-timeline-container .vertical-timeline-timeline .post .inner { position: relative; padding: 10px; border: 1px #adadad solid; background-color: #fff; min-height: 37px; word-wrap: break-word; }
.vertical-timeline-container .vertical-timeline-timeline .post .date { color: #2B2B2B; font-size: 55%; text-transform: uppercase; font-weight: bold; width: 100%; height: 20px; line-height: 20px; text-transform: uppercase; list-style: none;}
.vertical-timeline-container .vertical-timeline-timeline .post .title { font-weight: normal; color:  #2B2B2B; padding-right: 30px; line-height: 1.3; }
.vertical-timeline-container .vertical-timeline-timeline .post .title h4 { margin-top: 0px; }
.vertical-timeline-container .vertical-timeline-timeline .post.closed .title { display: table; min-height: 40px; display: table-cell; vertical-align: middle;}
.vertical-timeline-container .vertical-timeline-timeline .post .body { margin-top: 10px }
.vertical-timeline-container .vertical-timeline-timeline .post .body img { max-width: 100%;}
.vertical-timeline-container .vertical-timeline-timeline .post .body .twitter-tweet { width: 96%; margin: 0 2% 0 2%;}
.vertical-timeline-container .vertical-timeline-timeline .post .caption { color: #2B2B2B; line-height: 15px; font-weight: normal; margin: 5px 0 10px 0; text-align: center; font-style: italic; }
.vertical-timeline-container .vertical-timeline-timeline .post .body-text { color: #2B2B2B; margin: 10px 0; }
.vertical-timeline-container .vertical-timeline-timeline .post .btn-group-justified {width: 50%; margin: 0 25% 0 25%;}
.vertical-timeline-container .vertical-timeline-timeline .post a.more { color: #2B2B2B; text-decoration: none; font-size: 12px; font-weight: bold; text-align: center; width: 211px; height: 22px; margin: 0 auto 0 auto; border: 1px #cccccc solid; background-color: #F0F0F0; display: block; /*float: left;*/ line-height: 23px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: 0px 1px 1px 0px #cccccc; -moz-box-shadow: 0px 1px 1px 0px #cccccc; box-shadow: 0px 1px 1px 0px #cccccc; }
.vertical-timeline-container .vertical-timeline-timeline .post a.more:hover { background-color: #ffffff;}
.vertical-timeline-container .vertical-timeline-timeline .post a.open-close { background: transparent url(http://projects.scpr.org/static/static-files/images/tabletop-timelines/button-up-down-arrow.png) no-repeat; height: 17px; width: 16px; position: absolute; right: 15px; top: 15px; }
.vertical-timeline-container .vertical-timeline-timeline .post.closed a.open-close { background-position: left bottom }
.vertical-timeline-container .vertical-timeline-timeline .post.closed .title {display: table; min-height: 40px;}
.vertical-timeline-container .vertical-timeline-timeline .post.closed .title h3 {display: table-cell; vertical-align: middle;}

/* post sharing */
.vertical-timeline-container .vertical-timeline-timeline .post ul.share-links {margin-top: 5px;}
.vertical-timeline-container .vertical-timeline-timeline .post ul.share-links li {padding-right: 0px; padding-left: 0px;}
.vertical-timeline-container .vertical-timeline-timeline .post ul.share-links li a {color: #2B2B2B; font-size: 150%;}
.vertical-timeline-container .vertical-timeline-timeline .post ul.share-links li a.link {padding: 20px; text-align: left; background: url('http://projects.scpr.org/static/static-files/v3-dependencies/images/tabletop-timeline-v3/iconmonstr-link-2-icon-24.png') left center no-repeat;}
.vertical-timeline-container .vertical-timeline-timeline .post ul.share-links li a.twitter {padding: 20px; text-align: left; background: url('http://projects.scpr.org/static/static-files/v3-dependencies/images/tabletop-timeline-v3/iconmonstr-twitter-2-icon-24.png') left center no-repeat;}
.vertical-timeline-container .vertical-timeline-timeline .post ul.share-links li a.facebook {padding: 20px; text-align: left; background: url('http://projects.scpr.org/static/static-files/v3-dependencies/images/tabletop-timeline-v3/iconmonstr-facebook-2-icon-24.png') left center no-repeat;}

/* post groups */
.vertical-timeline-container .vertical-timeline-timeline .group-marker { float: left; width: 80px; margin: -5px 0 5px 0; }
.vertical-timeline-container .vertical-timeline-timeline .group-marker.top { margin-top: 0 }
.vertical-timeline-container .vertical-timeline-timeline .group-marker .inner { width: 225%; height: auto; padding: 5px;}
.vertical-timeline-container .vertical-timeline-timeline .group-marker .inner2 { background-color: #b3b6b8; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.vertical-timeline-container .vertical-timeline-timeline .group { text-align: center; color: #2B2B2B; font-size: 200%; font-weight: bold; height: 30px; line-height: 140%; }

/* timeline buttons */
.vertical-timeline-container .btn-group-justified {width: 90%; margin: 0 5% 0 5%;}
.vertical-timeline-container .vertical-timeline-buttons { text-align: center; display: inline; }
.vertical-timeline-container .vertical-timeline-buttons a {color: #fdfdfd; height: 20px;}
.vertical-timeline-container .vertical-timeline-buttons a:hover {color: #2b2b2b; background: rgba(0, 127, 166, .6); border: rgba(0, 127, 166, .6) solid .1em;}
.vertical-timeline-container .vertical-timeline-buttons a.active:hover, .vertical-timeline-container .vertical-timeline-buttons a.active { background: rgba(0, 127, 166, .6); /*border: rgba(0, 127, 166, .6) solid .1em;*/ color: #2B2B2B; cursor: default; }
.data-legend-items a.label {background: rgba(0, 127, 166, 1.0); border: rgba(0, 127, 166, 1.0) solid .1em; color: #fdfdfd; padding: 5px 10px 5px 10px; font-weight: normal;}
.data-legend-items a.label:hover {background: rgba(0, 127, 166, .6); color: #2b2b2b;}
.vertical-timeline-container .vertical-timeline-buttons a span { padding-right: 15px; background-position: right -20px; }
.vertical-timeline-container .vertical-timeline-buttons a.active span { background-position: right 4px }
/*.vertical-timeline-container .vertical-timeline-buttons a.expand-all span, .vertical-timeline-container .vertical-timeline-buttons a.sort-newest span { background-image: url(http://projects.scpr.org/static/static-files/images/tabletop-timelines/up-arrows.png); background-repeat: no-repeat; }
.vertical-timeline-container .vertical-timeline-buttons a.collapse-all span, .vertical-timeline-container .vertical-timeline-buttons a.sort-oldest span { background-image: url(http://projects.scpr.org/static/static-files/images/tabletop-timelines/down-arrows.png); background-repeat: no-repeat; }
*/

/* isotope css3 transitions */
.vertical-timeline-container .isotope-item { z-index: 2 }
.vertical-timeline-container .isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }

.vertical-timeline-container .isotope,
.vertical-timeline-container .isotope .isotope-item { -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -ms-transition-duration: 0.8s; -o-transition-duration: 0.8s; transition-duration: 0.8s; }
.vertical-timeline-container .isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; -ms-transition-property: height, width; -o-transition-property: height, width; transition-property: height, width; }
.vertical-timeline-container .isotope .isotope-item { -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; -ms-transition-property: -ms-transform, opacity; -o-transition-property: top, left, opacity; transition-property: transform, opacity; }

/* disabling isotope css3 transitions */
.vertical-timeline-container .isotope.no-transition,
.vertical-timeline-container .isotope.no-transition .isotope-item,
.vertical-timeline-container .isotope .isotope-item.no-transition { -webkit-transition-duration: 0s; -moz-transition-duration: 0s; -ms-transition-duration: 0s; -o-transition-duration: 0s; transition-duration: 0s; }

/* browser specific styles */
.lt-ie9 .vertical-timeline-timeline .post .share-popup .facebook-share-button { top: 11px }
.lt-ie8 .vertical-timeline-timeline .post .share-popup .facebook-share-button { top: 16px }