/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: Arial, sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #666; color: #fff; text-shadow: none; }
::selection { background: #666; color: #fff; text-shadow: none; }

a { color: #00e; }
/*a:visited { color: #551a8b; }*/
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/**
 * CSS for timeline-jquery.
 */

.vertical-timeline-container .vertical-timeline-timeline {width: 600px; margin: 20px auto 30px auto;}

.vertical-timeline-container .vertical-timeline-timeline .clearfix:before,
.vertical-timeline-container .vertical-timeline-timeline .clearfix:after {content: ""; display: table;}

.vertical-timeline-container .vertical-timeline-timeline .clearfix:after {clear: both;}

.vertical-timeline-container .vertical-timeline-timeline .clearfix {*zoom: 1;}

.vertical-timeline-container .vertical-timeline-timeline .post {width: 271px; margin: 0 0 10px 0; float: left;}

.vertical-timeline-container .vertical-timeline-timeline .post.last {margin-bottom: 0;}

.vertical-timeline-container .vertical-timeline-timeline .post .inner {
    position: relative;
    padding: 11px;
    border: 1px #adadad solid;
    background-color: #fff;
    min-height: 37px;
    word-wrap: break-word;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 1px 0px #adadad;
    -moz-box-shadow: 0px 1px 1px 0px #adadad;
    box-shadow: 0px 1px 1px 0px #adadad;
}

.vertical-timeline-container .vertical-timeline-timeline .post.right {float: right;}
.vertical-timeline-container .vertical-timeline-timeline .item .timestamp {display: none;}

.vertical-timeline-container .vertical-timeline-timeline .post h3 {
    margin: 0;
    /*font-family: Georgia, serif;*/
    font-size: 16px;
    font-weight: normal;
    color: #010101;
    padding-right: 30px;
    line-height: 1.3;
}

.vertical-timeline-container .vertical-timeline-timeline .post .caption {
    /*font-family: "Georgia",Times New Roman,Times,serif;*/
    color: #303030;
    font-size: 11px;
    line-height: 15px;
    font-weight: normal;
    margin: 5px 0 10px 0;
}

.vertical-timeline-container .vertical-timeline-timeline .post .body {margin-top: 10px;}
.vertical-timeline-container .vertical-timeline-timeline .post .body img {max-width: 100%;}

.vertical-timeline-container .vertical-timeline-timeline .post .text {
    color: #303030;
    font-family: "Georgia", Times New Roman, Times, serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    margin: 10px 0;
}

.vertical-timeline-container .vertical-timeline-timeline .post a.open-close {
    background: transparent url(http://projects.scpr.org/static/static-files/images/tabletop-timelines/button-up-down-arrow.png) no-repeat;
    height: 17px;
    width: 16px;
    position: absolute;
    right: 11px;
    top: 11px;
}

.vertical-timeline-container .vertical-timeline-timeline .post.closed a.open-close {
    background-position: left bottom;
}

.vertical-timeline-container .vertical-timeline-timeline .post.closed .title {
    display: table;
    min-height: 40px;
}

.vertical-timeline-container .vertical-timeline-timeline .post.closed .title h3 {
    display: table-cell;
    vertical-align: middle;
}

.vertical-timeline-container .vertical-timeline-timeline .post a.more {
	color: #8C8C8C;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	width: 211px;
	height: 22px;
	margin: 0 auto 0 auto;
	border: 1px #cccccc solid;
	background-color: #F0F0F0;
	display: block;
	/*float: left;*/
	line-height: 23px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow:  0px 1px 1px 0px #cccccc;
	-moz-box-shadow:  0px 1px 1px 0px #cccccc;
	box-shadow:  0px 1px 1px 0px #cccccc;
}

.vertical-timeline-container .vertical-timeline-timeline .post a.more:hover {background-color: #FFF;}

.vertical-timeline-container .vertical-timeline-timeline .post a.share-trigger {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 20%;
    height: 28px;
    border: 1px #87b2d3 solid;
    background: #d6e5f0 url(http://projects.scpr.org/static/static-files/images/tabletop-timelines/icon-share.png) no-repeat center center;
    display: block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 1px 0px #87b2d3;
    -moz-box-shadow: 0px 1px 1px 0px #87b2d3;
    box-shadow: 0px 1px 1px 0px #87b2d3;
}

.vertical-timeline-container .vertical-timeline-timeline .post a.share-trigger.over,
.vertical-timeline-container .vertical-timeline-timeline .post a.share-trigger:hover {background-color: #FFF;}

.vertical-timeline-container .vertical-timeline-timeline .post .share {
    position: relative;
    float: right;
    width: 30px;
    height: 30px;
}

.vertical-timeline-container .vertical-timeline-timeline .post .share-popup {
    display: none;
    background: transparent url(http://projects.scpr.org/static/static-files/images/tabletop-timelines/popup.png) no-repeat;
    width: 166px;
    height: 50px;
    position: absolute;
    top: -61px;
    left: -126px;
    text-align: center;
    padding-top: 15px;
}

.vertical-timeline-container .vertical-timeline-timeline .post .share-popup .twitter-share-button {
    position: absolute;
    left: 20px;
    top: 15px;
}

.vertical-timeline-container .vertical-timeline-timeline .post .share-popup .facebook-share-button {
      position: absolute;
      right: 20px;
      top: 12px;
}

.vertical-timeline-container .vertical-timeline-timeline .post .date {
      color: #6a6a6a;
      font-size: 11px;
      text-align: center;
      position: absolute;
      top: 19px;
      display: block;
      width: 54px;
      height: 21px;
      line-height: 20px;
}

.vertical-timeline-container .vertical-timeline-timeline .post.left .date {
  background: transparent url(http://projects.scpr.org/static/static-files/images/tabletop-timelines/tab-left.png) no-repeat right;
  right: -54px;
}

.vertical-timeline-container .vertical-timeline-timeline .post.right .date {background: transparent url(http://projects.scpr.org/static/static-files/images/tabletop-timelines/tab-right.png) no-repeat left; left: -54px;}

.vertical-timeline-container .vertical-timeline-timeline .group-marker {
    float: left;
    width: 80px;
    margin: 50px 0 15px 0;
}

.vertical-timeline-container .vertical-timeline-timeline .group-marker.top {margin-top: 0;}

.vertical-timeline-container .vertical-timeline-timeline .group-marker .inner {
    width: 76px;
    height: 26px;
    padding: 2px;
    background-color: #FFF;
}

.vertical-timeline-container .vertical-timeline-timeline .group-marker .inner2 {
    background-color: #434a50;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.vertical-timeline-container .vertical-timeline-timeline .group {
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
}

.vertical-timeline-container .vertical-timeline-buttons {text-align: center; margin: 30px 0 15px 0; height: 30px;}

.vertical-timeline-container .vertical-timeline-buttons div {display: inline; padding: 0 10px;}

.vertical-timeline-container .vertical-timeline-buttons a {
    width: 126px;
    height: 28px;
    border: 1px #adadad solid;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 12px;
    background-color: #FFF;
    color: #3b3b3b;
    text-transform: uppercase;
}

.vertical-timeline-container .vertical-timeline-buttons a.active:hover, .vertical-timeline-container .vertical-timeline-buttons a.active {
    background-color: #f6f6f6;
    color: #a9a9a9;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: default;
}

.vertical-timeline-container .vertical-timeline-buttons a:hover {
    -webkit-box-shadow: 0px 1px 1px 0px #adadad;
    -moz-box-shadow: 0px 1px 1px 0px #adadad;
    box-shadow: 0px 1px 1px 0px #adadad;
}

.vertical-timeline-container .vertical-timeline-buttons a span {padding-right: 15px; background-position: right -20px;}

.vertical-timeline-container .vertical-timeline-buttons a.active span {background-position: right 4px;}

.vertical-timeline-container .vertical-timeline-buttons a.expand-all span,
.vertical-timeline-container .vertical-timeline-buttons a.sort-newest span {
    background-image: url(http://projects.scpr.org/static/static-files/images/tabletop-timelines/up-arrows.png);
    background-repeat: no-repeat;
}

.vertical-timeline-container .vertical-timeline-buttons a.collapse-all span,
.vertical-timeline-container .vertical-timeline-buttons a.sort-oldest span {
    background-image: url(http://projects.scpr.org/static/static-files/images/tabletop-timelines/down-arrows.png);
    background-repeat: no-repeat;
}

.vertical-timeline-container .line-container {
    width: 4px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.vertical-timeline-container .isotope .line {
    margin: 0 auto;
    background-color: #b3b6b8;
    display: block;
    float: left;
    height: 100%;
    left: 298px;
    width: 4px;
    position: absolute;
}

/* Isotope Filtering */
.vertical-timeline-container .isotope-item {z-index: 2;}
.vertical-timeline-container .isotope-hidden.isotope-item {pointer-events: none; z-index: 1;}

/* Isotope CSS3 transitions */
.vertical-timeline-container .isotope, .vertical-timeline-container .isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.vertical-timeline-container .isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.vertical-timeline-container .isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity;
}

/* disabling Isotope CSS3 transitions */
.vertical-timeline-container .isotope.no-transition, .vertical-timeline-container .isotope.no-transition .isotope-item, .vertical-timeline-container .isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/* Browser specific styles. */
.lt-ie9 .vertical-timeline-timeline .post .share-popup .facebook-share-button {top: 11px;}
.lt-ie8 .vertical-timeline-timeline .post .share-popup .facebook-share-button {top: 16px;}