<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Wildfires</h4>
            <h1>Animation: Smoke from the San Gabriel Complex Fire</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/aaron-mendelson">Aaron Mendelson</a></span> | <span class="pubdate">Published June 21, 2016</span></p>
            <p>When <a href="http://www.scpr.org/news/2016/06/21/61844/san-gabriel-complex-operations-combined-for-fish-a/" target="blank">two fires broke out in the hills above Duarte and Azusa</a>, they quickly forced evacuations and road closures. Smoke from the fires is visible around the region, and on Tuesday morning, the South Coast Air Quality Management District <a href="http://publichealth.lacounty.gov/phcommon/public/media/mediapubdetail.cfm?unit=media&ou=ph&prog=media&cur=cur&prid=1484&row=25&start=1">declared</a> the fires were contributing to unhealthy air quality.</p>
            <p>The image below shows where smoke from the fire could travel, according to United States Forest Service projections. The agency's model, known as the BlueSky Modeling Framework, incorporates information about fires, fuel loadings, consumption, emissions, plume height and smoke trajectory. The image below was pulled from the Blue Sky <a href="http://viewer.smoke.airfire.org/websky/v1/run/standard/CANSAC-2km/2016062100">page</a> on June 21.</p>
            <p>The loop begins at 5 p.m. on Monday, June 20 and ends at 3 p.m. on Thursday, June 23. The model is only a projection, and the forest service suggests people contact local public health departments for the latest on air quality. The most recent information on the San Gabriel Complex Fire <a href="http://firetracker.scpr.org/san-gabriel-complex-fire-los-angeles-county/">can be found on KPCC's Fire Tracker</a>.</p>
        </div>
        <div class="about collapse">
            <p>Source(s): <a href="http://viewer.smoke.airfire.org/websky/v1/run/standard/CANSAC-2km/2016062100">United States Forest Service</a>. Built using <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, <a href="https://github.com/jsoma/tabletop">tabletop.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
            </p>
        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <a class="btn btn-primary" href="http://www.scpr.org/news/2014/08/26/46270/station-fire-five-years-later-how-is-the-forest-re/" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>
        </div>
    </div>
</div>
