<div class="row-fluid">
    <div class="span12">
        <div id="article-footer">
            <div id="sources">
                <p class="normal-display"><strong>Sources: </strong><a href="http://www.socalgas.com/safety/pipeline-maps/LA.shtml">Southern California Gas Company</a>.</p>
            </div>
            <div id="credits">
            <p class="normal-display"><strong>Credits</strong>: KPCC staff.
            </div>
            <div id="open-source">
                <p class="small-display">Built using <a href="http://www.google.com/drive/apps.html#fusiontables">Fusion Tables</a>, <a href="http://derekeder.com">Derek Eder's</a> <a href="http://derekeder.com/searchable_map_template/">Searchable Map Template</a>, <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">bootstrap</a>.</p>
            </div>
        </div>
    </div>
</div>