<div id="content-article">
    <h4 class="kicker">Los Angeles County</h4>
    <h1>SoCalGas natural gas pipelines in Los Angeles</h1>
    <div id="content-article-text">
        <p>An explosion in East Harlem that killed at least seven people on Wednesday morning and injured dozens more is believed to have been caused by a natural gas leak. Con Edison officials said they received reports of a gas odor shortly before the explosion.</p>
        <p>The circumstances sparked memories of a similar blast that took place in San Bruno, California, three years ago, when a gas explosion and subsequent fire killed eight people and destroyed 38 homes.</p>
        <p>The map below shows the Los Angeles portion of the Southern California Gas Company's service area, an area that in total spans most of the state's southern third and covers some 20,000 square miles.</p>
    </div>
    <div id="content-article-buttons">
        <a class="btn btn-info" href="http://www.scpr.org/news/2014/03/13/42787/3-years-after-san-bruno-gas-explosion-is-californi/">Read More</a>
    </div>
</div>