<div id="content-article">
    <h4 class="kicker">Timeline</h4>
    <h1>Same sex marriage in California</h1>

    <div id="content-article-text">
        <p>This timeline looks at the history of Proposition 8, California's voter-approved ban against same-sex marriage that is in front of the U.S Supreme Court.</p>
    </div>

    <div id="content-article-buttons">
        <a class="btn btn-info" href="http://www.scpr.org/news/2013/03/26/36554/us-supreme-court-hears-oral-arguments-on-prop-8-ca/">Read More</a>

        <!-- thanks for setting the standard Mr. John Keefe -->
        <span class="hidden-tablet hidden-phone btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed This Timeline</span>
    </div>
</div>