<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="content-article">
            <div class="headlines">
                <h4 class="kicker">2014 Academy Awards</h4>
                <h1>Predicting the Oscars winners</h1>
            </div>
            <div class="text collapse">
                <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/karen-foshay">Karen Foshay</a> & <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Published Dec. 20, 2013</span></p>
                <p>Seitan 90's messenger bag shabby chic semiotics salvia Vice. XOXO synth authentic Brooklyn forage. Small batch Marfa synth try-hard. Thundercats try-hard High Life chillwave umami sriracha photo booth. Hoodie polaroid locavore stumptown. Fanny pack pickled Brooklyn, polaroid wolf food truck cliche narwhal 8-bit tattooed. Thundercats XOXO 8-bit pop-up, fanny pack leggings 3 wolf moon brunch food truck mustache bespoke YOLO quinoa Godard. unanswered questions.</p>
            </div>
            <div class="about collapse">
                <p><strong>Source(s): </strong>xXxxxxxx. <strong>Built using</strong> <a href="https://github.com/jsoma/tabletop">tabletop.js</a>, <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
            </div>
            <div class="buttons btn-group btn-group-justified">
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
                <!--
                <a class="btn btn-primary" href="#"><span class="glyphicon glyphicon-link"></span> Read more</a>
                -->
            </div>
        </div>
    </div>
</div>