<div id="data-intro">
    <h2>Mapping L.A.'s most dangerous areas for pedestrians &amp; bicyclists</h2>
    <p>While Los Angeles city officials <a href="http://blogdowntown.com/2012/12/7093-new-zebra-crossings-aim-to-make-53-la-intersection" target="blank">took steps Monday</a> to combat a higher-than-average rate of traffic accidents involving pedestrians and bicyclists, problem spots remain.</p>
    <span id="toBeRemoved"><p>We want to know what intersections and locations are most dangerous for pedestrians and cyclists. Where have you seen or had issues?</p>
    <p>Check out the map to see what has been what's been reported, and click the button below if you have a suggestion.</p></span>
    <a class="btn btn-large" href="#" onClick="userSubmit();">Submit a trouble spot</a>
</div>

<div id="data-map-info"></div>

<div id="data-user-submit">
    <p><iframe width="100%" height="100%" src="https://docs.google.com/spreadsheet/embeddedform?formkey=dHQ1QlQwU1lVNHRRZGVQa25SQ3IxRmc6MQ" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>
    <a class="btn btn-large" href="#" onClick="mapIntro();"><< Back</a>
</div>
