<div id="data-intro">
<h2>Pedestrian Safety</h2>
<p>Mayor Villaraigosa today announced a new pedestrian safety initiative aimed at improving conditions for walkers throughout the City, which includes highly visible crosswalks at 53 intersections and an educational campaign.</p>
<p id="toBeRemoved">Mayor Villaraigosa unveiled the first new crosswalk during a press conference at the intersection of Spring and Fifth streets in downtown Los Angeles today, where he was joined by pedestrian advocates and downtown business leaders. During the next three months, the crosswalks will be painted at 53 intersections throughout the city that have a high number of pedestrian and vehicle collisions. The design is known as a continental crosswalk and features two-foot wide yellow or white painted stripes paired with a limit (stop) line setback from the crosswalk to reduce vehicular encroachment into the crosswalk. The bold crosswalks alert motorists that they are approaching a pedestrian zone.</p>
<a class="btn btn-large" href="#" onClick="userSubmit();">Submit a trouble spot</a>
</div>

<div id="data-map-info"></div>

<div id="data-user-submit">
<p><iframe width="100%" height="100%" src="https://docs.google.com/spreadsheet/embeddedform?formkey=dHQ1QlQwU1lVNHRRZGVQa25SQ3IxRmc6MQ" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>
<a class="btn btn-large" href="#" onClick="mapIntro();">Return To Intro</a>
</div>
