<div id="content-article">
    <h4 class="kicker">ENVIRONMENT</h4>
    <h1>Timeline: San Onofre nuclear plant shutdown</h1>

    <div id="content-article-text">
        <p>The San Onofre nuclear power plant is being closed down permanently, thanks to rapid wear inside tubes that carry radioactive water inside the plant's generators. Here's a look back at some of the major events that led to this point.</p>
    </div>

    <div id="content-article-buttons">
        <a class="btn btn-info" href="http://www.scpr.org/news/2013/06/07/37618/edison-plans-to-shut-down-san-onofre-nuclear-plant/">Read More</a>

        <!-- thanks for setting the standard Mr. John Keefe -->
        <span class="hidden-tablet hidden-phone btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed This Timeline</span>
    </div>
</div>