<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Environment</h4>
            <h1>Search comments regarding state efforts to reduce water use</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Published April 17, 2015</span></p>

            <p>California water officials received more than 200 letters and emails in response to a proposal that would require local water agencies to cut consumption anywhere from 10 to 35 percent, depending on recent use rates and conservation efforts.</p>

            <p>Under the proposal, water agencies in <a href="http://projects.scpr.org/applications/monthly-water-use/los-angeles-department-of-water-and-power/">Los Angeles</a> and <a href="http://projects.scpr.org/applications/monthly-water-use/city-of-long-beach/">Long Beach</a>&mdash;which have both had ongoing conservation programs and use rates closer to the state average&mdash;would be required to cut 20 percent.</p>


            <p>Water agencies that consume more per capita or haven’t cut as much in past years&mdash;like <a href="http://projects.scpr.org/applications/monthly-water-use/city-of-beverly-hills/">Beverly Hills</a> and the <a href="http://projects.scpr.org/applications/monthly-water-use/serrano-water-district/">Serrano Water District</a>&mdash;would be required to trim their use by more than 35 percent.</p>

            <p>Some of those who submitted comments complained they would need more time than allowed to hit their proposed reduction target. Others said the current framework doesn't fully account for past conservation efforts.</p>

            <p>The state <a href="http://www.scpr.org/news/2015/04/17/51092/water-board-set-to-release-updated-proposal-for-ma/">is expected</a> to release an updated proposal for mandatory cutbacks following a volley of criticism over its original proposal.</p>

            <p>These comments were made available by the <a href="http://www.swrcb.ca.gov/waterrights/water_issues/programs/drought/conservation_reporting_info.shtml">State Water Resources Control Board</a>.</p>

        </div>
        <div class="about collapse">
            <p><strong>Searching the document repository: </strong>Using a combination of people, places and things, use the search box to find documents that match your query. If more than six documents match your query, you can page through them using the navigation below. <strong>Source(s): </strong>State Water Resources Control Board Public Comments regarding Proposal to Achieve 25 percent Urban Conservation. <strong>Built using</strong> <a href="https://www.documentcloud.org/home">Document Cloud</a>, <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <a class="btn btn-primary" href="http://projects.scpr.org/applications/monthly-water-use/" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>
        </div>
    </div>
</div>