<div id="content-article">
    <h4 class="kicker">Timeline</h4>
    <h1>Antonio Villaraigosa's tenure</h1>

    <div id="content-article-text">
        <p>As Los Angeles Mayor Antonio Villaraigosa approaches the end of his eight-year tenure, KPCC is examining his performance and legacy. Here’s a timeline of significant milestones during his time in office.</p>
    </div>

    <div id="content-article-buttons">
        <a class="btn btn-info" href="http://www.scpr.org/villaraigosa/">Read More</a>

        <!-- thanks for setting the standard Mr. John Keefe -->
        <span class="hidden-tablet hidden-phone btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed This Timeline</span>
    </div>
</div>