<div class="row-fluid">
    <div class="span12">
        <div id="article-footer">
            <div id="sources">
                <p class="normal-display"><strong>Sources: </strong><a href="#">Xxxxxxx</a>.</p>
            </div>
            <div id="open-source">
                <p class="small-display">Built using <a href="https://soundcloud.com/" target="blank">SoundCloud</a>, <a href="https://www.documentcloud.org/home" target="blank">DocumentCloud</a>, <a href="http://popcornjs.org/" target="blank">popcorn.js</a>, <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
            </div>
        </div>
    </div>
</div>