<div id="content-article">
    <h4 class="kicker">Business & Economy</h4>
    <h1>Timeline: A look back at the Great Recession, 5 years after Lehman Brothers</h1>

    <div id="content-article-text">
        <p>This week marks Lehman Brothers filing for bankruptcy, a landmark moment in the Great Recession. This timeline looks at some of the major moments and stories of the global economic crisis that affected the world, the nation and hit home right here in Southern California.</p>
    </div>

<!--
    <div id="content-article-buttons">
        <a class="btn btn-info" href="#">Read More</a>
        <span class="hidden-tablet hidden-phone btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed This Timeline</span>
    </div>
-->

</div>