/* basic structure */
.data-container .data-visuals { margin: 0px; }

.data-container .data-visuals #content-map-canvas { float: right; width: 74%; height: 600px; margin: 0px; cursor: pointer; }

.data-legend { width: 100%; height: auto; margin: 10px 0 5px 0; }

.data-container .data-visuals .jumbotron { width: 100%; height: auto; background: rgba(240, 248, 255, 1.0); margin: 10px 0% 10px 0%; padding: 10px 0 10px 0; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; -khtml-border-radius: 0; overflow: hidden; }

.rando-fact { font-size: 100%; }

.data-container .data-visuals .jumbotron a { font-weight: 700; }

.data-container .data-visuals .jumbotron #action-controls { width: 100%; height: auto; margin: 10px 0 0 0; }

.data-container .data-visuals .jumbotron #form-controls,
.data-container .data-visuals .jumbotron #reset { height: auto; margin: 0 10px 0 10px; }

.data-container .data-visuals .jumbotron #form-controls button,
.data-container .data-visuals .jumbotron #reset button { height: 50px; margin: 10px 0px 0 0px; }

.data-container .data-visuals .data-loading { width: 40%; height: 100px; margin: 20px 30% 0 30%; padding: 0px; text-align: center; color: #333333; }

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    /*.data-container .data-visuals #content-map-canvas { height: 600px; margin: 0 0 10px 0; }*/
    body.minimal .data-container h1 { font-size: 270%; font-weight: bold; }
    body.minimal .data-container h2 { font-size: 240%; }
    body.minimal .data-container h3 { font-size: 210%; }
    body.minimal .data-container h4 { font-size: 180%; }
    body.minimal .data-container h5 { font-size: 150%; }
    body.minimal .data-container h6 { font-size: 130%; }
    body.minimal .data-container p { font-size: 110%; }
}

@media (max-width: 480px) {
    /*.data-container .data-visuals #content-map-canvas { height: 600px; margin: 0 0 10px 0; }*/
    body.minimal .data-container h1 { font-size: 270%; font-weight: bold; }
    body.minimal .data-container h2 { font-size: 240%; }
    body.minimal .data-container h3 { font-size: 210%; }
    body.minimal .data-container h4 { font-size: 180%; }
    body.minimal .data-container h5 { font-size: 150%; }
    body.minimal .data-container h6 { font-size: 130%; }
    body.minimal .data-container p { font-size: 110%; }
}

@media (max-width: 491px) {
    .data-container .data-visuals .jumbotron a { font-size: 90%; }
    .data-container .data-visuals .jumbotron .placemark { width: 20px; vertical-align: middle; }
}

@media (min-width: 481px) {
    body.minimal h1 { font-size: 420%; font-weight: bold; }
    body.minimal h2 { font-size: 380%; }
    body.minimal h3 { font-size: 340%; }
    body.minimal h4 { font-size: 300%; }
    body.minimal h5 { font-size: 260%; }
    body.minimal h6 { font-size: 220%; }
    body.minimal p { font-size: 120%; }
    body.minimal a.btn-primary { font-size: 120%; }
    body.minimal .kicker { font-size: 130%; }
    body.minimal .small-writing { font-size: 120%; }
    body.minimal .sky-writing { font-size: 500%; color: #EC7C04; }
    body.minimal .jumbotron p { font-size: 70%; font-weight: normal; }
    body.minimal table { font-size: 130%; }
    body.minimal ul li { font-size: 130%; }
}

@media (min-width: 491px) {
    .data-container .data-visuals .jumbotron .placemark { width: 25px; }
}

@media (min-width: 567px) {
    .data-container .data-visuals .jumbotron a { font-size: 120%; }
    .data-container .data-visuals .jumbotron .placemark { width: 25px; vertical-align: text-bottom; }
}

@media (min-width: 767px) {
    body.minimal h1 { font-size: 460%; font-weight: bold; }
    body.minimal h2 { font-size: 400%; }
    body.minimal h3 { font-size: 340%; }
    body.minimal h4 { font-size: 280%; }
    body.minimal h5 { font-size: 220%; }
    body.minimal h6 { font-size: 160%; }
    body.minimal p { font-size: 130%; }
    body.minimal a.btn-primary { font-size: 140%; }
    body.minimal .kicker { font-size: 150%; }
    body.minimal .small-writing { font-size: 130%; }
    body.minimal .sky-writing { font-size: 600%; color: #EC7C04; }
    body.minimal .jumbotron p { font-size: 80%; font-weight: normal; }
    body.minimal table { font-size: 140%; }
    body.minimal ul li { font-size: 140%; }
}

@media (min-width: 768px) {
    .data-container .data-visuals .jumbotron a { font-size: 150%; }
    .data-container .data-visuals .jumbotron .placemark { width: 35px; vertical-align: text-bottom; }
}

@media (min-width: 830px) {
    .data-container .data-visuals .jumbotron .placemark { width: 40px; vertical-align: text-bottom; }
}

@media (min-width: 992px) {
    .data-container .data-visuals .jumbotron a { font-size: 175%; }
    .data-container .data-visuals .jumbotron .placemark { width: 50px; vertical-align: text-bottom; }
    body.minimal h1 { font-size: 480%; font-weight: bold; }
    body.minimal h2 { font-size: 420%; }
    body.minimal h3 { font-size: 360%; }
    body.minimal h4 { font-size: 300%; }
    body.minimal h5 { font-size: 240%; }
    body.minimal h6 { font-size: 180%; }
    body.minimal p { font-size: 130%; }
    body.minimal a.btn-primary { font-size: 140%; }
    body.minimal .kicker { font-size: 150%; }
    body.minimal .small-writing { font-size: 130%; }
    body.minimal .sky-writing { font-size: 600%; color: #EC7C04; }
    body.minimal .jumbotron p { font-size: 80%; font-weight: normal; }
    body.minimal table { font-size: 140%; }
    body.minimal ul li { font-size: 140%; }
 }

/* map */
.map-row .prologue { border-bottom: 0px solid #7ac8d4; }
#content-map-container { margin: 0px 0 1% 0 1%; color: #2f2f2f; padding: 10px 0 10px 0; }
#content-map-container a { color: #31AAD3; text-decoration: none; }
#content-map-container .prologue { width: 89%; }
#content-map-container .prologue p { color: #666;font-family: "freight-sans-pro", Helvetica, sans-serif; font-size: 0.875em; }
#content-map-container .chapter { font-size:2em;margin:0 0 0.75em; }
#content-map-explainer { background: #fff; border: 1px solid #ebebeb; float: left; width: 25%;}
#content-map-explainer #content-map-data { width: 96%; height: 530px; margin: 15px 2% 15px 2%; font: normal 500 1em/1.15 "proxima-nova", Helvetica, sans-serif; }
#content-map-data #data-point-sentence { width: 96%; height: auto; margin: 15px 2% 15px 2%; }
#content-map-data #data-point-display { width: 96%; height: auto; margin: 15px 2% 25px 2%; }
#content-map-data #data-point-caveat { width: 96%; height: auto; margin: 15px 2% 5px 2%; text-align: center; }
#content-map-legend { float: right; width: 74%; height: 40px; }
#content-map-legend table { width: 100%; margin: 0px; line-height: 2em; border-width: 0px; border-style: solid; border-color: gray; border-collapse: collapse; font: normal 500 1em/1.15 "proxima-nova", Helvetica, sans-serif; }
#content-map-legend td { padding: 2px; text-align: left; font-weight: bold; width: 25%; }
#content-map-legend td.lower-tier { border-left: 22px solid #CCEDF8; }
#content-map-legend td.middle-tier { border-left: 22px solid #31ABD4; }
#content-map-legend td.higher-tier { border-left: 22px solid #023747; }
#content-map-methodology { float: right; width: 74%; height: auto; margin: 15px 0 15px 0; font-size: 0.8125em; line-height: 1.2; font-family: Georgia, serif; font-weight: 400; }
#content-map-methodology p { color:#666;line-height:1.4em; }
.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; }
.info h4 { margin: 0 0 5px; color: #777; }
.legend { line-height: 18px; color: #555; }
.legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }

/* typography */
#content-map-container .lt-30pct { color: #fdbe85; }
#content-map-container .gt-30pct { color: #d94701; }
#content-map-explainer h1 { font-size: 30px; line-height: 28px; margin: 0 0 10px 0; }
.data-container .data-visuals #content-map-explainer .data-h2 { font-size: 24px; line-height: 24px; margin: 0 0 5px 0; color: #D15904; font-family: "freight-sans-pro", Helvetica, sans-serif; font-size: 1.25em !important; text-align: center; /*margin :10px !important; padding-top: 8px;*/ }
#content-map-explainer h3 { font-size: 20px; line-height: 20px; margin: 0 0 5px 0; }
#content-map-explainer h4 { font-size: 16px; line-height: 20px; margin: 0 0 5px 0; }
#content-map-container .stat-point { font-size: 30px; color: #f07a30; }

/* bar charts */
/* http://alistapart.com/article/accessibledatavisualization */
#content-map-data .chartlist { width: 100%; border-top: 1px solid #EEE; margin: 0px; -webkit-padding-start: 0px; }
#content-map-data .chartlist li { width: 100%; height: 25px; position: relative; display: block; border-bottom: 1px solid #EEE; _zoom: 1; }
#content-map-data .chartlist li a { display: block; padding: 0.4em 4.5em 0.4em 0.5em; position: relative; z-index: 2; text-decoration: none; font-weight: bold; color: #2f2f2f; cursor: default; }
#content-map-data .chartlist .count { display: block; position: absolute; top: 0; right: 0; margin: 0 0.3em; text-align: right; color: #d94701; font-weight: bold; font-size: 1em; line-height: 2em; }
#content-map-data .chartlist .index { display: block; position: absolute; top: 0; left: 0; height: 100%; background: #fdbe85; text-indent: -9999px; overflow: hidden; line-height: 2em; }
#content-map-data .chartlist li:hover { background: #efefef; }

/* location search */
#content-map-container .controls form { margin: 0 6.59842519685%;}
#content-map-container .controls .geography-browser {padding: 0 5% 0 5%; width: 100%; margin: 0 0 0px -5%; border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
#content-map-container .controls .control { margin-bottom: 8px }
#content-map-container .controls .control label,
#content-map-container .controls .control input { font-weight: 700; color: #000; font-size: 0.75em; font-family: "proxima-nova",  "Avenir Next",  "Avenir",  "Lucida Grande",  "Corbel",  "Tahoma",  Arial,  sans-serif; }
#content-map-container .controls .control input { color: #000 }
#content-map-container .controls .control input[type="checkbox"] { border: 1px solid blue; -webkit-appearance: checkbox; }
#content-map-container .controls .control p { margin-bottom: 8px }
#content-map-container .controls .control p label,
#content-map-container .controls .control p input { display: inline-block }
#content-map-container .controls .control.stacked { padding-top: 8px }
#content-map-container .controls .control.stacked p input { border: none; background: none; padding: 0; width: 5em; }
#content-map-container .controls .control.stacked label { font-size: 0.6875em; text-transform: uppercase; color: #7e7e7e; }
#content-map-container .controls .control.toggle { background: #ecd2a2; padding: 1px 0% 4px 0%; margin-right: -10%; width: 100%; position: relative; }
#content-map-container .controls #data-toggles {margin: 15px 0 15px 0;}
#content-map-container .controls .toggle label { font-size: 0.6875em; text-transform: uppercase; color: #7e7e7e; line-height: 1em; display: block; margin: 5px 0 3px 19px; text-indent: 25px;}
#content-map-container .controls .toggle input { position: absolute; top: 6px; left: 5%; text-indent: 15px;}
#content-map-container .controls .control.location { padding-top: 15px }
#content-map-container .controls .control.location .pairing.text { margin-bottom: 8px }
#content-map-container .controls .control.location .pairing.text label { display: block; margin-bottom: 5px; }
#content-map-container .controls .control.location input[type="text"] { display: block; border: 1px solid gray; box-sizing: border-box; -moz-box-sizing: border-box; padding: 3px; width: 100%; font-weight: normal; }
#content-map-container .control.submit,
#content-map-container .control.reset { padding: 8px 0 8px 0; margin: 10px 0 0 0; }
#content-map-container .control.submit button,
#content-map-container .control.reset button { display: block; padding: 6px 9px; cursor: pointer; width: 100%; text-align: center; border: none; background: #D15904; color: white; /*font-family: "proxima-nova",  "Avenir Next",  "Avenir",  "Lucida Grande",  "Corbel",  "Tahoma",  Arial,  sans-serif;; font-weight: 700; */ font-size: 0.9375em; text-transform: uppercase; }
#content-map-container .control.submit button:hover,
#content-map-container .control.reset button:hover { background: #fdbe85; color: #2f2f2f; }
#content-map-container .controls #location-awareness-input .no-show { display: none }
#content-map-container .no-show-this { display: none }
#content-map-container #pin-query-response img {vertical-align: text-bottom;}

@media screen and (min-width: 1400px) and (max-width: 3000px) {
    #content-map-container {height: 1400px;}
    #content-map-explainer {height: 1130px;}
    #content-map-container .data-h2 { font-size: 18px; line-height: 26px; margin: 0 0 5px 0; }
    #content-map-container h4 { font-size: 16px; line-height: 20px; margin: 0 0 5px 0; }
    #content-map-container blockquote,
    #content-map-explainer p,
    #content-map-methodology p { font-size: 14px; line-height: 17px; margin: 0 0 5px 0; }
    #content-map-container .chartlist .count, #content-map-data .chartlist li a { font-size: 0.9em; line-height: 1em; }
    #content-map-container .controls .toggle label { font-size: 0.65em;}
}

@media screen and (min-width: 1180px) and (max-width: 1399px) {
    #content-map-container {height: 1480px;}
    #content-map-explainer {height: 1230px;}
    #content-map-container .data-h2 { font-size: 16px; line-height: 26px; margin: 0 0 5px 0; }
    #content-map-container h4 { font-size: 14px; line-height: 18px; margin: 0 0 5px 0; }
    #content-map-container blockquote,
    #content-map-explainer p,
    #content-map-methodology p { font-size: 13px; line-height: 17px; margin: 0 0 5px 0; }
    #content-map-container .chartlist .count, #content-map-data .chartlist li a { font-size: 0.7em; line-height: 2em; }
    #content-map-container .controls .toggle label { font-size: 0.65em;}
}

@media screen and (min-width: 1021px) and (max-width: 1179px) {
    #content-map-container {height: 1600px;}
    #content-map-explainer {height: auto; min-height: 1340px;}
    #content-map-container .data-h2 { font-size: 16px; line-height: 26px; margin: 0 0 5px 0; }
    #content-map-container h4 { font-size: 14px; line-height: 18px; margin: 0 0 5px 0; }
    #content-map-container blockquote,
    #content-map-explainer p,
    #content-map-methodology p { font-size: 13px; line-height: 17px; margin: 0 0 5px 0; }
    #content-map-container .chartlist .count, #content-map-data .chartlist li a { font-size: 0.7em; line-height: 2em; }
    #content-map-container .controls .toggle label { font-size: 0.65em;}
}

@media screen and (min-width: 880px) and (max-width: 1020px) {
    #content-map-container {height: 1530px;}
    #content-map-explainer {height: auto; min-height: 1240px;}
    #content-map-container .data-h2 { font-size: 16px; line-height: 26px; margin: 0 0 5px 0; }
    #content-map-container h4 { font-size: 14px; line-height: 18px; margin: 0 0 5px 0; }
    #content-map-container blockquote,
    #content-map-explainer p,
    #content-map-methodology p { font-size: 13px; line-height: 17px; margin: 0 0 5px 0; }
    #content-map-container .chartlist .count, #content-map-data .chartlist li a { font-size: 0.7em; line-height: 2em; }
    #content-map-container .controls .toggle label { font-size: 0.65em;}
}

@media screen and (min-width: 680px) and (max-width: 879px) {
    .row-pt1-d.map-row { padding :0 10px; }
    #content-map-container { height: auto; }
    #content-map-explainer { float: none; height: auto; min-height: 920px; width: 100%; }
    .data-container .data-visuals #content-map-canvas { float: none; height: 600px; width: 100%; }
    #content-map-legend { float: none; width:100%; }
    #content-map-methodology { float: none; width: 100%; }
    #content-map-container .data-h2 { font-size: 16px; line-height: 26px; margin: 0 0 5px 0; }
    #content-map-container h4 { font-size: 14px; line-height: 18px; margin: 0 0 5px 0; }
    #content-map-container blockquote,
    #content-map-explainer p,
    #content-map-methodology p { font-size: 13px; line-height: 17px; margin: 0 0 5px 0; }
    #content-map-container .chartlist .count, #content-map-data .chartlist li a { font-size: 0.7em; line-height: 2em; }
    #content-map-container .controls .toggle label { font-size: 0.65em;}
}

@media screen and (max-width:679px) {
    .row-pt1-d.map-row { padding :0 10px; }
    #content-map-container { height: auto; }
    #content-map-explainer { float: none; height: auto; min-height: 1040px; width: 100%; }
    .data-container .data-visuals #content-map-canvas { float: none; height: 600px; width: 100%; }
    #content-map-legend { float: none; width:100%; }
    #content-map-methodology { float: none; width: 100%; }
    #content-map-container .data-h2 { font-size: 14px; line-height: 26px; margin: 0 0 5px 0; }
    #content-map-container h4 { font-size: 12px; line-height: 16px; margin: 0 0 5px 0; }
    #content-map-container blockquote,
    #content-map-explainer p,
    #content-map-methodology p { font-size: 12px; line-height: 16px; margin: 0 0 5px 0; }
    #content-map-container .chartlist .count, #content-map-data .chartlist li a { font-size: 0.7em; line-height: 2em; }
    #content-map-container .controls .toggle label { font-size: 0.65em;}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    #content-map-container { height: auto; }
    #content-map-explainer { float: none; height: 1120px; width: 94%; margin: 0 3% 0 3%; }
    .data-container .data-visuals #content-map-canvas { float: none; height: 600px; width: 94%; margin: 0 3% 0 3%; }
    #content-map-data { font-size: 0.7em; line-height: 2em; }
    #content-map-container .data-h2 { font-size: 14px; line-height: 26px; margin: 0 0 5px 0; }
    #content-map-container h4 { font-size: 12px; line-height: 16px; margin: 0 0 5px 0; }
    #content-map-container blockquote,
    #content-map-explainer p,
    #content-map-methodology p { font-size: 12px; line-height: 16px; margin: 0 0 5px 0; }
    #content-map-container .chartlist .count, #content-map-data .chartlist li a { font-size: 0.7em; line-height: 2em; }
    #content-map-container .controls .toggle label { font-size: 0.65em;}
}

@-moz-keyframes leaflet-usermarker-pulsate {
    from { -moz-transform: scale(0.5); opacity: 1.0; }
    95% { -moz-transform: scale(1.3); opacity: 0; }
    to { -moz-transform: scale(0.7); opacity: 0; }
}
@-webkit-keyframes leaflet-usermarker-pulsate {
    from { -webkit-transform: scale(0.5); opacity: 1.0; }
    95% { -webkit-transform: scale(1.3); opacity: 0; }
    to { -webkit-transform: scale(0.7); opacity: 0; }
}
@keyframes leaflet-usermarker-pulsate {
    from { transform: scale(0.5); opacity: 1.0; }
    95% { transform: scale(1.3); opacity: 0; }
    to { transform: scale(0.7); opacity: 0; }
}
.leaflet-usermarker,
.leaflet-usermarker-small { width: 34px; height: 34px; background: url(i/bluedot.png); background-size: 100%; }
.leaflet-usermarker-small { width: 18px; height: 18px; }
.leaflet-usermarker i.pulse,
.leaflet-usermarker-small i.pulse { display: block; -moz-animation: leaflet-usermarker-pulsate 1.5s ease-in-out infinite; -webkit-animation: leaflet-usermarker-pulsate 1.5s ease-in-out infinite; animation: leaflet-usermarker-pulsate 1.5s ease-in-out infinite; border: 1pt solid #fff; /* make a circle */ -moz-border-radius: 51px; -webkit-border-radius: 51px; border-radius: 51px; /* multiply the shadows, inside and outside the circle */ -moz-box-shadow: inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f; -webkit-box-shadow: inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f; box-shadow: inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f; /* set the ring's new dimension and re-center it */ height: 61px!important; margin: -14px 0 0 -14px; width: 61px!important; }
.leaflet-usermarker-small i.pulse { height: 30px !important; width: 30px !important; margin: -7px 0 0 -7px; }