<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Education</h4>
            <h1>L.A. Unified budgets by school</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/annie-gilbertson">Annie Gilbertson</a> &amp; <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Updated June 14, 2014</span></p>
            <p>The Los Angeles Unified School District gets $6.8 billion from the state to educate its 650,000 students. It receives about another $1 billion from the federal government.</p>
            <p>This data set shows how administrators plan to spend $4.6 billion in the 2014-15 school year. But their choices are few: the biggest chunk of money will be dolled out to teacher salaries and pension obligations, which put many schools in the red.</p>
            <p>Officials propose spending more than $3 billion for central management and district-wide initiatives, such as arts integration and classroom technology coaching.</p>
        </div>
        <div class="about collapse">
            <p><strong>Source(s): </strong>Los Angeles Unified School District school-by-school spending breakdown, proposed budget released June 9, 2014.</p>
        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <a class="btn btn-primary" href="http://www.scpr.org/news/2014/01/17/41662/what-does-brown-s-drought-declaration-mean-for-la/" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>
        </div>
    </div>
</div>