<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Transportation</h4>
            <h1>What percentage of LA Metro's trains are late?</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/aaron-mendelson">Aaron Mendelson</a> &amp; <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Published Feb. 19, 2015</span></p>
            <p>Metro has moved to expand its rail system in recent years, building new stations and a new line. Further expansion is already under construction.</p>
            <p>So just how timely are Metro's trains? It depends on the line, according to data covering more than 2.2 million train stops over the last five years. Red and Purple Line trains are the most punctual, gliding away from stations on time 99.5% of the time. The Expo Line, which opened in 2012, has also performed well in its first three years, managing to depart on time 99.7% of the time. In 2014, it even snatched the title of "timeliest train" away from the Red and Purple Lines (which Metro tracks together).</p>
            <p>Blue Line trains are late the most often. About 1 in 50 leaves stations late, according to the data, easily the worst showing in the system. The Green line saw the most dramatic change of any line, with its trains departing late four times more often in 2014 than they did in 2010. Yet the Green and Blue Lines are still far faster than any of Metro's bus lines.<p>
            <p>You can explore the on-time performance of Metro's rail lines below, and can download the data the agency provided to KPCC <a href="https://github.com/SCPR/kpcc-data-team/tree/master/data/metro-on-time-performance">here</a>.</p>

        </div>
        <div class="about collapse">
            <p><strong>Source(s): </strong><a href="http://www.metro.net" target="blank">Los Angeles County Metropolitan Transportation Authority</a>. <strong>Built using</strong> <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, <a href="http://gionkunz.github.io/chartist-js/index.html">chartist.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
            </p>
        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <a class="btn btn-primary" href="http://www.scpr.org/news/2015/02/19/49937/how-late-are-los-angeles-buses-and-trains-depends/" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>
        </div>
    </div>
</div>