body {
  font-family: "Lato", Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #212121;
  text-decoration: underline;
}

p {
  line-height: 1.4;
}

video {
  width: 100%;
  position: relative;
  z-index: 3000;
}

.about-ca-dream {
  width: 650px;
  margin: 0 auto;
}

.project-partners {
  width: 750px;
  margin: 0 auto;
}

.project-partners img {
  width: 100px;
  display: inline-block;
  margin: 20px;
}

.page-intro .top {
  background-size: cover;
  background-position: center;
  position: relative;
  background: url("");
}

.page-intro .top::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.page-intro.half-height .top {
  min-height: 50vh;
}

.page-intro header {
  z-index: 2;
  color: #fff;
  width: calc(66.6666666667% - 66.6666666667px);
  float: left;
  margin-left: 40px;
  left: calc(16.6666666667% - 46.6666666667px + 40px);
  position: relative;
  position: absolute;
  z-index: 3001;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.page-intro header img {
  width: 250px;
}

.page-intro .pre-heading {
  letter-spacing: .07em;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.page-intro .heading {
  width: 650px;
  text-align: center;
  font-size: 2rem;
  margin: 0 auto;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 1px;
}

.page-intro .sub-heading {
  font-size: 48px;
  margin: 0.3em 0 0;
  margin: 0;
  color: #c7c7c7;
}

.page-intro.large-heading header .heading, .page-intro.large-heading header .sub-heading {
  font-size: 60px;
}

.page-intro .discover {
  position: absolute;
  bottom: 20px;
  right: 10%;
  z-index: 3;
  color: #212121;
  cursor: pointer;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

.page-intro .discover:hover {
  opacity: 0.8;
}

.page-intro .discover svg {
  display: block;
  width: 20px;
  height: 20px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.page-intro .discover:hover svg {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.page-intro .shape {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 9vw;
}

.page-intro .content {
  padding: 130px 0 60px;
  background-color: #ffbc00;
  color: #212121;
}

.page-intro .content::after {
  clear: both;
  content: "";
  display: block;
}

.page-intro.half-height .content {
  padding: 60px 0;
}

.page-intro.centred-content .content {
  text-align: center;
}

.page-intro .button-holder {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 60px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .page-intro header {
    width: calc(83.3333333333% - 73.3333333333px);
    float: left;
    margin-left: 40px;
    left: calc(8.3333333333% - 43.3333333333px + 40px);
    position: relative;
    position: absolute;
  }
}

@media only screen and (max-width: 414px) {
  .page-intro header {
    width: calc(100% - 80px);
    float: left;
    margin-left: 40px;
    left: calc(0% - 40px + 40px);
    position: relative;
    position: absolute;
  }
}

@media only screen and (min-width: 1800px) {
  .page-intro .pre-heading {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1800px) {
  .page-intro .heading, .page-intro .sub-heading {
    font-size: 58px;
  }
}

@media only screen and (max-width: 768px) {
  .page-intro .heading, .page-intro .sub-heading {
    font-size: 38px;
  }
}

@media only screen and (max-width: 414px) {
  .page-intro .heading, .page-intro .sub-heading {
    font-size: 28px;
  }
}

@media only screen and (min-width: 1800px) {
  .page-intro.large-heading header .heading, .page-intro.large-heading header .sub-heading {
    font-size: 80px;
  }
}

@media only screen and (max-width: 768px) {
  .page-intro.large-heading header .heading, .page-intro.large-heading header .sub-heading {
    font-size: 38px;
  }
}

@media only screen and (max-width: 414px) {
  .page-intro.large-heading header .heading, .page-intro.large-heading header .sub-heading {
    font-size: 28px;
  }
}

@media (max-width: 1400px) {
  .page-intro .discover {
    right: 20px;
  }
}

@media (max-width: 1200px) {
  .page-intro .discover {
    right: 50%;
    bottom: 80px;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    color: #fff !important;
  }
}

@media only screen and (max-width: 1024px) {
  .page-intro .content {
    padding: 60px 0;
  }
}

.text {
  margin: 115px 0;
}

.text::after {
  clear: both;
  content: "";
  display: block;
}

.text.center {
  text-align: center;
}

.text-block {
  width: 650px;
  margin: 0 auto;
  margin-top: 45px;
  font-size: 1.4rem;
  font-family: "Lato", Helvetica Neue, sans-serif;
}

@media (max-width: 1200px) {
  .text-block {
    width: calc(66.6666666667% - 66.6666666667px);
    float: left;
    margin-left: 40px;
    left: calc(16.6666666667% - 46.6666666667px + 40px);
    position: relative;
  }
}

@media only screen and (max-width: 768px) {
  .text-block {
    width: calc(100% - 80px);
    float: left;
    margin-left: 40px;
    left: calc(0% - 40px + 40px);
    position: relative;
    font-size: 1.4rem;
  }
}

.scroll-transition {
  opacity: 0;
  -webkit-transform: translate(0, 15px);
  transform: translate(0, 15px);
  -webkit-transition: opacity 1.25s ease-in-out, -webkit-transform 1.25s ease-in-out;
  transition: opacity 1.25s ease-in-out, -webkit-transform 1.25s ease-in-out;
  transition: opacity 1.25s ease-in-out, transform 1.25s ease-in-out;
  transition: opacity 1.25s ease-in-out, transform 1.25s ease-in-out, -webkit-transform 1.25s ease-in-out;
}

.scroll-transition.visible {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.history-story-promo {
  background-color: #007397;
  padding: 15px;
  color: #fff;
  text-align: center;
  float: right;
  width: 200px;
  font-size: 1.2rem;
}

.history-story-promo:hover {
  cursor: pointer;
}

.history-story-promo a {
  text-decoration: underline;
}

.read-more {
  font-size: 1rem;
  text-align: center;
}

.read-more:after {
  font-family: 'fontawesome';
  content: '\f0a9';
  text-decoration: none;
}

.content-section {
  background-color: #fff;
  width: 100%;
  padding: 100px 0 10px 0;
}

.content-section p {
  font-size: 1.2rem !important;
}

.content-section .title {
  font-size: 2rem;
  line-height: 1.2;
  color: #212121;
  font-weight: 700;
  font-family: "Alegreya", Georgia, serif;
  text-align: center;
}

.content-section .subhed {
  font-size: 1.4rem;
  line-height: 1.2;
  color: #212121;
  font-weight: 700;
  font-family: "Alegreya", Georgia, serif;
  text-align: center;
}

.content-section .author {
  font-size: 1.1rem;
  line-height: 1.2;
  color: #212121;
  padding-top: 15px;
  font-weight: 700;
  font-family: "Lato", Helvetica Neue, sans-serif;
  text-align: left;
}

/* Graphics */
.graphic-section {
  width: 100%;
  padding: 50px 0 10px 0;
  clear: both;
}

.graphic {
  width: 420px;
  margin: 15px 30px;
  float: left;
}

.graphic-subhead {
  font-size: 1.1rem;
  line-height: 1.2;
  color: #212121;
  padding-top: 15px;
  font-weight: 700;
  font-family: "Lato", Helvetica Neue, sans-serif;
}

.graphic-header {
  font-size: 2rem;
  line-height: 1.2;
  color: #212121;
  font-weight: 700;
  font-family: "Alegreya", Georgia, serif;
}

.graphic-chatter {
  font-size: 1.2rem;
}

.label {
  padding: 10px;
  background-color: #ffbc00;
  text-transform: uppercase;
  text-align: center;
  display: inline;
  margin: 5px;
  font-weight: 700;
}

.the-block {
  width: 1500px;
  float: left;
  height: auto;
  margin-left: -50px;
}

.the-block .cutline {
  margin: -30px 0 0 60px;
}

.block-image {
  width: 1150px;
  z-index: 1001;
}

.block-image:hover {
  cursor: pointer;
}

.block-chatter, .neighbors-chatter {
  width: 650px;
  margin: 0 auto;
  line-height: 1.2;
  font-size: 1.2rem;
  margin-top: 35px;
  clear: both;
}

.sticky {
  position: fixed;
  top: 0;
}

.houses-container {
  position: absolute;
  z-index: 1;
  margin: 15px;
  border-left: 20px solid #fff;
  border-right: 20px solid #fff;
}

.house {
  background-color: #F6F6F6;
  display: inline-block;
  text-align: center;
  padding-top: 5px;
}

.house:before {
  content: '\f015';
  font-family: 'fontawesome';
  font-size: 1.9rem;
}

.house:hover {
  background-color: #212121;
  cursor: pointer;
  color: #F6F6F6;
}

.north-block, .south-block {
  padding: 25px 0 0 20px;
}

.north-block .house {
  width: 40px;
  height: 40px;
  margin: 16px;
}

.south-block {
  border-top: 20px solid #fff;
}

.south-block .house {
  width: 40px;
  height: 40px;
  margin: 7px;
}

.selected-house {
  fill: #007397;
}

.tooltip {
  position: relative;
  width: 350px;
  margin: -410px 0 0px 105px;
  padding: 40px 40px 40px 100px;
  height: auto;
  color: #212121;
  float: right;
  z-index: 101;
}

.tooltip span {
  font-weight: 700;
}

.tooltip p {
  padding-bottom: 5px;
}

.cta {
  padding: 20px 20px 20px 5px;
  font-weight: 700;
}

.property-type {
  padding-top: 15px;
  text-transform: uppercase;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]:before, [data-tooltip]:after {
  display: none;
  position: absolute;
  top: 0;
}

[data-tooltip]:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  left: 20px;
  margin-top: 1em;
}

[data-tooltip]:after {
  background-color: #007397;
  border-radius: 7px;
  color: #fff;
  content: attr("data-tooltip");
  left: 0;
  margin-top: 1.5em;
  padding: 5px 15px;
  white-space: pre-wrap;
  width: 100px;
}

[data-tooltip]:hover:after, [data-tooltip]:hover:before {
  display: block;
}

.meet-the-neighbors {
  margin: 0 auto;
  width: 1500px;
}

.neighbor-nav {
  width: 400px;
  margin: 45px 25px;
  display: inline-block;
  vertical-align: top;
}

.neighbor-nav .story-topic {
  letter-spacing: .07em;
  font-size: 1.1rem;
  text-transform: uppercase !important;
}

.about-the-story {
  line-height: 1.2;
  font-size: 1.1rem;
  padding-bottom: 10px;
}

.read-more-btn {
  width: 100%;
  padding: 10px;
  background-color: #ffbc00;
  font-size: 1rem;
  display: inline;
}

.read-more-btn:hover {
  background-color: #898989;
  cursor: pointer;
  color: #fff;
}

.read-more-btn:after {
  font-family: 'fontawesome';
  content: '\f0a9';
}

/* Story sections */
.story-section {
  width: 100%;
  padding: 10px;
  clear: both;
}

.story {
  width: 470px;
  margin: 15px 30px;
  float: left;
}

.story-subhed {
  font-size: 1.5rem;
  line-height: 1.2;
  color: #212121;
  font-weight: 700;
  font-family: "Alegreya", Georgia, serif;
}

.story-header {
  font-size: 2rem;
  line-height: 1.2;
  color: #212121;
  font-weight: 700;
  font-family: "Alegreya", Georgia, serif;
}

.story-author {
  font-size: 1.1rem;
  line-height: 1.2;
  color: #212121;
  padding-top: 15px;
  font-weight: 700;
  font-family: "Lato", Helvetica Neue, sans-serif;
}

.visuals-container-show-onload {
  position: fixed;
  z-index: 1000;
  width: 1000px;
  margin: 40px;
  top: 20px;
  right: 20px;
  visibility: visible;
}

.visuals-container-show-onload img {
  width: 100%;
}

.visuals-container {
  position: fixed;
  z-index: 1000;
  width: 1000px;
  margin: 40px;
  top: 20px;
  right: 20px;
  visibility: hidden;
}

.visuals-container img {
  width: 100%;
}

.is-visible {
  visibility: visible;
}

.cont-reading {
  background-color: #212121;
  color: #fff;
  margin: 0 auto;
  width: 250px;
  letter-spacing: 2px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
}

.cont-reading:after {
  font-family: 'fontawesome';
  content: '\f0a7';
}

/* Maps */
#geocoder {
  position: absolute !important;
  top: 10px !important;
  left: 10px !important;
}

.map {
  background-color: #fff;
}

#tax-map {
  width: 1100px;
  height: 800px;
  margin: 15px;
  border: 1px solid #F6F6F6;
  float: left;
}

.legend label {
  display: block;
  float: left;
  height: 15px;
  width: 16%;
  text-align: center;
  font-size: 0.8rem;
  color: #212121;
}

.legend span {
  border: 1px solid #F6F6F6;
  display: block;
  float: left;
  height: 15px;
  width: 15%;
  text-align: center;
  font-size: 0.8rem;
  color: #212121;
}

#legend {
  width: 400px;
  background-color: #fff;
  border: 1px solid #F6F6F6;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 10px;
  right: 60px;
  z-index: 10001;
}

#legend small {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.2;
  padding-bottom: 10px;
}

/* Audio players */
.audio-box {
  display: block;
  width: 650px;
  margin: 0 auto;
  padding-bottom: 30px;
}

@media (max-width: 650px) {
  .audio-box {
    width: 95%;
  }
}

.audio-player-container {
  float: left;
  padding-right: 0;
  margin: 40px 50px 30px 0 !important;
  border-bottom: 1px solid #fff;
}

@media all and (max-width: 600px) {
  .audio-player-container {
    margin: 20px auto !important;
    width: 100%;
  }
}

.audio-img-container {
  width: 100%;
  margin: 25px;
}

.audio-img {
  width: 102%;
  padding-top: 15px;
}

.audio-detail {
  padding: 25px 15px 15px 0px;
  font-size: 1.7rem;
}

.waveform {
  clear: both;
  width: 100%;
}

.waveform-caption, .audio-caption {
  width: 100%;
  min-height: 150px;
  font-size: 2rem;
  padding: 10px 15px 15px 15px;
  margin: 0 15px;
  line-height: 1.4;
  word-wrap: break-word;
}

@media all and (max-width: 800px) {
  .waveform-caption, .audio-caption {
    float: none;
    margin: 0;
    font-size: 1.6rem;
    padding: 0 0 0 15px;
  }
}

.waveform-caption .fa, .audio-caption .fa {
  text-align: center;
  padding-right: 10px;
}

.sound, .playing, .volume, .pause {
  text-align: center;
  font-size: 25px;
  padding-top: 15px;
}

.sound:hover, .playing:hover, .volume:hover, .pause:hover {
  cursor: pointer;
}

/* shows pause button */
.volume::before {
  content: '\f04c';
  font-family: 'fontawesome';
}

.pause {
  padding: 6px;
  border: 2px solid #212121;
  width: 100px;
  margin: 10px auto;
}

.sound-toggle {
  float: right;
  clear: both;
  padding: 10px;
  border: 2px solid #212121;
  font-family: "Lato", Helvetica Neue, sans-serif;
  text-transform: uppercase;
}

.sound-toggle:hover {
  background-color: #212121;
  color: #fff;
  cursor: pointer;
}

.off {
  background-color: #fff;
  color: #212121;
}

.off:after {
  content: '\f026';
  padding: 10px;
  font-family: 'fontawesome';
}

.on {
  background-color: #212121;
  color: #fff;
}

.on:after {
  content: '\f028';
  padding: 10px;
  font-family: 'fontawesome';
}

.audio-box-mobile {
  display: none;
  min-width: 320px;
  margin: 50px auto;
}

.audio-box-mobile .speaker-mug {
  width: 100%;
}

.audio-box-mobile .speaker-mug img {
  width: 95%;
}

.audio-box-mobile audio {
  width: 95%;
}

@media all and (max-width: 770px) {
  .audio-box-mobile {
    display: block;
  }
}

/* Images */
.image-block-wide {
  margin: 4.8rem auto;
}

.image-block {
  width: 100%;
}

.image-block img {
  margin-bottom: 0.3rem;
  width: 100%;
}

.inline-image {
  width: 300px;
  float: right;
  margin-left: 15px;
}

.cutline {
  padding: 10px 0;
  font-size: 1rem;
  font-family: "Lato", Helvetica Neue, sans-serif;
  color: #898989;
}

@media (max-width: 650px) {
  .cutline {
    width: 95%;
  }
}
