@import "_variables"

// fonts

$sans: 'Lato', Helvetica Neue, sans-serif
$serif: 'Alegreya', Georgia, serif

// colors

// kpcc

$medblue: #007397
$deepblue: #003B5B
$gold: #ffbc00
// $gold: #F3AA27
$socalorange: #F87E21
$pink: #F3567C
$peach: #FC9A61
$deeporange: #D15904

$palegray: #F6F6F6
$lightgray: #E8E8E8
$medgray: #898989
$darkgray: #363636
$nearblack: #212121
$white: #fff

// darks

$black33: #212121
$black50: #323232
$black66: #424242
$black121: #797979
$black215: #d7d7d7
$black235: #ebebeb
$black245: #f5f5f5

// charts

$chartBlue: #329ce8
$chartRed: #e34e36
$chartOrange: #ff8f24
$chartYellow: #fec44f
$chartGreen: #52b033
$chartPurple: #8554bf
$chartLightBlue: #6dccf2
$chartGray: #c9c9c9
$chartCopy: #333333
$chartText: #848484
$tableBar: #efebde


body
  font-family: $sans
  margin: 0
  padding: 0

a
  color: $nearblack
  text-decoration: underline

p
  line-height: 1.4
  font-size: 1.2rem

video
  width: 100%
  position: relative
  z-index: 3000

.story-video
  background-color: $white
  padding: 10px 0
  margin-top: 10px
  &:first-child
    padding-top: 0
    margin-top: 0px

.no-padding
  padding-top: 0

.partners
  // float: left
  // display: inline-block
  width: 300px
  margin: 25px
  padding: 15px 50px 15px 15px
  float: left
  @media(max-width: 1200px)
    // display: inline
    margin: 0 auto
    width: 450px
    float: none
    padding: 0
  @media(max-width: 700px)
    width: 80%

#partners-desktop
  display: block
  @media(max-width: 1200px)
    display: none

#partners-mobile
  display: none
  @media(max-width: 1200px)
    display: block
    padding-bottom: 15px

.about-ca-dream
  width: 250px
  margin: 0 auto
  @media(max-width: 1200px)
    margin: 0 auto
    width: 100%
  p
    font-size: 1rem

.project-partners
  width: 250px
  margin: 0 auto
  img
    margin: 10px 10px 10px 0


.page-intro
  background-color: lighten($gold, 20%)
  .top
    // min-height: 60vh
    background-size: cover
    background-position: center
    position: relative
    background: url('')
    &::after
      content: ""
      position: absolute
      z-index: 1
      left: 0
      top: 0
      width: 100%
      height: 100%
      background: rgba(0, 0, 0, 0.4)
  &.half-height .top
    min-height: 50vh
  header
    z-index: 2
    color: #fff
    width: calc(66.6666666667% - 66.6666666667px)
    float: left
    margin-left: 40px
    left: calc(16.6666666667% - 46.6666666667px + 40px)
    position: relative
    position: absolute
    z-index: 4001
    top: 50%
    -webkit-transform: translateY(-50%)
    transform: translateY(-50%)
    text-align: center
    @media(max-width:570px)
      top: 50%
    img
      width: 150px
      @media (max-width: 400px)
        width: 100px
  .pre-heading
    letter-spacing: .07em
    font-size: 1.1rem
    text-transform: uppercase
  .heading
    width: 650px
    text-align: center
    font-size: 2.4rem
    margin: 0 auto
    text-transform: uppercase
    word-spacing: 5px
    letter-spacing: 1px
    @media(max-width:965px)
      font-size: 1.9rem
      width: 100%
  .sub-heading
    font-size: 48px
    margin: 0.3em 0 0
    margin: 0
    color: #c7c7c7
  &.large-heading header
    .heading, .sub-heading
      font-size: 60px
  .discover
    position: absolute
    bottom: 20px
    right: 10%
    z-index: 4001
    color: $nearblack
    cursor: pointer
    -webkit-transition: opacity 200ms
    transition: opacity 200ms
    &:hover
      opacity: 0.8
    svg
      display: block
      width: 20px
      height: 20px
      -webkit-transition: -webkit-transform 200ms
      transition: -webkit-transform 200ms
      transition: transform 200ms
      transition: transform 200ms, -webkit-transform 200ms
    &:hover svg
      -webkit-transform: translateY(4px)
      transform: translateY(4px)
  .shape
    position: absolute
    z-index: 3001
    left: 0
    bottom: -1px
    width: 100%
    height: 9vw
    @media(max-width: 575px)
      display: none
  .content
    width: 1100px
    margin: 0 auto
    clear: both
    //padding: 130px 0 60px
    background-color: lighten($gold, 20%)
    color: $nearblack
    @media(max-width: 1200px)
      width: 100%
    &::after
      clear: both
      content: ""
      display: block
  &.half-height .content
    padding: 60px 0
  &.centred-content .content
    text-align: center
  .button-holder
    clear: both
    float: left
    width: 100%
    margin-top: 60px
    text-align: center

@media only screen and (max-width: 768px)
  .page-intro header
    width: calc(83.3333333333% - 73.3333333333px)
    float: left
    margin-left: 40px
    left: calc(8.3333333333% - 43.3333333333px + 40px)
    position: relative
    position: absolute

@media only screen and (max-width: 965px)
  .page-intro header
    width: calc(100% - 80px)
    float: left
    margin-left: 40px
    left: calc(0% - 40px + 40px)
    position: relative
    position: absolute

// @media only screen and (min-width: 1800px)
//   .page-intro .pre-heading
//     font-size: 16px

// @media only screen and (min-width: 1800px)
//   .page-intro
//     .heading, .sub-heading
//       font-size: 58px

@media (max-width: 768px)
  .page-intro
    .heading
      font-size: 28px

@media (max-width: 700px)
  .page-intro
    .heading
      font-size: 25px !important
    .pre-heading
      display: none

@media (max-width: 400px)
  .page-intro
    .heading
      font-size: 17px !important

// @media only screen and (max-width: 414px)
//   .page-intro
//     .heading
//       font-size: 20px
//     .sub-heading
//       font-size: 10px !important
//
// @media only screen and (min-width: 1800px)
//   .page-intro.large-heading header
//     .heading, .sub-heading
//       font-size: 80px

// @media only screen and (max-width: 768px)
//   .page-intro.large-heading header
//     .heading, .sub-heading
//       font-size: 38px
//
// @media only screen and (max-width: 414px)
//   .page-intro.large-heading header
//     .heading, .sub-heading
//       font-size: 28px

@media (max-width: 1400px)
  .page-intro .discover
    right: 20px

@media (max-width: 1200px)
  .page-intro .discover
    right: 50%
    bottom: 80px
    -webkit-transform: translateX(50%)
    transform: translateX(50%)
    color: #fff !important

@media only screen and (max-width: 1024px)
  .page-intro .content
    padding: 60px 0

.text
  margin: 115px 0
  &::after
    clear: both
    content: ""
    display: block
  &.center
    text-align: center

.text-block
  width: 650px
  // margin: 0 auto
  margin-top: 45px
  display: inline-block
  // width: calc(50% - 60px)
  // // float: left
  // margin: 40px 0 0 0px
  // left: calc(25% - 50px + 40px)
  // position: relative
  font-size: 1.4rem
  font-family: $sans

@media (max-width: 1200px)
  .text-block
    width: calc(66.6666666667% - 66.6666666667px)
    float: left
    margin-left: 40px
    left: calc(16.6666666667% - 46.6666666667px + 40px)
    position: relative

@media only screen and (max-width: 768px)
  .text-block
    width: calc(100% - 80px)
    float: left
    margin-left: 40px
    left: calc(0% - 40px + 40px)
    position: relative
    font-size: 1.4rem

.scroll-transition
  opacity: 0
  -webkit-transform: translate(0, 15px)
  transform: translate(0, 15px)
  -webkit-transition: opacity 1.25s ease-in-out, -webkit-transform 1.25s ease-in-out
  transition: opacity 1.25s ease-in-out, -webkit-transform 1.25s ease-in-out
  transition: opacity 1.25s ease-in-out, transform 1.25s ease-in-out
  transition: opacity 1.25s ease-in-out, transform 1.25s ease-in-out, -webkit-transform 1.25s ease-in-out
  &.visible
    opacity: 1
    -webkit-transform: translate(0, 0)
    transform: translate(0, 0)

.promo
  background-color: $medblue
  padding: 10px
  margin: 15px 15px 0 15px
  color: $white
  text-align: center
  float: right
  width: 180px
  // height: 250px
  font-size: 1.2rem
  @media(max-width: 500px)
    float: none
    width: 90%
    margin: 0
  &:hover
    cursor: pointer
  a
    text-decoration: underline

.read-more
  font-size: 1.2rem
  text-align: center
  &:after
    font-family: 'fontawesome'
    content: '\f0a9'
    text-decoration: none


.content-section
  background-color: $white
  width: 100%
  padding: 30px 0 10px 0
  p
    font-size: 1.2rem
    padding: 10px
  .title
    font-size: 2rem
    line-height: 1.2
    color: $nearblack
    font-weight: 700
    font-family: $serif
    text-align: center
  .subhed
    font-size: 1.4rem
    line-height: 1.2
    color: $nearblack
    font-weight: 700
    font-family: $serif
    text-align: center
  .author
    font-size: 1.1rem
    line-height: 1.2
    color: $nearblack
    padding-top: 15px
    font-weight: 700
    font-family: $sans
    text-align: center


/* Graphics */

.graphic-section
  width: 100%
  padding: 50px 0 10px 0
  clear: both
  @media(max-width: 650px)
    width: 95%
    padding: 15px

.graphic
  width: 420px
  margin: 15px 30px
  padding-top: 15px
  float: left

.graphic-subhead
  font-size: 1.1rem
  line-height: 1.2
  color: $nearblack
  padding-top: 15px
  font-weight: 700
  font-family: $sans


.graphic-header
  font-size: 2rem
  line-height: 1.2
  color: $nearblack
  font-weight: 700
  font-family: $serif
  padding: 25px 0 0 0px

.graphic-chatter
  font-size: 1.2rem
  a
    text-decoration: none

.label
  padding: 10px
  background-color: $nearblack
  color: $white
  text-transform: uppercase
  text-align: center
  display: inline
  margin: 5px
  letter-spacing: 2px
  font-weight: 400

// .the-block
//   width: 1500px
//   height: auto
//   .cutline
//     margin: 10px 0 0 60px
//     font-size: 1rem

// .block-image
//   width: 1150px
//   z-index: 1001
//   @media(max-width: 1350px)
//     width: 50%
//   &:hover
//     cursor: pointer

.block-chatter, .neighbors-chatter
  width: 650px
  margin: 0 auto
  line-height: 1.2
  font-size: 1.2rem
  margin-top: 35px
  clear: both
  @media(max-width: 650px)
    width: 95%
    padding: 15px
  a
    text-decoration: none

.sticky
  position: fixed
  top: 0

.houses-container
  position: absolute
  z-index: 1
  margin: 15px
  border-left: 20px solid $white
  border-right: 20px solid $white

.house
  background-color: $palegray
  display: inline-block
  text-align: center
  padding-top: 5px
  &:before
    content: '\f015'
    font-family: 'fontawesome'
    font-size: 1.9rem
  &:hover
    background-color: $nearblack
    cursor: pointer
    color: $palegray

.north-block, .south-block
  //margin-top: 35px
  padding: 25px 0 0 20px

.north-block
  .house
    width: 40px
    height: 40px
    margin: 16px

.south-block
  border-top: 20px solid $white
  .house
    width: 40px
    height: 40px
    margin: 7px

.selected-house
  fill: $medblue


.block-image
  //width: 800px
  // margin: 25px
  display: flex
  align-items: center
  justify-content: center
  min-height: 400px
  @media(max-width: 1500px)
    align-items: left
    justify-content: left
    //height: 355px
  @media(max-width: 765px)
    display: none
  svg
    width: 100%
    @media(max-width: 1500px)
      width: 70%
    @media(max-width: 1200px)
      width: 60%
    //@media(max-width: 900px)
      // width: 300%
      // height: 500px
      // -webkit-transform: rotate(90deg)
      // -moz-transform: rotate(90deg)
      // -o-transform: rotate(90deg)
      // -ms-transform: rotate(90deg)
      // transform: rotate(90deg)

#illo-cutline
  padding: 30px 0 0 0
  @media(max-width: 765px)
    display: none

.tooltip
  width: 350px
  display: block
  color: $nearblack
  z-index: 101
  @media(max-width: 890px)
    //display: none
    clear: both
  span
    font-weight: 700
  p
    padding-bottom: 5px

.cta
  padding: 20px 20px 20px 5px
  font-weight: 700

.property-type
  padding-top: 15px
  text-transform: uppercase

.meet-the-neighbors
  margin: 0 auto
  width: 1500px
  //border-bottom: 1px solid $medgray
  padding-bottom: 15px
  @media(max-width: 1500px)
    width: 100%
    // margin: 25px

#the-neighbors
  background-color: $white
  position: relative
  z-index: 4000
  @media(max-width: 1500px)
    margin: 0 auto
    width: 100%

.neighbor-nav
  width: 400px
  margin: 45px 25px
  display: inline-block
  vertical-align: top
  @media(max-width: 1500px)
    width: 250px
    margin: 15px
  @media(max-width: 650px)
    width: 90%
  img
    @media(max-width: 1500px)
      width: 250px
    @media(max-width: 650px)
      width: 95%
  .story-topic
    letter-spacing: .07em
    font-size: 1.1rem
    text-transform: uppercase !important

.about-the-story
  line-height: 1.2
  font-size: 1.1rem
  padding-bottom: 10px
  @media(max-width: 650px)
    width: 95%

.read-more-btn
  width: 100%
  padding: 10px
  background-color: lighten($gold, 20%)
  // color: $white
  font-size: 1rem
  display: inline
  &:hover
    background-color: $medgray
    cursor: pointer
    color: $white
  &:after
    font-family: 'fontawesome'
    content: '\f0a9'

/* Story sections */

.story-section
  width: 100%
  padding: 10px
  clear: both
  @media(max-width: 1615px)
    width: 650px
    margin: 0 auto
  @media(max-width: 650px)
    width: 95%

.story
  width: 470px
  margin: 15px 30px
  //padding-top: 35px
  float: left
  @media(max-width: 1615px)
    width: 100%
    float: none
    margin: 0
  p
    font-size: 1.2rem


.story-subhed
  font-size: 1.5rem !important
  line-height: 1.2
  color: $nearblack
  //padding-top: 15px
  font-weight: 700
  font-family: $serif

.story-header
  font-size: 2rem
  line-height: 1.2
  color: $nearblack
  font-weight: 700
  font-family: $serif

.story-author
  font-size: 1.1rem
  line-height: 1.2
  color: $nearblack
  padding: 25px 0 15px 0
  font-weight: 700
  font-family: $sans
  // text-align: left

.visuals-container
  position: fixed
  z-index: 1000
  width: 1000px
  margin: 40px
  top: 20px
  right: 20px
  display: none
  img
    width: 100%
    border: 1px solid $palegray
  @media(max-width: 1615px)
    position: relative
    width: 100%
    margin: 0 auto
    top: 0
    right: 0
    margin: 0

#revenue-map
  position: fixed
  z-index: 6000
  width: 1000px
  margin: 40px
  top: 20px
  right: 20px
  display: none
  @media(max-width: 1615px)
    position: relative
    width: 650px
    height: 400px
    margin: 0 auto
    top: 0
    right: 0
    margin: 0
  

.is-visible
  display: block

.cont-reading
  background-color: $nearblack
  color: $white
  margin: 0 auto
  width: 250px
  letter-spacing: 2px
  padding: 10px
  text-transform: uppercase
  // display: inline
  text-align: center
  &:after
    font-family: 'fontawesome'
    content: '\f0a7'


/* Maps */


#map-text
  background-color: $white
  padding-bottom: 50px
  @media(max-width: 1630px)
    margin: 0 auto !important
    width: 650px
    float: none
  @media(max-width: 650px)
    padding: 10px 20px 35px 10px
    margin: 10px
    width: 100%

#map-container
  @media(max-width: 1630px)
    padding: 35px 0 !important

#tax-map
  width: 1100px
  height: 800px
  margin: 15px
  border: 1px solid $palegray
  //background-color: $medgray
  float: left
  @media(max-width: 1630px)
    float: none
    width: 100%
    margin: 0 20px 0 0
    height: 600px
  @media(max-width: 650px)
    width: 100%
    margin: 0 20px 0 0

.legend label
  display: block
  float: left
  height: 15px
  width: 16%
  text-align: center
  font-size: 0.8rem
  color: $nearblack
  @media(max-width: 850px)
    width: 14%
    font-size: 0.6rem

.legend span
    border: 1px solid $palegray
    display: block
    float: left
    height: 15px
    width: 16%
    text-align: center
    font-size: 0.8rem
    color: $nearblack
    @media(max-width: 850px)
      width: 14%

#legend
  width: 375px
  background-color: $white
  border: 1px solid $palegray
  padding: 10px
  position: absolute
  text-align: center
  top: 10px
  left: 10px
  //right: 60px
  z-index: 2001
  @media(max-width: 850px)
    width: 245px
    top: 5px
    left: 5px
  small
    font-weight: 700
    font-size: 1rem
    line-height: 1.2
    padding-bottom: 10px
    text-align: center

.mapboxgl-popup-content
  font-size: 0.9rem
  line-height: 1.2

.zoom-controls
  margin: 25px auto
  width: 650px
  @media(max-width: 650px)
    width: 100%
  .zoom-btn
    width: 100px
    text-align: center
    color: $white
    font-weight: 700
    display: inline-block
    margin: 5px
    padding: 10px
    background-color: $nearblack
    &:hover
      cursor: pointer
      background-color: $medgray


/* Methodology modal */

#methodology
  img
    width: 100%

.methodology-btn, .glossary-btn
  padding: 10px
  background-color: $medblue
  color: $white
  display: inline
  font-size: 1.1rem
  text-align: center
  @media(max-width: 500px)
    display: block
    margin: 8px
  &:hover
    background-color: $medgray
    cursor: pointer

.mask
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(52, 73, 94, 0.8)
  z-index: 5000
  visibility: hidden
  opacity: 0
  transition: 0.7s

.modal
  position: fixed
  top: 30%
  left: 50%
  width: 500px
  height: auto
  margin-left: -200px
  margin-top: -150px
  background-color: $white
  z-index: 5001
  visibility: hidden
  opacity: 0
  padding: 20px
  transition: 0.5s ease-out
  transform: translateY(45px)
  @media(max-width: 1000px)
    width: 300px
    margin-left: 10px
    margin-top: 70px
    top: 0
    left: 0
  @media(max-width: 500px)
    width: 88%
  .about-header
    font-size: 1.1rem
    text-align: center
    font-weight: 700
    margin: 0 auto
    text-transform: uppercase
    padding: 10px
    background-color: $medblue
    color: $white
    letter-spacing: 1.5px
    display: inline-block
    // margin-top: 5px
  .definition
    width: 90%
    padding: 10px 10px 5px 10px

#close
  position: absolute
  top: 5px
  right: 5px
  width: 50px
  text-align: center
  height: 30px
  font-size: 1.5rem
  font-weight: 700
  color: $nearblack
  background-color: $white
  border: 0
  cursor: pointer
  padding: 5px
  &:before
    content: '\f057'
    font-family: 'fontawesome'
  span
    font-size: 0.8rem

.active
  visibility: visible
  opacity: 1
  + .modal
    visibility: visible
    opacity: 1
    transform: translateY(0)

/* Footer */

footer
  width: 100%
  //height: 100px
  bottom: 0
  left: 0
  //margin-top: 50px
  padding: 25px 0 0 25px
  // min-height: 300px
  background-color: $nearblack
  color: $white
  position: relative
  z-index: 4000
  @media(max-width: 650px)
    padding: 10px

.social-links
  width: 300px
  position: relative
  @media(max-width: 910px)
    display: block
  img
    display: inline-block
    vertical-align: top
    @media(max-width: 910px)
      display: block
      margin: 10px auto

.social-account
  width: 150px
  display: inline-block
  clear: both
  vertical-align: middle
  text-align: center
  float: left
  color: $white
  padding: 10px
  border: 2px solid $white
  text-transform: uppercase
  font-size: 1.3rem
  margin: 8px 8px 0 8px
  @media(max-width: 910px)
    display: block
    margin: 10px auto
  &:hover
    cursor: pointer

#cad-twitter
  color: $white
  &:before
    padding-right: 8px
    font-size: 1.6rem
    content: '\f099'
    font-family: 'fontawesome'

#cad-facebook
  color: $white
  &:before
    padding-right: 8px
    font-size: 1.6rem
    content: '\f082'
    font-family: 'fontawesome'

.copyright
  color: $white
  padding-top: 15px

.credits
  display: inline-block
  font-size: 1rem !important
  margin-right: 55px
  vertical-align: top
  line-height: 1.4
  min-width: 250px
  max-width: 400px
  margin: 20px
  &:first-child
    font-size: 0.8rem
    padding: 10px
    @media(max-width: 650px)
      padding: 0
  a
    text-decoration: underline
    color: $white

.credit-header
  text-transform: uppercase
  font-weight: 700
  line-height: 2
  padding-bottom: 10px
  &:first-child
    color: $white

// .emphasis
//   font-size: 1.1rem
//   display: inline
//   line-height: 200%
//   //letter-spacing: 1px
//   word-spacing: 2px
//   background: $white
//   color: $nearblack
//   padding: 5px
//   box-shadow: 10px 0 0 $white, -10px 0 0 $white
//   line-height: 2

/* Social media */

.social-btns
  text-align: left
  padding-bottom: 25px
  &.centered
    text-align: center

.share
  text-align: center
  font-size: 2rem
  cursor: pointer
  display: inline
  margin: 5px
  padding-top: 5px

#fb-share
  color: #3B5998
  &:hover
    color: $medgray
    cursor: pointer
  &:before
    font-family: 'fontawesome'
    content: '\f082'

#twitter-share
  color: #00C6FF
  &:hover
    color: $medgray
    cursor: pointer
  &:before
    font-family: 'fontawesome'
    content: '\f081'

/* Audio players */

.audio-box
  display: block
  width: 400px
  // margin: 0 auto
  padding: 30px 0
  border-top: 1px solid $medgray
  border-bottom: 1px solid $medgray
  @media(max-width: 1615px)
    width: 650px
  @media(max-width: 650px)
    width: 100%

.audio-player-container
  float: left
  padding-right: 0
  margin: 40px 50px 30px 0 !important
  border-bottom: 1px solid $white
  @media all and (max-width: 600px)
    margin: 20px auto !important
    width: 100%

.audio-img-container
  width: 100%
  margin: 25px

.audio-img
  width: 102%
  padding-top: 15px

.audio-detail
  padding: 25px 15px 15px 0px
  font-size: 1.7rem

.waveform
  clear: both
  width: 100%

.waveform-caption, .audio-caption
  width: 100%
  //height: 190px
  // text-align: right
  //float: right
  min-height: 80px
  font-size: 1.3rem
  font-weight: 700
  padding: 10px 15px 15px 15px
  margin: 0 15px
  line-height: 1.4
  word-wrap: break-word
  @media all and (max-width: 800px)
    float: none
    margin: 0
    font-size: 1.6rem
    padding: 0 0 0 15px
  .fa
    //float: left
    text-align: center
    padding-right: 10px

.sound, .playing, .volume, .pause
  // width: 100%
  text-align: center
  font-size: 25px
  padding-top: 15px
  &:hover
    cursor: pointer

/* shows pause button */
.volume
  &::before
    content: '\f04c'
    // content: '\f026'
    font-family: 'fontawesome'

.pause
  padding: 6px
  border: 2px solid $nearblack
  width: 100px
  margin: 10px auto

// .pause, .volume
//   float: right
//   padding: 6px
//   margin-right: 15px
//   border: 2px solid $nearblack

.sound-toggle
  float: right
  clear: both
  padding: 10px
  border: 2px solid $nearblack
  font-family: $sans
  text-transform: uppercase
  &:hover
    background-color: $nearblack
    color: $white
    cursor: pointer

.off
  background-color: $white
  color: $nearblack
  &:after
    content: '\f026'
    padding: 10px
    font-family: 'fontawesome'

.on
  background-color: $nearblack
  color: $white
  &:after
    content: '\f028'
    padding: 10px
    font-family: 'fontawesome'


// .pause
  // color: $white
  // background-color: $nearblack
  // width: 25px
  // height: 25px
  // &::before
  //   content: '\f04c'
  //   font-family: 'fontawesome'


.audio-box-mobile
  display: none
  min-width: 320px
  margin: 50px auto
  .speaker-mug
    width: 100%
    img
      width: 95%
  audio
    width: 95%
  @media all and (max-width: 770px)
    display: block

// /* Expander for footnotes */
//
// .text-link
//   border-bottom: 3px solid $nearblack
//   &:after
//     color: $nearblack
//     padding-left: 3px
//     content: '\f0a7'
//     font-family: 'fontawesome'
//   &:hover
//     cursor: pointer
//
// .expander-content
//   background-color: $palegray
//   padding: 20px
//   font-size: 20px
//   line-height: 150%
//   position: relative
//   padding-top: 45px !important
//   margin: 10px 0
//   .fa
//     text-align: right
//
// .expander-hidden
//   display: none
//
// .expander-close
//   cursor: pointer
//   &:before
//     position: absolute
//     top: 10px
//     right: 20px
//     font-family: 'fontawesome'
//     content: '\f057'
//     color: $nearblack
//     // padding: 25px
//     font-size: 20px

/* Images */

.image-block-wide
  margin: 4.8rem auto

.image-block
  width: 100%
  img
    margin-bottom: 0.3rem
    width: 100%

.inline-image
  width: 300px
  float: right
  margin-left: 15px

.cutline
  padding: 0 10px 10px 5px
  font-size: 1rem !important
  font-family: $sans
  color: $medgray
  @media(max-width: 650px)
    width: 95%
