/* basic structure */
.data-container .data-visuals #content-map-canvas {height: 600px;}

#animation-play {background: #d7d7d7; cursor: pointer; margin-bottom: 15px;}

@media (max-width: 491px) {

}

@media (min-width: 491px) {

}

@media (min-width: 567px) {

}

@media (min-width: 768px) {

}

@media (min-width: 830px) {

}

@media (min-width: 992px) {

}

