<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="content-article">
            <div class="headlines">
                <h4 class="kicker"> California Public Records Act letter generator</h4>
                <h1>Create a quick  California Public Records Act letter</h1>
            </div>
            <div class="text">
                <p>Use the fields below to generate a public records act request letter using boilerplate language based on California laws. Then click the "Generate" button to compile text of the letter, which can be copy and pasted into an email.</p>
                <p>Have suggestions or feedback? Email <a href="mailto:amendelson@scpr.org?subject=CPRA letter generator feedback">Aaron Mendelson</a>.</p>
            </div>
            <!--
            <div class="about collapse">
                <p><strong>Source(s): </strong><a href="http://www.gpo.gov/fdsys/browse/collection.action?collectionCode=CREC" target="_blank">Congressional Record</a> since Aug. 1, 2013 as indexed each day by <a href="http://capitolwords.org/about/" target="_blank">CapitolWords</a>. <strong>Built using</strong> <a href="http://capitolwords.org/">CapitolWords</a>, <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://handlebarsjs.com/">handlebars.js</a>, <a href="http://bartaz.github.io/sandbox.js/jquery.highlight.html" target="blank">jQuery Highlight Plugin</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
            </div>
            <div class="buttons btn-group btn-group-justified">
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
                <a class="btn btn-primary" href="#"><span class="glyphicon glyphicon-link"></span> Read more</a>
            </div>
            -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <form class="form-horizontal" role="form">

                <div class="form-group">
                    <input type="text" class="form-control" id="agency_name" placeholder="Agency Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="street_address" placeholder="Street Address">
                    <input type="text" class="form-control" id="city" placeholder="City">
                    <input type="text" class="form-control" id="state" placeholder="State">
                    <input type="text" class="form-control" id="zip_code" placeholder="Zip Code">
                </div>

                <!--
                <label>Subject
                    <select id="subject" name="subject" class="span6">
                        <option value="na" selected="">Choose One:</option>
                        <option value="service">General Customer Service</option>
                        <option value="suggestions">Suggestions</option>
                        <option value="product">Product Support</option>
                    </select>
                </label>
                -->
                <div class="form-group">
                    <textarea class="form-control" rows="10" id="data_request" placeholder="Data Sought"></textarea>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="10" id="reporter_signature" placeholder="Signature"></textarea>
                </div>
            </form>
            <a class="btn btn-success btn-lg btn-block" href="javascript:void(0)" onclick="fn.retriveData();"><strong>Generate the Letter</strong></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="data-visuals"></div>
        </div>
    </div>
</div>
