/*	##############################################################################################################
	##############################################################################################################
	##############################################################################################################
	UNDERWRITING
	##############################################################################################################
	##############################################################################################################
	############################################################################################################## */

.row-pt1-c {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 30px; /* had been 40 */
}
/*
		.row-pt1-c > .bound {
			border-bottom: 1px solid lightgray;
			padding-bottom: 40px;
		}
*/


.underwriter {
}
		.row-pt1-underwriter {
			margin-bottom: 80px;
			border-bottom: 2px solid black;
			/*
			----------------------------------------------------------------------------------------------------------------------------------------------
			Gradient credit to: http://www.colorzilla.com/gradient-editor/
			---------------------------------------------------------------------------------------------------------------------------------------------- */
			background: #1f8497; /* Old browsers */
			background: -moz-linear-gradient(top,  #1f8497 0%, #60b7c5 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f8497), color-stop(100%,#60b7c5)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #1f8497 0%,#60b7c5 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #1f8497 0%,#60b7c5 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #1f8497 0%,#60b7c5 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #1f8497 0%,#60b7c5 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f8497', endColorstr='#60b7c5',GradientType=0 ); /* IE6-9 */
			/*
			---------------------------------------------------------------------------------------------------------------------------------------------- */
			box-shadow:
				inset 0 22px 0 white,
				inset 0 56px 0 black;
/*			box-shadow: inset 0 56px 0 black;*/
		}
		.row-pt1-underwriter .bound {
			position: relative;
			background: url(../../media/underwriting/laup-photo-headphones.png) no-repeat 81.75% bottom;
/*			background-size: auto 100%;*/
			background-size: auto 96%;
		}
		.row-pt1-underwriter .primary {
			width: 63.636363636364%; /* 700 / 1100 */
			float: left;
		}
		.row-pt1-underwriter .secondary {
			width: 18%; /* 198 / 1100 */
			min-width: 198px;
			position: absolute;
			right: -6px;
			bottom: 20px;
		}




		.underwriter .secondary {
		}
				.underwriter .secondary h4 {
					min-height: 70px;
				}
						.underwriter .secondary h4 a {
							display: block;
							color: #e33500;
							font: normal 700 1.5625em/1.1 "Adelle", Georgia, serif; /* 25 / 16 */
							text-decoration: none;
							background: url(i/ephemera-white-dart-rightward.png) no-repeat;
							background-size: 198px 59px;
							width: 178px; /* 198 */
							height: 44px; /* 59 */
							padding: 15px 0 0 20px;
						}
						.underwriter .secondary h4 a:hover {
							color: #3a9db0;
						}

		.underwriter .primary {
			padding-bottom: 22px;
		}
				.underwriter .gratitude {
					color: #c1c1c1;
/*					color: #63aec3;*/
					color: white;
					font: italic 700 0.75em/1.1 "Adelle", Georgia, serif;
					height: 22px; /* 56 */
					padding-top: 34px;
				}
				.underwriter h3 {
					color: white;
					font: 700 1.6875em/1.1 "Adelle", Georgia, serif;
					text-shadow: 0 1px 6px rgba(0,0,0,0.2);
					margin-bottom: 12px;
					padding: 8px 0 0;
				}
				.underwriter .brand {
					width: 50%; /* 350 / 700 */
					color: white;
				}
						.underwriter .brand img {
							display: block;
							width: 22.285714285714%; /* 78 / 350 */
							float: left;
						}
						.underwriter .brand figcaption {
							width: 72%; /* 252 / 350 */
							float: right;
/*							padding-top: 23px; */
							padding-top: 20px;
/*							font-size: 0.75em; /* 12 / 16 */
							font-size: 0.9em;
							font-style: italic;
							text-shadow: 0 0 3px rgba(0,0,0,0.3);
						}








						/*	===================================================================================
						    =================================================================================== */

						    @media screen and (max-width: 1185px) {

								.row-pt1-underwriter .bound {
									background-position: 90% bottom;
								}

						    }

						/*	===================================================================================
						    =================================================================================== */

						    @media screen and (max-width: 1100px) {

								.row-pt1-underwriter .bound {
									background-position: 95% bottom;
								}
								.underwriter .brand figcaption {
									padding-top: 10px;
								}

						    }

						/*	===================================================================================
						    =================================================================================== */

						    @media screen and (max-width: 950px) {

								.row-pt1-underwriter .bound {
									background-position: right bottom;
								}

						    }

						/*	===================================================================================
						    =================================================================================== */

						    @media screen and (max-width: 910px) {

								.row-pt1-underwriter .bound {
									background-size: auto 81%;
								}
								.row-pt1-underwriter .primary {
									width: 72%; /* had been ~63 */
								}
								.underwriter h3 {
									padding-top: 0;
									font-size: 1.3em; /* had been 1.6875 */
								}
								.underwriter .brand {
									width: 75%;
								}
								.underwriter .brand figcaption {
									padding-top: 20px;
								}
								.underwriter .secondary {
									bottom: 0;
								}

						    }

						/*	===================================================================================
						    =================================================================================== */

						    @media screen and (max-width: 676px) {

								.row-pt1-underwriter .primary {
									width: 65%;
								}
								.underwriter h3 {
									font-size: 1.15em;
								}
								.row-pt1-underwriter .bound {
									background-size: auto 74%;
								}
								.underwriter .brand figcaption {
									padding-top: 10px;
								}

						    }


						/*	===================================================================================
						    =================================================================================== */

						    @media screen and (max-width: 569px) {

								.row-pt1-underwriter {
									border-bottom: 5px solid #e33500;
									box-shadow:
										inset 0 23px 0 white,
										inset 0 29px 0 #e33500,
										inset 0 -95px 0 rgba(0,0,0,0.5);
								}
										.row-pt1-underwriter .bound {
											background: none;
										}

								.row-pt1-underwriter .primary {
									width: 100%;
									padding: 130px 0 115px;
									background: url(../../media/underwriting/laup-photo-headphones.png) no-repeat 50% bottom;
									background-size: 161px 126px;
									background-position: bottom left;
									position: relative;
								}
										.underwriter .gratitude {
											color: #e33500;
											height: auto;
											padding: 0 0 0 0;
											position: absolute;
											top: 0;
											left: 0;
										}
										.underwriter h3 {
											font-size: 1.0em;
											line-height: 1.25;
											margin-bottom: 25px;
											padding-top: 15px;
											border-top: 1px solid rgba(255,255,255,0.3);
										}
										.underwriter .brand {
											/*
											padding-bottom: 25px;
											margin-bottom: 10px;
											min-height: 75px;
											*/
											position: absolute;
											top: 42px;
											left: 0;
											width: 100%;
											height: 80px;
										}
												.underwriter .brand img {
													position: absolute;
													top: 0;
													left: 0;
													width: 70px;
												}
												.underwriter .brand figcaption {
													width: auto;
													margin-left: 100px;
													padding-top: 16px;
												}

								.underwriter .secondary {
									bottom: 6px;
								}
								
					    }

						/*	===================================================================================
						    =================================================================================== */

						    @media screen and (max-width: 414px) {

								.row-pt1-underwriter {
									box-shadow:
										inset 0 20px 0 white,
										inset 0 25px 0 #e33500,
										inset 0 -95px 0 rgba(0,0,0,0.5);
								}
								.underwriter .gratitude {
									/*
									height: auto;
									padding: 0 0 10px;
									*/
								}
								.row-pt1-underwriter .bound {
									background: none;
									padding-bottom: 125px;
									background: url(../../media/underwriting/laup-photo-headphones.png) no-repeat 50% bottom;
									background-size: 161px 126px;
								}
								.row-pt1-underwriter .primary,
								.row-pt1-underwriter .secondary {
									width: 100%;
									min-width: auto;
									float: none;
									position: static;
									padding-bottom: 0;
								}
								.row-pt1-underwriter .primary {
									background: none;
								}
								.underwriter h3 {
									padding-bottom: 25px;
									border-bottom: 1px solid rgba(255,255,255,0.5);
									margin-bottom: 12px;
								}

								.underwriter .brand {
									/*
									border-bottom: 1px solid rgba(255,255,255,0.5);
									*/
								}
								.underwriter .secondary {
									height: 70px; /* 90 */
									/*
									padding-top: 10px;
									*/
								}
								.underwriter .secondary h4 a {
									margin: 0 auto;
								}

						    }

						/*	===================================================================================
						    =================================================================================== */

















