<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h6 class='centered'>And here are some ways you can conserve water</h6>
        <div class="row icons">
            <% _.chain(_.sample(collection, 4)).each(function(model) { %>
                <div class='col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center'>
                    <img class='placemark' src='<%= model.image_path %>' />
                    <p><%= model.text %></p>
                </div>
            <% }); %>
        </div>
    </div>
</div>