<div id="content-article">
    <h4 class="kicker">California State of the State</h4>
    <h1>Exploring themes in Gov. Brown's State of the State</h1>

    <div id="content-article-text">
        <p>Click through KPCC's interactive word cloud to see which key words and themes Democratic Gov. Jerry Brown stressed in his third annual <a href="http://gov.ca.gov/news.php?id=17906">State of the State address</a>.</p>
        <p>We used a website called <a href="http://tagcrowd.com/">TagCrowd</a> and the text of the speech to visualize the main topics Brown raised. The size of the word indicates the frequency with which the word appeared in the speech.</p>
        <p>We also attempted to provide some context to this list of words from Brown's speech. Clicking a word will take you to the passages in Brown's speech -- and where applicable -- links to KPCC coverage or resources about the topic.</p>
        <p>Not surprisingly, the bulk of Brown's speech dealt with with reform of K-12 education funding, the need for the higher education systems to hold down costs, promotion of high-speed rail and water tunnels under the San Joaquin Delta.</p>
        <p>Find any surprises? Let us know in a discussion on <a href="http://www.facebook.com/kpcc/posts/241953112605759" target="_blank">our Facebook page</a>.</p>
    </div>

    <div id="content-article-buttons">
        <a class="btn btn-info hidden-phone" href="http://www.scpr.org/blogs/news/2013/01/24/12171/california-governor-jerry-brown-spell-out-goals-st/">Read More</a>
        <a class="btn btn-info hidden-phone hidden" id="about-this-project" onclick="showDisplayDetails();" href="#">About This Project</a>
    </div>

</div>

<hr>

<div id="topic-display"></div>
<div id="content-display"></div>