<div id="content-article">
    <h4 class="kicker">California State of the State</h4>
    <h1>Exploring themes in Gov. Brown's State of the State</h1>

    <div id="content-article-text">
        <p>Gov. Jerry Brown delivered his third State of the State address on Thursday. The speech came just months after voters approved his much-touted Proposition 30, which raised sales and income taxes temporarily.</p>
        <p>We used a web application called <a href="http://tagcrowd.com/">TagCrowd</a> and the text of the speech to visualize the main topics Brown raised. Not surprisingly, the bulk of Brown's speech dealt with with reform of K-12 education funding, the need for the higher education systems to hold down costs, promotion of high-speed rail and water tunnels under the San Joaquin Delta.</p>
        <p>We also attempted to provide some context to Brown's speech. By clicking on a word will bring up passages from Brown's speech that contain the word -- and where applicable -- links to KPCC coverage or resources about the topic.</p>
        <p>Find any surprises? Let us know in a discussion on <a href="https://www.facebook.com/kpcc">our Facebook page</a>.</p>
    </div>

    <a class="btn btn-info hidden-phone" href="http://www.scpr.org/blogs/news/2013/01/24/12171/california-governor-jerry-brown-spell-out-goals-st/">Read More</a>

</div>

<hr>

<div id="topic-display"></div>
<div id="content-display"></div>