<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Transportation</h4>
            <h1 style="font-size:330%;">Collisions on the rise, frequent in I.E.</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/aaron-mendelson">Aaron Mendelson</a> | <span class="pubdate">Published March 31, 2017</span></p>

            <p>As the economy has picked up since 2009, more trucks have been on the roads. That's meant more big truck collisions, which have an outsized cost, both financially and in terms of human life. Not only have their numbers jumped, but the share of all collisions that involve a big truck has been on the rise.</p>

            <p>Southern California's truck collisions are especially high in the Inland Empire counties of Riverside and San Bernardino. In 2014 — the last full year for which data is available — 8.23 percent of collisions in San Bernardino involved a big truck. That's double the figure for Orange County, and connected to <a href="http://www.scpr.org/news/2014/10/24/47608/forecast-inland-empire-could-gain-250-000-new-jobs/">the boom in warehousing</a> in the Inland Empire.</p>
        </div>
        <div class="about collapse">
            <p><strong>Source</strong>: CHP's SWITRS data. Truck collisions refer too all SWITRS 'big truck' collisions.

             <strong>Built using</strong> <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, <a href="https://d3js.org/">d3.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
            </p>



        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <!-- <a class="btn btn-primary" href="http://www.scpr.org/news/2016/05/02/60085/hundreds-of-la-bus-shelters-go-unbuilt-millions-in/" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a> -->

        </div>
    </div>
</div>
