#data-container {width: 720px; height: auto; margin: 0 auto 0 auto;}

#highcharts-ouput {width: 100%; height: auto; margin: 0 auto 0 auto;}

#data-table {font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif; width: 100%; height: auto; margin: 0 auto 0 auto;}

.table {font-size: 12px;}