<div id="content-article">
    <h4 class="kicker">Subhead here</h4>
    <h1>Santa Monica shooting rampage leaves at least 5 dead</h1>

    <div id="content-article-text">
        <p>The incident began shortly before noon on Friday at a Santa Monica residence, where shots were reported and a house was on fire. As the house burst into flames, the man, wearing what appeared to be a ballistic jacket, carjacked a woman at gunpoint and directed her to drive to the college campus, having her stop so he could shoot along the way. In all, at least 5 were left dead and several injured. Here's a timeline of Friday's events:</p>
    </div>

    <div id="content-article-buttons">
        <a class="btn btn-info" href="#">Read More</a>

        <!-- thanks for setting the standard Mr. John Keefe -->
        <span class="hidden-tablet hidden-phone btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed This Timeline</span>
    </div>
</div>