<div id="content-article">
    <h4 class="kicker">Transportation</h4>
    <h1>Database: Passenger carriers regulated by California</h1>

    <div id="content-article-metadata">
        <p><span class="credits"><a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Updated May 7, 2013</span></p>
    </div>

    <div id="content-article-text">
        <p>The <a href="http://www.cpuc.ca.gov/PUC/transportation/">California Public Utilities Commission</a> regulates passenger carrier companies operating with the state, such as limousine companies, airport shuttles, charter and scheduled bus operators.</p>
        <p>The commission lists more than 8,000 companies that qualify as a passenger carrier, and classifies them as having an "active", "pending" or "suspended" status.</p>
        <p>Below is a searchable, sortable table of these companies with links to more details on file with the commission.</p>
    </div>

    <div id="content-article-buttons">
        <!--
        <a class="btn btn-info" href="">Read More</a>
        -->
    </div>
</div>