<div id="content-article">
    <h4 class="kicker">Education</h4>
    <h1>Charting Hispanic subgroup API scores in local school districts</h1>
</div>
<div class="row-fluid">
    <div class="span12">
        <div id="content-article-metadata">
            <p><span class="credits"><a href="http://www.scpr.org/about/people/staff/adolfo-guzman-lopez">Adolfo Guzman-Lopez</a> &amp; <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Published Oct. 4, 2013</span></p>
        </div>
        <div id="content-article-text">
            <p>Latinos make up 52 percent of California's public school students. But state data shows they have never met California's goal of 800 points on the Academic Performance Index, which is based on student standardized test scores and targets school improvement.</p>
            <p>In Southern California, Latino students at La Cañada, Beverly Hills, Los Alamitos, and Laguna Beach schools scored 50 to 100 points above the state's goal. Latinos make up less than 25 percent of the student population in those school districts.</p>
            <p>But for schools in heavily-Latino, heavily-poor neighborhoods, the numbers are different. API scores hovered in the mid 600s for Latinos attending the Centinela Valley, Antelope Valley, Coachella, and Needles school districts.</p>
            <p>Gov. Jerry Brown's signature this week <a href="http://www.scpr.org/blogs/education/2013/10/02/14882/governor-signs-law-ending-15-year-old-standardized/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+893KpccSouthernCaliforniaNews+(KPCC%3A+News)" target="blank">on AB484</a> ushered in a new era of testing based on new learning standards called the Common Core. Some educators are hoping those new standards will help close the achievement gap between Latino students and their white and Asian peers.</p>
            <p>The chart below plots 2013 API scores greater than 675 for the Hispanic subgroup in 181 school districts in Los Angeles, Orange, Riverside San Bernardino and Ventura counties against the percentage of the Latinos in that subgroup attending each district. The state's goal of 800 is marked for reference.</p>
        </div>
    </div>
</div>

<div id="content-article-buttons">
    <a class="btn btn-info" href="http://www.scpr.org/blogs/education">Read More</a>
</div>

<div class="row-fluid">
    <div class="span12">
        <p><span class="data-instructions"><strong>About This: </strong>This chart plots 2013 Academic Performance Index scores greater than 675 for the Hispanic subgroup in 181 school districts in Los Angeles, Orange, Riverside San Bernardino and Ventura counties. It also shows the percent of students in each district that are identified in the Hispanic subgroup for API reporting purposes. It is based on yearly API data released by the <a href="http://www.cde.ca.gov/ta/ac/ap/" target="_blank">California Department of Education in August</a>.</span></p>
    </div>
</div>

<hr>