<div class="row-fluid">
    <div class="span12">
        <div id="article-footer">

            <!-- thanks for setting the standard Mr. John Keefe -->
            <div id="embed-this">
            <p class="hidden-tablet hidden-phone"><span class="btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed this</p>
            </div>

            <div id="sources">
                <p class="normal-display"><strong>Sources: </strong><a href="http://www.bls.gov/">U.S. Bureau of Labor Statistics</a>.</p>
            </div>

            <div id="credits">
            <p class="normal-display"><strong>Credits: </strong><a href="http://www.scpr.org/about/people/staff/matthew-debord" target="_blank">Matthew DeBord</a> &amp; <a href="http://www.scpr.org/about/people/staff/chris-keller" target="_blank">Chris Keller</a>.
            </div>

            <div id="open-source">
            <p class="small-display">Built using <a href="https://github.com/jsoma/tabletop">tabletop.js</a>, <a href="http://www.highcharts.com/">highcharts.js</a>, <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">bootstrap.</p>
            </div>
        </div>
    </div>
</div>