<!-- begin data footer -->
<div id="data-footer">
<p>
<p class="normal-display underline" style="cursor:pointer;" onclick="embedBox()">Embed this visualization</p>
<span class="normal-display"><strong>Sources: </strong><a href="http://www.treasurer.ca.gov/">California State Treasurer's Office</a>.</span><br />
<span class="normal-display"><strong>Credits: </strong><a href="http://www.scpr.org/about/people/staff/vanessa-romo" target="_blank">Vanessa Romo</a>, <a href="http://www.scpr.org/about/people/staff/chris-keller" target="_blank">Chris Keller</a> &amp; <a href="https://twitter.com/maya_sugarman" target="_blank">Maya Sugarman</a>.</span><br />
<span class="small-display">Built using <a href="http://www.highcharts.com/">highcharts.js</a> and <a href="http://handlebarsjs.com/">handlebars.js</a></span>
</p>
</div>
<!-- end data footer -->