<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <h1 id ="message">Trump text here</h1>

            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/aaron-mendelson">Aaron Mendelson</a> | First published November 8, 2017</span></p>
<br>
<p>Trump's absence from the Golden State has been a break from the travel patterns of his predecessors. George W. Bush visited the state after <span id="color">130 days</span>. And Barack Obama visited California after just <span id="color">58 days</span> in office.<p>

<p>Many of the states the President has visited voted for him in the 2016 election. And while California went for Clinton, more than 3 million Californians cast their vote for Trump. That's more votes than he received in Iowa, West Virginia and Arizona, three states that Trump has help rallies in — combined.

<p>GOP political consultant Mike Madrid said California has historically been a "destination point" for presidents. But the country's increasing polarization and California's continued shift to the left has changed the landscape. Instead of visiting the Golden State, Madrid said Trump seems to be "doubling down" on red states.</p>

<h1>Does it matter that Trump hasn't visited?</h1>

<p>"Don't hold your breath waiting for the presidential visit," said UC San Diego political science professor Thad Kousser. Presidents typically make trips for a few reasons: to rally support, raise money, and provide comfort and leadership after disasters and tragedies.</p>

<p>While Trump could draw an enthusiastic crowd in Fresno or Bakersfield, Kousser said, he's unlikely to hold a rally in deep-blue areas. And a visit by an unpopular president may harm re-election prospects for congressional Republicans representing areas that Hillary Clinton carried.</p>

<p>A fundraising swing is more plausible. While Trump hasn't made one yet, Mike Pence raised money across the state in October.</p>

<p>Some in the state were surprised that Trump didn't visit after the fires in Northern California that killed more than 40. "He was very quick in his responses to hurricanes in red states," Kousser said. "Even though California may not need a presidential visit to recover from this, it certainly stands out when you see the president not responding to what's one of the biggest natural disasters in California history."</p>

<p>Madrid counters that Trump quickly approved federal financial relief for the state after the fires and the Oroville Dam collapse. He says there's little political benefit to Trump visiting after crises, or at any point. "It's got to be eleventh on a list of ten priorities for him," he said.</p>

<p>Madrid said the lack of visits has produced at least one silver lining: fewer traffic jams from presidential motorcades.</p>


<h1>Where <em>has</em> Trump been as President?</h1>

<p>So, where has he been instead of the nation's most populous state? According to <a href="https://factba.se/topic/calendar">Factbase</a>, which tracks the president's public schedule and pool reports, Trump has visited 28 states and 9 countries as of November 8, 2018.</p>

<p>Among them:</p>


<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" fill="#F3AA27" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="30px" height = "30px" x="0px" y="0px" viewBox="0 0 30 37.5" xml:space="preserve"><g transform="translate(-364 -380)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M391,392l-3,4h-1l2-3l-1-4l-1-1l-9-3l-1-1l-2-1v-2l-7,2v4l-2,1v7l2,1l5,5l1,6l2,1v1h12v-6l1-4l3-7H391z"/></g></g></svg> <span id = "svg_txt">Wisconsin</span>
</a>

<br>

<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="30px" height = "30px" version="1.1" x="0px" y="0px" viewBox="0 0 38 37.5" xml:space="preserve"><g transform="translate(-90 -800)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M121,818l-4-5v-2l-3-3h-1v-1h-4l-5-4l-3-2l-4,2l1,1v1h-2l-1,2h-1l-1,2h1l4,7h1l1,2v2l1,2l2,1l1,3h1l1,2l1-2l6,2l2-3h4l6-2    l1-4L121,818z"/></g></g></svg>
<span id = "svg_txt">Saudi Arabia</span>
</a>

<br>

<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="30px" height = "30px" version="1.1" x="0px" y="0px" viewBox="0 0 30 37.5" xml:space="preserve"><g transform="translate(-530 -320)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M557,333v-5l-3-1h-8l-2-1v-5h-7v11h-7l1,3l2,1l1,3l2,2h1l2-2h3l4,6l1,3l4,1v-4l1-2l4-3l1-2h2v-4L557,333z"/></g></g>
<span id = "svg_txt">Texas</span>
</a>

<br>

<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="30px" height = "30px" version="1.1" x="0px" y="0px" viewBox="0 0 30 37.5" xml:space="preserve"><g transform="translate(-168 -80)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M194,81h-20v4h-3l1,7l2,2l-2,2v2l-1,1v2h1v1h-1l-1,1l16,6h9L194,81z"/></g></g>
<span id = "svg_txt">Arizona</span>
</a>

<br>

<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="30px" height = "30px" version="1.1" x="0px" y="0px" viewBox="0 0 30 37.5" xml:space="preserve"><g transform="translate(-228 -1100)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M257,1121l-2-4v-3l-2-1l1-2h2v-2l-3-5h-12v-2l-5,1l-1,2l-5,1l1,13l3,2v1l1,1h3l2,1l2,3l2-1v1h1l1-1h4v1l4,1l-1-3L257,1121    z"/></g></g>
<span id = "svg_txt">Poland</span>
</a>

<br>

<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="30px" height = "30px" version="1.1" x="0px" y="0px" viewBox="0 0 48 37.5" xml:space="preserve"><g transform="translate(-348 -140)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M390,149l-2-1v-4l-2-3h-35v6l-1,1l2,2v3l2,3v2l1,1l1,8h28v2h2v-2l2-1l1-3l-1-1l1-2l3-1l2-5L390,149z"/></g></g>
<span id = "svg_txt">Iowa</span>
</a>

<br>

<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="30px" height = "30px"  version="1.1" x="0px" y="0px" viewBox="0 0 38 37.5" xml:space="preserve"><g transform="translate(-296 -380)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M329,388h-1l-1,1h-3l-2,1l-1,2h-1v-4h-7v-8h-1v4l-1,4l-3,3h-3v3h-3v3l-1,1v1h-2v3l6,7h2l8-3v-1l4-6v-1h1l1,1l1-1v-2h2l3-3    l1-3h1l1.5,2.5l1.5-1.5v-2L329,388z"/></g></g><span id = "svg_txt">West Virginia</span>
</a>

<br>

<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="30px" height = "30px" version="1.1" x="0px" y="0px" viewBox="0 0 30 37.5" xml:space="preserve"><g transform="translate(-567 -260)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M590,263l-2,2h-7l-4-2h-8v20v1h2l4,4h3l2-2h1v2l1,1h2l1-1v-3h3v-3h1l4-2l2-6v-13L590,263z"/></g></g><span id = "svg_txt">Ohio</span>
</a>

<br>

<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="30px" height = "30px" version="1.1" x="0px" y="0px" viewBox="0 0 30 37.5" xml:space="preserve"><g transform="translate(-567 -260)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M590,263l-2,2h-7l-4-2h-8v20v1h2l4,4h3l2-2h1v2l1,1h2l1-1v-3h3v-3h1l4-2l2-6v-13L590,263z"/></g></g><span id = "svg_txt">Nevada</span>
</a>

<br>

<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="30px" height = "30px" version="1.1" x="0px" y="0px" viewBox="0 0 30 37.5" xml:space="preserve"><g transform="translate(-168 -740)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="191.333,743 190,741 189,741 189,745 187,745 187,747 187,749 188,748 188,747 190,747 190,748 191,748 191,747     193,745 194,745 194,743   "/><polygon points="187,750 187,752 186,756 183,757 183,756 182,756 182,758 181,759 177,759 174,761 174,762 175,762 178,761     180,761 180,763 181,763 182,762 182,761 184,761 185,760.5 185,761 186,761 186,760 187,759.667 187,760 188,760 188,759.333     189,759 189,756 189,754 190,753 190,751 188.5,748.5   "/><polygon points="173,763 172,763 172,765 173,765 173,767 174,767 174,766 175,766 175,763 174,763 174,762 173,762   "/><rect x="172" y="768" width="2" height="1"/></g></g><span id = "svg_txt">Japan</span>
</a>

<br>


<p>While the President's trips to golf courses have <a href="http://www.politifact.com/truth-o-meter/article/2017/oct/10/who-plays-more-golf-donald-trump-or-barack-obama/">made headlines</a>, one golf course he hasn't visited is right here in Southern California: the Trump National Golf Club in Rancho Palos Verdes.</p>

<h1>Trump hasn't been silent on the state and its issues</h1>

<p>While he hasn't been here, Trump has tweeted about California a few times since taking office.</p>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Our hearts are with all affected by the wildfires in California. God bless our brave First Responders and <a href="https://twitter.com/fema?ref_src=twsrc%5Etfw">@FEMA</a> team. We support you! <a href="https://t.co/YaoPbaVI5L">https://t.co/YaoPbaVI5L</a></p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/920695565578592256?ref_src=twsrc%5Etfw">October 18, 2017</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Yes, Arnold Schwarzenegger did a really bad job as Governor of California and even worse on the Apprentice...but at least he tried hard!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/827477947154063361?ref_src=twsrc%5Etfw">February 3, 2017</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Working hard to get the Olympics for the United States (L.A.). Stay tuned!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/884740553040175104?ref_src=twsrc%5Etfw">July 11, 2017</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>Policy-wise, Trump has staked out positions at odds with Gov. Jerry Brown and other California politicans, on everything from <a href="http://www.scpr.org/news/2017/10/24/76959/california-judge-skeptical-of-need-to-reinstate-tr/">health care</a> to <a href="http://www.scpr.org/news/2017/09/25/76018/is-president-trump-s-latest-travel-ban-a-muslim-ba/">immigration</a> to <a herf="https://www.google.com/search?safe=off&ei=Qqn8WYnlM6eCjwTOhI2YAg&q=jerry+brown+%22own+damn+satellite%22+kpcc&oq=jerry+brown+%22own+damn+satellite%22+kpcc&gs_l=psy-ab.3...15511.16028.0.16342.3.3.0.0.0.0.105.306.1j2.3.0..3..0...1.1.64.psy-ab..0.0.0....0.lnoJ3qZWl18">climate change</a>. Trump even called the state "out of control" in a Feburary interview. And the feeling seems to be mutual, with California politicans declaring what Kousser describes as a "policy war" on the president.</p>



<br>
<br>
<p><em>Icons
Created by Hea Poh Lin</text><text x="0" y="50" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif"> from the Noun Project.</em></p>

</div>
