<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<h1 id ="message">Trump text here</h1>

<p><span class="credits">By <a href="http://www.scpr.org/about/people/staff/aaron-mendelson">Aaron Mendelson</a> | Updated February 27, 2018; count updates daily</span></p>

<br>
<p>Trump is coming. In mid-March, the 45th president <a href="https://www.scpr.org/news/2018/02/27/81181/trump-to-visit-california-for-first-time-since-bec/">will finally visit California</a> for the first time since taking office — well over 400 days into his presidency.</p>

<p>Trump's absence from the Golden State has been a notable break from the travel patterns of his predecessors. George W. Bush visited the state after <strong><span id="color">129 days</span></strong>. And Barack Obama visited California after just <strong><span id="color">57 days</span></strong> in office. In fact, every president since at least Jimmy Carter has found time to visit California in his first six months, <a href="https://www.nytimes.com/2017/07/03/us/politics/california-trump-visit.html">the New York Times reports</a>. Every president, that is, except Trump.<p>

<p>Many of the states the president visited before his upcoming trip to California voted for him in the 2016 election. And while California went for Hillary Clinton, 4.5 million Californians cast their vote for Trump. That's more votes than he received in Iowa, West Virginia and Arizona combined, three states in which Trump has held rallies.

<p>GOP political consultant Mike Madrid told KPCC that California has historically been a "destination point" for presidents. But the country's increasing polarization and California's continued shift to the left have transformed that landscape. Instead of visiting the Golden State, Madrid sees Trump as "doubling down" on red states.</p>

<h1>Why do presidents come to California?</h1>

<p>Presidents typically make trips for a few reasons: to rally support, raise money and provide comfort and leadership after natural disasters and tragedies.</p>

<p>While Trump could draw an enthusiastic crowd in Fresno or Bakersfield, he's likely to draw protesters in deep-blue areas. And a visit by an unpopular president may harm election and re-election prospects for Republicans in areas that Clinton carried, including <a href="https://www.scpr.org/news/2017/11/03/77190/as-mid-term-elections-near-gop-faces-mounting-chal/">in several competitive Orange County congressional races</a>.</p>

<p>Trump's March travel plans include a viewing of border wall prototypes and a fundraiser in Los Angeles. Mike Pence made a similar trip in October 2017, raising money across the state.</p>

<p>Some in the state were surprised that Trump didn't visit after the 2017 fires in Northern California that killed more than 40. "He was very quick in his responses to hurricanes in red states," UC San Diego political science professor Thad Kousser said. "Even though California may not need a presidential visit to recover from this, it certainly stands out when you see the president not responding to what's one of the biggest natural disasters in California history."</p>

<p>Madrid counters that Trump quickly approved federal financial relief for the state after the fires and the Oroville Dam collapse. There's little political benefit to Trump visiting California after crises, he said, or at any point. "It's got to be probably eleventh on a list of 10 priorities for him."</p>

<p>Madrid adds that the lack of visits has produced at least one silver lining: fewer traffic jams from presidential motorcades.</p>


<h1>Where <em>has</em> Trump been as president?</h1>

<p>So, where did the president go before visiting the nation's most populous state? According to <a href="https://factba.se/topic/calendar">Factbase</a>, which tracks the president's public schedule and pool reports, Trump has visited 30 U.S. states and territories and 16 countries as of February 27, 2017
.</p>

<p>Among them:</p>

<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">


<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" fill="#F3AA27" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="40px" height = "40px" x="0px" y="0px" viewBox="0 0 30 37.5" xml:space="preserve"><g transform="translate(-364 -380)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M391,392l-3,4h-1l2-3l-1-4l-1-1l-9-3l-1-1l-2-1v-2l-7,2v4l-2,1v7l2,1l5,5l1,6l2,1v1h12v-6l1-4l3-7H391z"/></g></g></svg> <span id = "svg_txt">Wisconsin</span>
</a>

<br>

<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="40px" height = "40px" version="1.1" x="0px" y="0px" viewBox="0 0 38 37.5" xml:space="preserve"><g transform="translate(-90 -800)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M121,818l-4-5v-2l-3-3h-1v-1h-4l-5-4l-3-2l-4,2l1,1v1h-2l-1,2h-1l-1,2h1l4,7h1l1,2v2l1,2l2,1l1,3h1l1,2l1-2l6,2l2-3h4l6-2    l1-4L121,818z"/></g></g></svg>
<span id = "svg_txt">Saudi Arabia</span>
</a>

<br>

<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="40px" height = "40px" version="1.1" x="0px" y="0px" viewBox="0 0 30 37.5" xml:space="preserve"><g transform="translate(-530 -320)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M557,333v-5l-3-1h-8l-2-1v-5h-7v11h-7l1,3l2,1l1,3l2,2h1l2-2h3l4,6l1,3l4,1v-4l1-2l4-3l1-2h2v-4L557,333z"/></g></g>
<span id = "svg_txt">Texas</span>
</a>

<br>

</div>



<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">


<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="40px" height = "40px" version="1.1" x="0px" y="0px" viewBox="0 0 30 37.5" xml:space="preserve"><g transform="translate(-168 -80)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M194,81h-20v4h-3l1,7l2,2l-2,2v2l-1,1v2h1v1h-1l-1,1l16,6h9L194,81z"/></g></g>
<span id = "svg_txt">Arizona</span>
</a>

<br>

<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="40px" height = "40px" version="1.1" x="0px" y="0px" viewBox="0 0 30 37.5" xml:space="preserve"><g transform="translate(-228 -1100)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M257,1121l-2-4v-3l-2-1l1-2h2v-2l-3-5h-12v-2l-5,1l-1,2l-5,1l1,13l3,2v1l1,1h3l2,1l2,3l2-1v1h1l1-1h4v1l4,1l-1-3L257,1121    z"/></g></g>
<span id = "svg_txt">Poland</span>
</a>

<br>

<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="40px" height = "40px" version="1.1" x="0px" y="0px" viewBox="0 0 48 37.5" xml:space="preserve"><g transform="translate(-348 -140)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M390,149l-2-1v-4l-2-3h-35v6l-1,1l2,2v3l2,3v2l1,1l1,8h28v2h2v-2l2-1l1-3l-1-1l1-2l3-1l2-5L390,149z"/></g></g>
<span id = "svg_txt">Iowa</span>
</a>

<br>

</div>


<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">


<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="40px" height = "40px"  version="1.1" x="0px" y="0px" viewBox="0 0 38 37.5" xml:space="preserve"><g transform="translate(-296 -380)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M329,388h-1l-1,1h-3l-2,1l-1,2h-1v-4h-7v-8h-1v4l-1,4l-3,3h-3v3h-3v3l-1,1v1h-2v3l6,7h2l8-3v-1l4-6v-1h1l1,1l1-1v-2h2l3-3    l1-3h1l1.5,2.5l1.5-1.5v-2L329,388z"/></g></g><span id = "svg_txt">West Virginia</span>
</a>

<br>

<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="40px" height = "40px" version="1.1" x="0px" y="0px" viewBox="0 0 30 37.5" xml:space="preserve"><g transform="translate(-512 -740)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="523,770 519,770 520,768 524,768   "/><rect x="521" y="745" width="1" height="1"/><rect x="520" y="744" width="1" height="1"/><rect x="521" y="747" width="1" height="1"/><rect x="519" y="763" width="1" height="1"/><rect x="531" y="760" width="1" height="1"/><rect x="525" y="762" width="1" height="1"/><rect x="523" y="763" width="1" height="1"/><g><path d="M534,754v-6l-3-5v-1l-2-2v2h-5l-2,2l1,5h-3l-1,1h1l1,6l-1,1v5l1,2l2-1l1-1l3-1v1h1v-1h2l1-2h2l1-1l1-4H534z"/></g><rect x="540" y="745" width="1" height="1"/></g></g><span id = "svg_txt">South Korea</span>
</a>

<br>

<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="40px" height = "40px" version="1.1" x="0px" y="0px" viewBox="0 0 30 37.5" xml:space="preserve"><g transform="translate(-108 -260)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M132,261h-18v13l17,15v-4h2L132,261z"/></g></g>
<span id = "svg_txt">Nevada</span>
</a>

<br>

</div>



<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">


<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="40px" height = "40px" version="1.1" x="0px" y="0px" viewBox="0 0 30 37.5" xml:space="preserve"><g transform="translate(-168 -740)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="191.333,743 190,741 189,741 189,745 187,745 187,747 187,749 188,748 188,747 190,747 190,748 191,748 191,747     193,745 194,745 194,743   "/><polygon points="187,750 187,752 186,756 183,757 183,756 182,756 182,758 181,759 177,759 174,761 174,762 175,762 178,761     180,761 180,763 181,763 182,762 182,761 184,761 185,760.5 185,761 186,761 186,760 187,759.667 187,760 188,760 188,759.333     189,759 189,756 189,754 190,753 190,751 188.5,748.5   "/><polygon points="173,763 172,763 172,765 173,765 173,767 174,767 174,766 175,766 175,763 174,763 174,762 173,762   "/><rect x="172" y="768" width="2" height="1"/></g></g><span id = "svg_txt">Japan</span>
</a>

<br>


<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="40px" height = "40px" version="1.1" x="0px" y="0px" viewBox="0 0 30 37.5" xml:space="preserve"><g transform="translate(-30 -140)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M55,159v-2l-2-4h-1l-2-4h-2l-2-4l-2-1l1-2H32l3,16v6l2,4h13l1,1h1v-2h2v-2l1-2v-1l2-2v-1H55z"/></g></g><span id = "svg_txt">Georgia</span>
</a>

<br>


<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="40px" height = "40px" version="1.1" x="0px" y="0px" viewBox="0 0 38 37.5" xml:space="preserve"><g transform="translate(-348 -260)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M382,285h-5v-7l1-2v-5l-1-1v-8h-8l-5,5v1h1v1h-1v2l-2,1h-11v2l2,1l-4,3v2h20l1,2l6.5,4.5L375,288h4l6-3v-1L382,285z"/></g></g><span id = "svg_txt">New York</span>
</a>

<br>


</div>

<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  fill="#F3AA27" width="40px" height = "40px"  version="1.1" x="0px" y="0px" viewBox="0 0 30 37.5" xml:space="preserve"><g transform="translate(-30 -200)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M56,224l1-2h-2l-1-1l2-1l-2-3l1-2H45v-4l3-4l-1-2v-3H31v7h1l2,5v2l-1,1v3l-1,2v1h5l2,1l5,1v-1l-2-1l1-1l3,2v2l3,1l1-1h2v1    h1l1-2l4,2h1L56,224z"/></g></g><span id = "svg_txt">Louisiana</span>
</a>

<br>

<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="40px" height = "40px" version="1.1" x="0px" y="0px" viewBox="0 0 38 37.5" xml:space="preserve"><g transform="translate(-306 -500)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M333,520h1v-4h-2l2-3h1l2-6h-3l-1-1h-3l-6-4v-1l-2,1v2l-1,1h-2v1h-4v-1h-2l2,4h-3l-1-1l-4,1v2l5,2l2,3l2,1l-2,9l8,3h3v-3     l2-1h2l2,2h2l3-4h-2L333,520z"/></g><polygon points="339,524 342,523 342,528 340,527   "/></g></g><span id = "svg_txt">France</span>
</a>

<br>

<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="40px" height = "40px"  version="1.1" x="0px" y="0px" viewBox="0 0 48 37.5" xml:space="preserve"><g transform="translate(-90 -140)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M96,142l-3,3l2,2l2-2v-3H96z"/></g><g><path d="M102,141l-4,1v1l1,2h3l1-1v-2L102,141z"/></g><g><path d="M108,144h-1l-1,1h-1l1,3h5L108,144z"/></g><rect x="113" y="148" width="5" height="2"/><rect x="115" y="151" width="3" height="2"/><rect x="118" y="154" width="2" height="1"/><polygon points="123,152 123,151 121,151 121,150 119,150 119,152 120,152 120,154 121,154 121,155 123,155 123,154 125,154     125,152   "/><g><path d="M134,163l-1-1h-1v-2l-3-2h-1l-2-1h-1v3l-2,2l2,3v3l2,2l2-2l2-1h1l3-3v-1H134z"/></g></g></g><span id = "svg_txt">Hawaii</span>
</a>

<br>


</div>


<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="40px" height = "40px" version="1.1" x="0px" y="0px" viewBox="0 0 30 37.5" xml:space="preserve"><g transform="translate(-278 -680)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M296,682v1h-3v2l-3,9l-2,3l4,12l1-1l3-13v-8l2-3v-3L296,682z"/></g></g><span id = "svg_txt">Israel</span>
</a>

<br>

<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="40px" height = "40px" version="1.1" x="0px" y="0px" viewBox="0 0 48 37.5" xml:space="preserve"><g transform="translate(-176 -320)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M220,339v-4l2-2v-3l-2-1v-2l-2-2h-34v-3l-6,3v23h37l1-1h4l3-4L220,339z"/></g></g><polygon points="339,524 342,523 342,528 340,527   "/></g></g><span id = "svg_txt">Pennsylvania</span>
</a>

<br>

<a id="special_a" style="text-decoration : none; color : #2B2B39;">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#F3AA27" width="40px" height = "40px" version="1.1" x="0px" y="0px" viewBox="0 0 38 37.5" xml:space="preserve"><g transform="translate(-552 -80)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M586,95l1-2l-3-4l-2-6l-3-1v2l-1-1h-12l-1-2h-12v1l1,2h6l4,2v1h2l2-1h3l4,4h1v3l-1,3l1,1v1l2,3h1v2h1l1,2l2,1l2,3h2l1-1    v-1l1-3v-4L586,95z"/></g></g><span id = "svg_txt">Florida</span>
</a>

<br>


</div>



<br>
<p>While the president's trips to golf courses have <a href="http://www.politifact.com/truth-o-meter/article/2017/oct/10/who-plays-more-golf-donald-trump-or-barack-obama/">made headlines</a>, one golf course he hasn't visited since taking office is right here in Southern California: the Trump National Golf Club in Rancho Palos Verdes.</p>


<h1>Trump hasn't been silent on the state and its issues</h1>

<p>Though he hasn't been here, Trump has tweeted about California a handful of times since taking office.</p>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Our hearts are with all affected by the wildfires in California. God bless our brave First Responders and <a href="https://twitter.com/fema?ref_src=twsrc%5Etfw">@FEMA</a> team. We support you! <a href="https://t.co/YaoPbaVI5L">https://t.co/YaoPbaVI5L</a></p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/920695565578592256?ref_src=twsrc%5Etfw">October 18, 2017</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Yes, Arnold Schwarzenegger did a really bad job as Governor of California and even worse on the Apprentice...but at least he tried hard!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/827477947154063361?ref_src=twsrc%5Etfw">February 3, 2017</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Working hard to get the Olympics for the United States (L.A.). Stay tuned!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/884740553040175104?ref_src=twsrc%5Etfw">July 11, 2017</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>Policy-wise, Trump has staked out positions at odds with Gov. Jerry Brown and other California politicians, on everything from <a href="http://www.scpr.org/news/2017/10/24/76959/california-judge-skeptical-of-need-to-reinstate-tr/">health care</a> to <a href="http://www.scpr.org/news/2017/09/25/76018/is-president-trump-s-latest-travel-ban-a-muslim-ba/">immigration</a> to <a herf="http://www.sacbee.com/news/politics-government/capitol-alert/article120928688.html">climate change</a>. Trump even called the state <a href="http://www.latimes.com/politics/washington/la-na-essential-washington-updates-trump-bill-to-make-california-a-1486330796-htmlstory.html">"out of control"</a> in a February 2017 interview. And the feeling seems to be mutual, with California politicians declaring what Kousser describes as a "policy war" on the president.</p>

<p>Recently, Trump even <a href="https://www.scpr.org/news/2018/02/22/81028/trump-mulls-pulling-some-federal-agents-from-calif/">floated</a> removing U.S. Immigration and Customs Enforcement agents from California.</p>

<p> </p>
<br>
<p><em>Read more of KPCC's politics coverage <a href="https://www.scpr.org/politics">here</a>.
<p><em>Story built using</strong> <a href="https://underscorejs.org/">underscore.js</a>, <a href="https://backbonejs.org/">backbone.js</a> &amp; <a href="https://twitter.github.com/bootstrap/">Bootstrap</a>. Icons
Created by <a href="https://thenounproject.com/charlenehea/">Hea Poh Lin</a> from the Noun Project.</em></p>

</div>
