<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="content-article">
            <div class="headlines">
                <h4 class="kicker">Politics</h4>
                <h1>Annotating Gov. Brown's 2014 State of the State address</h1>
            </div>
            <div class="text collapse">
                <p><span class="credits">Produced by <a href="http://www.kqed.org/">KQED</a>, <a href="http://www.capradio.org/">Capital Public Radio</a>,  &amp; <a href="http://www.scpr.org/">KPCC</a> staff</span> | <span class="pubdate">Published Jan. 22, 2013</span></p>
                <p>Gov. Jerry Brown delivered the annual State of the State address this morning, signaling initiatives for the upcoming legislative year. During the address he outlined his vision for the state on a number of topics, including education, health care, the environment and the economy.</p>
                <p>Reporters from <a href="http://www.kqed.org/">KQED</a>, <a href="http://www.capradio.org/">Capital Public Radio</a>,  &amp; <a href="http://www.scpr.org/">KPCC</a> have analyzed the speech, leaving their notes highlighted in the document below.</p>
                <p>Use the icons below to explore the speech by topic.</p>
            </div>
            <div class="about collapse">
                <p><strong>Source(s): </strong><a href="http://gov.ca.gov/home.php" target="blank">Ca. Office of the Governor</a>. <strong>Built using</strong> <a href="https://www.documentcloud.org/">DocumentCloud</a>, <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>. <a href="http://thenounproject.com/term/money/931/" target="_blank">Money</a>, <a href="http://thenounproject.com/term/school/4405/" target="_blank">school</a>, <a href="http://thenounproject.com/term/train/67/" target="_blank">train</a>, <a href="http://thenounproject.com/term/recycle/7162/" target="_blank">recycle</a>, <a href="http://thenounproject.com/term/state-government/15214/" target="_blank">state government</a>, <a href="http://thenounproject.com/term/x-ray/615/" target="_blank">x-ray</a>, <a href="http://thenounproject.com/term/speech/16988/" target="_blank">speech</a> and <a href="http://thenounproject.com/term/arrest/4259/" target="_blank">arrest</a> icons used <a href="http://creativecommons.org/publicdomain/mark/1.0/">via a Public Domain Mark</a> from <a href="http://thenounproject.com/">The Noun Project</a>.</p>
            </div>
            <div class="buttons btn-group btn-group-justified">
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            </div>
        </div>
    </div>
</div>