<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div id="title1" align="center"></div>

		<div id="yeardata">
			
			<div id="highest" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div id="subtitle1" align="center"></div>
				<div id="chart1"></div>
			</div>

			<div id="lowest" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div id="subtitle2" align="center"></div>
				<div id="chart2"></div>
			</div>

		</div>

		<div id="title2" align="center"></div>

		<div id="monthdata">

			<div id="highest" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div id="subtitle3" align="center"></div>
				<div id="chart3"></div>
			</div>

			<div id="lowest" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div id="subtitle4" align="center"></div>
				<div id="chart4"></div>
			</div>

		</div>
    </div>
</div>