<div id="content-article">
    <h4 class="kicker">Tools</h4>
    <h1>Spreadhsheet to Table converter</h1>
    <div id="content-article-metadata">
        <p><span class="credits">Based on <a href="http://www.scpr.org/about/people/staff/chris-keller">Kevin Schaul's</a> Table Converter</span> | <span class="pubdate">Updated July 27, 2013</span></p>
    </div>
    <div id="content-article-text">
        <p>Copy and paste cells from a spreadsheet into the input box below and watch the html code appear.</p>
    </div>
</div>