<div id="content-article">
    <h4 class="kicker">Subhead here</h4>
    <h1>Lead Headline Here</h1>

    <div id="content-article-metadata">
        <p><span class="credits"><a href="#">Xxxxx</a> &amp; <a href="#">Xxxxxx</a></span> | <span class="pubdate">Updated May 23, 2013</span></p>
    </div>

    <div id="content-article-text">
        <p>Nearly 10 million people call Los Angeles County home. More than 40 million pay LA a visit each year. With so many people and only so much space, it can be tough to find peace and quiet.</p>
        <p>KPCC reporter José Martinez wants to know: Where do you go to get away from it all?</p>
        <p>Is there a favorite park or hiking trail? Maybe you prefer an empty museum or quiet garden. Tell KPCC and help us map the region's best places to escape the noise.</p>
    </div>

    <div id="content-article-buttons">
        <a class="btn btn-info" href="#">Read More</a>
    </div>
</div>