#data-user-submit .ss-form {width: 90%; margin: 0 5% 0 5%;}
#data-user-submit {width: 100%; height: 100%; margin: 10px 0; display: none;}

/* develop for inclusion into foundational styles */
#data-legend {height: 25px; margin: 10px 0 0 0;}
#data-legend-items {margin: 0 0 0 0; height: 25px; }
#data-legend-items li {display: inline; height: 25px; list-style-type: none; padding: 10px 10px 10px 10px;}




#data-legend-items li.darkblue {height: 25px; background-color:#000077; margin-right:10px; color: #ffffff;}
#data-legend-items li.lightblue {height: 25px; background-color:#0055ff; margin-right:10px; color: #ffffff;}
#data-legend-items li.city-makeover {height: 25px; background-image: url(../images/green.png); background-repeat: no-repeat; background-position: 0 0;}
#data-legend-items li.user-contrib {height: 25px; background-image: url(../images/red.png); background-repeat: no-repeat; background-position: 0 0;}

@media screen and (max-width: 485px) {
    #data-container h1 {font-size: 24px; font-weight: 800; line-height: 28px; color: #2B2B2B;}
    #data-container h2 {font-size: 20px; font-weight: 700; line-height: 24px; color: #2B2B2B;}
    #data-container h3 {font-size: 16px; font-weight: 700; line-height: 20px; color: #2B2B2B;}
    #data-container h4 {font-size: 14px; font-weight: 700; line-height: 18px; color: #2B2B2B;}
}

@media screen and (min-width: 486px) and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 979px) {
    #data-container h1 {font-size: 28px; font-weight: 800; line-height: 32px; color: #2B2B2B;}
    #data-container h2 {font-size: 24px; font-weight: 700; line-height: 28px; color: #2B2B2B;}
    #data-container h3 {font-size: 20px; font-weight: 700; line-height: 24px; color: #2B2B2B;}
    #data-container h4 {font-size: 18px; font-weight: 700; line-height: 22px; color: #2B2B2B;}
}

@media screen and (min-width: 980px) and (max-width: 1200px) {

}

@media (min-width: 1201px) {

}