<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="data-legend">
        <div id="document-navigation-links">
            <select id="create-document-instance" onchange="fn.getIdOfSelectElement(this.value);">
                <option>Select a document</option>
                <option value="961055-june-28-2010-1-million-wire-transfer-to-sedgwick">June 28, 2010: $1 million wire transfer to Sedgwick LLC From Central Basin</option>
                <option value="961124-item15-boardagenda-15pages">June 28, 2010: Central Basin Board Meeting Agenda</option>
                <option value="963984-june-2010-warrant-list">June 2010: Central Basin Warrant List</option>
                <option value="939082-september-2010-contract-between-sedgwick-and-hdr">September 13, 2010: Contract between Sedgwick and HDR Engineering</option>
                <option value="961143-december-14-2010-contract-between-sedwick-law">December 14, 2010: Contract between Sedgwick Law firm and the Calderon Group</option>
                <option value="964084-january-2012-1-million-wire-transfer">January 2012: $1 million wire transfer</option>
                <option value="964095-january-2012-central-basin-warrant-list">January 2012: Central Basin Warrant List</option>
                <option value="938786-february-12-2012-email-exchange-authorizing-1">February 12, 2012: Central Basin email exchange regarding $1 million wire transfer</option>
                <option value="962352-march-22-2012-email-from-doug-wance-requesting">March 22, 2012: $750,000 wire transfer and email request</option>
                <option value="938618-march-2012-warrant-list-showing-750-000-wire">March 2012: Warrant list showing $750,000 wire transfer labeled "legal services"</option>
                <option value="961585-march-25-2013-central-basin-board-meeting">March 25, 2013: Central Basin Board Meeting Minutes</option>
            </select>
        </div>
    </div>
    <div id="document-meta-data"></div>
    <div id="note-navigation-links"></div>
    <div class="progress progress-striped progress-list active hidden" style="margin-top: 15px;">
        <div class="progress-bar"  role="progressbar" aria-valuenow="100" style="width: 100%;"></div>
    </div>
    <div id="document-container"></div>
</div>