<div id="content-article-text">
    <p>Terry richardson bicycle rights ut selvage brooklyn, stumptown +1 id velit nesciunt cray you probably haven't heard of them. Pug commodo fashion axe mustache, hella laboris locavore direct trade kale chips deserunt skateboard.</p>
</div>

<div id="content-article-buttons">
    <a class="btn btn-info" href="http://www.scpr.org/mayor">Read More</a>
</div>

<div id="content-display"></div>