<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="content-article">
            <div class="headlines">
                <h4 class="kicker">Your sentiments</h4>
                <h1>Parking in L.A.- Where is most difficult?</h1>
            </div>
            <div class="text collapse">
                <p><span class="credits">Produced by <a href="https://twitter.com/Evie_xing" target="blank">Evie Liu</a> &amp; <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Published June 10, 2014</span></p>
                <p>Parking is the pain in the rear for every Angeleno. We are all used to it and know that you should always arrive at least 15 minutes earlier if you don't have a designated parking spot and want to be on time.</p>
                <p>We'd like you to share with us your thoughts and experience about parking in L.A., and maybe tips on parking in a specific area so other fellows might have an easier time. </p>
                <p>Where in the city do you find most difficult to find a spot and place your car? </p>
                <p>Where has the most unreasonable parking rate? </p>
                <p>Where did you get most tickets?  </p>
                <p>What's your most terrible or ridiculous parking experience?</p>
                <p>Any tricky spot or policy you want to remind other Angelenos?</p>
                <p>Find an area you find most difficult to park using our interactive X-Y axis below, click on the tile, and leave your opinion!  </p>
            </div>
            <div class="about collapse">
                <p><strong>Built using</strong> <a href="https://twitter.com/veltman" target="blank">Noah Veltman</a> &amp; <a href="https://twitter.com/mhkeller" target="blank">Michael Keller's</a> <a href="https://github.com/veltman/fourscore" target="blank">FourScore</a>, <a href="http://underscorejs.org/">underscore.js</a>, colorbrewer.js, <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
            </div>
            <div class="buttons btn-group btn-group-justified">
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
                <a class="btn btn-primary" href="http://www.scpr.org/news/2014/06/10/44632/vergara-trial-calif-judge-could-change-teacher-job/"><span class="glyphicon glyphicon-link"></span> Read more</a>
            </div>
        </div>
    </div>
</div>