<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="content-article">
            <div class="headlines">
                <h4 class="kicker">Your sentiments</h4>
                <h1>Parking in LA: Where is it worst?</h1>
            </div>
            <div class="text collapse">
                <p><span class="credits">Produced by <a href="https://twitter.com/Evie_xing" target="blank">Evie Liu</a> &amp; <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Published June 10, 2014</span></p>
                <p>Hunting for&mdash;and failing to find&mdash;a parking spot is one of the things we Angelenos share. And it's one of the things we hate about living here: We know to allow an extra 15 minutes if we don't have a designated spot and want to come close to being on time.</p>
                <p>Where do you think parking is the worst in L.A.? Where do you have the most trouble when it comes to finding a parking spot&mdash;free, metered, paid or otherwise?</p>
                <p>Use the grid below to share your thoughts and experiences about parking in north, south, east or west Los Angeles. And if you have some tips with your fellow Angelenos, please share them! We'd all like to show up on time.</p>
            </div>
            <div class="about collapse">
                <p><strong>Built using</strong> <a href="https://twitter.com/veltman" target="blank">Noah Veltman</a> &amp; <a href="https://twitter.com/mhkeller" target="blank">Michael Keller's</a> <a href="https://github.com/veltman/fourscore" target="blank">FourScore</a>, <a href="http://underscorejs.org/">underscore.js</a>, colorbrewer.js, <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
            </div>
            <div class="buttons btn-group btn-group-justified">
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            </div>
        </div>
    </div>
</div>