<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Environment</h4>
            <h1>Map: Flood zones in Southern California</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/aaron-mendelson">Aaron Mendelson</a> | <span class="pubdate">Published October 5, 2015</span></p>
            <p>A strong El Niño climate pattern <a href="http://www.scpr.org/news/2015/09/10/54312/el-nino-update-still-on-track-for-a-stormy-socal-w/">is on its way to Southern California</a>, and might bring with it some much-needed rain. But that precipitation could be a double-edged sword, raising the possibility of flooding in a region struggling with drought.</p>
            <p>The Federal Emergency Management Agency (FEMA) tracks areas vulnerable to a 100-year flood, and requires flood insurance there. FEMA's data shows that populated areas in Los Angeles, Garden Grove, Camarillo and elsewhere are all at risk. The agency also tracks areas at risk in a 500-year flood. For more about flood mapping and insurance, consult <a href="http://www.fema.gov/national-flood-insurance-program">FEMA's website</a>.</p> <p>Explore the map to learn more, and read about <a href="http://www.scpr.org/news/2015/09/15/54436/el-nino-preparations-mostly-on-track-in-la-county/">preparation efforts in L.A. County</a>, <a href="https://www.fema.gov/media-library/assets/documents/90164#">getting your home ready for a flood</a> and <a href="http://projects.scpr.org/charts/nino-sea-surface-temperatures/">how this year's El Niño stacks up</a> to previous events.</p>

        </div>
        <div class="about collapse">
            <p><strong>Source</strong>: Federal Emergency Management Agency's <a href="http://msc.fema.gov/portal/advanceSearch">National Flood Hazard Layer</a> for California. Some areas in the north of the state have not yet been mapped. This map does not reflect all potential flood risks, such as overtopping of the Arroyo Seco due to <a href="http://www.scpr.org/news/2015/09/15/54436/el-nino-preparations-mostly-on-track-in-la-county/">sedinment buildup in Devil's Gate Dam</a>.

             <strong>Built using</strong> <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, <a href="https://support.google.com/fusiontables/answer/2571232?hl=en">Google Fusion Tables</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
            </p>



        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <a class="btn btn-primary" href="http://www.scpr.org/news/2015/09/10/54312/el-nino-update-still-on-track-for-a-stormy-socal-w/" target=""><span class="glyphicon glyphicon-link"></span> Read more</a>

        </div>
    </div>
</div>
