<div class="row-fluid">
    <div class="span12">
        <div id="article-footer">
            <div id="embed-this"></div>
            <div id="sources"></div>
            <div id="credits"></div>
            <div id="open-source">
                <p class="small-display">Built using <a href="https://github.com/jsoma/tabletop" target="blank">tabletop.js</a>, <a href="http://handlebarsjs.com/">handlebars.js</a>, <a href="https://github.com/elving/swag" target="blank">swag.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
            </div>
        </div>
    </div>
</div>