a { color: #4B58A6; }

#map_canvas img { max-width: none; }

.filter-box { height: 15px; width: 15px; display: inline-block; *border-right-width: 2px; *border-bottom-width: 2px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; }

.filter-yellow { background-color: #FBF358; }

.filter-green { background-color: #00E13C; }

.filter-blue { background-color: #5781FC; }

.filter-purple { background-color: #7C54FB; }

.filter-red { background-color: #FB6353; }

#content-action-bar { margin: 0px; text-align: left;}

#content-action-bar form { margin: 0px;}

.well { padding: 0px; background: none; border: none; -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.05); -moz-box-shadow: inset 0 0 0 rgba(0,0,0,0.05); box-shadow: inset 0 0 0 rgba(0,0,0,0.05); }

.well .input-block-level { width: 300px;}

.alert { padding: 8px 35px 8px 14px; margin-bottom: 21px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); background-color: #d47500; border: 1px solid #c54c00; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}

.lead { font-size: 22.5px; font-weight: 200; line-height: 31.5px; }

.alert-info { background-color: #2e2e2e; border-color: #2e2e2e; color: #ffffff; font-weight: normal;}

.accordion-group {margin-bottom: 2px; border: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}

.accordion-inner {padding: 0px; border-top: none;}

#data-container h3 {line-height: 140%}

body.minimal .header-links a.projects-home {background:url('http://projects.scpr.org/static/static-files/images/tablestacker-tables/ico-home.png') no-repeat 0 0; margin: 0 auto; width: 31px; height: 22px;}