<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Environment</h4>
            <h1>Lead remediation efforts by the city of Los Angeles</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/deepa-fernandes">Deepa Fernandes</a> and <a href="https://twitter.com/craftworksxyz">Will Craft</a></span> | <span class="pubdate">Published Sept. 8, 2015</span></p>
            <p>As children nationwide continue to be found with lead poisoning brought on by sources in and around their homes, the U.S. Housing and Urban Development Department began a grants program to give cities the ability to hire expert contractors to clean up the lead. In 1998 Los Angeles began its own program. Homeowners can qualify to have their property remediated if they meet certain criteria: they must be low-income and have a child age six or under who lives at or regularly visits the property.</p>
            <p>Liseth Romero-Martinez, who manages the city's Lead Hazard Remediation Program, created a registry of all the properties that had been successfully remediated of lead since 2007. "I felt that families looking for a lead safe unit could utilize the lead registry," she said.</p>
            <p>The average cost per remediation project is about $7,700, said Jose Berumen, who manages the city’s remediation program. "We try to stay within the cost limits," he said.</p>
            <p>Berumen's team assess parts of each housing unit that have lead dangers. The family in the unit is temporarily moved out while a team conducts the work of removing windows or doors, stripping hazardous paint, and repainting.</p>
            <p>Between 1998 and 2014 more than 1,800 homes were remediated, according to data from the city of Los Angeles. The map below shows where homes remediated between 2006 and early 2015 are clustered.</p>
        </div>
        <div class="about collapse">
            <p><strong>Source(s): </strong>City of Los Angeles <a href="http://hcidapp.lacity.org/lahdinternet/HomeOwners/LeadHazardRemediationProgram/tabid/249/Default.aspx">Lead Hazard Remediation Program</a> via Liseth Romero-Martinez. <strong>Built using</strong> <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, <a href="http://www.highcharts.com/products/highcharts">highcharts.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <!--
            <a class="btn btn-primary" href="#" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>
            -->
        </div>
    </div>
</div>
