.data-legend {width: 100%; height: auto;}
.data-legend .jumbotron {background: rgba(236, 124, 45, 0.5); margin: 10px 0 10px 0; padding: 10px 0 10px 0;}
.data-legend .jumbotron .centered {text-align: center;}
#data-legend-items {width: 100%; height: auto; margin: 20px 0 20px 0;}
#data-legend-items li {height: 25px; list-style-type: none;}
#data-legend-items li .label {padding: 10px 10px 6px 10px; background-color: #256254; border: #256254 solid .1em;}
#data-legend-items li .label a {font-size: 220%; color: #ffffff;}
.data-legend #content-action-bar {width: 100%; height: auto; text-align: center; margin: 15px auto 15px auto; z-index: 1000;}
.data-legend #content-action-bar select {width: 70%; margin: 0 15% 0 15%;}
.data-legend #content-action-bar.fixed {position: fixed; top: 2%; margin: 0; background: rgba(236, 124, 45, 0.7); padding: 10px 0 0 0;}
#data-loading {width: 40%; height: 100px; margin: 20px 30% 0 30%; padding: 0px; text-align: center;}
#data-loading .display {color: #333333;}
.data-visuals .content-scroll-to {height: 135px;}
.hide-data-loading-icon {display: none;}
.highlight {background-color: #256254; color: #ffffff; border: #e8e8e8 solid .1em; padding: 1px 2px 1px 2px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.legi-text, .legi-img {text-align: center;}