<div id="content-article">
    <h4 class="kicker">Public Insight Network</h4>
    <h2>Why are you at the library today -- in person or online?</h2>

    <div id="content-article-text"></div>

<!--
    <div id="content-article-buttons">
        <a class="btn btn-info" href="#">Read More</a>
        <a class="btn btn-success" id="showmodule" href="#" onclick="userSubmit();">Submit an issue</a>
    </div>
-->

</div>