<div id="content-article">
    <h4 class="kicker">Tools</h4>
    <h1>Spreadhsheet to Table converter</h1>
    <div id="content-article-metadata">
        <p><span class="credits">Based on <a href="https://twitter.com/kevinschaul">Kevin Schaul's</a> <a href="https://github.com/kevinschaul/table-converter" target="blank">Table Converter</a>, which is based on Shan Carter's <a href="http://shancarter.github.io/mr-data-converter/" target="blank">Mr. Data Converter</a></span> | <span class="pubdate">Updated July 27, 2013</span></p>
    </div>
    <div id="content-article-text">
        <p>Copy and paste cells from a spreadsheet document into the input box below to see what your table will look like in the preview box. Copy the resulting html code into a CMS story and give yourself a hand. You just made a table.</p>
    </div>
</div>