<div class="row-fluid">
    <div class="span12">
        <div id="article-footer">
            <div id="open-source">
                <p class="small-display">Built using DataConverter, DataGridRenderer, CSVParser, <a href="http://jquery.com/">jQuery</a>, <a href="http://tablesorter.com/docs/">Tablesorter</a>, <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
            </div>
        </div>
    </div>
</div>