body {
	font-family: Arial, sans-serif;
	font-style: normal;
}



/* ---------------------------------------------------------------------------------------------------- */
/* The Slideshow Image Bug: IE8's version (IE9 received its own, simpler, fix; cf. other stylesheet)
/* ---------------------------------------------------------------------------------------------------- */
.slideshow-core .slide-container img {
	height: 600px; /* relative to its predictable 960px width */
	/*
		Okay, here's the deal: Because we're forcing a fixed/known/expected total width on IE8's layout, we know what the rendered size of these images will always be.
		And I can't engineer any other way around this problem, as far as v.8's concerned.
	*/
}





/* ---------------------------------------------------------------------------------------------------- */
/* You don't understand fluidity
/* ---------------------------------------------------------------------------------------------------- */
.bound {
	width: 960px; 
}



/* ---------------------------------------------------------------------------------------------------- */
/* Background-size: lost causes
/* ---------------------------------------------------------------------------------------------------- */
.masthead .social {
	display: none;
}



/* ---------------------------------------------------------------------------------------------------- */
/* Background-size: barely-salvagable causes
/* ---------------------------------------------------------------------------------------------------- */
.masthead,
.masthead .secondary a,
.masthead .social a {
	background-size: cover;
    /* The url is relative to the document, not to the css file! */
    /* Prefer absolute urls to avoid confusion. */
    -ms-behavior: url(backgroundsize.min.htc);
}

.masthead .secondary  a {
    height:17px;    
}


/* ---------------------------------------------------------------------------------------------------- */
/* Deliberate cosmetic sacrifices
/* ---------------------------------------------------------------------------------------------------- */

.slideshow-core .slide-container .slide-caption {
	background-color: black;
	color: white;
}
.rs-controls a {
	background-color: black;
}
.promo-map .prose a mark {
	background: none;
}
.wayfinder a {
	background: none;
}
		.wayfinder a mark {
			color: black;
		}

.afterword .brand a {
	text-indent: 0;
	background: none;
	color: lightgray;
	font-weight: bold;
	text-decoration: none;
	font-size: 1.2em;
	overflow: visible;
}
		.afterword .brand a:hover {
			color: white;
		}





