// fonts

$sans: "Roboto", Helvetica Neue, sans-serif;
$serif: "Abril Fatface", Georgia, serif;

// colors

$vgpblue: #00314D;
$vgpred: #b2182b;

$accessdarkblue: #2166ac;
$accesslightblue: #4393c3;


// kpcc

$medblue: #007397;
$deepblue: #003B5B;
$gold: #F3AA27;
$socalorange: #F87E21;
$pink: #F3567C;
$peach: #FC9A61;
$deeporange: #D15904;

$palegray: #F6F6F6;
$lightgray: #E8E8E8;
$medgray: #898989;
$darkgray: #363636;
$nearblack: #212121;
$white: #fff;

// darks

$black33: #212121;
$black50: #323232;
$black66: #424242;
$black121: #797979;
$black215: #d7d7d7;
$black235: #ebebeb;
$black245: #f5f5f5;

// charts

$chartBlue: #329ce8;
$chartRed: #e34e36;
$chartOrange: #ff8f24;
$chartYellow: #fec44f;
$chartGreen: #52b033;
$chartPurple: #8554bf;
$chartLightBlue: #6dccf2;
$chartGray: #c9c9c9;
$chartCopy: #333333;
$chartText: #848484;
$tableBar: #efebde;
