<div class="row-fluid">
    <div class="span12">
        <p><span class="data-instructions"><strong>About This Map: </strong>Information on this map should never be used as a substitute for calling 811 two business days before digging. Southern California Gas Company (SoCalGas) is providing this map as a courtesy and for general information purposes only. It does not represent that the information contained herein is accurate for any particular purpose, and therefore disclaims all warranties, expressed or implied, including the warranty of fitness for a particular purpose. Independent verification from experts should be obtained prior to any specific use. Recipient accepts full responsibility for any consequences associated with use of this information.</span></p>
    </div>
</div>