<div class="row-fluid">
    <div class="span12">
        <div id="article-footer">
            <!-- thanks for setting the standard Mr. John Keefe -->
            <div id="embed-this">
            <p class="hidden-tablet hidden-phone"><span class="btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed this map</p>
            </div>
            <div id="sources">
                <p class="normal-display"><strong>Sources: </strong><a href="http://assembly.ca.gov/">California State Assembly</a>, <a href="http://senate.ca.gov/">California State Senate</a>, <a href="http://openstates.org/">Open States</a> and KPCC staff reporting.</p>
            </div>
            <div id="open-source">
                <p class="small-display">Built using <a href="https://github.com/jsoma/tabletop">tabletop.js</a>, <a href="http://handlebarsjs.com/">handlebars.js</a>, <a href="http://isotope.metafizzy.co/">Isotope</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
                <br />
                <a href="http://thenounproject.com/noun/bullet/#icon-No933" target="_blank">Bullet icon</a> designed by <a href="http://thenounproject.com/pouringrain" target="_blank">Jeff Raines</a> from <a href="http://thenounproject.com/">The Noun Project</a> and used <a href="http://creativecommons.org/licenses/by/3.0/">via Creative Commons CC BY 3.0</a>.
                <br />
                <a href="http://thenounproject.com/noun/bullet/#icon-No933" target="_blank">Gun icon</a> used <a href="http://creativecommons.org/publicdomain/zero/1.0/">via Creative Commons CC0 - No Rights Reserved</a> from <a href="http://thenounproject.com/">The Noun Project</a>.
                <br />
                <a href="http://thenounproject.com/noun/money/#icon-No931" target="_blank">Money icon</a> used <a href="http://creativecommons.org/publicdomain/zero/1.0/">via Creative Commons CC0 - No Rights Reserved</a> from <a href="http://thenounproject.com/">The Noun Project</a>.
                <br />
                <a href="http://thenounproject.com/noun/man/#icon-No2" target="_blank">Man icon</a> used <a href="http://creativecommons.org/publicdomain/mark/1.0/">via a Public Domain Mark</a> from <a href="http://thenounproject.com/">The Noun Project</a>.</p>
            </div>
        </div>
    </div>
</div>