<div id="content-article">
    <h4 class="kicker">Guns & Politics</h4>
    <h1>Gauging the congressional delegation's stance on gun control</h1>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="span8">
            <div id="content-article-text">
                <p>As Congress prepares to debate new gun control legislation, KPCC surveyed every member of California’s delegation to ask whether they own guns, and what kind of changes to current law they’d support.</p>
            </div>
        </div>
        <div class="span4">
            <div class="controls controls-row">
                <div class="span6">
                    <div id="content-action-bar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content-article-buttons">
<!--
    <a class="btn btn-info" href="#">Read More</a>
-->
</div>
