<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Drought</h4>
            <h1>Income and water use in Southern California</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/aaron-mendelson">Aaron Mendelson</a> | <span class="pubdate">Published May 7, 2015</span></p>
            <p>California is in the fourth year of a historic drought, with no end in sight. This week, the State Water Resources Control Board approved the first-ever mandatory restrictions on local water agencies.</p>
            <p>Many eyes have turned to the manicured lawns, swimming pools and fountains in wealthy communities, with the assumpiton that wealthy Californians use more than their share of the state's water. So do they? KPCC analyzed the per-capita daily water usage and household incomes for more than 40 Southern California communities; the results are below.</p>

        </div>
        <div class="about collapse">
            <p><strong>Sources: </strong><a href="http://www.swrcb.ca.gov/waterrights/water_issues/programs/drought/conservation_reporting_info.shtml" target="blank">State Water Resources Control Board</a>, United States Census Bureau, <a href="http://www.ehib.org/page.jsp?page_key=762" target="blank">California Department of Public Health</a>.

             <strong>Built using</strong> <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, <a href="http://www.highcharts.com/">Highcharts</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
            </p>



        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <a class="btn btn-primary" href="http://projects.scpr.org/charts/water-scatterplot/" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>
            
        </div>
    </div>
</div>