/* main container */
body { height: 493px; min-height: 493px; max-height: 493px; }

.ledger { max-width: 100%; height: auto; color: #ffffff; /*border-bottom: 5px solid #000;*/ position: relative; }

.contributors { background: #e6e6e6; min-height: 220px; height: 300px; position: relative; padding: 0 0 0 0; z-index: 4; }

/* main columns */
.support,
.oppose { width: 50%; min-height: 225px; height: auto; display: inline-block; position: relative; z-index: 10; padding: 0 0 0px 0;}

.oppose { position: absolute; right: 0; top: 0; }

/* contribution header */
header { background: #000; text-transform: uppercase; padding: 2% 0% 2% 0%;}

header h1 { padding: 0 2% 0 2%; font-size: 16px; font-family: "proxima-nova-condensed", "Avenir Next", "Avenir", "Lucida Grande", "Corbel", "Tahoma", Arial, sans-serif; }

.support-accent { color: #B4DD0A; font-size: 21px; font-family: "proxima-nova-condensed", "Avenir Next", "Avenir", "Lucida Grande", "Corbel", "Tahoma", Arial, sans-serif; font-weight: 900; }

.oppose-accent { color: #66D8D8; font-size: 21px; font-family: "proxima-nova-condensed", "Avenir Next", "Avenir", "Lucida Grande", "Corbel", "Tahoma", Arial, sans-serif; font-weight: 900; }

/* display of contributions titles */
.support section.display { width: 100%; padding-bottom: 1%; position: relative; }

.oppose section.display { width: 100%; padding-bottom: 1%; position: relative; }

.support section.display h1 { font-size: 12px; font-weight: 900; font-family: "proxima-nova", "Avenir Next", "Avenir", "Lucida Grande", "Corbel", "Tahoma", Arial, sans-serif; background: #B4DD0A; text-transform: uppercase; padding: 1% 0 1% 2%; }

.oppose section.display h1 { font-size: 12px; font-weight: 900; font-family: "proxima-nova", "Avenir Next", "Avenir", "Lucida Grande", "Corbel", "Tahoma", Arial, sans-serif; background: #66D8D8;  text-transform: uppercase; padding: 1% 2% 1% 0; }

/* display of line-item contributions */
section.display ol { width: 100%; padding: 2% 0% 2% 0%; }

section.display ol li { min-width: 364px; width: 96%; min-height: 1.5em; color: #000; margin: 0 2% .5% 2%; border-bottom: 1px solid #000; }

section.display ol li:last-child { border-bottom: 0px solid #000; }

section.display ol li dl { position: relative; font-size: 13px; width: 100%; }

.support section.display ol li dl dt { width: 65%; text-align: left; float: left; }

.support section.display ol li dl dd { width: 20%; text-align: right; float: right; font-family: "proxima-nova", "Avenir Next", "Avenir", "Lucida Grande", "Corbel", "Tahoma", Arial, sans-serif; font-weight: 900; }

.oppose section.display ol li dl dt { width: 65%; text-align: right; float: right; }

.oppose section.display ol li dl dd { min-width: 100px; width: 20%; text-align: left; float: left; font-family: "proxima-nova", "Avenir Next", "Avenir", "Lucida Grande", "Corbel", "Tahoma", Arial, sans-serif; font-weight: 900; }

.support-contributor-totals,
.oppose-contributor-totals { position: absolute; z-index: 15; margin-bottom: .5%; color: #999999; font-size: 12px; font-family: "proxima-nova", "Avenir Next", "Avenir", "Lucida Grande", "Corbel", "Tahoma", Arial, sans-serif; font-weight: 900; text-transform: uppercase; }

.support-contributor-totals { left: 1%; bottom: 0; }

.oppose-contributor-totals { right: 1%; bottom: 0; }

/* display of total contributions */
aside.totals { background: none; width: 100%; height: 60px; margin-top: 0px; color: #000; padding-bottom: 5px; position: relative; z-index: 6; border-bottom: .1em solid #999999; }

aside.totals .support-total,
aside.totals .oppose-total { background: none; min-width: 147px; width: 10%; min-height: 25px; height: auto; margin: 15px 0 0 0; }

aside.totals .support-total { float: left; margin-right: 0; }
aside.totals .oppose-total { float: right; margin-left: 0; }

aside.totals .support-total dl,
aside.totals .oppose-total dl { background: none; }

aside.totals div dl { width: 100%; text-align: center; }

aside.totals div dl dt { color: #999999; font-size: 12px; font-family: "proxima-nova", "Avenir Next", "Avenir", "Lucida Grande", "Corbel", "Tahoma", Arial, sans-serif; font-weight: 900; text-transform: uppercase; }

aside.totals div dl dd { color: #000; font-size: 20px; font-weight: 900; }

.rule-style-left,
.rule-style-right { max-width: 655px; width: 35.2%; height: 1px; background: #000000; margin-top: 40px; }

.rule-style-left { float: left; }

.rule-style-right { float: right; }

#chart-container { width: 200px; height: 100px; margin: -2% 0 0 -100px; position: absolute; bottom: 0; left:50%; z-index: 10; }

#chart-container svg { background: none; z-index: 5; }

footer { background: #ffffff; width: 100%; height: auto; margin: 20px 0 0 0; border-bottom: 5px solid #000; }

footer .text { width: 49%; margin-left: 0%; display: block-inline; float: left; color: #999999; font-size: 12px; font-family: "proxima-nova", "Avenir Next", "Avenir", "Lucida Grande", "Corbel", "Tahoma", Arial, sans-serif; }

footer .text ol { width: 100%; padding: 2% 0% 2% 0%; }
footer .text ol li { width: 100%; min-height: 1.5em; margin: 0 0 .5% 2%; }
footer .text ol li dl { position: relative; width: 100%; }
footer .text ol li dl dt { min-width: 90px; margin-right: 5%; text-align: left; float: left; text-transform: uppercase; }
footer .text ol li dl dd { min-width: 75%; }
footer .logo { width: 49%; margin-right: 1%; display: block-inline; float: right; }
footer .logo img { float: right; width: 120px;}

/* misc typography */
.bold-accent { color: yellow; text-transform: uppercase; }

.align-left { text-align: left; }

.align-right { text-align: right; }

@media all and (max-width: 1550px) {

}

@media all and (max-width: 1469px) {
    .contributors { height: 270px; }
}

@media all and (max-width: 999px) {
    .contributors { height: 260px; }
    .rule-style-left,
    .rule-style-right { width: 25.2%; }
}

@media all and (max-width: 840px) {
    .contributors { height: 250px; }
    section.display ol { width: 100%; padding: 2% 0% 2% 0%; }
    section.display ol li { min-width: 90px; width: 96%; margin: 0 2% .5% 2%; }
    section.display ol li dl { position: relative; font-size: 13px; width: 100%; }
    .support section.display ol li dl dt { width: 65%; }
    .support section.display ol li dl dd { min-width: 100px; width: 25%; }
    .oppose section.display ol li dl dt { width: 65%; }
    .oppose section.display ol li dl dd { min-width: 100px; width: 25%; }
}

@media all and (max-width: 700px) {
    .contributors { height: 275px; }
    .support section.display ol li dl dt { width: 50%; }
    .support section.display ol li dl dd { width: 50%; }
    .oppose section.display ol li dl dt { width: 50%; }
    .oppose section.display ol li dl dd { width: 50%; }
}

@media all and (max-width: 600px) {
    .contributors { height: 300px; }
    .rule-style-left,
    .rule-style-right { display: none; }
}

@media all and (max-width: 480px) {
    .contributors { height: 300px; }
    section.display ol li dl { font-size: 13px; }
    .support section.display ol li dl dt { width: 54%; }
    .support section.display ol li dl dd { width: 46%; }
    .oppose section.display ol li dl dt { width: 54%; }
    .oppose section.display ol li dl dd { width: 46%; }
    #chart-container { width: 180px; height: 90px; margin: -2% 0 0 -90px; }
}

@media all and (max-width: 453px) {
    .contributors { height: 320px; }
    section.display ol li dl { font-size: 13px; }
    .support section.display ol li dl dt { width: 100%; }
    .support section.display ol li dl dd { width: 100%; text-align: left; }
    .oppose section.display ol li dl dt { width: 100%; }
    .oppose section.display ol li dl dd { width: 100%; text-align: right;}
    #chart-container { width: 175px; height: 87px; margin: -2% 0 0 -87px; }
}

@media all and (max-width: 445px) {
    .contributors { height: 330px; }
    .support-contributor-totals,
    .oppose-contributor-totals { font-size: 11px; }
    aside.totals .support-total,
    aside.totals .oppose-total { min-width: 90px; width: 10%; }
    aside.totals .support-total { float: left; margin-left: 5px; }
    aside.totals .oppose-total { float: right; margin-right: 5px; }
    aside.totals div dl dt { font-size: 11px; }
    aside.totals div dl dd { font-size: 17px;  }

}

@media all and (max-width: 399px) {
    .contributors { height: 330px; }
    section.display ol { width: 98%; margin: 0 1% 0 1%; }
    section.display ol li dl { font-size: .73em; }
    .support section.display ol li dl dt { width: 100%; }
    .support section.display ol li dl dd { width: 100%; text-align: left; }
    .oppose section.display ol li dl dt { width: 100%; }
    .oppose section.display ol li dl dd { width: 100%; text-align: right;}
    .support-contributor-totals,
    .oppose-contributor-totals { font-size: 10px;  }
    aside.totals .support-total,
    aside.totals .oppose-total { min-width: 100px; width: 10%; }
    aside.totals .support-total { float: left; margin-left: 5px; }
    aside.totals .oppose-total { float: right; margin-right: 5px; }
    aside.totals div dl dt { font-size: 12px; }
    aside.totals div dl dd { font-size: 14px;  }
}

@media all and (max-width: 370px) {
    #chart-container { width: 150px; height: 75px; margin: -2% 0 0 -75px; }
}

@media all and (max-width: 335px) {
    #chart-container { width: 140px; height: 70px; margin: -2% 0 0 -70px; }
}

@media all and (max-width: 320px) {
    #chart-container { width: 125px; height: 62px; margin: -2% 0 0 -62px; }
}

@media all and (max-width: 315px) {
    footer .text { font-size: 10px; }
    footer .text ol li dl { position: relative; width: 100%; }
    footer .text ol li dl dt { min-width: 78px; margin-right: 10%; text-align: left; float: left; text-transform: uppercase; }
    footer .text ol li dl dd { min-width: 85%; }
}

@media all and (max-width: 300px) {
    #chart-container { width: 110px; height: 55px; margin: -2% 0 0 -55px; }
}

@media all and (max-width: 287px) {
    #chart-container { display: none; }
    footer .text ol { width: 100%; padding: 2% 0% 2% 0%; }
    footer .text ol li { width: 100%; min-height: 1.5em; margin: 0 0 .5% 2%; }
    footer .text ol li dl { position: relative; width: 100%; }
    footer .text ol li dl dt { width: 100%; }
    footer .text ol li dl dd { width: 100%; }
}

/*
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    section.display ol { width: 98%; margin: 0 1% 0 1%; }
    section.display ol li dl { font-size: 13px; }
    .support section.display ol li dl dt { width: 100%; }
    .support section.display ol li dl dd { width: 100%; text-align: left; }
    .oppose section.display ol li dl dt { width: 100%; }
    .oppose section.display ol li dl dd { width: 100%; text-align: right;}
    .support-contributor-totals,
    .oppose-contributor-totals { font-size: 11px;  }
    aside.totals .support-total,
    aside.totals .oppose-total { min-width: 100px; width: 10%; }
    aside.totals .support-total { float: left; margin-left: 10px; }
    aside.totals .oppose-total { float: right; margin-right: 10px; }
    aside.totals div dl dt { font-size: 10px; }
    aside.totals div dl dd { font-size: 14px;  }
    #chart-container { width: 90px; height: 45px; margin: -2% 0 0 -45px; }
}
*/