<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="content-article">
            <div class="headlines">
                <h4 class="kicker">Northridge earthquake Anniversary</h4>
                <h1>Northridge earthquake 20 years later: Iconic images then and now</h1>
            </div>
            <div class="text collapse">
                <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/maya-sugarman">Maya Sugarman</a> &amp; <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Published Jan. 2, 2013</span></p>
                <p>KPCC found some of the more iconic images of damage from the devastating Northridge earthquake of 1994 and wondered what was rebuilt and what was changed. Photographer <a href="http://www.scpr.org/about/people/staff/maya-sugarman">Maya Sugarman</a> spent weeks looking for the original sites and reproducing the shots from the days after the quake as closely as possible. You can see how much remains the same and how much has changed in 20 years with the sliders below.</p>
                <p>If you have your own before and after images, please share them with us on our <a href="https://www.facebook.com/kpcc" target="blank">Facebook page</a>, on <a target="_blank" href="http://twitter.com/share?text=Hey @KPCC, I found this before and after image for your Northridge earthquake slideshow..." target="_blank">Twitter</a> -- be sure to "@" mention <a href="https://twitter.com/KPCC" target="_blank">@KPCC</a> -- or by <a href="mail:toplee@scpr.org?subject=Northridge earthquake before and after photos">email</a>.</p>
            </div>
            <div class="about collapse">
                <p><!--<strong>About the data:</strong>... <strong>Source(s): </strong><a href="#" target="_blank">...</a>.--> <strong>Built using</strong>: <a href="http://zurb.com/playground/twentytwenty">TwentyTwenty</a>, <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
                </p>
            </div>
            <div class="buttons btn-group btn-group-justified">
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
                <a class="btn btn-primary" href="http://www.scpr.org/northridge-anniversary" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>
            </div>
        </div>
    </div>
</div>