<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="controls"></div>
        <div id="captions-container">
            <p>Ara's Pastry on Hollywood Boulevard and Kenmore remains standing after two decades since being damaged in the Northridge Earthquake.</p>
            <div id="photo-credits">
                <p><span class="pull-left"><em>Cary Moore/Los Angeles Public Library</em></span><span class="pull-right"><em>Maya Sugarman/KPCC</em></span></p>
            </div>
        </div>
        <div id="images-container">
            <div id="before"><img alt="before" src="/legacy/assethost/i/21bf336f0dddef9b6774d00533fbe73d/72031-wide.jpg" /></div>
            <div id="after"><img alt="after" src="/legacy/assethost/i/138e0f735960e92a6e2fef9d84d2a305/72032-wide.jpg" /></div>
        </div>
    </div>
</div>