<!-- begin table fu -->
<div id="table_fu">

    <!-- begin display ribbon -->
    <div id="ribbon">
        <div id="download">
            <div id="pubdate">
            <strong>Last Updated: </strong>Jan. 4, 2013
            </div>
            &nbsp;&nbsp;
        </div>
        <div id="controls">
            <div id="filter" >Search (by any term): <input type="text"></div>

            <!-- <div id="pager" class="pager"> -->
            <div id="pager">
                <form class="form-inline" >
                    <img src="http://projects.scpr.org/static/static-files/images/tablestacker-tables/first.png" class="first">
                    <img src="http://projects.scpr.org/static/static-files/images/tablestacker-tables/prev.png" class="prev">
                    <span class="pagedisplay"/></span>
                    <img src="http://projects.scpr.org/static/static-files/images/tablestacker-tables/next.png" class="next">
                    <img src="http://projects.scpr.org/static/static-files/images/tablestacker-tables/last.png" class="last">
                    <select class="pagesize">
                        <option selected="selected" value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> per page
                </form>
            </div>
        </div>
    </div>
    <!-- end display ribbon -->

    <div class="clear"></div>

    <hr />

<table id="data" class="table table-bordered table-striped tabular responsive">
  <thead>
    <tr>
      <th class="Candidate Name-cell">Candidate Name</th>
      <th class="Date-cell">Date</th>
      <th class="Amount Rcvd-cell">Amount Rcvd</th>
      <th class="Amount Pd-cell">Amount Pd</th>
      <th class="Description-cell">Description</th>
      <th class="Contributor Name-cell">Contributor Name</th>
      <th class="Contributor City-cell">Contributor City</th>
      <th class="Contributor State-cell">Contributor State</th>
      <th class="Contributor Zip Code-cell">Contributor Zip Code</th>
      <th class="Occupation-cell">Occupation</th>
      <th class="Employer-cell">Employer</th>
    </tr>
  </thead>
  <tbody>
    <tr class="firstRow">
      <td class="Candidate Name-cell">Austin Beutner</td>
      <td class="Date-cell">4/18/11</td>
      <td class="Amount Rcvd-cell">50</td>
      <td class="Amount Pd-cell">0</td>
      <td class="Description-cell"></td>
      <td class="Contributor Name-cell">Marcia Beutner</td>
      <td class="Contributor City-cell">Grand Rapids</td>
      <td class="Contributor State-cell">MI</td>
      <td class="Contributor Zip Code-cell">49546</td>
      <td class="Occupation-cell">Retired</td>
      <td class="Employer-cell">None</td>
    </tr>
    <tr>
      <td class="Candidate Name-cell">Austin Beutner</td>
      <td class="Date-cell">4/18/11</td>
      <td class="Amount Rcvd-cell">50</td>
      <td class="Amount Pd-cell">0</td>
      <td class="Description-cell"></td>
      <td class="Contributor Name-cell">Roger Beutner</td>
      <td class="Contributor City-cell">Grand Rapids</td>
      <td class="Contributor State-cell">MI</td>
      <td class="Contributor Zip Code-cell">49546</td>
      <td class="Occupation-cell">Retired</td>
      <td class="Employer-cell">None</td>
    </tr>
    <tr>
      <td class="Candidate Name-cell">Austin Beutner</td>
      <td class="Date-cell">4/18/11</td>
      <td class="Amount Rcvd-cell">1000</td>
      <td class="Amount Pd-cell">0</td>
      <td class="Description-cell"></td>
      <td class="Contributor Name-cell">Philippe Camus</td>
      <td class="Contributor City-cell">Naples</td>
      <td class="Contributor State-cell">FL</td>
      <td class="Contributor Zip Code-cell">34102</td>
      <td class="Occupation-cell">Ceo</td>
      <td class="Employer-cell">Lagardere North America</td>
    </tr>
    <tr>
      <td class="Candidate Name-cell">Austin Beutner</td>
      <td class="Date-cell">4/18/11</td>
      <td class="Amount Rcvd-cell">1000</td>
      <td class="Amount Pd-cell">0</td>
      <td class="Description-cell"></td>
      <td class="Contributor Name-cell">Dean Florez</td>
      <td class="Contributor City-cell">Shafter</td>
      <td class="Contributor State-cell">CA</td>
      <td class="Contributor Zip Code-cell">93263</td>
      <td class="Occupation-cell">Ceo</td>
      <td class="Employer-cell">20 Million Minds Foundation</td>
    </tr>
    <tr>
      <td class="Candidate Name-cell">Austin Beutner</td>
      <td class="Date-cell">4/18/11</td>
      <td class="Amount Rcvd-cell">500</td>
      <td class="Amount Pd-cell">0</td>
      <td class="Description-cell"></td>
      <td class="Contributor Name-cell">Matthew Hoffman</td>
      <td class="Contributor City-cell">West Newton</td>
      <td class="Contributor State-cell">MA</td>
      <td class="Contributor Zip Code-cell">2465</td>
      <td class="Occupation-cell">Real Estate</td>
      <td class="Employer-cell">None</td>
    </tr>
    <tr>
      <td class="Candidate Name-cell">Austin Beutner</td>
      <td class="Date-cell">4/18/11</td>
      <td class="Amount Rcvd-cell">1000</td>
      <td class="Amount Pd-cell">0</td>
      <td class="Description-cell"></td>
      <td class="Contributor Name-cell">Hugh Mccoll</td>
      <td class="Contributor City-cell">Charlotte</td>
      <td class="Contributor State-cell">NC</td>
      <td class="Contributor Zip Code-cell">28207</td>
      <td class="Occupation-cell">Investment Manager</td>
      <td class="Employer-cell">Collwick Capital, Llc</td>
    </tr>
    <tr>
      <td class="Candidate Name-cell">Austin Beutner</td>
      <td class="Date-cell">4/18/11</td>
      <td class="Amount Rcvd-cell">500</td>
      <td class="Amount Pd-cell">0</td>
      <td class="Description-cell"></td>
      <td class="Contributor Name-cell">Thomas Mcgonagle</td>
      <td class="Contributor City-cell">Cherry Hills Village</td>
      <td class="Contributor State-cell">CO</td>
      <td class="Contributor Zip Code-cell">80113</td>
      <td class="Occupation-cell">Cfo</td>
      <td class="Employer-cell">Industrial Income Trust</td>
    </tr>
  </tbody>
</table>

</div>
<!-- end table fu -->

<script type='text/javascript'>
    var sortOrder = [[0, 1]];
    var perPage = 25;
    $(document).ready(function(){
        var fu = $('#table_fu');
        var table = window.table = $('#data', fu)
          .tablesorter({
            widgets: ['columnHighlight'],
            sortList: sortOrder
           })
          .tablesorterPager({ container: $("#pager", fu), size: perPage, positionFixed: false })
          .tablesorterMultiPageFilter({ filterSelector: $("#filter input", fu) });
        var urlSortColumn = getParameterByName("sortColumn");
        var urlSortOrder = getParameterByName("sortOrder");
        if (urlSortColumn && urlSortOrder) {
            urlSortColumn  = parseInt(urlSortColumn);
            urlSortOrder  = parseInt(urlSortOrder);
            newSort = [[urlSortColumn, urlSortOrder]];
            $("table").trigger("sorton", [newSort]);
        };
    });
</script>