<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Transportation</h4>
            <h1>Does your bus stay on time?</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits"><a href="http://www.scpr.org/about/people/staff/aaron-mendelson">Produced by Aaron Mendelson</a></span> | <span class="pubdate">Published Feb. 19, 2015</span></p>
            <p>Data covering tens of millions of stops by Metro buses shows that some bus lines are chronically late, while others regularly pull away from stops on time. The gif below shows the lines that are late most often (those are in orange) and the lines that show up on time most often (in green). Only lines with more than 250,000 stops recorded in Metro's data over the last five years are displayed here.</p>
        </div>
        <div class="about collapse">
             <p><strong>Source(s): </strong><a href="http://www.metro.net" target="blank">Los Angeles County Metropolitan Transportation Authority</a>.
            </p>
        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <a class="btn btn-primary" href="#" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>
        </div>
    </div>
</div>