<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <img src="img/background.png" style="width: 100%">

        <img id="icons" src="img/grocery.png" style="width: 30%;">

        <div id="text" style="width: 30%; position: relative; top: -650px; left: 700px;">

            <div id="quotes" style="font-size: 18px; font-weight: bold;">
                "I am always bargain shopping for food and we rarely go out to eat. Personally, I am always conscience of what I spend and find myself questioning every purchase I make asking, "is it worth it?" And with each passing month it seems we find ourselves looking for ways to cut our spending even more." 
            </div>

            <div id="name" style="font-size: 18px; font-style: italic; float: right;">Theresa P-K.</div>

            <div id="location" style="font-size: 18px; font-style: italic; position: relative; top: 30px; right: -250px;">Eagle Rock</div>

        </div>

        <div style="position: absolute; top: 400px; left: 700px;">
            <a href="#"><img id="next" src="img/next_button.png" style="width: 100px;"></a>
        </div>
    </div>
</div>