<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Xxxxxxx</h4>
            <h1>Am I living in a flood zone?</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/aaron-mendelson">Aaron Mendelson</a> and <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Updated Dec. 11, 2015</span></p>
            <p>Xxxxxxx Xxxxxxx Xxxxxxx Xxxxxxx Xxxxxxx</p>
        </div>
        <div class="about collapse">
            <p><strong>Source(s): </strong>Xxxxxxx Xxxxxxx Xxxxxxx Xxxxxxx Xxxxxxx. <strong>Built using</strong> <a href="https://www.documentcloud.org/">DocumentCloud</a>, <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <a class="btn btn-primary" href="http://www.scpr.org/news/2013/12/20/41078/what-happened-to-the-2-7m-in-the-central-basin-wat/" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>
        </div>
    </div>
</div>
