/* basic structure */
body.minimal .data-container .data-visuals { min-height: 600px; height: auto; padding-bottom: 25px; margin: 20px auto 5px auto; }

body.minimal .data-container .data-visuals .row { margin: 15px 0 25px 0; }

body.minimal .data-container .data-visuals .submission { background: #ffffff; padding: 15px 0 15px 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

body.minimal .data-container h2 { margin-bottom: 2%; }

body.minimal .data-container a.btn { padding: 0px 0px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; -khtml-border-radius: 0; }

body.minimal .data-container a.btn-primary,
body.minimal .data-container a.btn-primary:focus,
body.minimal .data-container a.btn-primary:active { background: rgba(0, 127, 166, 1.0); border: rgba(0, 127, 166, 1.0) solid .1em; }

body.minimal .data-container a.btn-primary:hover { background: rgba(0, 127, 166, .6); border: rgba(0, 127, 166, .6) solid .1em; color: #2B2B2B; }

.quote { background: url(i/ephemera-quote-blue-open.png) no-repeat 0 0, url(i/ephemera-quote-blue-close.png) no-repeat bottom right; background-size: 120px 60px, 120px 60px; padding: 5% 10% 5% 10%; margin: 5% 0% 5% 0%; }

body.minimal .data-container .quote p { font-size: 200%; margin: 30px 0 10px 0; }

.change-method { width: 30%; margin: 0 35% 0 35%; }

#app-sunset-message { background-color: #F87E21; text-align: center; font-size: 110%; }

@media (min-width: 318px) {

    body.minimal .data-container h1 { font-size: 250%; }

    body.minimal .data-container h2 { font-size: 220%; }

    body.minimal .data-container h3 { font-size: 190%; }

    body.minimal .data-container h4 { font-size: 160%; }

    body.minimal .data-container h5 { font-size: 130%; }

    body.minimal .data-container h6 { font-size: 100%; line-height: 130%; }
}

@media (min-width: 391px) {

    body.minimal .data-container h1 { font-size: 290%; }

    body.minimal .data-container h2 { font-size: 260%; }

    body.minimal .data-container h3 { font-size: 230%; }

    body.minimal .data-container h4 { font-size: 200%; }

    body.minimal .data-container h5 { font-size: 140%; }

    body.minimal .data-container h6 { font-size: 110%; line-height: 130%; }
}

@media (min-width: 401px) {

    body.minimal .data-container h1 { font-size: 300%; }

    body.minimal .data-container h2 { font-size: 270%; }

    body.minimal .data-container h3 { font-size: 240%; }

    body.minimal .data-container h4 { font-size: 210%; }

    body.minimal .data-container h5 { font-size: 140%; }

    body.minimal .data-container h6 { font-size: 110%; line-height: 150%; }
}


@media (min-width: 476px) {

    body.minimal .data-container h1 { font-size: 300%; }

    body.minimal .data-container h2 { font-size: 270%; }

    body.minimal .data-container h3 { font-size: 240%; }

    body.minimal .data-container h4 { font-size: 210%; }

    body.minimal .data-container h5 { font-size: 140%; }

    body.minimal .data-container h6 { font-size: 110%; line-height: 150%; }
}

@media (min-width: 605px) {

    body.minimal .data-container h1 { font-size: 380%; }

    body.minimal .data-container h2 { font-size: 320%; }

    body.minimal .data-container h3 { font-size: 260%; }

    body.minimal .data-container h4 { font-size: 200%; }

    body.minimal .data-container h5 { font-size: 150%; }

    body.minimal .data-container h6 { font-size: 115%; }
}

@media (min-width: 830px) {

    body.minimal .data-container h1 { font-size: 440%; }

    body.minimal .data-container h2 { font-size: 380%; }

    body.minimal .data-container h3 { font-size: 320%; }

    body.minimal .data-container h4 { font-size: 260%; }

    body.minimal .data-container h5 { font-size: 200%; }

    body.minimal .data-container h6 { font-size: 140%; line-height: 130%; }
}

@media (min-width: 992px) {

    body.minimal .data-container h1 { font-size: 460%; }

    body.minimal .data-container h2 { font-size: 400%; }

    body.minimal .data-container h3 { font-size: 340%; }

    body.minimal .data-container h4 { font-size: 280%; }

    body.minimal .data-container h5 { font-size: 220%; }

    body.minimal .data-container h6 { font-size: 160%; line-height: 130%; }
}

@media (min-width: 1060px) {

    body.minimal .data-container h1 { font-size: 480%; }

    body.minimal .data-container h2 { font-size: 420%; }

    body.minimal .data-container h3 { font-size: 360%; }

    body.minimal .data-container h4 { font-size: 300%; }

    body.minimal .data-container h5 { font-size: 240%; }

    body.minimal .data-container h6 { font-size: 180%; line-height: 150%;}
}

/* post sharing */
ul.share-links {margin-top: 5px;}
ul.share-links li {padding-right: 0px; padding-left: 0px;}
ul.share-links li a {color: #2B2B2B; font-size: 150%;}
ul.share-links li a.link {padding: 20px; text-align: left; background: url('http://projects.scpr.org/static-files/v3-dependencies/images/tabletop-timeline-v3/iconmonstr-link-2-icon-24.png') left center no-repeat;}
ul.share-links li a.twitter {padding: 20px; text-align: left; background: url('http://projects.scpr.org/static-files/v3-dependencies/images/tabletop-timeline-v3/iconmonstr-twitter-2-icon-24.png') left center no-repeat;}
ul.share-links li a.facebook {padding: 20px; text-align: left; background: url('http://projects.scpr.org/static-files/v3-dependencies/images/tabletop-timeline-v3/iconmonstr-facebook-2-icon-24.png') left center no-repeat;}
