<div id="article-header">
    <h4 class="kicker">L.A. Mayor's Race</h4>
    <h1>Hollywood insiders backing Garcetti, Greuel for mayor</h1>

    <p>Entertainment industry companies and employees have given nearly $1 million to Los Angeles mayoral candidates -- about one-tenth of all contributions -- since the campaigns began in 2011.</p>

    <p>An analysis of data filed with the <a href="http://ethics.lacity.org/">Los Angeles City Ethics Commission</a> by the reporting partnership of <a href="http://www.scpr.org/" target="_blank">89.3 KPCC</a> and <a href="http://www.nbclosangeles.com/news/" target="_blank">NBC4 News</a> found that entertainment companies and employees donated at least $960,000 in the mayor's race through the third quarter of 2012.</p>

    <p>Disclosure of 2012 fourth quarter donations are due from the campaign committees by midnight, Jan. 10, meaning show business campaign contributions could top the million-dollar mark before the March 5 primary election.</p>

    <p>Thus far, the 85,000 freelancers and self-employed individuals who make their livings in Hollywood are the single largest source of entertainment dollars in the mayor's race. The bulk of that money went to 13th District City Councilman Eric Garcetti.</p>

    <p>In fact, Garcetti has received about half the show biz industry money, while City Controller Wendy Greuel has taken in about one-third.</p>

    <p>Overall, <a href="http://ethics.lacity.org/disclosure/campaign/totals/public_election.cfm?election_id=45">Garcetti and Greuel are neck and neck</a> when it comes to money raised. As of contributions reported through Sept. 30, 2012, <a href="http://ethics.lacity.org/disclosure/campaign/totals/public_contacts.cfm?election_id=45&amp;viewtype=pf&amp;city=LA&amp;elecpreview=no#145">Garcetti</a> has raised $2,874,427.93 compared to <a href="http://ethics.lacity.org/disclosure/campaign/totals/public_contacts.cfm?election_id=45&amp;viewtype=pf&amp;city=LA&amp;elecpreview=no#236">Greuel's</a> $2,802,091.17.</p>

    <p>Trailing in the money race is <a href="http://ethics.lacity.org/disclosure/campaign/totals/public_contacts.cfm?election_id=45&amp;viewtype=pf&amp;city=LA&amp;elecpreview=no#137">Jan Perry</a> ($1,314,453.30), <a href="http://ethics.lacity.org/disclosure/campaign/totals/public_contacts.cfm?election_id=45&amp;viewtype=pf&amp;city=LA&amp;elecpreview=no#8584">Kevin James</a> ($275,090.08) and <a href="http://ethics.lacity.org/disclosure/campaign/totals/public_contacts.cfm?election_id=45&amp;viewtype=pf&amp;city=LA&amp;elecpreview=no#9332">Emanuel Pleitez</a> ($110,243.68)</p>

    <p>Individuals and companies are limited to giving $1,300 per candidate before the March 5 primary election. A mayoral candidate may spend up to $124,500 of their personal money.</p>

    <!-- <a class="btn btn-info" href="#">Read More</a> -->
</div>