<!-- begin data footer -->
<div id="data-footer">
    <!-- <p class="normal-display underline" style="cursor:pointer;" onclick="embedBox()">Embed this visualization</p> -->

    <div id="sources">
        <p class="normal-display"><strong>Sources: </strong><a href="http://ethics.lacity.org/">Los Angeles City Ethics Commission</a>.</p>
    </div>

    <div id="credits">
        <p class="normal-display"><strong>Credits: </strong><a href="http://www.scpr.org/about/people/staff/sharon-mcnary" target="_blank">Sharon McNary</a> &amp; <a href="http://www.scpr.org/about/people/staff/chris-keller" target="_blank">Chris Keller</a>.</p>
    </div>

    <div id="open-source">
        <p class="small-display">Built using <a href="http://philogb.github.com/jit/demos.html">JavaScript InfoVis Toolki</a>, <a href="http://handlebarsjs.com/">handlebars.js</a>, <a href="https://github.com/elving/swag" target="blank">swag.js</a> &amp; <a href="http://twitter.github.com/bootstrap/" target="blank">bootstrap</a>.</p>
   </div>
</div>
<!-- end data footer -->