/* base header */
body.minimal header {
    background: #ffffff;
    height: 74px;
    margin: 0 0 0 0;
}

body.minimal header .navbar-default {
    background-color: #f6f6f6;
    border-bottom: 1px solid #f74623;
}

body.minimal header h3#site-title a {
    background-image: url("http://projects.scpr.org/static-files/images/main/logo-masthead.png");
    width: 181px;
    height: 42px;
    display: block;
    text-indent: -9999px;
    width: 180px;
    height: 42px;
    margin-top: 15px;
}

body.minimal .header-links {
    margin: 17px 0 10px 0;
}

body.minimal .header-links li {
    border-right: 1px solid #e9e9e9;
    display: block;
    float: left;
    list-style: none;
    padding: 8px 10px;
}

body.minimal .header-links li:last-child {
    border: 0;
    padding-right: 0;
}

body.minimal .header-links a {
    color: #454545;
    padding: 0 0 0 0;
}

body.minimal .header-links b {
    display: block;
    font-size: 12px;
}

body.minimal .header-links a.icon {
    display: block;
    text-indent: -9999px;
}

body.minimal .header-links a.icon:hover {
    opacity: 0.7;
}

body.minimal .header-links a.pledge-now {
    background: url("http://projects.scpr.org/static-files/images/template-icons/ico-pledge.png") no-repeat 0 0;
    margin: 0 auto;
    width: 31px;
    height: 22px;
}

body.minimal .header-links .share-links {
    width: 63px;
    margin: 0 auto;
}

body.minimal .header-links a.facebook {
    background: url("http://projects.scpr.org/static-files/images/template-icons/ico-facebook.png") no-repeat 0 0;
    display: block;
    float: left;
    margin: 0 10px 1px 0;
    width: 22px;
    height: 22px;
}

body.minimal .header-links a.twitter {
    background: url("http://projects.scpr.org/static-files/images/template-icons/ico-twitter.png") no-repeat 0 0;
    display: block;
    float: left;
    width: 31px;
    height: 22px;
}

body.minimal .header-links a.embed-this {
    background: url("http://projects.scpr.org/static-files/images/template-icons/ico-embed.png") no-repeat 0 0;
    margin: 0 auto;
    width: 31px;
    height: 22px;
}

body.minimal .header-links a.projects-home {
    background: url("http://projects.scpr.org/static-files/images/template-icons/ico-home.png") no-repeat 0 0;
    margin: 0 auto;
    width: 31px;
    height: 22px;
}

/* base footer */
body.minimal footer {
    text-align: center;
    padding: 10px 0;
}

body.minimal footer ul {
    margin: 0;
    list-style: none;
}

body.minimal footer ul li, footer ul li a {
    color: #999;
    font-size: 11px;
}

body.minimal footer ul li a:hover {
    color: #666;
}

body.minimal footer ul li {
    display: inline-block;
    padding: 0 10px 0 0;
    margin: 0 0 0 10px;
    border-right: 1px solid #999;
}

body.minimal footer ul li:first-child {
    margin-left: 0;
}

body.minimal footer ul li: last-child {
    padding-right: 0;
    border-right: none;
}
