<div id="content-article">
    <h4 class="kicker">Environment/ Science</h4>
    <h1>Exide's shutdown in Vernon</h1>

    <div id="content-article-text">
        <p>Exide Technologies in Vernon suspended operations by order of the Department of Toxic Substances Control in April. The agency was concerned about arsenic and lead leaking into the air, water and soil around Exide's plant. At a hearing that begins Monday, Exide will make its case as to why it thinks the department's decision was wrong. </p>

<p>The company has run afoul of the DTSC and air quality agencies before. We've put together a timeline of the facility's troubled history with California regulators.</p>
    </div>

    <div id="content-article-buttons">
        <a class="btn btn-info" href="#">Read More</a>

        <!-- thanks for setting the standard Mr. John Keefe -->
        <span class="hidden-tablet hidden-phone btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed This Timeline</span>
    </div>
</div>