<div class="row-fluid">
    <div class="span12">
        <div id="article-footer">

            <!--
            <div id="embed-this">
                <p class="hidden-tablet hidden-phone"><span class="btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed this map</p>
            </div>

            <div id="sources">
                <p class="normal-display"><strong>Sources: </strong><a href="http://www.treasurer.ca.gov/">California State Treasurer's Office</a>.</p>
            </div>

            <div id="open-source">
                <p class="small-display">Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.</p>
            </div>
            -->

        </div>
    </div>
</div>