<div class="row-fluid">
    <div class="span12">
        <h4>Filter through the responses (quantity in parentheses)</h4>
        <div id="data-legend">
            <ul id="data-legend-items">
                <label class="checkbox inline"><input type="checkbox" value="crime" id="crime" checked="">Crime<span id="crime-results"></span><br /><li class="crime hidden-phone"></li></label>
                <label class="checkbox inline"><input type="checkbox" value="education" id="education" checked="">Education<span id="education-results"></span><br /><li class="education hidden-phone"></li></label>
                <label class="checkbox inline"><input type="checkbox" value="environment" id="environment" checked="">Environment<span id="environment-results"></span><br /><li class="environment hidden-phone"></li></label>
                <label class="checkbox inline"><input type="checkbox" value="politics" id="politics" checked="">Politics<span id="politics-results"></span><br /><li class="politics hidden-phone"></li></label>
                <label class="checkbox inline"><input type="checkbox" value="health" id="health" checked="">Public Health<span id="health-results"></span><br /><li class="health hidden-phone"></li></label>
                <label class="checkbox inline"><input type="checkbox" value="other" id="other" checked="">Other<span id="other-results"></span><br /><li class="other hidden-phone"></li></label>
                <label class="checkbox inline"><input type="checkbox" value="taxes" id="taxes" checked="">Taxes<span id="taxes-results"></span><br /><li class="taxes hidden-phone"></li></label>
                <label class="checkbox inline"><input type="checkbox" value="transportation" id="transportation" checked="">Transportation<span id="transportation-results"></span><br /><li class="transportation hidden-phone"></li></label>
            </ul>
        </div>
    </div>
</div>
