<div class="row-fluid">
    <div class="span12">
        <div id="article-footer">

<!--
            <div id="embed-this">
            <p class="hidden-tablet hidden-phone"><span class="btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed this map</p>
            </div>
-->

            <div id="sources">
                <div class="content-partners">
                    <p class="pij">This story was informed by KPCC listeners. <a href="http://www.scpr.org/network/">Become a source.</a></p>
                </div>
            </div>

            <div id="open-source">
                <p class="small-display">Built using <a href="http://handlebarsjs.com/">handlebars.js</a>  &amp;  <a href="http://twitter.github.com/bootstrap/">bootstrap</a>.</p>
                <p class="small-display">Icons from <a href="http://mapicons.nicolasmollet.com" target="blank">Maps Icons Collection</a> designed by Nicolas Mollet, under <a href="http://creativecommons.org/licenses/by-sa/3.0" target="blank">Creative Commons 3.0 BY-SA</a>.</p>
            </div>
        </div>
    </div>
</div>