#chart-container {
height: 500px;
width: 500px;
position: absolute;
left: 0px;
top: 50px;

}
body {
    font-family: 'Lato', Arial, sans-serif;

}
.container #header {
    padding-right: 0px;
    margin-right: 0px;

}
#clickinstructions {
    background-color: #ff3300;
    width: 175px;
    color: white;
    -moz-box-shadow:    3px 3px 2px 0px rgba(0,0,0,.3);
    -webkit-box-shadow: 3px 3px 2px 0px rgba(0,0,0,.3);
    box-shadow:         3px 3px 2px 0px rgba(0,0,0,.3);
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    position: relative;
    left: 155px;
    top: -10px;
}
#tooltip {
    z-index: 2;
    font-family: Arial;
}

.container {
    background-color: #ffffff;

}
.questionlabel {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 480px;

}
#formexplain {
    color: #666;
    padding-bottom: 10px;
    text-align: left;

}
#cancelbutton {
    padding-top: 10px;
    float: left;

}
#cancelbutton a {
    color: red;

}
#toplabel {
    position: absolute;
    color: white;
    background-color: #ae0b00;
    left: 0;
    width: 100%;



}
#bottomlabel {
    position: absolute;
    color: white;
    background-color: #ae7c00;
    bottom: 22px;
    left: 0;
    width: 100%;
}
.axislabel {

    position: absolute;
    text-align: center;
    z-index: 1;
}
#topaxislabel {
    top: 20px;
    color: #333;
    margin: auto;
    text-align: center;
    width: 100%;
}
#bottomaxislabel {
    color: #333;
    bottom: 75px;
    width: 100%;
    margin: auto;

}
#leftaxislabel {
    color: #333;
    bottom: 355px;
    right: 280px;
    width: 100%;
    -moz-transform:rotate(270deg);
    -webkit-transform:rotate(270deg);
    -o-transform:rotate(270deg);
    -ms-transform:rotate(270deg);
    transform:rotate(270deg);


}
#rightaxislabel {
    color: #333;
    bottom: 355px;
    left: 280px;
    width: 100%;
    
    text-align: center;
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
}
#canvas {
    height: 645px;
    width: 500px;
    margin: auto;
    position: relative;

}
#theform {
    position: absolute;
    right: 45px;
    bottom: 215px;
    background-color: black;
    color: white;
    opacity: 0.8;
    filter:alpha(opacity=80);
    width: 350px;
    padding: 30px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    z-index: 2;
    -moz-box-shadow:    3px 3px 2px 0px rgba(0,0,0,.3);
    -webkit-box-shadow: 3px 3px 2px 0px rgba(0,0,0,.3);
    box-shadow:         3px 3px 2px 0px rgba(0,0,0,.3);

}
#theform .row {
    height: 25px;
    margin-bottom: 8px;
}

#theform label {
    float: left;
    padding-top: 7px;

}
#theform input {
    width: 260px;
    float: right;
    height: 22px;

}
#theform #formsubmit {
    width: 82px;
    height: 28px;
    background-image: url('http://project.wnyc.org/assets/img/button_submit_off.png');
    background-repeat: no-repeat;
    background-color: transparent;
    border:none;
    color: rgba(0,0,0,0);
    font-size: 0;
    line-height: 999;
    overflow: hidden;
}
.formrow {
    padding-top: 10px;

}
#charcounter {
    float: right;
    color: #666;

}
#theform textarea {
    margin-top: 7px;
    width: 345px;
    height: 100px;
    margin-bottom: 10px;

}

.commentpop {
     -moz-box-shadow:    3px 3px 2px 0px rgba(0,0,0,.3);
     -webkit-box-shadow: 3px 3px 2px 0px rgba(0,0,0,.3);
     box-shadow:         3px 3px 2px 0px rgba(0,0,0,.3);
    width: 250px;
    background-color: black;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 25px;
    font-size: 12px;
    position: relative;
}
#ourtip {
    padding-left: 17px;
    padding-right: 9px;
    padding-top: 17px;
}

.commentname {
    font-weight: bold;
    padding-bottom: 8px;
}
.commentbody {
    height: 60px;
    white-space: normal;

}
.commentfooter {
   width: 100%;
    padding-top: 10px;
    vertical-align: top;
    line-height: 10px;
    font-size: 10px;
    color: #999;

}

.commentcounter {
    float: left;
}


#map_body {
    height: 710px;

}
