/*#mapbox_map img, #mapbox_map a {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	 -webkit-user-select: none; -moz-user-select: none;
	 }*/
	
/*#mapbox_map, #map, #map_canvas{
	width:100%;
	position:absolute;
	top:120px;
	bottom:0px;
	left:0;
	right:0;}*/
	
#facebook_button {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);

    transform-origin:bottom left;
    -ms-transform-origin:bottom left;
    -moz-transform-origin:bottom left;
    -webkit-transform-origin:bottom left;
    -o-transform-origin:bottom left;
    margin-top: 10px;
    margin-left: -10px;
    overflow: hidden;


}
body {
    font-family: Helvetica, Arial, sans-serif;
}
#details,#share {
    color: white;
    background-color: #272727;
    position: absolute;
    top: 0px;
    z-index: 10;
    display: none;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 10px;
    padding-bottom: 40px;
    font-family: Helvetica, Arial, sans-serif;
}
#details > div {
    padding-left: 14px;
    padding-right: 14px;


}
#share {
    text-align: center;

}
#details a, #share a {
    text-decoration: underline;
    color: white;
}
#storylink {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}
#share-top,#share-bottom {
    padding-bottom: 40px;
}
#tweetbutton {
    margin-bottom: 20px;

}
#share-head {
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
}
.details-field-head {
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}
.rule {
    width: 100%;
    height: 2px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-image: url('http://project.wnyc.org/assets/img/mobile/rule.png');


}
.details-body {
    font-size: 11px;
    padding-bottom: 12px;

}
#details-head {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}
#details-top-body {
    font-family: Arial, sans-serif;
    line-height: 20px;

}
#details-top {
    font-size: 14px;

}
#detailslink,#sharelink {

}
.onlink {
    border-left: solid 1px #1370fd;
    border-right: solid 1px #06245a;
}

#spacer {
    height: 40px;
    width: 1%;
    background-image: url('http://project.wnyc.org/assets/img/mobile/bg_black.png');
    display: inline-block;
    float: left;
    border-right: solid 1px #000000;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;


}
.navlink {
    color: white;
    cursor: pointer;
    height: 40px;
    padding-top: 10px;
    width: 33%;
    border-left: solid 1px #404040;
    border-right: solid 1px #000000;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    float: left;
    text-align: center;
    background-image: url('http://project.wnyc.org/assets/img/mobile/bg_black.png');
}
.returnlink {
    width: 94px;
    height: 43px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin: auto;
    background: none;
    border: none;
    display: block;
    float: none;

}
a.navlink:hover {
    text-decoration: none;

}
.active {
    background-image: url('http://project.wnyc.org/assets/img/mobile/bg_blue.png');
    border-left: 1px solid #1370fd;
    border-right: 1px solid #06245a;

}
#wnyclink {
    padding-top: 8px;
}
#wnyclink img {
    text-align: center;

}
#sharelink {
    float: left;
    width: 34%;
    border-right: none;
}
#buttons {
    width: 100%;
    height: 41px;
    background-color: black;
    border-bottom: solid 2px black;
    display: table;
}
#legendnav {
    border-top: 1px #ccc;
    padding-top: 3px;
    width: 100%;
    height: 60px;
    background-color: #fcfbfb;
}
.legend {
    width: auto;
    margin-right: 8px;
    line-height: 10px;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

}
#legendpart {
    padding-left: 10px;
}
.legendlabel {
    min-width: 30px;
    font-size: 10px;
    display: inline-block;
    float: left;
    position: relative;
    left: -6px;
}
.leftlegendlabel {
    min-width: 30px;
    font-size: 10px;
    display: inline-block;
    float: left;
}
.plus {
    font-size: 10px;
    display: inline-block;
    float: left;
    text-align: right;

}
.legenddesc {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 10px;
    display: inline;
}
.legendcolor {
    width: 30px;
    height: 10px;
    margin-left: 0px;
    display: inline-block;
    float: left;

}
.incomelegendpart span {
    width: 35px;
    float: left;

}
.incomelegendpart .plus {
    width: 5px;

}
.incomelegendpart .leftlegendlabel {
    position: relative;
    left: -10px;

}

#mapbox_map, #map, #map_canvas iframe {
	height:100%;
	width: 100%;
	}


/*Code for multi-layer toggle*/
#navline {
    background-color: #fbfbfb;
    margin-bottom: 0px;
    padding-top: 0px;
    position: static;
    width: 100%;
    border-top: 1px solid #ccc;
    overflow-y: visible;
    height: auto;
    padding-bottom: 0px;
}

#map-ui {
    position:absolute;
    bottom:10px;left:10px;
    list-style:none;
    margin:0;padding:0;
    z-index:100;
    }
    #map-ui a {
      font:normal 13px/18px 'Helvetica Neue',Helvetica,sans-serif;
      background:#FFF;
      color:#3C4E5A;
      display:block;
      margin:0;padding:0;
      border:1px solid #BBB;
      border-bottom-width:0;
      min-width:138px;
      padding:10px;
      text-decoration:none;
      }
    #map-ui a:hover { background:#F0F0F0; }
    #map-ui li:last-child a {
      border-bottom-width:1px;
      -webkit-border-radius:0 0 3px 3px;
              border-radius:0 0 3px 3px;
      }
    #map-ui li:first-child a {
      -webkit-border-radius:3px 3px 0 0;
              border-radius:3px 3px 0 0;
            }
    #map-ui a.active {
      background:#E01838;
      border-color:#E01838;
      border-top-color:#FFF;
      color:#FFF;
      }

/* special for the flood map tabs, which I want different colors*/

    #map-ui a.active-blue {
      background:#004DDB;
      border-color:#004DDB;
      border-top-color:#FFF;
      color:#FFF;
      }

.map-tooltip {

    font-size: 12px;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    padding: 15px;
    border-radius:0;
    border: none;
    background-color: #333;
    color: white;
    }


#mapbox_map, #map_canvas, #map {
	width:auto;
	border-bottom-color: #CCCCCC;
        height: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #CCCCCC;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCCCCC;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #CCCCCC;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: #CCCCCC;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: #CCCCCC;
    border-left-style: solid;
    border-left-width: 1px;
}

#keybox {
}

#key_legend {
	    position:absolute;
	    margin:0;
			padding:4px;
	    z-index:100;
			border:1px solid #BBB;
			border-bottom-width:1px;
		  -webkit-border-radius:0 0 3px 3px;
		          border-radius:0 0 3px 3px;
			background-color: #fff;
			left: 10px;
			top: 273px;
			display: none;
}

#key_legend .innertable {
	margin:0px 0px 0px 0px	;
	float: left;
	width: 60%;
	padding: 0;
	position: absolute;
	right: 10px;
	top: 10px;
	background: #FFF;

}
	}
#key_legend tr {clear:both; float:center; height:12px; margin-left:10px;}
#key_legend td {
	float:left; 
	height:12px; 
	width:40px; 
	opacity: 0.8; 
	margin: 0px; 
	text-align: center; 
	font-size:10px;
	padding: 0;
	}
#key_legend .spacer-box {width: 20px; background-color:#FFF;}
#key_legend .segment0 {background-color:#FFF;}
#key_legend .segment1 {background-color:#BD0026; color: #FFF}
#key_legend .segment2 {background-color:#FD8D3C;}
#key_legend .segment3 {background-color:#EBE267;}
#key_legend .segment4 {background-color:#FFFF33;}
#key_legend .segment5 {background-color:#AE017E;}
#key_legend .segment6 {background-color:#7A0177;}

#key_legend .segment7 {background-color:#225EA8;}
#key_legend .segment8 {background-color:#253494;}
#key_legend .segment9 {background-color:#081D58;}
#key_legend .segment10 {background-color:#006d2c;}

#theheader {
        z-index: 5;
	border-bottom-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: auto;
}

#zoombox {
	margin-left: 10px;
}

#footerbar {
    width: auto;
    left: 0;
    right: 0;
    background-color: #EEEEEE;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px;
    border-top-color: #CCCCCC;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: #CCCCCC;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: #CCCCCC;
    border-left-style: solid;
    border-left-width: 1px;
		border-bottom-color: #CCCCCC;
	    border-bottom-style: solid;
	    border-bottom-width: 1px;
}

a.navlink:link {
    color: white;

}
/* Project specific */

#tooltip {
    font-family: 'Lato', Arial, sans-serif;
    width: 265px;
    height: 300px;
    background-color: white;

}
.buttonfooter {
    width: 100%;
    height: 75px;
    bottom: 0px;
    position: absolute;
    left: 0;
}
.addbutton {
    margin: auto;
    text-align: center;
    font-size: 14px;
    background-image: url("../images/addyourself_off.png");
    background-repeat: no-repeat;
    margin-top: 17px;
    margin-bottom: 15px;
    width: 156px;
    height: 41px;
    box-sizing: border-box;
    padding-top: 12px;
    cursor: pointer;


}
.addbutton:hover {
    background-image: url("../images/addyourself_on.png");

}
.commentpop {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: teal;

}
#commentbody {
    height: 150px;
}
#closebutton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url("../images/close_off.png");
    cursor: pointer;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
}
#closebutton:hover {
    background-image: url("../images/close_on.png");
    

}
a#nextbutton {
    color: white;
    text-decoration: underline;

}
#count {
    float: left;
    color: rgba(0,0,0,0.5);

}
#nextbutton {
    float: left;
    margin-left: 5px;

}
.commentfooter {
    font-size: 14px;
    color: #333;

}
body {
    font-family: 'Lato', Arial, sans-serif;

}

.commentname {
    font-size: 18px;
    font-weight: normal;

}
.commentbody {
    font-size: 14px;
    height: 150px;

}
.addbutton {

}
