<div id="content-article">
    <h4 class="kicker">Subhead here</h4>
    <h1>Lead Headline Here</h1>

    <div id="content-article-text">
        <p>There are 21.5 million veterans living in the United States. As of 2011, there are 1.9 million of them in California and over 800,000 have served in the wars in Iraq.</p>
        <p>To pay tribute, we want to collect stories of veterans. Are you a vet? Did someone in your family serve? What do you know of their service?</p>
        <p>Tell us their story in this <a href="#" onclick="userSubmit();">short form</a>, and check our the map below.</p>
        <p>We'd love it if you send us photos with your stories. To do so, upload a photo to a site like <a href="http://yfrog.com/" target="blank">yfrog</a> or <a href="http://www.flickr.com/" target="blank">flickr</a>. Once uploaded, right click on the image and select "Copy Image URL." Paste that URL into the form below.</p>
    </div>

    <div id="content-article-buttons">
        <!-- <a class="btn btn-info" href="#">Read More</a> -->
        <a class="btn btn-success" id="showmodule" href="#" onclick="userSubmit();">Submit a Veteran's Story</a>
    </div>
</div>