<!--

<div class="candidate-container">
    <div class="row-fluid">
        <div class="span6">
            <div class="span2">
                <div class="image-container">
                <img src="http://a.scpr.org/i/73a0c249835022d4713fc14c6df44306/43770-wide.jpg" alt="Eric Garcetti" />
                </div>
            </div>
            <div class="span10">
                <h3>Eric Garcetti</h3>
                <div id="data-container-garcetti"></div>
            </div>
        </div>

        <div class="span6">
            <div class="span2">
                <div class="image-container">
                <img src="http://a.scpr.org/i/3be6b8f8bc8605c125da9ee06ae7415d/51141-wide.jpg" alt="Wendy Greuel" />
                </div>
            </div>
            <div class="span10">
                <h3>Wendy Greuel</h3>
                <div id="data-container-greuel"></div>
            </div>
        </div>
    </div>

    <br clear="all">

    <div class="row-fluid">
        <div class="span6">
            <div class="span2">
                <div class="image-container">
                <img src="http://a.scpr.org/i/7358253dccd25e6e3ff3cedce57532a8/41640-wide.jpg" alt="Jan Perry" />
                </div>
            </div>
            <div class="span10">
                <h3>Jan Perry</h3>
                <div id="data-container-perry"></div>
            </div>
        </div>

        <div class="span6">
            <div class="span2">
                <div class="image-container">
                <img src="http://a.scpr.org/i/0d16a5c909ca174ee176497433d6fcf3/52436-wide.jpg" alt="Kevin James" />
                </div>
            </div>
            <div class="span10">
                <h3>Kevin James</h3>
                <div id="data-container-james"></div>
            </div>
        </div>
    </div>
</div>

-->