<div id="data-container-garcetti">
	<h1> <img style="float:left; width:150px;" src="http://a.scpr.org/i/73a0c249835022d4713fc14c6df44306/43770-wide.jpg" /> Eric Garcetti </h1>
</div>
<br clear="all">
<hr style="margin:25px;" />

<div id="data-container-greuel">
	<h1> <img style="float:left; width:150px;" src="http://a.scpr.org/i/3be6b8f8bc8605c125da9ee06ae7415d/51141-wide.jpg" /> Wendy Greuel </h1>
</div>
<br clear="all">
<hr style="margin:25px; clear=all;" />

<div id="data-container-perry">
	<h1> <img style="float:left; width:150px;" src="http://a.scpr.org/i/7358253dccd25e6e3ff3cedce57532a8/41640-wide.jpg" /> Jan Perry </h1>
</div>
<br clear="all">
<hr style="margin:25px;" />

<div id="data-container-james">
	<h1> <img style="float:left; width:150px;" src="http://a.scpr.org/i/0d16a5c909ca174ee176497433d6fcf3/52436-wide.jpg" /> Kevin James</h1>
</div>
<br clear="all">
<hr style="margin:25px; clear=all;" />