<div id="article-header">
    <h4 class="kicker">L.A. Mayor's Race</h4>
    <h1>Key Endorsements</h1>
    <p>With the 2013 L.A. mayoral election now in full swing, politicians and organizations are now throwing their weight behind the candidates. Below is a listing of the endorsements so far. Check back for updates!</p>
    <a class="btn btn-info" href="#">Read More</a>
</div>