<div id="content-article">
    <div id="embed-this">
        <p class="hidden-tablet hidden-phone"><span class="btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed this infographic</p>
    </div>
</div>