<div id="content-article">
    <h4 class="kicker">By The Numbers</h4>
    <h1>A look at the LAPD helicopter fleet</h1>

    <div id="content-article-text">
        <p></p>
    </div>

<!--
    <div id="content-article-buttons">
        <a class="btn btn-info" href="#">Read More</a>
    </div>
-->

</div>