<div id="content-container">
    <div id="legend">
        <table cellspacing="0" cellpadding="1" border="0" style="width:100%px;">
            <tbody>
                <tr>
                    <td class="enacted" style="color: #ffffff; font-weight: bold; width: 120px;">Enacted law</td>
                    <td class="introduced" style="color: #ffffff; font-weight: bold; width: 120px;">Introduced this session</td>
                    <td class="passed-one" style="color: #ffffff; font-weight: bold; width: 120px;">Passed one house</td>
                    <td class="denied" style="color: #ffffff; font-weight: bold; width: 120px;">Denied to youth granted DACA</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p><iframe width="100%" height="800" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col2%3E%3E1+from+1GyW-XNF8dezmoggg2cUlS2_UHd2cIAzOXyjDXT0&amp;viz=MAP&amp;h=false&amp;lat=36.870327989962114&amp;lng=-95.29451562500002&amp;t=1&amp;z=4&amp;l=col2%3E%3E1&amp;y=2&amp;tmplt=2&amp;hml=KML"></iframe></p>
</div>
