<div class="row-fluid">
    <div class="span12">
        <div id="article-footer">

            <div id="sources">
            <p class="normal-display"><a href="http://www.nilc.org/document.html?id=963">National Immigration Law Center</a></p>
            </div>

            <div id="open-source">
            <p class="small-display">Built using <a href="#">Fusion Tables</a>, <a href="http://handlebarsjs.com/">handlebars.js</a> and <a href="http://twitter.github.com/bootstrap/">bootstrap.</p>
            </div>
        </div>
    </div>
</div>