<div id="content-article">
    <h4 class="kicker">Immigration</h4>
    <h1>Current and pending state laws on driver's licenses for immigrants</h1>

    <div id="content-article-metadata">
        <p><span class="credits"><span class="pubdate">Published Oct. 3, 2013</span></p>
    </div>

    <div id="content-article-text">
        <p>Governor Jerry Brown is expected to sign a landmark bill this morning at Los Angeles City Hall, which will allow people who are living in the U.S.illegally to obtain a California driver's license. But there's still much to be determined before the measure kicks in by January 2015, as planned.</p>
        <p>Between now and then, the California Department of Motor Vehicles must complete two major tasks: Collect input on what the licenses will look like, and determine which documents can be used for identification by a pool of applicants who don't have Social Security numbers.</p>
    </div>

    <div id="content-article-buttons">
        <a class="btn btn-info" href="http://www.scpr.org/blogs/multiamerican/2013/10/03/14885/undocumented-immigrants-to-legally-obtain-driver-s/">Read More</a>
    </div>
</div>