.candidate-container .vote-indicator {margin-top: 20px; text-align: center;}
.candidate-container .undecided {margin-top: 40px; color: black; font-weight: bold; font-size: 64px; text-align: center;}
.candidate-container .likely_no {margin-top: 40px; color: red; font-weight: bold; font-size: 64px; text-align: center;}
.candidate-container .likely_yes {margin-top: 40px; color: green; font-weight: bold; font-size: 64px; text-align: center;}
.candidate-container .awaiting_response {margin-top: 0px;color: black;font-weight: bold;font-size: 64px;text-align: center;}

/* headlines for large desktop */
@media (min-width: 1200px) {
    #data-container img {}
}

/* headlines for portrait tablet to landscape and desktop */
@media (min-width: 486px) and (max-width: 979px) {
    #data-container img {}
}

/* headlines for landscape phones and down */
@media (max-width: 485px) {
    #data-container img {}
}
