<div id="article-header">
    <h4 class="kicker">L.A. Mayor's Race</h4>
    <h1>Hollywood insiders backing Garcetti, Greuel for mayor</h1>
    <p>With the 2013 L.A. mayoral election now in full swing, politicians and organizations are now throwing their weight behind the candidates. Below is a listing of the endorsements so far. Check back for updates!</p>
    <p>Primary election is March 5. General election is May 21, if necessary.</p>
    <p>A mayor candidate may only spend $124,500 in personal funds.</p>
    <p>Jan. 10, when the final quarter of 2012 donations are reported.</p>
    <p> Garcetti took in just over half of all the entertainment dollars donated in the mayors race, and that Gruel pulled in another 29 percent. About ten percent of all money donated in the mayor's race is coming from entertainment industry employees and companies.</p>
    <p>Another topline has to be that the 85,000 freelancers and self-employed individuals who make their livings in Hollywood are also the single largest source of entertainment dollars in the mayor's race, and most of that went to Garcetti.</p>
    <p>Mustache aute consequat salvia, synth etsy irure +1. High life etsy ullamco, officia voluptate nihil brunch cillum nostrud photo booth duis Austin hella banjo.</p>
    <p><span class="data-instructions"><strong>Methodology: </strong>Mustache aute consequat salvia, synth etsy irure +1. High life etsy ullamco, officia voluptate nihil brunch cillum nostrud photo booth duis Austin hella banjo.</span></p>
    <a class="btn btn-info" href="#">Read More</a>
</div>