<div id="content-article">
    <h4 class="kicker">Sports</h4>
    <h1>Timeline: 10 moments in Dodgers-Giants rivalry</h1>

    <div id="content-article-text">
        <p>The Los Angeles Dodgers and San Francisco Giants - and their fans - have one of the longest and most passionate rivalries in American sport. Here are 10 important events in that rivalry.</p>
    </div>

    <div id="content-article-buttons">
        <span class="hidden-tablet hidden-phone btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed This Timeline</span>
    </div>

</div>