body.minimal {background: none;}

data-container ol, data-container ul {
	list-style: bullet;
}

h6 {font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 700; line-height: 33.6px; color: #B24401; text-transform: uppercase;}

