<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="content-article">
            <div class="headlines">
                <h1>This is a h1 heading</h1>
                <h2>This is a h2 heading</h2>
                <h3>This is a h3 heading</h3>
                <h4>This is a h4 heading</h4>
                <h5>This is a h5 heading</h5>
                <h6>This is a h6 heading</h6>
                <h6 class="kicker">This is a h6 heading with a kicker class</h6>
                <p class="sky-writing">Default paragraph. Class: sky-writing.</p>
                <p>This is default paragraph text.</p>
                <p><a href="javascript:void(0)">This is linked paragraph text.</a></p>
                <p class="small-writing">Default paragraph. Class: small-writing.</p>
                <p class="lowercase">Default paragraph. Class: lowercase.</p>
                <p class="centered">Default paragraph. Class: centered.</p>
                <p class="right-align">Default paragraph. Class: right-align.</p>
                <p class="left-align">Default paragraph. Class: left-align.</p>
                <p class="underline">Default paragraph. Class: underline.</p>
                <p class="italics">Default paragraph. Class: italics.</p>
            </div>
            <div class="text collapse">
                <p><span class="credits">This is paragraph text spanned with a credits class  | <span class="pubdate">This is paragraph text spanned with a pubdate class</span></p>
                <p>This is default paragraph text. This is default paragraph text. This is default paragraph text. This is default paragraph text. This is default paragraph text. This is default paragraph text. This is default paragraph text. This is default paragraph text. This is default paragraph text. This is default paragraph text. This is default paragraph text. This is default paragraph text.</p>
            </div>
            <div class="about collapse">
                <p><span class="pij">This project was informed by KPCC listeners. <a href="http://www.scpr.org/network/">Become a source. </span></a></p>
                <p><strong>About the data:</strong> This is default paragraph text. This is default paragraph text. This is default paragraph text. This is default paragraph text. This is default paragraph text. <strong>Source(s): </strong><a href="#" target="_blank">Beard hoodie, magna tumblr chillwave </a> and <a href="#" target="_blank">Beard hoodie, magna tumblr chillwave</a>. <strong>Built using</strong>: <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
            </div>
            <div class="buttons btn-group btn-group-justified">
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
                <a class="btn btn-primary" href="#"><span class="glyphicon glyphicon-link"></span> Read more</a>
            </div>
        </div>
    </div>
</div>