<!-- begin page header/navigation -->
<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container data-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h3 id="site-title" ><a href="http://www.scpr.org/">KPCC 89.3</a></h3>
            </div>
            <div class="data-share navbar-collapse collapse"></div>
        </div>
    </nav>
</header>
<!-- end page header/navigation -->