<div id="content-article">
    <h4 class="kicker">Pension Reform</h4>
    <h1>Contributions to LA's 3 largest pension funds</h1>

    <div id="content-article-metadata">
        <p><span class="credits"><a href="http://www.scpr.org/about/people/staff/frank-stoltze" target="_blank">Frank Stoltze</a>, <a href="http://www.scpr.org/about/people/staff/eric-zassenhaus" target="_blank">Eric Zassenhaus</a> &amp; <a href="http://www.scpr.org/about/people/staff/chris-keller" target="_blank">Chris Keller</a></span> | <span class="pubdate">Updated May 2, 2013</span></p>
    </div>

    <div id="content-article-text">
        <p>The charts below illustrate the rising cost of pensions in the city of Los Angeles. The city has three pension funds: The LA City Employee Retirement System (LACERS), the LA Fire and Police Pension Fund (LAFPP) and the Water and Power Employees' Retirement, Disability and Death Benefits Insurance Plan (WPERP).</p>

        <p>Pension funds get their money from three sources:</p>

        <ul>
            <li>Employee contributions</li>
            <li>City contributions</li>
            <li>Investment returns</li>
        </ul>

        <p>When investment returns fall -- as they did dramatically during the economic crash -- the city must contribute more.</p>

        <p>In the case of LACERS and LAFPP, the money comes from the general fund. In the case of WPERP the money comes from the DWP.</p>

        <p>The fact that people are living longer and collecting pensions longer also contributes to LA's pension problem.</p>

        <p>The city has sought to squeeze larger contributions from employees, but state law requires the city to provide an equal benefit in return, which would negate any savings to the city. The charts show rising employee contributions mostly because of rising salaries. Pensions -- and pension contributions -- are based on salaries.</p>
    </div>

    <div id="content-article-buttons">
        <a class="btn btn-info" href="http://www.scpr.org/politics/">Read More</a>
    </div>
</div>