<div id="content-article">
    <h4 class="kicker">Transportation</h4>
    <h1>Traffic conditions on area freeways</h1>

    <div id="content-article-text">
        <p></p>
    </div>

<!--
    <div id="content-article-buttons">
        <a class="btn btn-info" href="#">Read More</a>
        <a class="btn btn-success" id="showmodule" href="#" onclick="userSubmit();">Submit an issue</a>
    </div>
-->
</div>