<div id="content-article">
    <div class="headlines">
        <h4 class="kicker">Politics</h4>
        <h1>President Donald J. Trump's Revised Travel Order, Annotated</h1>
    </div>
    <div class="text collapse">
        <p><span class="credits">Produced by NPR</span> | <span class="pubdate">Published March 10, 2017</span></p>
        <p>President Trump has signed a revised executive order, once again barring travel to the United States from six majority-Muslim countries and suspending the U.S. refugee program. It's similar to the president's January order that was blocked by the Ninth Circuit Court of Appeals.</p>
        <p>But this latest order leaves Iraq off the list of barred countries. The White House cites more cooperation with the Iraqi government in vetting people who apply for U.S. visas. The latest order also specifically states that it does not apply to legal permanent U.S. residents or current visa holders. The new order goes into effect on March 16 and the travel ban is set to last 90 days. The suspension of the refugee program lasts 120 days. This annotation features the text of the new executive order along with context and analysis from NPR journalists.</p>
    </div>
    <div class="about collapse">
        <p><strong>Source(s): </strong>Executive Order titled Protecting The Nation From Foreign Terrorist Entry Into The United States. <strong>Built using</strong> <a href="https://github.com/nprapps/liveblog">NPR apps liveblog</a>, <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, <a href="https://github.com/jsoma/tabletop">tabletop.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
        </p>
    </div>
    <div class="buttons btn-group btn-group-justified">
        <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
        <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
        <a class="btn btn-primary" href="http://www.npr.org/2017/03/06/518785814/full-text-trumps-new-executive-order-on-travel-annotated" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>
    </div>
</div>
