<div class="row-fluid">
    <div class="span12">
        <div id="article-footer">
            <div id="sources">
                <p class="normal-display"><strong>Sources: </strong><a href="http://capitolwords.org/about/" target="_blank">CapitolWords</a>, which parses the contents of the Congressional Record each day.</p>
            </div>
            <div id="open-source">
                <p class="small-display">Built using <a href="http://capitolwords.org/">CapitolWords</a>, <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
            </div>
        </div>
    </div>
</div>