<div class="row-fluid">
    <div class="span12">
        <div id="article-footer">
            <div id="sources">
                <p class="normal-display"><strong>Sources: </strong><a href="http://www.gpo.gov/fdsys/browse/collection.action?collectionCode=CREC" target="_blank">Congressional Record</a> since Aug. 1, 2013 as indexed each day by <a href="http://capitolwords.org/about/" target="_blank">CapitolWords</a>.</p>
            </div>
            <div id="open-source">
                <p class="small-display">Built using <a href="http://capitolwords.org/">CapitolWords</a>, <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://handlebarsjs.com/">handlebars.js</a>, <a href="http://bartaz.github.io/sandbox.js/jquery.highlight.html" target="blank">jQuery Highlight Plugin</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
            </div>
        </div>
    </div>
</div>