<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Homelessness</h4>
            <h1>Map: Where campers and RVs are homes in Los Angeles County</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/aaron-mendelson">Aaron Mendelson</a> | <span class="pubdate">Published July 8, 2015</span></p>
            <p>Homelessness is on the rise in Los Angeles County, <a href="http://www.scpr.org/news/2015/05/11/51616/homelessness-increasing-in-los-angeles-according-t/">up 12 percent in the last two years</a>. And more and more homeless people are sleeping in vehicles, including RVs and campers.</p>
            <p>Every two years, voulunteers at the Los Angeles Homeless Services Authority spread out across the county and catalog the number of homeless they see. They also tally the number of campers and RVs that are being used as housing. Using that data, which includes the number of RVs and campers by census tract, KPCC mapped the areas of L.A. County that are home to people living in those vehicles. Click on a census tract to learn more about it.</p>

        </div>
        <div class="about collapse">
            <p><strong>Source</strong>: Los Angeles County Homeless Services Authority, United States Census Bureau.

             <strong>Built using</strong> <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, <a href="https://support.google.com/fusiontables/answer/2571232?hl=en">Google Fusion Tables</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
            </p>



        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <a class="btn btn-primary" href="" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>

        </div>
    </div>
</div>
