<div class="row-fluid">
    <div class="span12">
        <p><span class="data-instructions"><strong>About This: </strong>This application combines information gathered by KPCC State Capitol reporter Julie Small and OpenStates, a non-profit organization that gathers information on state-level politics throughout the country to show pieces of legislation related to the use, sale and possession of firearms and ammunition.</span></p>
        <p><span class="data-instructions">Use the filters below to sort legislation by topic, and click on a tile to see a summary of the bill, its current status in the statehouse and more.</span></p>
    </div>
</div>