<div id="content-article">
    <h4 class="kicker">Guns & Politics</h4>
    <h1>Exploring California statehouse gun legislation</h1>

    <div id="content-article-metadata">
        <p><span class="credits"><a href="http://www.scpr.org/about/people/staff/julie-small">Julie Small</a> &amp; <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Updated May 28, 2013</span></p>
    </div>

    <div id="content-article-text">
        <p>California already has some of the most stringent gun laws in the country, but this session of the Legislature has seen the introduction of numerous bills intended to tighten loopholes and further restrict access to weapons and ammunition.</p>
        <p> This application combines information gathered by KPCC State Capitol reporter Julie Small and OpenStates, a non-profit organization that gathers information on state-level politics throughout the country to show pieces of legislation related to the use, sale and possession of firearms and ammunition.</p>
        <p>Use the filters below to sort legislation by topic, and click on a tile to see a summary of the bill, its current status in the statehouse and more.</p>
    </div>

    <div id="content-article-buttons">
    <!--
        <a class="btn btn-info" href="#">Read More</a>
    -->
    </div>
</div>