<header>
    <div style="max-width: 500px; margin: 0 auto 0 auto;">
        <a href="http://www.scpr.org/" target="_blank"><img class="header-logo" src="https://projects.scpr.org/static-files/images/kpcc-images/kpcc-logo.png" alt="kpcc" /></a>
    </div>
</header>