<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div id="animation-container">
            <p>How do you use this thing? click the buttons</p>
            <div id="animation-slider" class="hidden"></div>
            <div id="animation-controls" class="buttons btn-group btn-group-justified">
                <a id="animation-backward" class="btn btn-lg" href="javascript:void(0)"><h5><span class="glyphicon glyphicon-backward"></span></h5></a>
                <a id="animation-play" class="btn btn-lg" href="javascript:void(0)"><h5><span class="glyphicon glyphicon-play"></span></h5></a>
                <a id="animation-forward" class="btn btn-lg" href="javascript:void(0)"><h5><span class="glyphicon glyphicon-forward"></span></h5></a>
            </div>
            <div id="slider-value" class="text-center"></div>
        </div>
        <div id="injunction-details"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
        <div id="content-map-container">
            <div id="content-map-canvas" class="initial"></div>
        </div>
    </div>
</div>