<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">


        <div id="animation-controls">
            <div id="animation-play" class="btn-lg">
                <span class="glyphicon glyphicon-play"></span> Play
            </div>
            <div id="animation-slider"></div>
            <div id="slider-value" class="text-center"></div>
        </div>


        <div id="injunction-details"></div>



    </div>


    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
        <div id="content-map-container">
            <div id="content-map-canvas" class="initial"></div>
        </div>
    </div>
</div>