<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <h1><a id="playMe" class="stopped" href="javascript:void(0)">Play Me</a></h1>
        <div id="animation-slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" title="Slide Me"><a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a></div>
        <div id="slider-value"></div>
        <div id="injunction-details"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
        <div id="content-map-container">
            <div id="content-map-canvas" class="initial"></div>
        </div>
    </div>
</div>