/* .bigger{
      background-color: #EAEAEA;
      width: 100%;
      height: 1000px
}
*/
.container {
  width: 100%;
  background-color: #EAEAEA;
}

.chart {
  float: left;
  padding-right: 0px;
  padding-bottom: .4em;
  padding-top:0;
  padding-left:.1em;
  background-color:transparent;

}

svg {
  font-size: 12px;
}

.background {
  fill: none;
}

.area {
  fill: #F87E21;
  opacity: 0.95;

}

.line {
  fill: none;
  stroke: #222628;
  stroke-width: 3.7px;
  opacity: 1;
}

.title {
  font-size: 14px;
}

.axis line, .grid line {
  stroke-width: .5px;
  shape-rendering: crispEdges;
  stroke: #fff;
  opacity: 0;
  pointer-events: none;
}

.axis path {
  display: none;
}

.hidden {
  display:none;
  opacity: 0.0;
}

