<div id="content-article">
    <h4 class="kicker">L.A. Mayor's Race</h4>
    <h1>2013 L.A. Mayor voting patterns by precinct</h1>
    <div id="content-article-metadata">
        <p><span class="credits"><a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Updated May 22, 2013</span></p>
    </div>
    <div id="content-article-text">
        <p><a href="http://www.scpr.org/blogs/politics/2013/05/22/13755/eric-garcetti-elected-mayor-of-los-angeles/">Eric Garcetti rode a wave of support</a> in central Los Angeles to win election Tuesday as the successor to Antonio Villaraigosa as mayor of the nation’s second largest city, beating City Controller Wendy Greuel 54 to 46 percent.</p>
        <p>How did the vote break down geographically?&nbsp;This map shows how each precinct voted, based on <a href="http://cityclerk.lacity.org/election/archives/archives2013/general/svcptotl.txt">unofficial results from the Los Angeles City Clerk's office.&nbsp;&nbsp;</a>Cursor over each precinct for the precise vote tally.</p>
        <p>Garcetti dominated in a huge horizontal swath from the West Side to the central city and on to Boyle Heights.</p>
        <p>Greuel’s strengths were in the San Fernando Valley, which she once represented on the City Council. She also won a large portion of the South L.A. corridor, though Garcetti won handily in San Pedro.</p>
        <p>An exit poll conducted by Loyola Marymount University indicated that Garcetti won among the city's two largest voting blocs — whites and Latinos. Greuel dominated among black voters, but they only represent about 12 percent of the city's registered voters.</p>
    </div>
    <div id="content-article-buttons">
    </div>
</div>