/* basic structure */
.data-container .data-visuals {margin: 20px auto 5px auto;}

.data-container .data-legend {width: 100%; height: auto; margin: 10px 0 5px 0;}

.data-container .data-legend .jumbotron {width: 100%; height: auto; background: rgba(240, 248, 255, 1.0); margin: 10px 0% 10px 0%; padding: 10px; overflow: hidden;}
.data-container .data-legend .jumbotron .centered {text-align: center;}

.data-legend #content-action-bar {width: 100%; height: auto; text-align: center; margin: 15px auto 15px auto; z-index: 1000;}

.data-legend #content-action-bar select {width: 70%; margin: 0 15% 0 15%;}


@media (max-width: 491px) {
    .data-container .data-legend .jumbotron .placemark {width: 20px; vertical-align: middle;}
}

@media (min-width: 491px) {
    .data-container .data-legend .jumbotron .placemark {width: 25px;}
}

@media (min-width: 567px) {
    .data-container .data-legend .jumbotron .placemark {width: 25px; vertical-align: text-bottom;}
}

@media (min-width: 768px) {
    .data-container .data-legend .jumbotron .placemark {width: 35px; vertical-align: text-bottom;}
}

@media (min-width: 830px) {
    .data-container .data-legend .jumbotron .placemark {width: 40px; vertical-align: text-bottom;}
}

@media (min-width: 992px) {
    .data-container .data-legend .jumbotron .placemark {width: 50px; vertical-align: text-bottom;}
}

/*
showers: http://thenounproject.com/term/shower/51/
leak: http://thenounproject.com/term/drop/17734/
broom: http://thenounproject.com/term/broom/12962/
*/