<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Education</h4>
            <h1>Map: Where child care facilites are next to highways</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/deepa-fernandes">Deepa Fernandes</a> and <a href="http://www.scpr.org/about/people/staff/aaron-mendelson">Aaron Mendelson</a> | <span class="pubdate">Published March 29, 2016</span></p>
            <p>Living next to heavy traffic can be harmful to children's health. A 2003 law prohibits public K-12 schools from being built within 500 feet of freeways and busy streets. Yet dozens of child care centers in Los Angeles County are located next to highways.</p>
            <p>To arrive at this map, KPCC identified highways in Los Angeles County that have 100,000 or more cars zipping through them on an average day, at several different points in the county (the 2003 law uses 100,000 cars a day as the threshold for a busy roadway). KPCC identified child care facilities within 500 feet of those highways, using data from the Community Care Licensing Divison. Below, the purple dots are centers that are active or have pending licenses; the blue dots have closed in recent years or are inactive.</p>

        </div>
        <div class="about collapse">
            <p><strong>Source</strong>: <a href="http://www.dot.ca.gov/hq/tsip/gis/datalibrary/Metadata/AADT.html">Caltrans traffic volume data</a> (2014), California Department of Social Serivces, Community Care Licensing Divison data on <a href="">child care centers</a>. Transitional kindergartens are not tracked by the DSS and not represented on the map. Seven facilites next to segments of highways that are surface streets (such as parts of the 110 in Pasadena), were removed from this map.

             <strong>Built using</strong> <a href="http://underscorejs.org/">underscore.js</a>, <a href="http://backbonejs.org/">backbone.js</a>, <a href="https://support.google.com/fusiontables/answer/2571232?hl=en">Google Fusion Tables</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
            </p>



        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <a class="btn btn-primary" href="" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>

        </div>
    </div>
</div>
