<!-- begin data footer -->
<div id="data-footer">
<p class="normal-display underline" style="cursor:pointer;" onclick="embedBox()">Embed this visualization</p>
<p><span class="normal-display"><strong>Credits: </strong><a href="http://www.scpr.org/about/people/staff/chris-keller" target="_blank">Chris Keller</a> &amp; <a href="http://www.scpr.org/about/people/staff/wendy-lee" target="_blank">Wendy Lee</a>.</span><br />
<span class="small-display">Built using <a href="https://github.com/jsoma/tabletop">tabletop.js</a>, <a href="http://handlebarsjs.com/">handlebars.js</a>, <a href="https://github.com/elving/swag" target="blank">swag.js</a> &amp; <a href="http://twitter.github.com/bootstrap/" target="blank">bootstrap</a></span></p>
</div>
<!-- end data footer -->
