#team-container {background: #ffffff; min-height: 230px; height: 100%; margin-bottom: 15px; padding: 5px 0 5px 0;}
#team-container img {width: 92%; margin: 20px 4% 10px 4%; vertical-align: middle;}
.buttons {margin-top: 25px;}