<div id="article-footer">

    <!-- thanks for setting the standard Mr. John Keefe -->
<!--
    <div id="embed-this">
        <p class="hidden-tablet hidden-phone"><span class="btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed this map</p>
    </div>
-->

    <div id="sources">
        <p class="normal-display"><strong>Sources: </strong><a href="http://clergyfiles.la-archdiocese.org/">Archdiocese of Los Angeles</a>.</p>
    </div>

    <div id="credits">
        <p class="normal-display"><strong>Credits: </strong><a href="http://www.scpr.org/about/people/staff/sharon-mcnary" target="blank">Sharon McNary</a>, <a href="http://www.scpr.org/about/people/staff/frank-stoltze" target="blank">Frank Stoltze</a>, <a href="http://www.baycitizen.org/profiles/zusha-elinson/" target="blank">Zusha Elinson</a>, <a href="http://californiawatch.org/user/joanna-lin" target="blank">Joanna Lin</a>, Robert Salladay, <a href="http://www.scpr.org/about/people/staff/paul-glickman" target="blank">Paul Glickman</a>, <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a>.</p>
    </div>

    <div id="open-source">
        <p class="small-display">Built using <a href="https://www.documentcloud.org/home">Document Cloud</a>, <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
    </div>
</div>




