
<div class="accordion" id="view_accordion">
    <div class="accordion-group">
        <div class="accordion-heading"></div>
            <div class="accordion-body in collapse" id="collapse-fields" style="height: auto;">
                <div class="accordion-inner">
                    <div id="content-article-text">
                        <p>On Jan. 31, the Catholic Archdiocese of Los Angeles released the confidential personnel files of 124 Catholic priests, providing further details as to how archdiocesan leaders addressed decades of sex abuse claims.</p>
                        <p>We present the files here in a searchable format.</p>
                        <p>As you read the files, you may want to ask questions or share your thoughts. To do so, please click on the “Tell us More” button.  We will keep your information confidential unless you specify otherwise. Your input will help KPCC reporters dive deeper into the story behind the story. If you have a question, we may be able to help you find the answer.</p>
                        <p>You can also join the discussion on our Facebook page.</p>
                        <p>To read previous media coverage of the priest abuse scandal and find resources to help you deal with the revelations in the files, click on the “Learn More” button.</p>
                    <div id="content-explainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content-article-buttons">
    <a class="btn btn-info" href="http://projects.scpr.org/bilinguallearning/">Learn More</a>
    <!-- <a class="btn btn-primary hidden-phone" href="#" data-toggle="collapse" data-target="#collapse-fields" data-on-hidden="About This Project" data-on-active="Hide This" onclick="alterDisplayDetails();">Hide This</a> -->
    <a href="#" class="btn btn-success hidden-phone hidden-tablet" onclick="clickModal();">Tell Us More</a>
</div>
<div id="data-modal"></div>