<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="content-map-data">
            <div class="content-legend-data">
                <div class="content-feature-data">
                    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
                        <h5>Hover over a county to see the rate of whooping cough cases per 100,000 people</h5>
                        <h6>&nbsp;</h6>
                    </div>
                </div>
                <div class="content-feature-layer">
                    <ul class="list-inline">
                        <li><input type="radio" checked="true" name="year" id="layer2014">
                            <span>&nbsp;2014</span>
                        </input></li>
                        <li><input type="radio" name="year" id="layer2013">
                            <span>&nbsp;2013</span>
                        </input></li>
                        <li><input type="radio" name="year" id="layer2012">
                            <span>&nbsp;2012</span>
                        </input></li>
                        <li><input type="radio" name="year" id="layer2011">
                            <span>&nbsp;2011</span>
                        </input></li>
                        <li><input type="radio" name="year" id="layer2010">
                            <span>&nbsp;2010</span>
                        </input></li>
                    </ul>
                </div>
                <div>
                    <table id="data-legend">
                        <tbody>
                            <tr id="legend-colors"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="content-map-canvas" class="initial"></div>
    </div>
</div>