<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row data-legend">
            <p class="small-writing"><strong>About the data</strong>: How much is your child's school slated to spend on libraries? On nursing staff? How much of the budget goes to teachers? And how much does LA Unified plan to spend toward teachers throughout the district? Use the drop down menu to find LA Unified traditional and charter schools to get their detailed spending plans. Then, click on a category to compare spending on that category across all campuses. Restricted and unrestricted funding streams have been combined to display the total money allocated for each category. The total budgeted amounts reflect available data from L.A. Unified. They don't list other administrative costs or services budgeted out of the central-office, such as some arts education spending.</p>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jumbotron">
                    <noscript>Please enable JavaScript to view this interactive.</noscript>
                    <h4 class="centered">View 2014-2015 money budgeted for</h4>
                    <div id="content-action-bar">
                        <select id="budget-list">
                            <option>-- Choose a budget item --</option>
                            <% _.each(collection, function(model) { %>
                                <option value="<%= model.majorgroup_slug %>"><%= model.majorgroup %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div id="school-details"></div>
                </div>
            </div>
        </div>
    </div>
</div>