<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="content-article">
        <div class="headlines">
            <h4 class="kicker">Education</h4>
            <h1>LAUSD school by school budgets</h1>
        </div>
        <div class="text collapse">
            <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/annie-gilbertson">Annie Gilbertson</a>, Claire Withycombe &amp; <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Updated June 18, 2014</span></p>
            <p>The Los Angeles Unified School District gets $6.8 billion to educate its 650,000 students, plus another $5.2 billion to build and maintain schools, provide adult education and service debts.</p>
            <p>This data set shows how administrators plan to spend the $4.6 billion headed directly to schools next year. But their choices are few: the biggest chunk of money will be doled out to teacher salaries and pension obligations, which put many schools in the red.</p>
            <p>What’s left will head to central management and district-wide initiatives.</p>
        </div>
        <div class="about collapse">
            <p><strong>Source(s): </strong>Los Angeles Unified School District school-by-school spending breakdown, proposed budget released June 18, 2014.</p>
        </div>
        <div class="buttons btn-group btn-group-justified">
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
            <a class="btn btn-primary" href="http://www.scpr.org/education/" target="_blank"><span class="glyphicon glyphicon-link"></span> Read more</a>
        </div>
    </div>
</div>