<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row data-legend">
            <p class="small-writing"><strong>About the data</strong>: How much does your child's school spend on libraries? On nursing staff? How much of the budget goes to teachers? Use the drop down menu to find your school. Data on every Los Angeles Unified traditional and charter school is listed below, detailing spending in broad categories. Categories with restricted and unrestricted funding streams have been combined to display the total money allocated for that category.</p>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jumbotron">
                    <noscript>Please enable JavaScript to view this interactive.</noscript>
                    <h4 class="centered">View 2014-2015 money budgeted for</h4>
                    <div id="content-action-bar">
                        <select id="school-list">
                            <option>-- Choose your school --</option>
                            <% _.each(collection, function(model) { %>
                                <option value="<%= window.slugifyString(model.schoolname) %>"><%= model.schoolname %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div id="school-details"></div>
                </div>
            </div>
        </div>
    </div>
</div>