<div id="article-header">
    <h4 class="kicker">L.A. Mayor's Race</h4>
    <h1>Eric Garcetti pulls ahead in money race for Los Angeles' mayor</h1>
    <p>Los Angeles City Councilman Eric Garcetti pulled ahead in the money race for mayor, according to campaign contribution records filed Jan. 10. Garcetti raised more than $727,000 over the final three months of 2012.</p>
    <p>This latest haul brings Garcetti’s total campaign war chest to $3.6 million. With the matching funds he is entitled to receive, he has amassed $4.2 million for the contest.</p>
    <p>Controller Wendy Greuel raised close to that amount, with a total of $3.4 million. With matching funds, Greuel has also crossed the $4 million threshold. During the previous reporting period that ended Sept. 31, Garcetti and Greuel each had $2.8 million.</p>
    <p>Garcetti and Greuel are on track to break the fundraising record for an L.A. mayoral primary, set by Antonio Villaraigosa and Jim Hahn in 2001.</p>
    <a class="btn btn-info" href="http://www.scpr.org/blogs/politics/2013/01/10/11963/garcetti-pulls-ahead-money-race-los-angeles-mayor/">Read More</a>
</div>