<div id="article-header">
    <h4 class="kicker">L.A. Mayor's Race</h4>
    <h1>Greuel inches closer to Garcetti in fundraising race</h1>
    <p>As the March 5 city election gets closer, candidates are required to file campaign finance reports more frequently. In reports submitted Thursday — covering just the first 19 days in January —  City Controller Wendy Greuel collected more than fellow frontrunner Councilman Eric Garcetti.</p>
    <p>Greuel pulled in $127,500 and Garcetti $80,500 during the period. They've been fundraising since 2011 and remain quite close: Garcetti has pulled in $3.68 million, Gruel $3.6 million.</p>
    <a class="btn btn-info" href="http://www.scpr.org/blogs/politics/2013/01/25/12200/greuel-raises-more-garcetti-latest-la-mayor-race-m/">Read More</a>
</div>




