<div class='well'>
    <h4>Enter your address or <a id='find_me' href='#'>use location</a></h4>
    <form class="form-inline">
        <input class='input-block-level' id='search_address' placeholder='Enter an address or an intersection' type='text' />

        <label>within
            <select class='input-small' id='search_radius'>
                <option value='400'>2 blocks</option>
                <option value='805'>1/2 mile</option>
                <option value='1610'>1 mile</option>
                <option value='3220'>2 miles</option>
            </select>
        </label>

        <input class='btn btn-success' id='search' type='button' value='Search' />
        <button class='btn' id='reset'>Reset</button>
    </form>

    <form class="form-inline">
        <h4>Filter by language</h4>
            <label class='checkbox inline'><input type='checkbox' id='cbType1' />Armenian</label>
            <label class='checkbox inline'><input type='checkbox' id='cbType2' />Cantonese</label>
            <label class='checkbox inline'><input type='checkbox' id='cbType3' />German</label>
            <label class='checkbox inline'><input type='checkbox' id='cbType4' />Hmong</label>
            <label class='checkbox inline'><input type='checkbox' id='cbType5' />Italian</label>
    </form>
    <form class="form-inline">
            <label class='checkbox inline'><input type='checkbox' id='cbType6' />Japanese</label>
            <label class='checkbox inline'><input type='checkbox' id='cbType7' />Korean</label>
            <label class='checkbox inline'><input type='checkbox' id='cbType8' />Mandarin</label>
            <label class='checkbox inline'><input type='checkbox' id='cbType9' />Mandarin/Cantonese</label>
            <label class='checkbox inline'><input type='checkbox' id='cbType10' />Spanish</label>
        </form>
</div>