<h4 class="kicker">Bilingual Learning</h4>
<h1>California bilingual immersion programs</h1>

<div id="content-article-text">
    <p>Los Angeles County leads the state in the number of schools that offer bilingual education starting in kindergarten -- in part, advocates and others said, because of its multicultural population.</p>
    <p>Bilingual schools have quietly built a fan-base, starting with the linguists and social scientists who have studied their progress over the last few decades, and many English-speaking parents who want their child to master a second language early in life.</p>
</div>

<div id="content-article-buttons">
    <a class="btn btn-info" href="http://projects.scpr.org/bilinguallearning/">Read More</a>
    <a class="btn btn-info hidden-phone hidden" id="about-this-project" onclick="showDisplayDetails();" href="#">About This Project</a>
</div>

<div id="content-explainer"></div>

<!-- <p class="alert alert-info lead" id="result_count"></p> -->

<div id="content-display"></div>

<div id="data-modal"></div>

<!--
<div class='well'>
  <div id='results_list'></div>
</div>
-->