<h4 class="kicker">Bilingual Learning</h4>
<h1>California bilingual immersion programs</h1>

<div class="accordion" id="view_accordion">
    <div class="accordion-group">
        <div class="accordion-heading"></div>
            <div class="accordion-body in collapse" id="collapse-fields" style="height: auto;">
                <div class="accordion-inner">
                    <div id="content-article-text">
                        <p>Los Angeles County leads the state in the number of schools that offer bilingual education starting in kindergarten -- in part, advocates and others said, because of its multicultural population.</p>
                        <p>Bilingual schools have quietly built a fan-base, starting with the linguists and social scientists who have studied their progress over the last few decades, and many English-speaking parents who want their child to master a second language early in life.</p>
                    <div id="content-explainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content-article-buttons">
    <a class="btn btn-info" href="http://projects.scpr.org/bilinguallearning/">Read More</a>
    <a class="btn btn-primary hidden-phone" href="#" data-toggle="collapse" data-target="#collapse-fields" data-on-hidden="About This Project" data-on-active="Hide This" onclick="alterDisplayDetails();">Hide This</a>
</div>

<!-- <p class="alert alert-info lead" id="result_count"></p> -->

<div id="content-display"></div>

<p><a href="#" class="btn btn-success hidden-phone hidden-tablet" onclick="clickModal();">Add, change or update school information</a></p>

<div id="data-modal"></div>

<!--
<div class='well'>
  <div id='results_list'></div>
</div>
-->