<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div id="content-display-canvas">
                <div id="content-map-explainer">
                    <div class="controls">
                        <form class="filters">
                            <div id="data-toggles">
                                <ul class="list-inline buttons btn-group btn-group-justified">
                                    <li><a class="lowTurnoutPrecincts btn btn-primary" href="javascript:void(0)">Show Low Turnout Precincts</a></li>
                                    <li><a class="midTurnoutPrecincts btn btn-primary" href="javascript:void(0)">Show Mid Turnout Precincts</a></li>
                                    <li><a class="highTurnoutPrecincts btn btn-primary" href="javascript:void(0)">Show High Turnout Precincts</a></li>
                                    <li><a class="resetMap btn btn-primary" href="javascript:void(0)">Reset Map</a></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="data-display clearfix"></div>
                    <div id="content-map-data">
                        <div id="data-point-display"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div id="content-map-legend">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td class="shriver-style">Turnout less than 33% </td>
                            <td class="base-style">Turnout 33% to 66%</td>
                            <td class="kuehl-style">Turnout more than 66%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="content-map-canvas"></div>
        </div>
    </div>
</div>
