<h1>KPCC Coverage</h1>

{{#objects}}
    <h3><a href="http://www.scpr.org/{{link_path}}">{{headline}}</a></h3>
    <em>Published {{dateFormat published_at}}</em></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
{{/objects}}