<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="content-article">
            <div class="headlines">
                <h4 class="kicker">National Basketball Association</h4>
                <h1>Plotting the most-recent sales of NBA teams</h1>
            </div>
            <div class="text collapse">
                <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Published May 30, 2014</span></p>
                <p>The NBA has learned that <a href="http://www.scpr.org/news/2014/05/30/44441/shelly-sterling-agrees-to-sell-clippers-to-ballmer/" target="blank">Shelly Sterling and former Microsoft CEO Steve Ballmer reached an agreement on the sale of the Los Angeles Clippers</a> for a <a href="http://www.latimes.com/sports/la-sp-sn-clippers-sale-ballmer-20140529-story.html" target="blank">reported $2 billion</a>.</p>
                <p>Ballmer's $2 billion purchase of the Clippers&mdash;which Donald Sterling bought in 1981 for an estimated $12 million&mdash;would nearly quadruple the previous record for the sale of a NBA team, set earlier this month when the Milwaukee Bucks sold for a <a href="http://www.nba.com/2014/news/05/15/milwaukee-bucks-sale-news-release/" target="blank">reported $550 million</a>. A sale of the Clippers franchise also means a third of the NBA's 30 teams will have changed ownership since 2010.</p>
                <p>The chart below&mdash;which does not include the reported Clippers deal&mdash;plots the most-recent purchase of each NBA team against their estimated purchase price <a href="http://www.forbes.com/nba-valuations/list/" target="blank">via Forbes</a>. The estimated purchase price has been adjusted for inflation since the year of purchase based on the Consumer Price Index. It also displays the three most-recent collective bargaining agreements&mdash;in 1999, 2005 and 2011&mdash;between the NBA and the NBA Players Association.</p>
                <p>Hover or touch a team logo to see its ownership, estimated purchase price and rank and valuation based on <a href="http://www.forbes.com/nba-valuations/list/" target="blank">Forbes annual team valuations</a>.</p>
            </div>
            <div class="about collapse">
                <p><strong>Source(s): </strong><a href="http://www.forbes.com/nba-valuations/list/" target="_blank">Forbes NBA Team Values list</a> from January 2014, <a href="http://www.wolframalpha.com/" target="blank">WolframAlpha</a> &amp; <a href="http://fivethirtyeight.com/features/got-a-billion-dollars-buy-the-clippers/" target="blank">fivethirtyeight.com</a>. <strong>Built using</strong> <a href="http://www.highcharts.com/">highcharts.js</a>, <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
            </div>
            <div class="buttons btn-group btn-group-justified">
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
                <a class="btn btn-primary" href="#"><span class="glyphicon glyphicon-link"></span> Read more</a>
            </div>
        </div>
    </div>
</div>