<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="content-article">
            <div class="headlines">
                <h4 class="kicker">National Basketball Association</h4>
                <h1>Does a $2 billion bid for the Clippers make financial sense?</h1>
            </div>
            <div class="text collapse">
                <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a> &amp; <a href="http://www.scpr.org/about/people/staff/ben-bergman">Ben Bergman</a></span> | <span class="pubdate">Published May 29, 2014</span></p>
                <p>Mere weeks ago that people were gasping at a speculated $1 billion-plus sale price for the Clippers, which would be double the previous record for an NBA franchise, $550 million for the Milwaukee Bucks.</p>
                <p>Now, if you believe multiple <a href="http://www.latimes.com/sports/la-sp-sn-clippers-sale-ballmer-20140529-story.html" target="blank">media reports</a> unconfirmed by KPCC, the price could exceed $2 billion, an astonishing amount for a franchise that was once considered the laughing stock of the NBA.</p>
                <p>Forbes staff writer Kurt Badenhausen reports that t<a href="http://www.forbes.com/sites/kurtbadenhausen/2014/05/29/10-factors-fueling-1-billion-bids-for-the-los-angeles-clippers/#">he NBA is getting ready to sign a new national TV deal that is expected to easily double the league's current $930 contract</a>. The NBA is the last major sports deal available for some time, and a plethora of channels – including new entrants like Fox Sports 1 and the NBC Sports Network – are all competing for marquee live programming.</p>
            </div>
            <div class="about collapse">
                <p><strong>Source(s): </strong><a href="http://www.forbes.com/nba-valuations/list/" target="_blank">Forbes NBA Team Values list</a> from January 2014. <strong>Built using</strong> <a href="http://www.highcharts.com/">highcharts.js</a>, <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
            </div>
            <div class="buttons btn-group btn-group-justified">
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
                <a class="btn btn-primary" href="#"><span class="glyphicon glyphicon-link"></span> Read more</a>
            </div>
        </div>
    </div>
</div>