<div id="content-article">
    <h4 class="kicker">Sports</h4>
    <h1>Timeline: A look at Vin Scully's career</h1>

    <div id="content-article-text">
        <p>Vin Scully joined the Brooklyn Dodgers in 1950. Though he's taken on network assignments and even hosted game shows, he's always been the voice of The Dodgers. And Scully recently announced he will return next year for a 65th season announcing baseball Below are some other notable dates in Scully's life and career in broadcasting.</p>
    </div>

    <div id="content-article-buttons">
        <span class="hidden-tablet hidden-phone btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed This Timeline</span>
    </div>

</div>