<div class="row-fluid">
    <div class="span12">
        <div id="article-footer">

            <!--
            <div id="sources">
                <p class="normal-display"><strong>Sources: </strong> </p>
            </div>
            -->

            <div id="credits">
                <p class="normal-display"><strong>Credits: </strong>Monica Luhar</a>.</p>
            </div>

            <div id="open-source">
                <p class="small-display">Built using <a href="https://github.com/jsoma/tabletop">tabletop.js</a>, <a href="https://github.com/MinnPost/jquery-vertical-timeline" target="blank">MinnPost's jquery-vertical-timeline</a> -- a fork of <a href="https://github.com/balancemedia/Timeline" target="blank">Timeline</a> -- and <a href="http://handlebarsjs.com/">handlebars.js.</a></p>
            </div>
        </div>
    </div>
</div>