<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="content-article">
            <div class="headlines">
                <h4 class="kicker">Donald Sterling</h4>
                <h1>Where NBA teams, owners stand on Sterling</h1>
            </div>
            <div class="text collapse">
                <p><span class="credits">Produced by <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Published April 29, 2014</span></p>

                <p>The fate of Clippers owner <a href="http://www.scpr.org/news/2014/04/28/43827/who-is-donald-sterling-clippers-owner-history-past/">Donald Sterling</a> &ndash; <a href="http://www.scpr.org/news/2014/04/29/43848/donald-sterling-updates-nba-to-address-controversy/">banned for life by the NBA on Tuesday and fined $2.5 million</a> &ndash; now rests with the NBA's Board of Governors, who will decide whether to force him to sell the L.A. team.</p>

                <p>It will take a three-fourths vote of the board &ndash; comprising Sterling's fellow NBA owners &ndash; to order the sale. If Sterling's not voting, that's 22 owners.</p>

                <p>So where do they stand on Sterling's punishment in the wake of Sterling's racist comments, which were disclosed over the weekend?</p>

                <p>KPCC gathered public comments and reactions from all 30 NBA organizations &ndash; many from the owners themselves &ndash; who unanimously voiced their support Tuesday for league Commissioner Adam Silver's decision to ban and fine Sterling.</p>

                <p>Even Sterling's own team, the Clippers, released a statement from the team "embracing" Silver's decision. The Heat, Grizzlies, Pacers, Mavericks and several other teams also changed the landing page of their websites to match the Clippers homepage, which simply stated, "We Are One."</p>

                <p>According to the NBA "constitution" which governs NBA teams, <a href="http://espn.go.com/espn/otl/story/_/id/10852199/challenge-donald-sterling">owners can terminate another's franchise with a three-fourths vote by the NBA Board of Governors"</a>, according Lester Munson from ESPN.</p>

                <p>"Any owner or Silver can initiate the termination procedure with a written charge describing the violation. Sterling would have five days to respond to the charge with a written answer," Munson writes.</p>

                <p>Silver &ndash; who later in the day offered a <a href="http://www.nba.com/official/statement-april-2014.html">letter to NBA fans</a> &ndash; made the announcement at a news conference confirming that it was Sterling's voice on two recordings <a href="http://www.scpr.org/news/2014/04/26/43799/clippers-owner-sterling-allegedly-makes-racist-rem/">disclosed over the weekend</a> in which Sterling could be heard making racist comments.</p>

                <!--
                <img src="images/we-are-one.png" />
                -->

            </div>
            <div class="about collapse">
                <p><strong>Sources</strong>: NBA team websites, media reports and Twitter. <strong>Built using</strong> <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>. Download the <a href="http://projects.scpr.org/static/interactives/nba-owner-reaction-to-sterling-punishment/data/nba_owner_reactions.csv" target="blank">csv</a> or <a href="http://projects.scpr.org/static/interactives/nba-owner-reaction-to-sterling-punishment/data/nba_owner_reactions.json" target="blank">json</a> file which powers this project.</p>
            </div>
            <div class="buttons btn-group btn-group-justified">
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
                <a class="btn btn-primary" href="http://www.scpr.org/news/2014/04/29/43848/donald-sterling-updates-nba-to-address-controversy/"><span class="glyphicon glyphicon-link"></span> Read more</a>
            </div>
        </div>
    </div>
</div>