<div id="content-article">
    <h4 class="kicker">Business & Economy</h4>
    <h1>Financial crash 5 years later: A timeline of key events in the Great Recession</h1>

    <div id="content-article-text">
        <p>This week marks Lehman Brothers filing for bankruptcy, a landmark moment in the Great Recession. This timeline looks at some of the major moments and stories of the global economic crisis that affected the world, the nation and hit home right here in Southern California.</p>
    </div>

    <div id="content-article-buttons">
        <span class="hidden-tablet hidden-phone btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed This Timeline</span>
    </div>

</div>