<!-- begin row -->
<div class="row-fluid">
    <div class="span4">
        <h4>Data Here</h4>
    </div>
    <div class="span4">
        <h4>Data Here</h4>
    </div>
    <div class="span4">
        <h4>Data Here</h4>
    </div>
</div>
<!-- end row -->