<div id="content-article">
    <h4 class="kicker">Health</h4>
    <h1>Costs of care in California: Federal government releases data comparing hospital bills</h1>

    <div id="content-article-metadata">
        <p><span class="credits"><a href="http://www.scpr.org/about/people/staff/stephanie-oneill">Stephanie O'Neill</a> &amp; <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Published May 10, 2013</span></p>
    </div>

    <div id="content-article-text">
        <p>The federal government <a href="http://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/index.html">released 2011 data Wednesday</a> that it claims make it easier for patients to price shop for hospital services. There are wide variations in cost nationwide, and in southern California. But some experts say the information is irrelevant, as it has little bearing on actual costs.</p>

        <p>Below, choose one of the 100 most common procedures found in the government data to see the average cost for the procedure in California, the lowest average cost and highest average cost. Then choose two hospitals to compare their costs.</p>
    </div>

    <div id="content-article-buttons">
        <a class="btn btn-info" href="http://www.scpr.org/news/2013/05/08/37187/federal-government-releases-data-comparing-hospita/">Read More</a>
    </div>
</div>