<p><span class="data-instructions"><strong>Magna letterpress: </strong> Blue bottle 8-bit tousled, 3 wolf moon exercitation vero gentrify mcsweeney's PBR. Incididunt hella dolor est, proident gentrify bushwick et. High life blue bottle mustache farm-to-table, hella bespoke gastropub delectus hoodie post-ironic dolore cliche terry richardson street art.</span></p>

<div id="data-chart"></div>

<!--
<div class="offset4 span4">
    <table class="table table-bordered table-striped centered">
        <thead>
            <tr>
                <th>Year</th>
                <th>Transactions</th>
                <th>Denials</th>
                <th>Percent Denied</th>
            </tr>
        </thead>
        <tbody>
            {{#objects}}
                <tr>
                    <td>{{Year}}</td>
                    <td>{{addCommas Dros_total_transactions}}</td>
                    <td>{{addCommas Dros_total_denials}}</td>
                    <td>{{fixedPlace Percent_denied}}</td>
                </tr>
            {{/objects}}
        </tbody>
    </table>
</div>
-->