<div id="content-article">
    <h4 class="kicker">Education</h4>
    <h1>Charting API scores in the Hispanic subgroup in local school districts</h1>
</div>
<div class="row-fluid">
    <div class="span12">
        <div id="content-article-metadata">
            <p><span class="credits"><a href="http://www.scpr.org/about/people/staff/adolfo-guzman-lopez">Adolfo Guzman-Lopez</a> &amp; <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Published Oct. 4, 2013</span></p>
        </div>
        <div id="content-article-text">
            <p>As a group, Latinos make up 52 percent of California's public school students, and according to data provided by the state, have never met the state's goal of 800 points on the Academic Performance Index, which measures the academic performance and improvement of schools.</p>
            <p>Gov. Jerry Brown's signature this week <a href="http://www.scpr.org/blogs/education/2013/10/02/14882/governor-signs-law-ending-15-year-old-standardized/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+893KpccSouthernCaliforniaNews+(KPCC%3A+News)" target="blank">on AB484</a> ushered in a new era of testing based on new learning standards called the Common Core and some educators are hoping they will help close the gap.</p>
            <p>In Southern California, Latino students at La Cañada, Beverly Hills, Los Alamitos, and Laguna Beach schools scored 50 to 100 points above the state's goal. Latinos make up less than 25 percent of the student population in those school districts.</p>
            <p>But for schools in heavily-Latino, heavily-poor neighborhoods, the numbers are different. API scores hovered in the mid 600s for Latinos attending the Centinela Valley, Antelope Valley, Coachella, and Needles school districts.</p>
            <p>The chart below plots the 2013 Hispanic subgroup API scores in 181 school districts in Los Angeles, Orange, Riverside San Bernardino and Ventura counties against the percentage of the students population in that subgroup. The state's goal of 800 is marked for reference.</p>
        </div>
    </div>
</div>

<div id="content-article-buttons">
    <a class="btn btn-info" href="#">Read More</a>
</div>

<div class="row-fluid">
    <div class="span12">
        <p><span class="data-instructions"><strong>About This: </strong>This chart shows 181 school districts in Los Angeles, Orange, Riverside San Bernardino and Ventura counties that scored above 675 on the Academic Performance Index compared to the percent of students in the district that are identified in the Hispanic subgroup for API reporting purposes and is based on data released by the <a href="http://www.cde.ca.gov/ta/ac/ap/" target="_blank">California Department of Education in August</a>.</span></p>
    </div>
</div>

<hr>