<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <footer>
        <ul>
            <li><a href="http://scpr.org/terms/">Terms &amp; Conditions</a></li>
            <li><a href="http://scpr.org/privacy/">Privacy</a></li>
            <li><a href="http://scpr.org/web_site_feedback">Website Feedback</a></li>
            <li><a href="http://scpr.org/">Copyright 2013 &copy; Southern California Public Radio</a></li>
        </ul>
    </footer>
</div>