<h4>KPCC Coverage</h4>

{{#objects}}

    <p><strong>{{headline}}</strong><br />
    {{byline}}<br />
    <a href="http://www.scpr.org/{{link_path}}" target="_blank">Read More</a><br />
    <em>Published {{dateFormat published_at}}</em></p>

{{/objects}}